<app-pre-loader *ngIf="loading"></app-pre-loader>

<div class="fullPG_Wrap" *ngIf="carriers.length>0">
    <div class="perspScreen">
        <div class="pgWrapFull spcTpHeader vrLinesWrap">
           <app-header ></app-header>
           <pro-stepper></pro-stepper>
                <div class="quotePG_wrap overflow-hidden position-relative" *ngIf="carriers">
                    <div class="containerPD-L">
                        <div class="row no-gutters">
                    
                            <div class="col-md" >
                                <div class="formScreen_Hgt spcMng_mp">
                                    <div class="queCol_Outer pTB_quote lg-BT-scroll" data-aos="fade-up"
                                        data-aos-duration="700">
                                        <div class="section-page-header">
                                            <h1 class="headingStl-1">Choose the quote that’s best for you!</h1>
                                            <div class="ttl-btLine">Select between liability or comprehensive coverage
                                                options</div>
                                        </div>

                                        <div class="paraText_Card">
                                            <div class="row no-gutters">
                                                <div class="col-md-9">
                                                    <h3 class="txtHead line-H-1_2 font-F-1 f-W-B">
                                                        Liability - Only
                                                        <span class="infoWrap_icon" data-tooltip="tooltip"
                                                            data-html="true"
                                                            title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."><img
                                                                class="iconInfo_img sz-md"
                                                                src="assets/images/icon-info-blue.svg" alt="" /></span>
                                                    </h3>
                                                    <div class="desc line-H-1_3 f-W-M gray-color-2">If you own your
                                                        vehicle without a loan or a lease, you may purchase a Liability
                                                        Only policy.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <ng-templete *ngFor="let carrier of carriers">
                                                <!-- <div class="cardQuote_row gray-color-2"  *ngIf="carrier.baseDown && carrier.selectedCoverage==2"> -->
                                        <div class="cardQuote_row gray-color-2"  *ngIf="carrier.baseDown && carrier.selectedCoverage==2">
                                            <div class="row no-gutters mngIns" >
                                                <div class="col-md-auto d-flex align-items-center flex-row">
                                                    <div class="logoWrap d-flex align-items-center">
                                                        <div class="logo_in w-100">
                                                            <!-- <img class="quoteLogo"
                                                                src="assets/images/quote_logo_1.jpg" alt="" /> -->
                                                            <div>{{carrier.carrierName}}</div></div>
                                                    </div>
                                                </div>
                                                <div class="col-md d-flex align-items-center flex-row">
                                                    <div class="w-100">
                                                        <div class="textContWrap text-center text-md-left">
                                                            <ul
                                                                class="list-unstyled quoteResltTxt mb-0 f-size-16 f-W-M">
                                                                <li><span class="txtLG text-color-3">${{carrier.baseDown}} </span>
                                                                    initial payment</li>
                                                                <li>{{carrier.numberOfPayments}} payments of <span
                                                                        class="text-color-3">${{carrier.paymentAmount}}</span></li>
                                                                <li class="text-color-black">Or pay in full ${{carrier.basePremium}} </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-auto brd d-flex align-items-center">
                                                    <div class="w-100 colBtn text-center text-md-right">
                                                        <a (click)="buy_now(carrier.id)" target="_blank"
                                                            class="btn cmnBtn btnBg-1 ctaBtn text-uppercase">BUY NOW</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-templete>
                                        


                                        <div class="paraText_Card spc-pt">
                                            <div class="row no-gutters">
                                                <div class="col-md-9">
                                                    <h3 class="txtHead line-H-1_2 font-F-1 f-W-B">
                                                        Comprehensive
                                                        <span class="infoWrap_icon" data-tooltip="tooltip"
                                                            data-html="true"
                                                            title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."><img
                                                                class="iconInfo_img sz-md"
                                                                src="assets/images/icon-info-blue.svg" alt="" /></span>
                                                    </h3>
                                                    <div class="desc line-H-1_3 f-W-M gray-color-2">If you have a loan
                                                        or a lease, you need a comprehensive policy.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <ng-templete *ngFor="let carrier of carriers">
                                            <div class="cardQuote_row gray-color-2"  *ngIf="carrier.baseDown && carrier.selectedCoverage==1">
                                                <div class="row no-gutters mngIns" >
                                                    <div class="col-md-auto d-flex align-items-center flex-row">
                                                        <div class="logoWrap d-flex align-items-center">
                                                            <div class="logo_in w-100">
                                                                <!-- <img class="quoteLogo"
                                                                    src="assets/images/quote_logo_1.jpg" alt="" /> -->
                                                                <div>{{carrier.carrierName}}</div></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md d-flex align-items-center flex-row">
                                                        <div class="w-100">
                                                            <div class="textContWrap text-center text-md-left">
                                                                <ul
                                                                    class="list-unstyled quoteResltTxt mb-0 f-size-16 f-W-M">
                                                                    <li><span class="txtLG text-color-3">${{carrier.baseDown}} </span>
                                                                        initial payment</li>
                                                                    <li>{{carrier.numberOfPayments}} payments of <span
                                                                            class="text-color-3">${{carrier.paymentAmount}}</span></li>
                                                                    <li class="text-color-black">Or pay in full ${{carrier.basePremium}} </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-auto brd d-flex align-items-center">
                                                        <div class="w-100 colBtn text-center text-md-right">
                                                            <a (click)="buy_now(carrier.id)" target="_blank"
                                                                class="btn cmnBtn btnBg-1 ctaBtn text-uppercase">BUY NOW</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-templete>
                                     
                                        <div class="navigation-buttons mt__50">
                                            <ul class="list-inline mb-0 text-right btnsList_form">
                                                <li class="list-inline-item"> <a routerLink="/quote-pro/coverage"
                                                        class="btn btnstl-1 btnBg-3">Change Limits</a> </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        

                  <pro-sidebar></pro-sidebar>
                
                                  </div>
                    </div>
                </div>
           <app-footer-quote></app-footer-quote>
        </div>
    </div> <!-- .perspScreen -->
</div> <!-- .fullPG_Wrap -->