<app-page-loader  *ngIf="loading"></app-page-loader>


<div class="fullPG_Wrap">
    <div class="perspScreen">
      <div class="pgWrapFull spcTpHeader vrLinesWrap mt-45">
       <app-header (languageChange)="onlanguageChange($event)"></app-header>

        <div class="overflow-hidden" *ngIf="pageArr">
            <div class="section-xl contact_Pg_wrap position-relative">
  
              <div class="floatImg floatShape-5 contact_imgFloat_5 floating-Animate">
                <img class="w-100" src="assets/images/floating-img-5.png" alt="">
              </div>
              <div class="floatImg floatShape-2 contact_imgFloat_2 floating-Animate">
                <img class="w-100" src="assets/images/floating-img-2.png" alt="">
              </div>
              <div class="container-fluid xl-container px-lg-0">
                <div class="heading-wrap-pg text-center" data-aos="fade-up" data-aos-duration="900">
                  <h1 class="heading-pg-lg" [innerHTML]="pageArr.page_title"></h1>
                  <div class="sub-text gray-color-2">Here are some ways you can get in touch</div>
                </div>
                <div class="row gutter-15vw" *ngIf="need_help">
                  <div class="col-md-6 col-lg-4">
                    <div class="card_Contact_bx mng_hgt_bx_country gray-color-2" data-aos="fade-up" data-aos-delay="100"
                      data-aos-duration="900">
                      <div class="mng_bx_In">
                        <div class="headWrapp row no-gutters align-items-end flex-nowrap">
                          <div class="col-auto iconCol">
                            <div class="iconMap"><img src="{{project_path}}{{box_img[0]}}" alt="" /></div>
                          </div>
                          <div class="col">
                            <div class="contact_bxHead">
                              <div class="txt-sm-head" [innerHTML]="need_help[0]"><!-- Need Help? --></div>
                              <h2 class="bxHead" [innerHTML]="state[0]"><!-- Texas --></h2>
                            </div>
                          </div>
                        </div>
  
                        <ul class="nbr_list list-unstyled row gutter-8">
                          <li class="col">
                            <a href="tel:{{number[0]}}" class="contact_nbrWrap f-W-B link-color-black"><i
                                class="icon fa fa-phone"></i>{{number[0]}}<!--  1-855-200-4567 --></a>
                          </li>
                          <li class="col text-right">
                            <a href="tel:1-855-200-4567" class="contact_nbrWrap f-W-B link-color-black"><i
                                class="icon fa fa-comments-o"></i> 1-855-200-4567</a>
                          </li>
                        </ul>
  
                        <table class="table table-borderless table-style-cst mb-0 line-H-1_2">
                          <tbody>
                            <tr>
                              <td [innerHTML]="mon_fri_text[0]"><!-- Monday - Friday --> </td>
                              <td class="text-right" [innerHTML]="mon_fri_time[0]"><!-- 8:00 a.m. to 8:00 p.m. --></td>
                            </tr>
                            <tr>
                              <td [innerHTML]="sat_text[0]"><!-- Saturday --></td>
                              <td class="text-right" [innerHTML]="sat_time[0]"><!-- 9:00 a.m. to 5:00 p.m. --></td>
                            </tr>
                            <tr>
                              <td [innerHTML]="sun_text[0]"><!-- Sunday --></td>
                              <td class="text-right" [innerHTML]="sun_time[0]"><!-- 12:00 p.m. to 5:00 p.m. --></td>
                            </tr>
                          </tbody>
                        </table>
  
                        <div class="customerSupport">
                          <div class="head cmn-sz f-W-B text-color-black" [innerHTML]="customer_support_text[0]"><!-- Customer Support --></div>
                          <p class="mb-0 line-H-1_3" [innerHTML]="customer_support_subtitle[0]"><!-- If you prefer to email us, you can email our customer service team
                            at: --></p>
                        </div>
  
                        <div class="emailWrap cmn-sz line-H-1_3 text-center">
                          <a class="f-W-B break-word"
                            href="mailto:{{customer_support_email[0]}}" [innerHTML]="customer_support_email[0]"><!-- CustomerService@prontoinsurance.com --></a>
                        </div>
                      </div>
                      <div class="btnRow text-center">
                       <a href="mailto:{{customer_support_email[0]}}"
                          class="btn cmnBtn btnBg-1 btn-sz-md text-uppercase min-w" [innerHTML]="send_msg_button[0]"><!-- SEND US A MESSAGE --></a>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-md-6 col-lg-4">
                    <div class="card_Contact_bx mng_hgt_bx_country gray-color-2" data-aos="fade-up" data-aos-delay="200"
                      data-aos-duration="900">
                      <div class="mng_bx_In">
                        <div class="headWrapp row no-gutters align-items-end flex-nowrap">
                          <div class="col-auto iconCol">
                            <div class="iconMap"><img src="{{project_path}}{{box_img[1]}}" alt="" /></div>
                          </div>
                          <div class="col">
                            <div class="contact_bxHead">
                             <div class="txt-sm-head" [innerHTML]="need_help[1]"><!-- Need Help? --></div>
                              <h2 class="bxHead" [innerHTML]="state[1]"><!-- Texas --></h2>
                            </div>
                          </div>
                        </div>
  
                        <ul class="nbr_list list-unstyled row gutter-8">
                          <li class="col">
                            <a href="tel:{{number[1]}}" class="contact_nbrWrap f-W-B link-color-black"><i
                                class="icon fa fa-phone"></i>{{number[1]}}<!--  1-855-200-4567 --></a>
                          </li>
                        </ul>
  
                        <table class="table table-borderless table-style-cst mb-0 line-H-1_2">
                          <tbody>
                              <tr>
                         <td [innerHTML]="mon_fri_text[1]"><!-- Monday - Friday --> </td>

                              <td class="text-right" [innerHTML]="mon_fri_time[1]"><!-- 8:00 a.m. to 8:00 p.m. --></td>
                            </tr>
                            <tr>
                              <td [innerHTML]="sat_text[1]"><!-- Saturday --></td>
                              <td class="text-right" [innerHTML]="sat_time[1]"><!-- 9:00 a.m. to 5:00 p.m. --></td>
                            </tr>
                            <tr>
                              <td [innerHTML]="sun_text[1]"><!-- Sunday --></td>
                              <td class="text-right" [innerHTML]="sun_time[1]"><!-- 12:00 p.m. to 5:00 p.m. --></td>
                            </tr>
                          </tbody>
                        </table>
  
                         <div class="customerSupport">
                          <div class="head cmn-sz f-W-B text-color-black" [innerHTML]="customer_support_text[1]"><!-- Customer Support --></div>
                          <p class="mb-0 line-H-1_3" [innerHTML]="customer_support_subtitle[1]"><!-- If you prefer to email us, you can email our customer service team
                            at: --></p>
                        </div>
  
                        <div class="emailWrap cmn-sz line-H-1_3 text-center">
                          <a class="f-W-B break-word"
                            href="mailto:{{customer_support_email[1]}}" [innerHTML]="customer_support_email[1]"><!-- CustomerService@prontoinsurance.com --></a>
                        </div>
                      </div>
                      <div class="btnRow text-center">
                        <a href="mailto:{{customer_support_email[1]}}"
                          class="btn cmnBtn btnBg-1 btn-sz-md text-uppercase min-w" [innerHTML]="send_msg_button[1]"><!-- SEND US A MESSAGE --></a>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-md-6 col-lg-4">
                    <div class="card_Contact_bx mng_hgt_bx_country gray-color-2" data-aos="fade-up" data-aos-delay="300"
                      data-aos-duration="900">
                      <div class="mng_bx_In">
                        <div class="headWrapp row no-gutters align-items-end flex-nowrap">
                          <div class="col-auto iconCol">
                            <div class="iconMap"><img src="{{project_path}}{{box_img[2]}}" alt="" /></div>
                          </div>
                          <div class="col">
                            <div class="contact_bxHead">
                             <div class="txt-sm-head" [innerHTML]="need_help[2]"><!-- Need Help? --></div>
                              <h2 class="bxHead" [innerHTML]="state[2]"><!-- Texas --></h2>
                            </div>
                          </div>
                        </div>
  
                        <ul class="nbr_list list-unstyled row gutter-8">
                           <li class="col">
                            <a href="tel:{{number[2]}}" class="contact_nbrWrap f-W-B link-color-black"><i
                                class="icon fa fa-phone"></i>{{number[2]}}<!--  1-855-200-4567 --></a>
                          </li>
                        </ul>
  
                        <table class="table table-borderless table-style-cst mb-0 line-H-1_2">
                          <tbody>
                            <tr>
                              <td [innerHTML]="mon_fri_text[2]"><!-- Monday - Friday --> </td>
                              <td class="text-right" [innerHTML]="mon_fri_time[2]"><!-- 8:00 a.m. to 8:00 p.m. --></td>
                            </tr>
                            <tr>
                              <td [innerHTML]="sat_text[2]"><!-- Saturday --></td>
                              <td class="text-right" [innerHTML]="sat_time[2]"><!-- 9:00 a.m. to 5:00 p.m. --></td>
                            </tr>
                            <tr>
                              <td [innerHTML]="sun_text[2]"><!-- Sunday --></td>
                              <td class="text-right" [innerHTML]="sun_time[2]"><!-- 12:00 p.m. to 5:00 p.m. --></td>
                            </tr>
                          </tbody>
                        </table>
  
                        <div class="customerSupport">
                          <div class="head cmn-sz f-W-B text-color-black" [innerHTML]="customer_support_text[2]"><!-- Customer Support --></div>
                          <p class="mb-0 line-H-1_3" [innerHTML]="customer_support_subtitle[2]"><!-- If you prefer to email us, you can email our customer service team
                            at: --></p>
                        </div>
  
                        <div class="emailWrap cmn-sz line-H-1_3 text-center">
                          <a class="f-W-B break-word"
                            href="mailto:{{customer_support_email[2]}}" [innerHTML]="customer_support_email[2]"><!-- CustomerService@prontoinsurance.com --></a>
                        </div>
                      </div>
                      <div class="btnRow text-center">
                        <a href="mailto:{{customer_support_email[2]}}"
                          class="btn cmnBtn btnBg-1 btn-sz-md text-uppercase min-w" [innerHTML]="send_msg_button[2]"><!-- SEND US A MESSAGE --></a>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-md-6 col-lg-4">
                    <div class="card_Contact_bx mng_hgt_bx gray-color-2" data-aos="fade-up" data-aos-delay="100"
                      data-aos-duration="900">
                      <div class="mng_bx_In">
                        <div class="headWrapp row no-gutters align-items-end flex-nowrap">
                          <div class="col-auto iconCol">
                            <div class="circleIcon d-flex align-items-center">
                              <div class="mngIn"><img class="iconImg" src="{{project_path}}{{pageArr.claim_image}}" alt="" /></div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="contact_bxHead">
                              <div class="txt-sm-head" [innerHTML]="pageArr.claim_title1"><!-- Make a --></div>
                              <h2 class="bxHead" [innerHTML]="pageArr.claim_title2"><!-- Claim --></h2>
                            </div>
                          </div>
                        </div>
  
                        <ul class="list-unstyled claim_ListPolicy mb-0">
                          <li>
                            <div class="heading-Md f-W-B text-color-black" [innerHTML]="texas_text[0]"><!-- For Texas Policy --></div>
                            <div>
                              {{report_claim_text1[0]}}
                             <!--  To report a claim, you may call our Claim Center at --><br>
                              <a class="cmn-sz f-W-B" href="tel:{{report_claim_number[0]}}">   {{report_claim_number[0]}}</a> or <a
                                routerLink="/claim-texas" class="f-W-B link-color-black cmn-sz">{{report_claim_text[0]}}</a>.
                            </div>
                          </li>
                          <li>  
                            <div class="heading-Md f-W-B text-color-black" [innerHTML]="texas_text[1]"><!-- For Texas Policy --></div>
                            <div>
                              {{report_claim_text1[1]}}
                             <!--  To report a claim, you may call our Claim Center at --><br>
                              <a class="cmn-sz f-W-B" href="tel:{{report_claim_number[1]}}">   {{report_claim_number[1]}}</a> or <a
                                routerLink="/claim-texas" class="f-W-B link-color-black cmn-sz">{{report_claim_text[1]}}</a>.
                            </div>
                          </li>
                          <li>
                            <div class="heading-Md f-W-B text-color-black" [innerHTML]="texas_text[2]"><!-- For Texas Policy --></div>
                            <div>
                              {{report_claim_text1[2]}}
                             <!--  To report a claim, you may call our Claim Center at --><br>
                              <a class="cmn-sz f-W-B" href="tel:{{report_claim_number[2]}}">   {{report_claim_number[2]}}</a> or <a
                                routerLink="/claim-texas" class="f-W-B link-color-black cmn-sz">{{report_claim_text[2]}}</a>.
                            </div>
                          </li>
                         <!--  <li>
                            <div class="heading-Md f-W-B text-color-black">For California Policy</div>
                            <div>
                              To report a claim, you may call our Claim Center at<br>
                              <a class="cmn-sz f-W-B" href="tel:1-800-272-3922">1-800-272-3922</a> or <a
                              routerLink="/claim-center-california" class="f-W-B link-color-black cmn-sz">make a claim
                                online</a>.
                            </div>
                          </li>
                          <li>
                            <div class="heading-Md f-W-B text-color-black">For Florida Policy</div>
                            <div>
                              To report a claim, you may call our Claim Center at<br>
                              <a class="cmn-sz f-W-B" href="tel:1-844-776-4361">1-844-776-4361</a> or <a
                              routerLink="/claim-florida" class="f-W-B link-color-black cmn-sz">make a claim online</a>.
                            </div>
                          </li> -->
                        </ul>
  
  
  
  
                      </div>
                      <div class="btnRow text-center">
                        <a routerLink="/claim-florida" class="btn cmnBtn btnBg-1 btn-sz-md text-uppercase min-w" >Make a Claim
                          Online </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-4">
                    <div class="card_Contact_bx mng_hgt_bx gray-color-2" data-aos="fade-up" data-aos-delay="200"
                      data-aos-duration="900">
                      <div class="mng_bx_In">
                        <div class="headWrapp row no-gutters align-items-end flex-nowrap">
                          <div class="col-auto iconCol">
                            <div class="circleIcon d-flex align-items-center">
                              <div class="mngIn"><img class="iconImg" src="{{project_path}}{{pageArr.need_help_icon}}" alt="" />
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="contact_bxHead">
                              <div class="txt-sm-head" [innerHTML]="pageArr.need_help_title1"><!-- Need Help? --></div>
                              <h2 class="bxHead" [innerHTML]="pageArr.need_help_title2"><!-- Live Chat --> </h2>
                            </div>
                          </div>
                        </div>
  
                        <div class="pt-no-Md-Head pb_chatBtn_spc">
  
                          <p class="mb-0" [innerHTML]="pageArr.need_help_desc"><!-- Contact customer service by chat on any page
                            of the website, during office hours. After hours
                            you'll have the option to send an email. --></p>
                        </div>
  
  
  
  
                      </div>
                      <div class="btnRow text-center">
                        <a class="btn cmnBtn btnBg-1 btn-sz-md text-uppercase min-w contact_btn_livechat"> <img
                            class="iconImg" src="assets/images/chat-btn.png" alt="">START LIVE CHAT</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-4">
                    <div class="card_Contact_bx mng_hgt_bx gray-color-2" data-aos="fade-up" data-aos-delay="300"
                      data-aos-duration="900">
                      <div class="mng_bx_In">
                        <div class="headWrapp row no-gutters align-items-end flex-nowrap">
                          <div class="col-auto iconCol">
                            <div class="circleIcon d-flex align-items-center">
                              <div class="mngIn"><img class="iconImg" src="{{project_path}}{{pageArr.connect_icon}}" alt="" />
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="contact_bxHead">
                              <div class="txt-sm-head" [innerHTML]="pageArr.connect_title1"><!-- Need Help? --></div>
                              <h2 class="bxHead" [innerHTML]="pageArr.connect_title2"><!-- Connect --></h2>
                            </div>
                          </div>
                        </div>
  
                        <div class="heading-Md f-W-B text-color-black" [innerHTML]="pageArr.corporate_office"><!-- Corporate Office --></div>
                        <ul class="list-unstyled address_Listing mb-0">
                          <li>
                            <div class="heading-Sm text-color-4 f-W-B">{{pageArr.corporate_headquarters}}<!-- HEADQUARTERS:  --></div>
                            <div class="line-H-1_7" [innerHTML]="pageArr.corporate_address">
                             <!--  Pronto General Agency LTD<br>
                              P.O. Drawer 3267<br>
                              Brownsville, TX 78523-3267 -->
                            </div>
                          </li>
  
                          <li>
                            <div class="heading-Sm text-color-4 f-W-B" [innerHTML]="pageArr.corporate_hours"><!-- HOURS: --></div>
                            <div class="line-H-1_7">
                              <strong class="text-color-black" >{{pageArr.corporate_mon_fri}}<!-- Mon - Fri: --></strong> {{pageArr.corporate_mon_fri_time}} <!-- 8:00am - 5:00pm --><br>
                              <strong class="text-color-black">{{pageArr.corporate_sat}}<!-- Saturday: --></strong> {{pageArr.corporate_sat_time}} <!-- Closed --><br>
                              <strong class="text-color-black">{{pageArr.corporate_sun}}<!-- Sunday: --></strong>   {{pageArr.corporate_sun_time}}<!-- Closed -->
                            </div>
                          </li>
  
                        </ul>
  
  
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
  
          </div>
          <div class="overflow-hidden">
               <div *ngIf="pageArr" class="w-100">
               <app-ads class="row gutter-8"></app-ads>   
               </div> 
        <!--     <div class="row gutter-8">
              <div class="col-md-6">
                <div class="boxImgInfo mr_B bxFull" style="background-image:url(assets/images/auto-ins-box-2.jpg)"
                  data-aos="fade-up" data-aos-duration="900">
                  <div class="mngInside d-flex align-items-center">
                    <div class="w-100 z_ind1">
                      <div class="textCont text-color-white text-center">
                        <div class="smTxt text-uppercase" data-aos="fade-up" data-aos-duration="900">LEARN ABOUT</div>
                        <div class="bxTitle text-uppercase font-F-2" data-aos="fade-up" data-aos-delay="300"
                          data-aos-duration="900">INDEPENDENT AGENT</div>
                        <div class="btnRow" data-aos="fade-up" data-aos-delay="500" data-aos-duration="900"><a
                            routerLink="/independent-agent" class="btn cmnBtn btnBg-1 text-uppercase">Know More</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="boxImgInfo mr_B bxFull" style="background-image:url(assets/images/auto-ins-box-3.jpg)"
                  data-aos="fade-up" data-aos-duration="900">
                  <div class="mngInside d-flex align-items-center">
                    <div class="w-100 z_ind1">
                      <div class="textCont text-color-white text-center">
                        <div class="smTxt text-uppercase" data-aos="fade-up" data-aos-duration="900">OPEN YOUR</div>
                        <div class="bxTitle text-uppercase font-F-2" data-aos="fade-up" data-aos-delay="300"
                          data-aos-duration="900">PRONTO FRANCHISE AGENCY</div>
                        <div class="btnRow" data-aos="fade-up" data-aos-delay="500" data-aos-duration="900"><a
                            href="https://www.prontofranchise.com" target="_blank"
                            class="btn cmnBtn btnBg-1 text-uppercase">Know More</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
       <div *ngIf="pageArr">
            <app-counter-section page_url="boat-insurance"></app-counter-section>            
          </div>
        <footer class="footerWrap overflow-hidden">
          <app-footer></app-footer>
        </footer>
      </div>
    </div> <!-- .perspScreen -->
  </div> <!-- .fullPG_Wrap -->