

<div class="fullPG_Wrap">
    <div class="perspScreen">
      <div class="pgWrapFull spcTpHeader vrLinesWrap" >
        <app-header (languageChange)="onlanguageChange($event)"></app-header>
        <div class="overflow-hidden">
          <div class="section-md position-relative">
          
          <div class="container-fluid lg-container" >
            <h1 *ngIf="productArr" class="pgTitle-head font-F-2 text-center mb__60" data-aos="fade-up" data-aos-duration="900">{{productArr.title}}</h1>

          <div class="mexico_T_sb_quote_iframe">
          <iframe class="cstBlankIframe" src="https://ardemos.in/southbound.html" height="650" width="100%"></iframe>
          </div>
          </div>
          </div>
          <div  *ngIf="ads"class="insuranceBanner mr_B text-color-white position-relative z_ind1"
          style="background-image:url({{project_path}}{{ads[0].ad_banner1}})" >
          <div class="container-fluid lg-container">
            <div class="row align-items-center mngInside">
              <div class="col">
                <div  *ngIf="ads[0].align == 1" class="contWrap w-100">
                  <h2 class="head font-sizeHead" data-aos="fade-up" data-aos-duration="900" [innerHTML]="ads[0].ad_banner1_title"></h2>
                  <div class="txtCont f-W-M">
                    <ul class="list-unstyled mb-0" [innerHTML]="ads[0].ad_banner1_subtitle">
                  <!--     <li data-aos="fade-up" data-aos-delay="200" data-aos-duration="900">SOUTH BOUND COVERAGE</li>
                      <li data-aos="fade-up" data-aos-delay="200" data-aos-duration="900">NORTH BOUNG COVERAGE</li> -->
                    </ul>
                  </div>
                  <div class="btnRow" data-aos="fade-up" data-aos-delay="700" data-aos-duration="900"><a href="{{ads[0].ad_banner1_button_url}}"
                      class="btn cmnBtn btnBg-1 text-uppercase" [innerHTML]="ads[0].ad_banner1_button_text"></a></div>
                </div>
                 <div  *ngIf="ads[0].align == 2" class="contWrap w-100 text-right">
                  <h2 class="head font-sizeHead" data-aos="fade-up" data-aos-duration="900" [innerHTML]="ads[0].ad_banner1_title"></h2>
                  <div class="txtCont f-W-M">
                    <ul class="list-unstyled mb-0" [innerHTML]="ads[0].ad_banner1_subtitle">
                  <!--     <li data-aos="fade-up" data-aos-delay="200" data-aos-duration="900">SOUTH BOUND COVERAGE</li>
                      <li data-aos="fade-up" data-aos-delay="200" data-aos-duration="900">NORTH BOUNG COVERAGE</li> -->
                    </ul>
                  </div>
                  <div class="btnRow" data-aos="fade-up" data-aos-delay="700" data-aos-duration="900"><a href="{{ads[0].ad_banner1_button_url}}"
                      class="btn cmnBtn btnBg-1 text-uppercase" [innerHTML]="ads[0].ad_banner1_button_text"></a></div>
                </div>
                   <div  *ngIf="ads[0].align == 3" class="contWrap w-100 text-left">
                  <h2 class="head font-sizeHead" data-aos="fade-up" data-aos-duration="900" [innerHTML]="ads[0].ad_banner1_title"></h2>
                  <div class="txtCont f-W-M">
                    <ul class="list-unstyled mb-0" [innerHTML]="ads[0].ad_banner1_subtitle">
                  <!--     <li data-aos="fade-up" data-aos-delay="200" data-aos-duration="900">SOUTH BOUND COVERAGE</li>
                      <li data-aos="fade-up" data-aos-delay="200" data-aos-duration="900">NORTH BOUNG COVERAGE</li> -->
                    </ul>
                  </div>
                  <div class="btnRow" data-aos="fade-up" data-aos-delay="700" data-aos-duration="900"><a href="{{ads[0].ad_banner1_button_url}}"
                      class="btn cmnBtn btnBg-1 text-uppercase" [innerHTML]="ads[0].ad_banner1_button_text"></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
          
          </div>
        <!-- <div class="overflow-hidden">
            <div class="section-md position-relative">
              <div class="container-fluid lg-container">
                <div class="mexico_T_sb_quote_iframe">
                <iframe class="resp-iframe"  src="https://ardemos.in/southbound.html" height="800" width="100%"></iframe>
                </div>
              </div>
            </div>
        </div>               -->
        <footer class="footerWrap overflow-hidden">
          <app-footer></app-footer>
        </footer>
      </div>
    </div> <!-- .perspScreen -->
  </div> <!-- .fullPG_Wrap -->