<app-pre-loader *ngIf="loading"></app-pre-loader>


<div class="fullPG_Wrap">
  <div class="perspScreen">
    <div class="pgWrapFull spcTpHeader vrLinesWrap">
      <app-header></app-header>
      <div class="dashboard_pg_wrap minScreen-hgt bg-patternGrdnt">
        <app-dashboard-responsive-top-header></app-dashboard-responsive-top-header>
        <div class="dashScreen_wrap">
          <div class="row no-gutters dashWrap_Row">
            <div class="col-lg-auto brdRgt">
              <div class="colWdth_side">
                <app-dashboard-side-nav></app-dashboard-side-nav>
              </div>
            </div>
            <div class="col-lg brdCol">
              <div class="dashboard_middle">
                <div class="dashB_mdl-pd">
                  <div class="dash_tp-btnsRow d-none d-lg-block" data-aos="fade-up" data-aos-duration="900">
                    <div class="row no-gutters">
                      <div class="col"><a href="#" data-toggle="modal" data-target="#modal-Start-claim"
                          class="btn cmnBtn btn-sz-md btnBg-1 text-uppercase">Report CLAIM</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="dashboard-mdl_Scroll cstScroller cst_mCst_scroll_Desk" id="dark-card" data-aos="fade-up"
                  data-aos-delay="300" data-aos-duration="900">

                <form [formGroup]="vinform" >
                  <div class="" data-aos="fade-up"
                    data-aos-delay="300" data-aos-duration="900">
                    <div class="dashB_mdl-pd">
                      <h1 class="dashlg-Head font-F-1 f-W-B"><span class="wrapIn">Add/Edit Driver</span></h1>

                      <div class="pg-tltp-spc">
                        <div class="section-page-questions">
                          <div class="section-page-question">
                            <div class="question-wrap row no-gutters justify-content-between">
                              <div class="col-lg-5 question-header d-flex"> <span class="question-counter"> <span
                                    class="countNbr"></span> <svg class="iconMark" width="15" height="14"
                                    viewbox="0 0 15 14" fill="none">
                                    <path d="M2 8.36364L6.23077 12L13 2"></path>
                                  </svg> </span>
                                <div>
                                  <h3 class="question-text">Or manually enter your driver license number*</h3>
                                </div>
                              </div>
                              <div class="col-lg-6 question-content">
                                <div class="queNbrSpace">
                                  <div class="form-group mb_form-group">
                                    <div class="field_md field_labelTP">
                                      <input class="form-control cmnField" required="" name="licenseNum"
                                        formControlName="licenseNum" (focusout)="hdr()" [readonly]="isReadOnlydln" [ngClass]="{'pointer-none': isReadOnlydln, 'ffl-floated-force' : vinform.get('licenseNum').value != ''}"
                                        placeholder="Enter DL/ID #" appOnlyNumerical> 
                                      <!-- Toggle "has-error has-error-icon" this 2 class for Error -->
                                      <label class="primary-label label-Tp">DL/ID #</label>
                                      <div class="invalid-fld-feedback-invalid">Please enter a valid DL/ID #</div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>
                          <div class="section-page-question">
                            <div class="question-wrap row no-gutters justify-content-between">
                              <div class="col-lg-5 question-header d-flex"> <span class="question-counter"> <span
                                    class="countNbr"></span> <svg class="iconMark" width="15" height="14"
                                    viewbox="0 0 15 14" fill="none">
                                    <path d="M2 8.36364L6.23077 12L13 2"></path>
                                  </svg> </span>
                                <div>
                                  <h3 class="question-text">Date of Birth*</h3>
                                </div>
                              </div>
                              <div class="col-lg-6 question-content">
                                <div class="queNbrSpace">


                                  <div class="form-group mb_form-group">
                                    <div class="tltp-mng_R">
                                        <div
                                            class="field_md fld-icon-Date field_labelTP datepickerParent">
                                              <input
                                                class="form-control cmnField datepicker_fld"
                                                formControlName="dob"
                                                placeholder="MM/DD/YYYY"
                                                (focusout)="getDriverDetailbyDOB($event.target.value)"
                                                [readonly]="isReadOnlydob" DobValidation
                                                type="text" maxlength="10"
                                                [ngClass]="{'pointer-none': isReadOnlydob, 'ffl-floated-force' : vinform.get('dob').value}">

                                                <input type="text"
                                                class="form-control datepickerModel"
                                                #dp="bsDatepicker"
                                                bsDatepicker
                                                [bsConfig]="bsConfig"
                                                DobValidation 
                                                maxlength="10"
                                                [maxDate]="maxDate"
                                                [minDate]="minDate"
                                                [(ngModel)]="datepickerModel"
                                                (bsValueChange)="getdate($event)"
                                                [ngModelOptions]="{standalone: true}"
                                                
                                              >

                                            <label class="primary-label label-Tp">Date
                                                of
                                                Birth*</label>
                                            <div class="invalid-fld-feedback">Please
                                                enter a valid
                                                birthdate</div>

                                            <div class="fldIcon"><img
                                                    src="./assets/images/icon-calendar.png"
                                                    alt=""  (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen" [ngClass]="{'pointer-none': isReadOnlydob}"/></div>


                                            <button class="f-size-18"
                                                id="openModalButtonDLDOB"
                                                [hidden]="true" data-toggle="modal"
                                                data-target="#modal-Error_DL_DOB">Show
                                                Error Modal</button>

                                        </div>

                                        <span class="tooltipIcon" data-tooltip="tooltip"
                                            data-html="true"
                                            title="Date of Birth - Driver's date of birth"><img
                                                class="iconTooltip_img"
                                                src="./assets/images/icon-info.svg"
                                                alt=""></span>

                                    </div>

                                </div>
                                  <!-- <div class="form-group mb_form-group">
                                    <div class="tltp-mng_R">
                                      <div class="field_md fld-icon-Date field_labelTP datepickerParent">
                                        <input class="form-control cmnField datepicker_fld" 
                                          formControlName="dob" DobValidation
                                          placeholder="MM/DD/YYYY" (focusout)="hdr()" [readonly]="isReadOnlydob" [ngClass]="{'pointer-none': isReadOnlydob, 'ffl-floated-force' : vinform.get('dob').value != ''}">

                                          <input type="text" class="form-control datepickerModel" #dp="bsDatepicker" id="bsDatepickerDOB" bsDatepicker [bsConfig]="bsConfig" DobValidation  maxlength="10" [maxDate]="maxDate" [minDate]="minDate"  [(ngModel)]="datepickerModel" (bsValueChange)="getdate($event)" [ngModelOptions]="{standalone: true}" [readonly]="isReadOnlydob" [ngClass]="{'pointer-none': isReadOnlydob, 'ffl-floated-force' : vinform.get('dob').value != ''}">

                                        
                                        <label class="primary-label label-Tp">Date of Birth</label>
                                        <div class="invalid-fld-feedback-invalid">Please enter a valid birthdate</div>

                                        <div class="fldIcon"><img src="./assets/images/icon-calendar.png" alt="" (click)="dp.toggle()"
                                          [attr.aria-expanded]="dp.isOpen"/></div>

                                      </div>
                                      <span class="tooltipIcon" data-tooltip="tooltip" data-html="true"
                                        title="Date of Birth - Driver's date of birth"><img class="iconTooltip_img"
                                          src="./assets/images/icon-info.svg" alt=""></span>
                                    </div>
                                  </div> -->

                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="section-page-question">
                            <div class="question-wrap row no-gutters justify-content-between">
                              <div class="col-lg-5 question-header d-flex"> <span class="question-counter"> <span
                                    class="countNbr"></span> <svg class="iconMark" width="15" height="14"
                                    viewbox="0 0 15 14" fill="none">
                                    <path d="M2 8.36364L6.23077 12L13 2"></path>
                                  </svg> </span>
                                <div>
                                  <h3 class="question-text">Personal Details of policy holder</h3>
                                </div>
                              </div>
                              <div class="col-lg-6 question-content">
                                <div class="queNbrSpace">
                                  <div class="form-group mb_form-group">
                                    <div class="field_md">
                                      <input class="form-control cmnField" required="" name="firstName"
                                        formControlName="firstName"
                                        [ngClass]="{'ffl-floated-force' : vinform.get('firstName').value != ''}"
                                        readonly>
                                      <!-- Toggle "has-error has-error-icon" this 2 class for Error -->
                                      <label class="primary-label">First Name*</label>
                                      <div class="invalid-fld-feedback">Please enter a valid First Name</div>
                                    </div>
                                  </div>
                                  <div class="form-group mb_form-group">
                                    <div class="field_md">
                                      <input class="form-control cmnField" required="" name="middleName"
                                        formControlName="middleName"
                                        [ngClass]="{'ffl-floated-force' : vinform.get('middleName').value != ''}"
                                        readonly>
                                      <!-- Toggle "has-error has-error-icon" this 2 class for Error -->
                                      <label class="primary-label">Middle Name</label>
                                      <div class="invalid-fld-feedback">Please enter a valid Middle Name</div>
                                    </div>
                                  </div>
                                  <div class="form-group mb_form-group">
                                    <div class="field_md">
                                      <input class="form-control cmnField" required="" name="lastName"
                                        formControlName="lastName"
                                        [ngClass]="{'ffl-floated-force' : vinform.get('lastName').value != ''}"
                                        readonly>
                                      <!-- Toggle "has-error has-error-icon" this 2 class for Error -->
                                      <label class="primary-label">Last Name*</label>
                                      <div class="invalid-fld-feedback">Please enter a valid Last Name</div>
                                    </div>
                                  </div>
                                  <div class="row gutterField-8">
                                    <div class="col-sm-6">
                                      <div class="form-group mb_form-group">
                                        <div class="cstBlockwrap">
                                          <label for="policy_Holder_gender_Male"
                                            class="custom-control custom-block custom-radio mb-0">
                                            <input id="policy_Holder_gender_Male" name="isMale" formControlName="isMale"
                                            [value]="true" type="radio" class="custom-control-input form-check-input"
                                              checked>
                                            <span class="custom-control-label-wrap"><span
                                                class="custom-control-indicator"></span> <span
                                                class="indicator-label">Male</span> </span> </label>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-sm-6">
                                      <div class="form-group mb_form-group">
                                        <div class="cstBlockwrap">
                                          <label for="policy_Holder_gender_Female"
                                            class="custom-control custom-block custom-radio mb-0">
                                            <input id="policy_Holder_gender_Female" name="isMale"
                                              formControlName="isMale" [value]="false" type="radio"
                                              class="custom-control-input form-check-input">
                                            <span class="custom-control-label-wrap"><span
                                                class="custom-control-indicator"></span> <span
                                                class="indicator-label">Female</span> </span> </label>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="form-group mb_form-group">
                                    <div class="selectNG_dropdown">
                                        <ng-select class="custom_ngSelect"
                                            [items]="maritalStatus" bindLabel="value"
                                            placeholder="Select" bindValue="key"
                                            [searchable]="false"
                                            formControlName="isMarried">

                                            <ng-template ng-label-tmp let-item="item">
                                                {{item.value}}
                                            </ng-template>

                                        </ng-select>
                                        <label class="selectLabel">Marital
                                            Status</label>
                                        <svg class="arrowIcon"
                                            xmlns="http://www.w3.org/2000/svg" width="11.67"
                                            height="6.04" viewBox="0 0 11.67 6.04">
                                            <polygon
                                                points="5.89 6.04 0 0.74 0.67 0 5.88 4.69 11 0 11.67 0.74 5.89 6.04"
                                                fill="#fff"></polygon>
                                        </svg>
                                    </div>
                                </div>


                                </div>
                              </div>
                            </div>

                          </div>
                          <div class="section-page-question">
                            <div class="question-wrap row no-gutters justify-content-between">
                              <div class="col-lg-5 question-header d-flex"> <span class="question-counter"> <span
                                    class="countNbr"></span> <svg class="iconMark" width="15" height="14"
                                    viewbox="0 0 15 14" fill="none">
                                    <path d="M2 8.36364L6.23077 12L13 2"></path>
                                  </svg> </span>
                                <div>
                                  <h3 class="question-text">Relationship to Applicant</h3>
                                </div>
                              </div>
                              <div class="col-lg-6 question-content">
                                <div class="queNbrSpace">
                                  <div class="form-group mb_form-group">
                                    <div class="dropdown-select-wrap field_md">

                                        <div class="selectNG_dropdown">
                                            <ng-select class="custom_ngSelect"
                                                [items]="relationship_dropdown" bindLabel="value"
                                                placeholder="Select" bindValue="key"
                                                [searchable]="false"
                                                formControlName="relationship">

                                                <!-- <ng-template ng-label-tmp let-item="item">
                                                    {{item.value}}
                                                </ng-template> -->

                                            </ng-select>
                                            
                                            <label class="selectLabel">Relation*</label>
                                            <svg class="arrowIcon"
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="11.67" height="6.04"
                                                viewBox="0 0 11.67 6.04">
                                                <polygon
                                                    points="5.89 6.04 0 0.74 0.67 0 5.88 4.69 11 0 11.67 0.74 5.89 6.04"
                                                    fill="#fff"></polygon>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="section-page-question">
                            <div class="question-wrap row no-gutters justify-content-between">
                              <div class="col-lg-5 question-header d-flex"> <span class="question-counter"> <span
                                    class="countNbr"></span> <svg class="iconMark" width="15" height="14"
                                    viewbox="0 0 15 14" fill="none">
                                    <path d="M2 8.36364L6.23077 12L13 2"></path>
                                  </svg> </span>
                                <div>
                                  <h3 class="question-text">Does this driver have a Texas Driver's License?</h3>
                                </div>
                              </div>
                              <div class="col-lg-6 question-content">
                                <div class="queNbrSpace">
                                  <div class="row gutterField-8">
                                    <div class="col-sm-6">
                                      <div class="form-group mb_form-group">
                                        <div class="cstBlockwrap">
                                          <label for="Texas_Driver_License-Yes"
                                            class="custom-control custom-block custom-radio mb-0">
                                            <input id="Texas_Driver_License-Yes" name="stateLicense"
                                              formControlName="stateLicense"  value="TX" type="radio"
                                              class="custom-control-input form-check-input">
                                            <span class="custom-control-label-wrap"><span
                                                class="custom-control-indicator"></span> <span
                                                class="indicator-label">Yes</span> </span> </label>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-sm-6">
                                      <div class="form-group mb_form-group">
                                        <div class="cstBlockwrap">
                                          <label for="Texas_Driver_License-No"
                                            class="custom-control custom-block custom-radio mb-0">
                                            <input id="Texas_Driver_License-No" name="stateLicense"
                                              formControlName="stateLicense" (click)="resetViolationSelect()" value="" type="radio"
                                              class="custom-control-input form-check-input">
                                            <span class="custom-control-label-wrap"><span
                                                class="custom-control-indicator"></span> <span
                                                class="indicator-label">No</span> </span> </label>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="section-page-question">
                            <div class="question-wrap row no-gutters justify-content-between">
                              <div class="col-lg-5 question-header d-flex mb-0"> </div>
                              <div class="col-lg-6 question-content">
                                <div class="queNbrSpace">
                                  <div class="form-group mb_form-group">
                                    <div class="cstBlockwrap">
                                      <label class="custom-control custom-block custom-checkbox iconMng-Plus mb-0" [ngClass]="{'disabled-control' : !vinform.valid}">
                                        <input type="checkbox" [disabled]="!vinform.valid"   (click)="Violation()"  [checked]="isTexas"   class="custom-control-input form-check-input">
                                        <span class="custom-control-label-wrap"><span
                                            class="custom-control-indicator"></span> <span class="indicator-label">ADD VIOLATIONS / ACCIDENTS</span> </span> </label>
                                    </div>
                                  </div>
                                  <!--<div class="form-group mb_form-group">
                                                    <div class="cstBlockwrap">
                                                      <label class="custom-control custom-block custom-checkbox mngSub-txt iconMng-Plus mb-0">
                                                        <input type="checkbox" class="custom-control-input form-check-input">
                                                        <span class="custom-control-label-wrap"><span class="custom-control-indicator"></span> <span class="indicator-label">ADD ANOTHER DRIVER <span class="subTxt-sm text-color-3">Add all the drivers in your household</span></span> </span> </label>
                                                    </div>
                                                  </div>-->
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                        <div class="navigation-buttons">
                          <ul class="list-inline mb-0 text-right btnsList_form">
                            <li class="list-inline-item">
                              <button class="btn btnstl-1 btnBrd"  (click)="getCancel()"
                              type="submit">Cancel</button> 
                            </li>
                            <li class="list-inline-item"> 
                             

                              <button class="btn btnstl-1 btnBg-3" (click)="onSubmit()"
                               type="submit" [disabled]="!vinform.valid">Save & Continue</button> 
                               <!-- [disabled]="!form.valid || isClicked" -->

                               <button id="openModalButtondriverhistory" [hidden]="true" data-toggle="modal" data-target="#modal-driver_history_info">Open Modal</button>

                              <button id="openModalButtondriverhistory1" [hidden]="true"
                              data-toggle="modal" data-target="#modal-driver_history_info1">Open Modal</button>

                              <button id="openModalDriverExist" [hidden]="true" data-toggle="modal"  data-target="#modal-driver_Exist">Open Modal</button>

                              <button id="openModalstateError" [hidden]="true" data-toggle="modal"  data-target="#modal-Error_driver_state_license">Open Modal</button>

                             
                            </li>
                               
                            
                            <!-- (ngSubmit)="onSubmit()" -->
                          </ul>
                        </div>
                      </div>




                    </div>
                  </div>
                </form>

                </div>
              </div>
            </div>
            <div class="col-lg-auto brdLft">
              <div class="colWdth_side">
                <app-dashboard-side-userinfo></app-dashboard-side-userinfo>
              </div>
            </div>
          </div>
        </div>
      </div>


      <footer class="footerWrap overflow-hidden">
        <app-footer></app-footer>
      </footer>
    </div>
  </div> <!-- .perspScreen -->
</div> <!-- .fullPG_Wrap -->
<!-- Modal Start Claim -->
<div class="modal fade modalCst show" style="display: block;" id="modal-Start-claim" *ngIf="exists">
  <div class="modal-dialog modal-dialog-centered modal-cst-sm">
    <div class="modal-content">
      <button type="button" class="close btnClose" data-dismiss="modal" (click)="closesocial()"><span>×</span></button>
      <div class="modal-body pb-lg">
        <div class="row no-gutters justify-content-center">
          <div class="col-lg-11">
            <div class="claim_choose_wrap">
              <div class="cont-Head f-W-B line-H-1_3 text-center">Driver already part of your quote driver with that
                information is already part of your quote </div>
                

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- End Modal Start Claim -->
<div class="modal fade modalCst show" style="display: block;" id="modal-Start-claim" *ngIf="exist">
  <div class="modal-dialog modal-dialog-centered modal-cst-sm">
    <div class="modal-content">
      <button type="button" class="close btnClose" data-dismiss="modal" (click)="closesocials()"><span>×</span></button>
      <div class="modal-body pb-lg">
        <div class="row no-gutters justify-content-center">
          <div class="col-lg-11">
            <div class="claim_choose_wrap">
              <div class="cont-Head f-W-B line-H-1_3 text-center">We do not provide online insurance for out of state drivers. Please call +1(888)338-6523 to proceed with getting a quote. </div>
                

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<!-- Modal Error Driver state license -->
<div class="modal fade modalCst" id="modal-Error_driver_state_license">
  <div class="modal-dialog modal-dialog-centered modal-cst-sm">
      <div class="modal-content modalGetQuote">

          <div class="modal-body pb-lg">
              <div class="row no-gutters justify-content-center">
                  <div class="col-lg-10">
                      <div class="infoModalWrap text-center">
                          <div class="txt-summary last-p line-H-1_3">
                              <p class="text-color-3 txt-Md"><strong>Driver License</strong></p>
                              <p class="gray-color-2 f-size-18">We do not provide online insurance for out
                                  of state drivers. Please call <a class="link-color-gray"
                                      href="tel:+1(888)338-6523">+1(888)338-6523</a> to proceed with
                                  getting a quote.</p>
                          </div>
                          <div class="btnsWrapp mx-width">
                              <ul class="list-unstyled  btnListing mb-0">
                                  <li><a href="#"
                                          class="btn cmnBtn btnBg-2 sm-sz text-uppercase btn-block"
                                          data-dismiss="modal">Close</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>
<!-- End Modal Error Driver state license -->



<!-- Modal driver Exist -->
<div class="modal fade modalCst" id="modal-driver_Exist">
  <div class="modal-dialog modal-dialog-centered modal-cst-sm">
      <div class="modal-content modalGetQuote">
          <button type="button" class="close btnClose" data-dismiss="modal"><span>×</span></button>
          <div class="modal-body pb-lg">
              <div class="row no-gutters justify-content-center">
                  <div class="col-lg-10">
                      <div class="infoModalWrap text-center">
                          <div class="txt-summary last-p line-H-1_3">
                              <p class="text-color-3 txt-Md"><strong>Driver already part of your quote</strong></p>
                              <p class="gray-color-2 f-size-18">A driver with that information is already part of your quote.</p>
                          </div>
                          <div class="btnsWrapp mx-width">
                              <ul class="list-unstyled  btnListing mb-0">
                                  <li>
                                      <a href="#"
                                          class="btn cmnBtn btnBg-2 sm-sz text-uppercase btn-block"
                                          data-dismiss="modal">Continue</a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>
<!-- Modal driver Exist End -->


 <!-- Modal Driver History Information -->
 <div class="modal fade modalCst" id="modal-driver_history_info">
  <div class="modal-dialog modal-dialog-centered modal-cst-sm">
      <div class="modal-content">
          <button type="button" class="close btnClose" data-dismiss="modal"><span>×</span></button>
          <div class="modal-body pb-lg">
              <div class="row no-gutters justify-content-center">
                  <div class="col-lg-10">
                      <div class="formModal_wrapp">
                          <h4 class="head-ttl text-color-3">Driver History Information</h4>
                          <div class="section-page-questions">
                              <div class="section-page-question">
                                  <div class="question-wrap">
                                      <div class="question-header">
                                          <div>
                                              <div class="mb__10">
                                                  <h3 class="question-text">Has the driver had any of the
                                                      following?</h3>
                                              </div>
                                              <div class="question-byline">

                                                  <ul class="mb__10">
                                                      <li>Accidents (regardless of fault) in the last 5
                                                          years</li>
                                                      <li>Traffic Tickets in the last 5 years</li>
                                                      <li>DUIs or Suspensions or Revocations in the last
                                                          10 years</li>
                                                  </ul>

                                                  If so, select "Yes" to give us more details*
                                              </div>
                                          </div>
                                      </div>
                                      <div class="question-content">
                                          <div class="row gutterField-8">
                                              <div class="col-6">
                                                  <div class="form-group mb_form-group">
                                                      <div class="cstBlockwrap">
                                                          <label for="driver_details-Yes"
                                                              class="custom-control custom-block custom-radio mb-0">
                                                              <input id="driver_details-Yes" type="radio"
                                                                  class="custom-control-input form-check-input"
                                                                  [(ngModel)]="driver_details"
                                                                  value="yes">
                                                              <span
                                                                  class="custom-control-label-wrap"><span
                                                                      class="custom-control-indicator"></span>
                                                                  <span class="indicator-label">Yes</span>
                                                              </span> </label>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-6">
                                                  <div class="form-group mb_form-group">
                                                      <div class="cstBlockwrap">
                                                          <label for="driver_details-No"
                                                              class="custom-control custom-block custom-radio mb-0">
                                                              <input id="driver_details-No" name=""
                                                                  type="radio"
                                                                  class="custom-control-input form-check-input"
                                                                  [(ngModel)]="driver_details" value="no">
                                                              <span
                                                                  class="custom-control-label-wrap"><span
                                                                      class="custom-control-indicator"></span>
                                                                  <span class="indicator-label">No</span>
                                                              </span> </label>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="navigation-buttons">
                              <ul class="list-inline mb-0 text-right btnsList_form">
                                  <li class="list-inline-item"> <a href="#" class="btn btnstl-1 btnBrd"
                                          data-dismiss="modal">Cancel</a> </li>
                                  <li class="list-inline-item">
                                      <!-- <a href="#" class="btn btnstl-1 btnBg-3" >Save &amp; Continue</a> -->
                                      <button type="submit" class="btn btnstl-1 btnBg-3"
                                          (click)="add_voilation1()"
                                          [disabled]="driver_details == ''">Save & Continue</button>



                                      <button id="openModalClosed" [hidden]="true"
                                          data-dismiss="modal">Open Modal</button>



                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>
<!-- End Modal Driver History Information -->

<!-- Modal Driver History Information -->
<div class="modal fade modalCst" id="modal-driver_history_info1">
  <div class="modal-dialog modal-dialog-centered modal-cst-sm">
      <div class="modal-content">
          <button type="button" class="close btnClose" data-dismiss="modal"><span>×</span></button>
          <div class="modal-body pb-lg">
              <div class="row no-gutters justify-content-center">
                  <div class="col-lg-10">
                      <div class="formModal_wrapp">
                          <h4 class="head-ttl text-color-3">Driver History Information</h4>
                          <div class="section-page-questions">
                              <div class="section-page-question">
                                  <div class="question-wrap">
                                      <div class="question-header">
                                          <div>
                                              <div class="mb__10">
                                                  <h3 class="question-text">Has the driver had any of the
                                                      following?</h3>
                                              </div>
                                              <div class="question-byline">

                                                  <ul class="mb__10">
                                                      <li>Accidents (regardless of fault) in the last 5
                                                          years</li>
                                                      <li>Traffic Tickets in the last 5 years</li>
                                                      <li>DUIs or Suspensions or Revocations in the last
                                                          10 years</li>
                                                  </ul>

                                                  If so, select "Yes" to give us more details*
                                              </div>
                                          </div>
                                      </div>
                                      <div class="question-content">
                                          <div class="row gutterField-8">
                                              <div class="col-6">
                                                  <div class="form-group mb_form-group">
                                                      <div class="cstBlockwrap">
                                                          <label for="driver_details-Yes"
                                                              class="custom-control custom-block custom-radio mb-0">
                                                              <input id="driver_details-Yes" type="radio"
                                                                  class="custom-control-input form-check-input"
                                                                  [(ngModel)]="driver_details"
                                                                  value="yes">
                                                              <span
                                                                  class="custom-control-label-wrap"><span
                                                                      class="custom-control-indicator"></span>
                                                                  <span class="indicator-label">Yes</span>
                                                              </span> </label>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-6">
                                                  <div class="form-group mb_form-group">
                                                      <div class="cstBlockwrap">
                                                          <label for="driver_details-No"
                                                              class="custom-control custom-block custom-radio mb-0">
                                                              <input id="driver_details-No" name=""
                                                                  type="radio"
                                                                  class="custom-control-input form-check-input"
                                                                  [(ngModel)]="driver_details" value="no">
                                                              <span
                                                                  class="custom-control-label-wrap"><span
                                                                      class="custom-control-indicator"></span>
                                                                  <span class="indicator-label">No</span>
                                                              </span> </label>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="navigation-buttons">
                              <ul class="list-inline mb-0 text-right btnsList_form">
                                  <li class="list-inline-item"> <a href="#" class="btn btnstl-1 btnBrd"
                                          data-dismiss="modal">Cancel</a> </li>
                                  <li class="list-inline-item">
                                      <!-- <a href="#" class="btn btnstl-1 btnBg-3" >Save &amp; Continue</a> -->

                                      <button type="submit" class="btn btnstl-1 btnBg-3"
                                          data-dismiss="modal" (click)="add_voilation2()"
                                          [disabled]="driver_details == ''">Save & Continue</button>

                                      <button id="openModalClosed" [hidden]="true"
                                          data-dismiss="modal">Open Modal</button>

                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>
<!-- End Modal Driver History Information -->

<div class="modal-backdrop fade show" *ngIf="exist || exists"></div>