<app-page-loader  *ngIf="loading"></app-page-loader>

<div class="fullPG_Wrap" id="topsec">
    <div class="perspScreen">
      <div class="pgWrapFull spcTpHeader vrLinesWrap" >
        <app-header (languageChange)="onlanguageChange($event)"></app-header>
  
        <div class="insideHeaderSec overflow-hidden" >
          <div class="row no-gutters">
              <div class="col-md-6" *ngIf="productArr.banner_img"> 
                  <div class="secimgWrap position-relative imgFit fullScreen-LessNav fullAuto-MD">
                      <img class="w-100 obj-fit  placeholder-img-Bg"  src="{{project_path}}{{image_path}}{{productArr.banner_img}}" style="background-image:url(assets/images/{{productArr.banner_img}});" alt="{{productArr.banner_img_alt}}" title="{{productArr.banner_img_title}}" />
                  </div>
              </div>
              <div class="col-md-6 d-flex align-items-center position-relative headContCol">
                  <div class="w-100">
                      <div class="wrapContSec containerPD-R">
                          <div class="topIns_head">
                              <h1 class="pgTitle-head headPG" data-aos="fade-up" data-aos-duration="900">{{productArr.insurance_type}}</h1>
                              <!-- <div #insurance_type_subheading></div> -->
                              <!-- {{productArr.insurance_type_subheading}} -->
                            <!--   <div ></div> -->

                              <div class="contInfo" data-aos="fade-up" data-aos-delay="400"
                                  data-aos-duration="900" [innerHTML]="productArr.subheading">
                                 <!--  <div class="txtHead-md gray-color-1 font-F-2 line-H-1_2">Get a quick,
                                      personalized</div>
                                  <div class="txtHead-lg font-F-2 line-H-1_2">auto insurance quote</div>
                                  <div class="txtLine text-gray-70">a great rate is just a few clicks away
                                  </div> -->
                              </div>

                              <div class="row no-gutters" data-aos="fade-up" data-aos-delay="700"
                                  data-aos-duration="900" *ngIf="productArr.isState == 0">
                                  <div class="col-md-10">
                                      <div class="form-group position-relative mb-0">
                                          <!-- Toggle has-error class For show Error Message -->
                                          <div class="input-group fld-Inline zipField">
                                              <div class="input-wrapper">
                                                  <input class="form-control form-fld with-icon disabled"
                                                      maxlength="5" required="" type="text">
                                                  <div class="form-control-icon"><svg
                                                          class="icon w-100 iconGray" height="20"
                                                          viewBox="0 0 15 20" width="15"
                                                          xmlns="http://www.w3.org/2000/svg">
                                                          <title>Location pin icon</title>
                                                          <path
                                                              d="M7.14,0c3.75,0,7.15,2.84,7.15,6.34S11.19,14,7.14,20C3.1,14,0,9.83,0,6.34S3.39,0,7.14,0Zm0,9.15A2.56,2.56,0,1,0,4.58,6.59h0A2.56,2.56,0,0,0,7.14,9.15Z"
                                                              fill="#c51f2b"></path>
                                                      </svg></div>
                                                  <label class="form-control-label">Zip Code</label>
                                              </div>
                                              <div class="input-group-append">
                                                  <button class="btn btnBg-1 f-W-B text-uppercase btn-submit"
                                                      type="submit">{{productArr.start_button}}</button>
                                              </div>
                                          </div>
                                          <div class="form-control-feedback bottom">
                                              <p><span class="icon">!</span> <span class="zip-error-text">This
                                                      zip code is invalid.</span></p>
                                          </div>
                                      </div>
                                  </div>
                              </div>

                              <div class="tp-choose-wrap" data-aos="fade-up" data-aos-delay="700" data-aos-duration="900" *ngIf="states">
                                  <div class="txtLine line-H-1_3 text-gray-70">{{productArr.select_state}}</div>
                                  <ul class="list-unstyled mb-0 choose_btnsList">
                                    <li class="list-inline-item" *ngFor="let l of states; let i = index;">
                                      <a   href="#" (click)="myFunction(states[i])" class="btn cmnBtn btnBg-2 text-uppercase" data-toggle="modal" data-target="#modal-get_a_quote">
                                        {{l}}
                                      </a>
                                    </li>
                                    <!-- <li class="list-inline-item"><a href="#" class="btn cmnBtn btnBg-2 text-uppercase"
                                        data-toggle="modal" data-target="#modal-get_a_quote">CALIFORNIA</a></li> -->
                                  </ul>
                                </div>

                              <div class="callText line-H-1_2" data-aos="fade-up" data-aos-delay="900"
                                  data-aos-duration="900" *ngIf="productArr.helpline_number">{{productArr.helpline_title}} <a
                                      class="f-W-B text-decoration-none link-color-black"
                                      href="tel:{{productArr.helpline_number}}">{{productArr.helpline_number}}</a>
                                  </div>



                          </div>
                      </div>
                      <div class="scrollBT-pos mngMob text-center"*ngIf="productArr.helpline_number">
                          <div class="scrollDown" data-aos="fade-up" data-aos-delay="1200" data-aos-duration="900" data-aos-offset="-50">
                              <div class="arrowIcon"></div>
                              <div class="scrollTxt line">{{productArr.scroll_down_text}}</div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      
      <div class="overflow-hidden" >
        <div class="section-xl secFullwrap position-relative" *ngIf="productArr">
            <div class="floatImg floatShape-5 auto_imgFloat_5 floating-Animate">
                <img class="w-100" src="./assets/images/floating-img-5.png" alt="">
            </div>
            <div class="row no-gutters align-items-center" *ngIf="productArr.seciont2_title">
             
                <div class="col-md-6" *ngIf="productArr.seciont2_title">
                    <div class="w-100 contCol-wrap containerPD-L">
                        <div class="bxCont_Info pb-5 pb-md-0">
                            <h2 class="head font-sizeHead" data-aos="fade-up" data-aos-duration="900">{{productArr.seciont2_title}}</h2>

                            <div class="textSummary text-gray-70 line-H-1_8 last-p" data-aos="fade-up"
                                data-aos-delay="300" data-aos-duration="900" [innerHTML]="productArr.seciont2_description">
                          
                               
                            </div>
                            <div class="textsubHead line-H-1_2 font-F-2" data-aos="fade-up"
                                data-aos-delay="500" data-aos-duration="900">{{productArr.seciont2_subtitle}}</div>
                            <div class="btnRow" data-aos="fade-up" data-aos-delay="700"
                                data-aos-duration="900">
                                <a (click)="scroll('mid')" class="btn cmnBtn btnBg-1 text-uppercase">{{productArr.seciont2_button_text}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="imgWrap">
                        <img class="w-100" src="{{project_path}}{{image_path}}{{productArr.seciont2_img}}"  alt="{{productArr.section2_img_alt}}" title="{{productArr.section2_img_title}}" />
                    </div>
                </div>
            </div>
        </div>
        <div class="section-xl ins_policy_Sec position-relative mngSecLink" *ngIf="productArr" >
          <div class="secLink" id="mid"></div>
                <!-- <div class="section-xl ins_policy_Sec position-relative" *ngIf="productArr" id="mid"> -->
              <div class="floatImg floatShape-2 auto_imgFloat_2 floating-Animate">
                <img class="w-100" src="assets/images/floating-img-2.png" alt="">
              </div>
              <div class="floatImg floatShape-3 auto_imgFloat_3 floating-Animate">
                <img class="w-100" src="assets/images/floating-img-3.png" alt="">
              </div>
              <div class="container-fluid lg-container" *ngIf="productArr.know_your_policy_title" >
                <div class="headSec font-sizeHead font-F-2 line-H-1_3 text-center mb__60" data-aos="fade-up"
                  data-aos-duration="900">{{productArr.know_your_policy_title}}</div>
  
                <div class="tabsWrapper">
                  <ul class="nav mbNav cstTabsNav" data-aos="fade-up" data-aos-delay="300" data-aos-duration="900" *ngIf="policy_titles">
                    <li class="nav-item flex-fill">
                      <a class="nav-link active" data-toggle="tab" href="#tab-policy-1">{{policy_titles[0]}}</a>
                    </li>
                    <li class="nav-item flex-fill">
                      <a class="nav-link" data-toggle="tab" href="#tab-policy-3" >{{policy_titles[1]}}</a>
                    </li>
               <!--      <li class="nav-item flex-fill">
                      <a class="nav-link" data-toggle="tab" href="#tab-policy-3">{{policy_titles[2]}}</a>
                    </li> -->
                  </ul>
  
                  <div class="tab-content pd-LR">
                    <div class="tab-pane active" id="tab-policy-1">
                      <div class="row gutter-15vw">
                        <div class="col-md-5" *ngIf="productArr.what_we_cover_title">
                          <div class="card_txt_bx mb-sm" data-aos="fade-up" data-aos-delay="500" data-aos-duration="900">
                            <div class="height-sm-auto" data-eq="eq_cardPackage">
                              <h3 class="bxHead headSize30 text-color-3">{{productArr.what_we_cover_title}}</h3>
  
                              <div class="txtSummary text-gray-80">
                                <ul class="list-unstyled mb-0 listCst listIcon">
                                  <li *ngFor="let what of what_we_cover_subtitle">{{what}}</li>
                                 <!--  <li>Hurricane, Hail and Wind Coverage</li>
                                  <li>Replacement Cost of Dwelling</li>
                                  <li>Residential Glass</li>
                                  <li>Dog / Animal Liability</li>
                                  <li>Optional Enhanced Coverage (la póliza se podrá endorsar para agregar cobertura de
                                    dichos peligros por unaprima adicional.)</li> -->
                                </ul>
                              </div>
                            </div>
                            <div class="btnRow" >
                              <a  (click)="scroll('homeownersPackage')" class="btn cmnBtn btnBg-1 text-uppercase scrollClick">{{productArr.what_we_cover_button}}</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-7">
                          <div class="card_txt_bx mb-sm" data-aos="fade-up" data-aos-delay="1000" data-aos-duration="900" *ngIf="productArr.what_not_covered_title">
                            <div class="height-sm-auto" data-eq="eq_cardPackage">
                              <h3 class="bxHead headSize30 text-color-3">{{productArr.what_not_cover_title}}</h3>
  
                              <div class="txtSummary text-gray-80">
                                <ul class="list-unstyled mb-0 listCst listIcon">
                                   <li *ngFor="let whats of what_not_cover">{{whats}}</li>
                               <!--    <li>Dwelling with relevant business on premises.</li>
                                  <li>Manufactured homes, modified manufactured homes or trailers, shell homes,</li>
                                  <li>Do-it-yourself or homemade homes</li>
                                  <li>Dwelling in which the homeowner has no legal title to the land upon which it is
                                    located.</li>
                                  <li>Swimming Pools without standard security or safety features.</li>
                                  <li>Flat roofs</li>
                                  <li>Wood burning stoves</li>
                                  <li>Dwelling is on more than 10 acres</li> -->
                                </ul>
                              </div>
                            </div>
                            <div class="btnRow">
                              <a  (click)="scroll('whatsnotcovered')" class="btn cmnBtn btnBg-1 text-uppercase scrollClick">{{productArr.what_not_cover_button}}</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="card_txt_bx mb-sm mt-md--70" data-aos="fade-up" data-aos-duration="900">
                            <div class="height-sm-auto">
                              <h3 class="bxHead headSize30 text-color-3">{{productArr.requirment_purchase_title}}
                              </h3>
  
                              <div class="txtSummary text-gray-80">
                                <ul class="list-unstyled mb-0 listCst listIcon">
                                  <li *ngFor="let req of requirement_purchase">{{req}}</li>
                               <!--    <li>Heat Source Thermostatically Controlled.</li>
                                  <li>Smoke detectors are required on all homes.</li>
                                  <li>Homes in average or better condition showing pride of ownership.</li> -->
                                </ul>
                              </div>
                            </div>
                            <div class="btnRow">
                              <a  (click)="scroll('requirementtopurchase')"
                                class="btn cmnBtn btnBg-1 text-uppercase scrollClick">{{productArr.requirment_purchase_button}}</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="tab-policy-2">
                      <div class="row gutter-15vw">
                        <div class="col-md-4">
                          <div class="card_txt_bx">
                            <h3 class="bxHead headSize30 text-color-3">{{productArr.how_to_save_title}}</h3>
  
                            <!--<div class="txtSummary text-gray-80">
            <div class="txt_mb">
            <p>Pronto also offers several discounts to help save you money:</p>
            </div>
            <ul class="list-unstyled mb-0 listCst listIcon">
            <li>Multi-Car</li>
            <li>Renewal</li>
            <li>Liability Endorsement </li>
            <li>Physical Damage Endorsement</li>
            </ul>
            </div>-->
  
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="tab-policy-3">


                        <div class="ng-accordian">
                        <ngb-accordion [closeOthers]="true" class="cst_ng_accordion"   [animation]="true">
                      
                          <ngb-panel class="accord_head"  id="id{{i}}" *ngFor="let faq of faq_question;let i=index;">
                            <ng-template ngbPanelTitle>
                              <span class="accordn_title" (click)="getScroll(i)">{{faq}}</span>
                            </ng-template>
                            <ng-template x ngbPanelContent>
                              <div class="text-gray-70 editorCont last-p
                              ">{{faq_answes[i]}}</div>
                            </ng-template>
                          </ngb-panel>

                        </ngb-accordion>
                      </div>


                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="ads">
           
            <div   class="insuranceBanner position-relative z_ind1" style="background-image:url({{project_path}}{{ads[0].ad_banner1}})">
  <div class="container-fluid lg-container">
    <div class="row align-items-center mngInside">
        <div class="col">
                                <div *ngIf="ads[0].align == 1" class="contWrap w-100 ">
                                    <h2 class="head font-sizeHead" data-aos="fade-up" data-aos-duration="900">{{ads[0].ad_banner1_title}}</h2>
                                    <div class="txtCont f-W-M text-gray-80">
                                        <ul class="list-unstyled mb-0">
                                            <li data-aos="fade-up" data-aos-delay="200" data-aos-duration="900" [innerHTML]="ads[0].ad_banner1_subtitle">
                                              </li>
                                          <!--   <li data-aos="fade-up" data-aos-delay="400" data-aos-duration="900">25%
                                                Multi-car Discount</li> -->
                                        </ul>
                                    </div>
                                    <div class="btnRow" data-aos="fade-up" data-aos-delay="700"
                                        data-aos-duration="900" *ngIf="ads[0].ad_banner1_button_text"><a href="{{ads[0].ad_banner1_button_url}}"
                                            class="btn cmnBtn btnBg-1 text-uppercase">{{ads[0].ad_banner1_button_text}}</a></div>
                                </div>
                                  <div *ngIf="ads[0].align == 2" class="contWrap w-100 text-right">
                                    <h2 class="head font-sizeHead" data-aos="fade-up" data-aos-duration="900">{{ads[0].ad_banner1_title}}</h2>
                                    <div class="txtCont f-W-M text-gray-80">
                                        <ul class="list-unstyled mb-0">
                                            <li data-aos="fade-up" data-aos-delay="200" data-aos-duration="900" [innerHTML]="ads[0].ad_banner1_subtitle">
                                              </li>
                                          <!--   <li data-aos="fade-up" data-aos-delay="400" data-aos-duration="900">25%
                                                Multi-car Discount</li> -->
                                        </ul>
                                    </div>
                                    <div class="btnRow" data-aos="fade-up" data-aos-delay="700"
                                        data-aos-duration="900" *ngIf="ads[0].ad_banner1_button_text"><a href="{{ads[0].ad_banner1_button_url}}"
                                            class="btn cmnBtn btnBg-1 text-uppercase">{{ads[0].ad_banner1_button_text}}</a></div>
                                </div>
                                   <div  *ngIf="ads[0].align == 3" class="contWrap w-100 text-center">
                                    <h2 class="head font-sizeHead" data-aos="fade-up" data-aos-duration="900">{{ads[0].ad_banner1_title}}</h2>
                                    <div class="txtCont f-W-M text-gray-80">
                                        <ul class="list-unstyled mb-0">
                                            <li data-aos="fade-up" data-aos-delay="200" data-aos-duration="900" [innerHTML]="ads[0].ad_banner1_subtitle">
                                              </li>
                                          <!--   <li data-aos="fade-up" data-aos-delay="400" data-aos-duration="900">25%
                                                Multi-car Discount</li> -->
                                        </ul>
                                    </div>
                                    <div class="btnRow" data-aos="fade-up" data-aos-delay="700"
                                        data-aos-duration="900" *ngIf="ads[0].ad_banner1_button_text"><a href="{{ads[0].ad_banner1_button_url}}"
                                            class="btn cmnBtn btnBg-1 text-uppercase">{{ads[0].ad_banner1_button_text}}</a></div>
                                </div>
                            </div>
    </div>
  </div>
</div>
</div>
        
    </div>

     <div class="packageSecWrap position-relative overflow-hidden">
            <div class="floatImg floatShape-1 auto_imgFloat_1 floating-Animate">
              <img class="w-100" src="assets/images/floating-img-1.png" alt="">
            </div>
            <div class="floatImg floatShape-4 auto_imgFloat_4 floating-Animate">
              <img class="w-100" src="assets/images/floating-img-4.png" alt="">
            </div>
            <div class="section-md position-relative mngSecLink">
              <div class="secLink" id="homeownersPackage"></div>
              <div class="container-fluid lg-container">
                <div class="packageWrap">
                  <h3 class="heading headSize30 text-color-3" data-aos="fade-up" data-aos-duration="900">{{productArr.home_owner_title1}}</h3>
  
                  <div class="row">
                    <div class="col-md-6">
  
                      <div class="row no-gutters">
                        <div class="col-md-10">
                          <div class="card_pckg bx_mb" data-aos="fade-up" data-aos-delay="300" data-aos-duration="900">
                            <div class="bxHead f-W-B line-H-1_3">{{productArr.home_owner_title2}}</div>
                            <div class="contText" [innerHTML]="home_owner_title3">
                             <!--  <strong>Available <span class="text-color-3">12 Month</span> Policies</strong> -->
                            </div>
                          </div>
                          <div class="card_pckg bx_mb" data-aos="fade-up" data-aos-delay="500" data-aos-duration="900" *ngIf="productArr.include_title">
                            <div class="bxHead f-W-B line-H-1_3"><span class="text-gray-70">{{productArr.include_title}}</span></div>
                            <div class="contText">
                              <ul class="list-unstyled mb-0 listSpace gray-color-1">
                                <li *ngFor="let inc of inclued" [innerHTML]="inc"></li>
                                <!-- <li><strong>40%</strong> of personal property contents</li>
                                <li><strong>10%-20% </strong> (of Dwelling Value) for Coverage of An Other Structure</li>
                                <li><strong>$25 - $500k</strong> of personal liability</li>
                                <li><strong>$10k</strong> in Medical Payments</li>
                                <li>Fire & Lightning, Riot & Civil Commotion, Aircraft, Windstorm/Hurricane/Hail*,
                                  Explosion, Damage by Vehicles, Smoke, Vandalism and Malicious Mischief,
                                  Water Damage (sudden/accidental), Falling Objects, Weight of Ice/Snow/Sleet,
                                  Breakage of Glass, Theft Money, Bank Cards, Jewelry, Watches, Fur, Business
                                  Personal Property. (with limits)</li> -->
                              </ul>
                            </div>
                            <div class="btnRow">
                              <a (click)="scroll('topsec')" class="btn cmnBtn btnBg-1 text-uppercase">{{productArr.include_button}}</a>
                            </div>
                          </div>
                        </div>
                      </div>
  
                    </div>
                    <div class="col-md-6">
                      <div class="row no-gutters">
                        <div class="col-md-10">
                          <div class="card_pckg bx_mb" data-aos="fade-up" data-aos-delay="1000" data-aos-duration="900">
                            <div class="bxHead f-W-B line-H-1_3">{{productArr.additional_coverage_title}}</div>
                            <div class="contText text-gray-80">
                              <ul class="list-unstyled mb-0 listCst listIcon">
                                <li *ngFor="let ads of additional_coverages">{{ads}}</li>
                            <!--     <li>Replacement Cost of Dwelling</li>
                                <li>Residential Glass</li>
                                <li>Dog / Animal Liability</li>
                                <li>Optional Enhanced Coverage </li> -->
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
  
                </div>
              </div>
            </div>
            <div class="section-md position-relative mngSecLink">
              <div class="secLink" id="whatsnotcovered"></div>
              <div class="container-fluid lg-container" *ngIf="productArr.what_not_covered_title">
                <div class="packageWrap">
                  <h3 class="heading headSize30 text-color-3" data-aos="fade-up" data-aos-duration="900">{{productArr.what_not_covered_title}}</h3>
  
  
                  <div class="card_pckg bx_mb" data-aos="fade-up" data-aos-delay="300" data-aos-duration="900" *ngIf="what_not_covereds">
                    <div class="contText">
                      <ul class="list-unstyled mb-0 listCst listIcon">
                        <li *ngFor="let what of what_not_covereds">{{what}}</li>
                       <!--  <li>Dwelling with relevant business on premises.</li>
                        <li>Manufactured homes, modified manufactured homes or trailers, shell homes, Do-it-yourself or
                          homemade homes</li>
                        <li>Dwelling in which the homeowner has no legal title to the land upon which it is located.</li>
                        <li>Swimming Pools without standard security or safety features.</li>
                        <li>Flat roofs</li>
                        <li>Wood burning stoves</li>
                        <li>Dwelling is on more than 10 acres</li> -->
                      </ul>
                    </div>
                    <div class="btnRow" >
                      <a (click)="scroll('topsec')"class="btn cmnBtn btnBg-1 text-uppercase">{{productArr.what_not_covered_button}}</a>
                    </div>
                  </div>
  
  
                </div>
              </div>
            </div>
            <div class="section-md position-relative mngSecLink">
              <div class="secLink" id="requirementtopurchase"></div>
              <div class="container-fluid lg-container">
                <div class="packageWrap" *ngIf="productArr.requirment_purchase_title">
                  <h3 class="heading headSize30 text-color-3" data-aos="fade-up" data-aos-duration="900">{{productArr.requirment_purchase_title1}}</h3>
  
                  <div class="card_pckg bx_mb" data-aos="fade-up" data-aos-delay="300" data-aos-duration="900">
                    <div class="contText">
                      <ul class="list-unstyled mb-0 listCst listIcon">
                        <li *ngFor="let req of requirement_purchase1">{{req}}</li>
                       <!--  <li>Heat Source Thermostatically Controlled.</li>
                        <li>Smoke detectors are required on all homes.</li>
                        <li>Homes in average or better condition showing pride of ownership.</li> -->
                      </ul>
                    </div>
                    <div class="btnRow">
                      <a (click)="scroll('topsec')" class="btn cmnBtn btnBg-1 text-uppercase">{{productArr.requirement_purchase1_button}}</a>
                    </div>
                  </div>
  
                </div>
              </div>
            </div>
          </div>

    <div class="overflow-hidden" >
        <div class="row gutter-8">
            <div class="col-12" *ngIf="productArr.ad_banner1">
                                   <div class="boxImgInfo no_Overlay mr_B bxFull" style="background-image:url({{project_path}}{{ads[1].ad_banner1}})" data-aos="fade-up" data-aos-duration="900">
    <div class="container-fluid lg-container">
        <div class="mngInside px-0 d-flex align-items-center">
            <div class="w-100 z_ind1">
                  <div *ngIf="ads[0].align == 1" class="textCont mx-w-auto text-color-white">
                     <div class="smTxt text-uppercase" data-aos="fade-up"
                                            data-aos-duration="900">{{ads[1].ad_banner1_title}}</div>
                     <div class="bxTitle  font-F-2" data-aos="fade-up"
                                            data-aos-delay="300" data-aos-duration="900" [innerHTML]="ads[1].ad_banner1_subtitle"></div>
                      <div class="btnRow" data-aos="fade-up" data-aos-delay="500"
                                            data-aos-duration="900" *ngIf="productArr.ad_banner2_button_text"><a routerLink="{{ads[1].ad_banner1_button_url}}"
                                                class="btn cmnBtn btnBg-1 text-uppercase">{{ads[1].ad_banner1_button_text}}</a></div>
                </div>
                  <div *ngIf="ads[0].align == 2" class="textCont mx-w-auto text-color-white text-right">
                     <div class="smTxt text-uppercase" data-aos="fade-up"
                                            data-aos-duration="900">{{ads[1].ad_banner1_title}}</div>
                     <div class="bxTitle  font-F-2" data-aos="fade-up"
                                            data-aos-delay="300" data-aos-duration="900" [innerHTML]="ads[1].ad_banner1_subtitle"></div>
                      <div class="btnRow" data-aos="fade-up" data-aos-delay="500"
                                            data-aos-duration="900" *ngIf="productArr.ad_banner2_button_text"><a routerLink="{{ads[1].ad_banner1_button_url}}"
                                                class="btn cmnBtn btnBg-1 text-uppercase">{{ads[1].ad_banner1_button_text}}</a></div>
                </div>
                <div *ngIf="ads[0].align == 3" class="textCont mx-w-auto text-color-white text-center">
                     <div class="smTxt text-uppercase" data-aos="fade-up"
                                            data-aos-duration="900">{{ads[1].ad_banner1_title}}</div>
                     <div class="bxTitle  font-F-2" data-aos="fade-up"
                                            data-aos-delay="300" data-aos-duration="900" [innerHTML]="ads[1].ad_banner1_subtitle"></div>
                      <div class="btnRow" data-aos="fade-up" data-aos-delay="500"
                                            data-aos-duration="900" *ngIf="productArr.ad_banner2_button_text"><a routerLink="{{ads[1].ad_banner1_button_url}}"
                                                class="btn cmnBtn btnBg-1 text-uppercase">{{ads[1].ad_banner1_button_text}}</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
            </div>
      <div *ngIf="productArr " class="w-100">
               <app-ads class="row gutter-8"></app-ads>   
               </div> 
    </div>

          <div *ngIf="productArr" >
            <app-counter-section page_url="homeowners-insurance"></app-counter-section>            
          </div>
  
        <footer class="footerWrap overflow-hidden">
          <app-footer></app-footer>
        </footer>
      </div>
    </div>
    <!-- .perspScreen -->
  </div>
  <!-- .fullPG_Wrap -->
   <app-modal-get-a-quote product="homeowner"></app-modal-get-a-quote>