<div class="fullPG_Wrap">
    <div class="perspScreen">
      <div class="pgWrapFull spcTpHeader vrLinesWrap">
        <app-header></app-header>
        <oneink-stepper></oneink-stepper>
          <div class="quotePG_wrap overflow-hidden position-relative">
            <div class="floatImg floatShape-1 quote1_imgFloat_1 floating-Animate"> <img class="w-100"
                src="assets/images/floating-img-1.png" alt=""> </div>
            <div class="floatImg floatShape-5 quote1_imgFloat_5 floating-Animate"> <img class="w-100"
                src="assets/images/floating-img-5.png" alt=""> </div>
            <div class="containerPD-L">
                <div class="container-fluid lg-container">
                    <div class="row no-gutters">
                      <div class="col-lg-10">
                        <div class="queCol_Outer pTB_quote lg-BT-scroll aos-init aos-animate" data-aos="fade-up" data-aos-duration="700">
                          <div class="secPg_head_row">
                            <div class="row gutter-10vw align-items-end">
                              <div class="col-md">
                                <div class="section-page-header brdLine-BT mb-0">
                                  <div class="ttl-tpLine gray-color-2" *ngIf="oneInkDriverForm.drivers_array$!=undefined">{{oneInkDriverForm.drivers_array$['controls']['driver']['controls'][0].get('firstName').value}} {{oneInkDriverForm.drivers_array$['controls']['driver']['controls'][0].get('lastName').value}}</div>
                                  <h1 class="headingStl-1">Here's your quote</h1>
                                </div>
                              </div>
                              <div class="col-md-auto">
                                <div class="cont-Rgt">
                                  <div class="quoteNbr f-size-18 f-W-M"><span class="text-color-3">Quote Number: </span>{{qouteId}}</div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <ul class="list-unstyled row gutter-8 align-items-end tpBtns_quote">
                            <li class="col-sm-auto lgBtnCol">
                              <div class="total_price_card lg_total_prc f-W-B">Total: <span class="lg-txt" *ngIf="currentPayPlan">  {{currentPayPlan[0]['totalPremiumAndFee'] | currency}}</span></div>
                            </li>
                            <li class="col-sm-auto col-6">
                                <button (click)="save_qoute()" class="btn btnstl-1 btnBg-3 ">
                                  Save my Quote</button>
                                   </li>
                            <li class="col-sm-auto col-6"> <button  (click)="submit()" [disabled]="!payPlanFormGroup.valid"  class="btn btnstl-1 btnBg-3 ">
                                Save & Continue</button> </li>
                          </ul>
                          <form [formGroup]="payPlanFormGroup" (ngSubmit)="submit()">
                          <div class="section-page-questions">
                            <div class="section-page-question">
                              <div class="question-wrap">
                                <div class="question-header d-flex"> <span class="question-counter"> <span class="countNbr"></span> <svg class="iconMark" width="15" height="14" viewBox="0 0 15 14" fill="none">
                                  <path d="M2 8.36364L6.23077 12L13 2"></path>
                                  </svg> </span>
                                  <div>
                                    <h3 class="question-text">Pay Plan</h3>
                                  </div>
                                </div>
                                <div class="question-content">
                                  <div class="table-responsive f-size-16 f-W-M line-H-1_4">
                                    <table class="table mb-0 gray-color-2 table-style-3 table-th-Resp">
                                      <thead>
                                        <tr>
                                          <th></th>
                                          <th class="text-md-center">Down Payment</th>
                                          <th class="text-md-center">Monthly Payments</th>
                                          <th class="text-md-center">Number of Payments</th>
                                          <th class="text-md-center">Total Premium</th>
                                          <th class="text-md-center">Premium with Fees</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr *ngFor="let plan of payPlans ;let i=index">
                                          <td class="no-Resp-head" ><label for="{{i}}pay_plan-Credit-Card-Autopay" class="check-control_Circle mb-0 text-color-black tbl-tp-mng">
                                              <input type="radio" id="{{i}}pay_plan-Credit-Card-Autopay"  [value]="plan.payPlanId + '-' + plan.autoPayStatus" name="payPlan" formControlName="payPlan"   class="inputCheck">
                                              
                                              <span class="wrapRow d-flex align-items-center"> <span class="checkIndicate"></span> <span class="labelText f-size-18 flex-fill">{{getPaymentTranslation(plan)}}</span> </span> </label></td>
                                          <td data-title="Down Payment" class="text-md-center">{{plan.paymentSchedule[0].amount | currency}}</td>
                                          <td data-title="Monthly Payments" class="text-md-center"> {{getMonthlyPaymentsFromPayPlan(plan) | currency}}</td>
                                          <td data-title="Number of Payments" class="text-md-center">{{plan.numberOfPaymentsIncludingDownpayment}}</td>
                                          <td data-title="Total Premium" class="text-md-center"> {{getTotalPremiumFromPayPlan(plan) | currency}}</td>
                                          <td data-title="Premium with Fees" class="text-md-center">{{plan.totalPremiumAndFee | currency}}</td>
                                        </tr>
                                      
                                        
                                            
                
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="section-page-question">
                              <div class="question-wrap card_accord_Quote">
                                <div class="accord_toggle collapsed" data-toggle="collapse" data-target="#quote_Details">
                                  <div class="question-header d-flex"> <span class="question-counter"> <span class="countNbr"></span> <svg class="iconMark" width="15" height="14" viewBox="0 0 15 14" fill="none">
                                    <path d="M2 8.36364L6.23077 12L13 2"></path>
                                    </svg> </span>
                                    <div>
                                      <h3 class="question-text">Details</h3>
                                    </div>
                                  </div>
                                </div>
                                <div id="quote_Details" class="collapse">
                                  <div class="card-body">
                                    <div class="question-content">
                                      <div class="table-responsive f-size-16 f-W-M line-H-1_4">
                                        <table class="table mb-0 gray-color-2 table-style-3 table-no-brd table-th-Resp">
                                          <thead>
                                            <tr>
                                              <th>Quote Number</th>
                                              <th>Quote Type</th>
                                              <th>Effective Date</th>
                                              <th>Expiration Date</th>
                                              <th>Policy Documents</th>
                                              <th>Created</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr *ngFor="let qoute of qoute">
                                              <td data-title="Quote Number"> {{qoute['quoteId']}}</td>
                                              <td data-title="Quote Type">{{qoute['type']}}</td>
                                              <td data-title="Effective Date">{{qoute['effectiveDate'] | date:'MM/dd/yyyy'}}</td>
                                              <td data-title="Expiration Date">{{qoute['expirationDate'] | date:'MM/dd/yyyy'}}</td>
                                              <td data-title="Policy Documents">{{qoute['edoc']}}</td>
                                              <td data-title="Created">{{qoute['today'] | date:'MM/dd/yyyy'}}</td>
                                            </tr>
                                          
                                          </tbody>
                                        </table>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="section-page-question">
                              <div class="question-wrap card_accord_Quote">
                                <div class="accord_toggle collapsed" data-toggle="collapse" data-target="#quote_Drivers">
                                  <div class="question-header d-flex"> <span class="question-counter"> <span class="countNbr"></span> <svg class="iconMark" width="15" height="14" viewBox="0 0 15 14" fill="none">
                                    <path d="M2 8.36364L6.23077 12L13 2"></path>
                                    </svg> </span>
                                    <div>
                                      <h3 class="question-text">Drivers</h3>
                                    </div>
                                  </div>
                                </div>
                                <div id="quote_Drivers" class="collapse">
                                  <div class="card-body">
                                    <div class="question-content">
                                      <div class="table-responsive f-size-16 f-W-M line-H-1_4">
                                        <table class="table mb-0 gray-color-2 table-style-3 table-th-Resp">
                                          <thead>
                                            <tr>
                                              <th>Name</th>
                                              <th>DOB</th>
                                              <th>Age</th>
                                              <th>Gender</th>
                                              <th>Marital Status</th>
                                              <th>Relationship</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr *ngFor="let driver of drivers">
                                              <td data-title="Name">{{driver['person']['firstName']}} {{driver['person']['lastName']}}</td>
                                              <td data-title="DOB">{{driver['person']['dateOfBirth'] | date:'shortDate'}}</td>
                                              <td data-title="Age">{{CalculateAge(driver['person']['dateOfBirth'])}}</td>
                                              <td data-title="Gender">{{driver['person']['gender']}}</td>
                                              <td data-title="Marital Status">{{driver['person']['family']['maritalStatus']}}</td>
                                              <td data-title="Relationship">{{driver['person']['family']['relationToApplicant']}}</td>
                                            </tr>
                                            
                                          </tbody>
                                        </table>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="section-page-question">
                              <div class="question-wrap card_accord_Quote">
                                <div class="accord_toggle collapsed" data-toggle="collapse" data-target="#quote_Vehicle">
                                  <div class="question-header d-flex"> <span class="question-counter"> <span class="countNbr"></span> <svg class="iconMark" width="15" height="14" viewBox="0 0 15 14" fill="none">
                                    <path d="M2 8.36364L6.23077 12L13 2"></path>
                                    </svg> </span>
                                    <div>
                                      <h3 class="question-text">Vehicles</h3>
                                    </div>
                                  </div>
                                </div>
                                <div id="quote_Vehicle" class="collapse">
                                  <div class="card-body">
                                    <div class="question-content">
                                      <div class="table-responsive f-size-16 f-W-M line-H-1_4">
                                        <table class="table mb-0 gray-color-2 table-style-3 table-th-Resp">
                                          <thead>
                                            <tr>
                                              <th>Year</th>
                                              <th>Make</th>
                                              <th>Model</th>
                                              <th>VIN</th>
                                              <th class="td-wdt-zip">Zip</th>
                                              <th>Use</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr  *ngFor="let vehicle of vehicles">
                                              <td data-title="Year">{{vehicle['vehicleIdentification']['year']}}</td>
                                              <td data-title="Make">{{vehicle['vehicleIdentification']['make']}}</td>
                                              <td data-title="Model">{{vehicle['vehicleIdentification']['model']}}</td>
                                              <td data-title="VIN">{{vehicle['vehicleIdentification']['vin']}}</td>
                                              <td data-title="Zip"></td>
                                              <td data-title="Use">{{vehicle['vehicleIdentification']['bodyStyle']}}</td>
                                            </tr>
                                            
                                          </tbody>
                                        </table>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="section-page-question">
                              <div class="question-wrap card_accord_Quote">
                                <div class="accord_toggle collapsed" data-toggle="collapse" data-target="#quote_Coverages" aria-expanded="false">
                                  <div class="question-header d-flex"> <span class="question-counter"> <span class="countNbr"></span> <svg class="iconMark" width="15" height="14" viewBox="0 0 15 14" fill="none">
                                    <path d="M2 8.36364L6.23077 12L13 2"></path>
                                    </svg> </span>
                                    <div>
                                      <h3 class="question-text">Coverages</h3>
                                    </div>
                                  </div>
                                </div>
                                <div id="quote_Coverages" class="collapse" style="">
                                  <div class="card-body">
                                    <div class="question-content">
                                      <div class="table-responsive f-size-16 f-W-M line-H-1_4 mb__40">
                                        <table class="table mb-0 gray-color-2 table-style-3 table-th-Resp">
                                          <thead>
                                            <tr>
                                              <th>Name</th>
                                              <th>Limit</th>
                                              <th>Options</th>
                                              <th>Vehicles</th>
                                            </tr>
                                          </thead>
                                          <tbody *ngIf="coveragesView.length>0">
                                            <tr *ngFor="let coverage of coveragesView">
                                              <td data-title="Name">{{coverage.titleTranslation}}</td>
                                              <td data-title="Limit" *ngIf="coverage.coverage"> {{
                                                getValueFromCoverageId(
                                                  coverage.coverage.coverageLimitOptionId
                                                ) 
                                              }}</td>
                                              <td data-title="Limit" *ngIf="!coverage.coverage"> {{
                                                coverage.coverageSelected
                                              }}</td>
                                              <td data-title="Options"></td>
                                              <td data-title="Vehicles">{{coverage && coverage['coverage'] ? (coverage.coverage.premiumAmount | currency) : undefined}}</td>
                                             
                                            </tr>
                                            <!-- <tr>
                                              <td data-title="Name">Personal Injury Protection</td>
                                              <td data-title="Limit">$0 ded.</td>
                                              <td data-title="Options"></td>
                                              <td data-title="Vehicles">$837.00</td>
                                            </tr>
                                            <tr>
                                              <td data-title="Name">Roadside Membership</td>
                                              <td data-title="Limit">Enrolled</td>
                                              <td data-title="Options"></td>
                                              <td data-title="Vehicles">$502.00</td>
                                            </tr>
                                            <tr>
                                              <td data-title="Name">NSD Travel Club</td>
                                              <td data-title="Limit">No Coverage</td>
                                              <td data-title="Options"></td>
                                              <td data-title="Vehicles"></td>
                                            </tr>
                                            <tr>
                                              <td data-title="Name">Comprehensive</td>
                                              <td data-title="Limit">250</td>
                                              <td data-title="Options"></td>
                                              <td data-title="Vehicles">$373.00</td>
                                            </tr>
                                            <tr>
                                              <td data-title="Name">Collision</td>
                                              <td data-title="Limit">250</td>
                                              <td data-title="Options"></td>
                                              <td data-title="Vehicles">$981.00</td>
                                            </tr> -->
                                          </tbody>
                                        </table>
                                      </div>
                                      <div class="subtotal-Row">
                                        <div class="row no-gutters justify-content-end">
                                          <div class="col-lg-5 col-md-6">
                                            <div class="total_price_card f-W-B">Subtotal Vehicle Premium {{subtotalVehiclePremium | currency}}</div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="section-page-question">
                              <div class="question-wrap card_accord_Quote">
                                <div class="accord_toggle collapsed" data-toggle="collapse" data-target="#quote_Discounts" aria-expanded="false">
                                  <div class="question-header d-flex"> <span class="question-counter"> <span class="countNbr"></span> <svg class="iconMark" width="15" height="14" viewBox="0 0 15 14" fill="none">
                                    <path d="M2 8.36364L6.23077 12L13 2"></path>
                                    </svg> </span>
                                    <div>
                                      <h3 class="question-text">Discounts</h3>
                                    </div>
                                  </div>
                                </div>
                                <div id="quote_Discounts" class="collapse" style="">
                                  <div class="card-body">
                                    <div class="question-content">
                                      <div class="table-responsive f-size-16 f-W-M line-H-1_4">
                                        <table class="table mb-0 gray-color-2 table-style-3 table-th-Resp tbl-wdt-discount">
                                          <thead>
                                            <tr>
                                              <th>Policy</th>
                                              <th>Driver</th>
                                              <th>Vehicle</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                              <td data-title="Policy">
                                                <span *ngFor="let policyDiscount of policyDiscounts; last as lastIndex">
                                                  {{policyDiscount.name + (lastIndex ? '' : ' /')}}
                                                </span>
                                              </td>
                                              <td data-title="Driver">
                                                <span *ngFor="let driverDiscount of driverDiscounts; last as lastIndex">
                                                  {{driverDiscount.name + (lastIndex ? '' : ' /')}}
                                                </span>
                                              </td>
                                              <td data-title="Vehicle">
                                                <span *ngFor="let vehicleDiscount of vehicleDiscounts; last as lastIndex">
                                                  {{vehicleDiscount.name + (lastIndex ? '' : ' /')}}
                                                </span>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="section-page-question" *ngFor="let currentplan of currentPayPlan">
                              <div class="question-wrap">
                                <div class="question-header d-flex"> <span class="question-counter"> <span class="countNbr"></span> <svg class="iconMark" width="15" height="14" viewBox="0 0 15 14" fill="none">
                                  <path d="M2 8.36364L6.23077 12L13 2"></path>
                                  </svg> </span>
                                  <div>
                                    <h3 class="question-text">Total</h3>
                                  </div>
                                </div>
                                <div class="question-content">
                                  <div class="quoteTotal_wrap">
                                    <div class="totalDetails_wrap f-W-M line-H-1_4 gray-color-2 f-size-18">
                                      <div class="row gutter-15vw justify-content-between">
                                        <div class="col-md-5">
                                          <div class="row totalRow">
                                            <div class="col">Total Premium:</div>
                                            <div class="col-auto">
                                              <div class="amnt_wrap"> {{getTotalPremiumFromPayPlan(currentplan) | currency}}</div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-md-5" *ngFor="let fee of currentplan['fees']">
                                          <div class="row totalRow">
                                            <div class="col">{{fee['feeName']}}:</div>
                                            <div class="col-auto">
                                              <div class="amnt_wrap">{{fee['amount']  | currency}}</div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="total-amt-Row">
                                      <div class="row no-gutters justify-content-end">
                                        <div class="col-lg-5 col-md-6">
                                          <div class="total_price_card bg-1 f-W-B">Total:  {{currentplan['totalPremiumAndFee'] | currency}}</div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="navigation-buttons">
                            <ul class="list-inline mb-0 text-right btnsList_form clearfix">
                              <li class="list-inline-item float-left"> <button routerLink="/one-ink/03" class="btn btnstl-1 btnBg-3 ">
                                Go Back</button> </li>
                              <li class="list-inline-item float-right"> <button  type="submit" [disabled]="!payPlanFormGroup.valid"  class="btn btnstl-1 btnBg-3 ">
                                Save & Continue</button> </li>
                            </ul>
                          </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
        <app-footer-quote></app-footer-quote>
      </div>
    </div> <!-- .perspScreen -->
  </div> <!-- .fullPG_Wrap -->
  

 