<app-pre-loader *ngIf="loading"></app-pre-loader>
<div class="fullPG_Wrap">
  <div class="perspScreen">
    <div class="pgWrapFull spcTpHeader vrLinesWrap">
      <app-header></app-header>
      <app-beyontec-breadcrum></app-beyontec-breadcrum>
      <div class="quotePG_wrap overflow-hidden position-relative">
        <div class="containerPD-L">
          <div class="row no-gutters">
            <div class="col-md">
              <div class="formScreen_Hgt spcMng_mp">
                <div class="queCol_Outer pTB_quote lg-BT-scroll" data-aos="fade-up" data-aos-duration="700">
                  <div class="section-page-header">
                    <h1 class="headingStl-1">Exclusions</h1>
                  </div>

                  <form *ngIf="BeyontecFormService.drivers_array$" [formGroup]="BeyontecFormService.drivers_array$">
                    <ul class="list-inline listQuote-Info">
                      <li class="list-inline-item">
                        <div class="quoteInfo_item">
                          <div class="txt-head line-H-1_3 f-W-B">Quote For:</div>
                          <div class="txtWrap f-size-18 line-H-1_3 gray-color-2">{{quoteFor | titlecase}}</div>
                        </div>
                      </li>
                      <li class="list-inline-item">
                        <div class="quoteInfo_item">
                          <div class="txt-head line-H-1_3 f-W-B">Quote Number:</div>
                          <div class="txtWrap f-size-18 line-H-1_3 gray-color-2">{{productQuoteId}}</div>
                        </div>
                      </li>
                    </ul>
                    <div class="infoCard_wrap_cmn mb">
                      <div class="bx-head line-H-1_3 f-W-B">515B Exclusion of Drivers on My Policy</div>
                      <div class="cardInfo_Bx_cmn f-size-18 gray-color-2">
                        <div class="editorCont line-H-1_8 last-p">
                          <p>Every household member(s) over the age of twelve, licensed or not, including those away at
                            school or military, any applicable family members, and all regular operator(s) of any listed
                            vehicle(s). Any disclosed person/operator must be included or excluded from the policy.</p>
                        </div>
                      </div>
                    </div>
                    <div class="section-page-questions">
                      <div class="section-page-question">
                        <div class="question-wrap">
                          <div class="question-header d-flex"> <span class="question-counter complete"> <span
                                class="countNbr"></span> <svg class="iconMark" width="15" height="14"
                                viewBox="0 0 15 14" fill="none">
                                <path d="M2 8.36364L6.23077 12L13 2"></path>
                              </svg> </span>
                            <div>
                              <h3 class="question-text">The following drivers were found as possible household members:
                              </h3>
                            </div>
                          </div>
                          <div class="question-content">
                            <div class="queInside-space" formArrayName="driver"
                              *ngFor="let row of BeyontecFormService.drivers_array$.get('driver').controls ; let index=index">
                              <div class="row no-gutters" [formGroupName]="index">
                                <div class="col-lg-6 col-md-7" *ngIf="!row.get('driver_include').value">


                                  <div class="form-group mb_form-group">
                                    <div class="cstBlockwrap">
                                      <!-- <label for="household_members-{{index}}"
                                        class="custom-control custom-block custom-radio mb-0"> -->
                                      <!-- <input id="household_members-{{index}}"  type="radio"
                                          class="custom-control-input form-check-input" formControlName="driver_include" disabled> -->
                                      <span class="custom-control-label-wrap align-items-center"><span
                                          class="custom-control-indicator"></span> <span
                                          class="indicator-label d-flex align-items-center">
                                          <span class="flex-fill">{{row.get('firstName').value }}
                                            {{row.get('middleName').value }} {{row.get('lastName').value }}</span>
                                          <span class="fld-Cta">
                                            <a class="btn ctaBtn-1" href="#" data-toggle="modal"
                                              data-target="#modal-Edit-Member"><span class="mngIn"
                                                (click)="edit_driver(index)"><i
                                                  class="fa fa-pencil-square-o"></i></span></a>
                                          </span>
                                        </span> </span>
                                      <!-- </label> -->
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- <div class="form-group mb_form-group">
                                    <div class="cstBlockwrap">
                                      <label for="household_members-2"
                                        class="custom-control custom-block custom-radio mb-0">
                                        <input id="household_members-2" name="household_members" type="radio"
                                          class="custom-control-input form-check-input" disabled>
                                        <span class="custom-control-label-wrap align-items-center"><span
                                            class="custom-control-indicator"></span> <span
                                            class="indicator-label d-flex align-items-center">
                                            <span class="flex-fill">ANDREW DRUMMOND</span>
                                            <span class="fld-Cta">
                                              <a class="btn ctaBtn-1" href="#" data-toggle="modal"
                                                data-target="#modal-add-Edit-Member"><span class="mngIn"><i
                                                    class="fa fa-pencil-square-o"></i></span></a>

                                            </span>
                                          </span> </span> </label>
                                    </div>
                                  </div>
                                  <div class="form-group mb_form-group">
                                    <div class="cstBlockwrap">
                                      <label for="household_members-3"
                                        class="custom-control custom-block custom-radio mb-0">
                                        <input id="household_members-3" name="household_members" type="radio"
                                          class="custom-control-input form-check-input" disabled>
                                        <span class="custom-control-label-wrap align-items-center"><span
                                            class="custom-control-indicator"></span> <span
                                            class="indicator-label d-flex align-items-center">
                                            <span class="flex-fill">PETRA MEEDT</span>
                                            <span class="fld-Cta">
                                              <a class="btn ctaBtn-1" href="#" data-toggle="modal"
                                                data-target="#modal-add-Edit-Member"><span class="mngIn"><i
                                                    class="fa fa-pencil-square-o"></i></span></a>

                                            </span>
                                          </span> </span> </label>
                                    </div>
                                  </div>
                                  <div class="form-group mb_form-group">
                                    <div class="cstBlockwrap">
                                      <label for="household_members-3"
                                        class="custom-control custom-block custom-radio mb-0">
                                        <input id="household_members-3" name="household_members" type="radio"
                                          class="custom-control-input form-check-input" disabled>
                                        <span class="custom-control-label-wrap align-items-center"><span
                                            class="custom-control-indicator"></span> <span
                                            class="indicator-label d-flex align-items-center">
                                            <span class="flex-fill">KELVYN RAMOS PEREZ</span>
                                            <span class="fld-Cta">
                                              <a class="btn ctaBtn-1" href="#" data-toggle="modal"
                                                data-target="#modal-add-Edit-Member"><span class="mngIn"><i
                                                    class="fa fa-pencil-square-o"></i></span></a>

                                            </span>
                                          </span> </span> </label>
                                    </div>
                                  </div> -->

                            <div class="queInside-space">
                              <div class="row no-gutters">
                                <div class="col-lg-6 col-md-7">
                                  <div class="form-group mb_form-group">
                                    <a class="f-size-18 f-W-M textUnderline" href="#" data-toggle="modal"
                                      data-target="#modal-add-Member" (change)="add_driver()">Add More Exclusions of
                                      People Living in My
                                      Home</a>
                                  </div>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="section-page-question">
                        <div class="question-wrap">
                          <div class="queInside-space">
                            <div class="agreeCheckBx gray-color-2">

                              <label class="agree_checkbox mb-0">
                                <input type="checkbox" class="check-input" [(ngModel)]="certify"
                                  [ngModelOptions]="{standalone: true}">
                                <span class="label_check_wrap d-sm-flex align-items-center"><span
                                    class="checkBtn text-uppercase"><span class="txtWrp">I certify</span></span> <span
                                    class="labelTxt flex-fill line-H-1_3">that all persons in my household over the age
                                    of 12 are either listed as a driver on this policy or are shown above as an excluded
                                    person</span> </span> </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="navigation-buttons">
                      <ul class="list-inline mb-0 text-right btnsList_form">
                        <li class="list-inline-item">
                          <!-- <a class="btn btnstl-1 btnBg-3">Save &amp; Continue</a> -->

                          <button class="f-size-18" id="openModalButtonSomethingWrong" [hidden]="true"
                            data-toggle="modal" data-target="#modal-Error_something_wrong">Show Error Modal</button>

                          <button class="f-size-18" id="openModalAddSpouse" [hidden]="true" data-toggle="modal"
                            data-target="#modal-add-spouse">Show Error Modal</button>


                            <button id="openModalstateError" [hidden]="true"
                            data-toggle="modal"
                            data-target="#modal-Error_driver_state_license">Open
                            Modal</button>

                          <button type="button" class="btn btnstl-1 btnBg-3" [disabled]="!certify"
                            (click)="onSubmitFinal()">Save & Continue</button>

                        </li>
                      </ul>
                    </div>
                  </form>

                  <div class="beyontecQuote_Bx callAgent_Card mt-lg">
                    <div class="mngIn_wrap d-flex align-items-center">
                      <div class="w-100">
                        <div class="row gutter-10vw align-items-center">
                          <div class="col-md-7">
                            <div class="callAgent_cont d-md-flex">
                              <div class="iconWrap"><img src="assets/images/call-agent-icon.png" alt="" /></div>
                              <div class="infoWrap line-H-1_4 text-center text-md-left flex-fill align-self-end">
                                <div class="heading text-color-3 f-W-B">Speak with an expert</div>
                                <div class="txt-summary gray-color-2 f-size-16">Connect with a licensed insurance
                                  agent to find more discounts, answer your questions, or purchase a policy.</div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-5">
                            <div class="nbrWrap text-center text-md-right">
                              <a href="tel:1-(979)-243-6677" class="btn callAgent-nbr text-color-3"><img class="icon"
                                  src="assets/images/icon-call-phone.svg" alt="" />1-(979) 243-6677</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <beyontec-sidebar></beyontec-sidebar>
          </div>
        </div>
      </div>

      <app-footer-quote></app-footer-quote>
    </div>
  </div>
  <!-- .perspScreen -->
</div>
<!-- .fullPG_Wrap -->


<!-- Modal Add & Edit Household members -->
<div class="modal fade modalCst" id="modal-Edit-Member">
  <div class="modal-dialog modal-dialog-centered modal-cst-sm">
    <div class="modal-content modalGetQuote">
      <button type="button" class="close btnClose" data-dismiss="modal"><span>×</span></button>
      <div class="modal-body">
        <form [formGroup]="form_household">
          <div class="formModal_wrapp">
            <h4 class="head-ttl">Add Excluded Driver Who Lives in My Household</h4>
            <div class="section-page-question">
              <div class="question-wrap">
                <div class="question-header">
                  <h3 class="question-text f-size-20 gray-color-2 f-W-M mb-0">Below is a person living in my house that
                    should not be included in my Pronto policy</h3>
                </div>
                <div class="question-content">
                  <div class="form-group mb_form-group">
                    <div class="field_md">
                      <input class="form-control cmnField"
                        [ngClass]="{'ffl-floated-force' : form_household.get('firstName').value != ''}"
                        formControlName="firstName">
                      <!-- Toggle "has-error has-error-icon" this 2 class for Error -->
                      <label class="primary-label">First Name</label>
                      <div class="invalid-fld-feedback">Please enter a valid First Name</div>
                    </div>
                  </div>
                  <div class="form-group mb_form-group">
                    <div class="field_md">
                      <input class="form-control cmnField"
                        [ngClass]="{'ffl-floated-force' : form_household.get('lastName').value != ''}" formControlName="lastName">
                      <!-- Toggle "has-error has-error-icon" this 2 class for Error -->
                      <label class="primary-label">Last Name</label>
                      <div class="invalid-fld-feedback">Please enter a valid Last Name</div>
                    </div>
                  </div>
                
                  <div class="form-group mb_form-group">
                    <div class="field_md fld-icon-Date field_labelTP datepickerParent">
                      <input class="form-control cmnField datepicker_fld" formControlName="dob"
                      placeholder="MM/DD/YYYY" 
                      (focusout)="getDriverDetailbyDOB($event)"
                      [readonly]="isReadOnlydob" DobValidation type="text" maxlength="10"
                      [ngClass]="{'pointer-none': isReadOnlydob, 'ffl-floated-force' : form_household.get('dob').value}">

                        <input type="text"
                        class="form-control datepickerModel"
                        #dp="bsDatepicker"
                        bsDatepicker
                        [bsConfig]="bsConfig"
                        DobValidation 
                        maxlength="10"
                        [maxDate]="maxDate"
                        [minDate]="minDate"
                        [(ngModel)]="datepickerModel"
                        (bsValueChange)="getdateHousehold($event)"
                        [ngModelOptions]="{standalone: true}"
                      >

                      <!-- Toggle "has-error" this class for Error -->
                      <label class="primary-label label-Tp">Date of Birth</label>
                      <div class="fldIcon"><img src="./assets/images/icon-calendar.png" alt="" (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen"></div>
                    </div>
                  </div>

                  <div class="form-group mb_form-group">
                    <div class="selectNG_dropdown">
                      <ng-select class="custom_ngSelect" [items]="isMarried_dropdown1" bindLabel="value"
                        bindValue="key" placeholder="Select item" formControlName="isMarried">
                        <!-- <ng-template ng-label-tmp let-item="item"> {{item.relation}} </ng-template> -->
                      </ng-select>
                      <label class="selectLabel">Marital Status</label>
                      <svg class="arrowIcon" xmlns="http://www.w3.org/2000/svg" width="11.67" height="6.04"
                        viewBox="0 0 11.67 6.04">
                        <polygon points="5.89 6.04 0 0.74 0.67 0 5.88 4.69 11 0 11.67 0.74 5.89 6.04" fill="#fff">
                        </polygon>
                      </svg>
                    </div>
                  </div>

                  <div class="form-group mb_form-group">
                    <div class="selectNG_dropdown">
                      <ng-select class="custom_ngSelect" [items]="relationship_dropdown" bindLabel="value"
                        bindValue="key" placeholder="Select item" formControlName="relationship">
                        <!-- <ng-template ng-label-tmp let-item="item"> {{item.relation}} </ng-template> -->
                      </ng-select>
                      <label class="selectLabel">Relationship to Insured</label>
                      <svg class="arrowIcon" xmlns="http://www.w3.org/2000/svg" width="11.67" height="6.04"
                        viewBox="0 0 11.67 6.04">
                        <polygon points="5.89 6.04 0 0.74 0.67 0 5.88 4.69 11 0 11.67 0.74 5.89 6.04" fill="#fff">
                        </polygon>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <ul class="list-inline mb-0 text-center btnsList_form">
              <li class="list-inline-item">
                <!-- <a href="#" class="btn btnstl-1 btnBg-3">Save &amp; Continue</a>  -->
                <button type="button" class="btn btnstl-1 btnBg-3" (click)="onSubmitForm(form_household.value)"
                  data-dismiss="modal">Save & Continue</button>
              </li>
            </ul>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
<!-- Modal Add & Edit Household members -->


<div class="modal fade modalCst" id="modal-add-Member">
  <div class="modal-dialog modal-dialog-centered modal-cst-sm">
    <div class="modal-content modalGetQuote">
      <button type="button" class="close btnClose" data-dismiss="modal"><span>×</span></button>
      <div class="modal-body">
        <form [formGroup]="form">
          <div class="formModal_wrapp">
            <h4 class="head-ttl">Add Excluded Driver Who Lives in My Household</h4>
            <div class="section-page-question">
              <div class="question-wrap">
                <div class="question-header">
                  <h3 class="question-text f-size-20 gray-color-2 f-W-M mb-0">Below is a person living in my house that
                    should not be included in my Pronto policy</h3>
                </div>
                <div class="question-content">
                  <div class="form-group mb_form-group">
                    <div class="field_md">
                      <input class="form-control cmnField"
                        [ngClass]="{'ffl-floated-force' : form.get('firstName').value != ''}"
                        formControlName="firstName">
                      <!-- Toggle "has-error has-error-icon" this 2 class for Error -->
                      <label class="primary-label">First Name</label>
                      <div class="invalid-fld-feedback">Please enter a valid First Name</div>
                    </div>
                  </div>
                  <div class="form-group mb_form-group">
                    <div class="field_md">
                      <input class="form-control cmnField"
                        [ngClass]="{'ffl-floated-force' : form.get('lastName').value != ''}" formControlName="lastName">
                      <!-- Toggle "has-error has-error-icon" this 2 class for Error -->
                      <label class="primary-label">Last Name</label>
                      <div class="invalid-fld-feedback">Please enter a valid Last Name</div>
                    </div>
                  </div>
                  
                  <div class="form-group mb_form-group">
                    <div class="field_md fld-icon-Date field_labelTP datepickerParent ">
                      <input class="form-control cmnField datepicker_fld" formControlName="dob"
                        placeholder="MM/DD/YYYY" 
                        (focusout)="getDriverDetailbyDOB($event)"
                        [readonly]="isReadOnlydob" DobValidation type="text" maxlength="10"
                        >
                
                        <input type="text"
                        class="form-control datepickerModel"
                        #dp1="bsDatepicker"
                        bsDatepicker
                        [bsConfig]="bsConfig"
                        DobValidation 
                        maxlength="10"
                        [maxDate]="maxDate"
                        [minDate]="minDate"
                        [(ngModel)]="datepickerModel1"
                        (bsValueChange)="getdate($event)"
                        [ngModelOptions]="{standalone: true}"
                        [ngClass]="{'ffl-floated-force1' : form.get('dob').value}"
                      >
                
                      <!-- Toggle "has-error" this class for Error -->
                      <label class="primary-label label-Tp">Date of Birth</label>
                      <div class="fldIcon"><img src="./assets/images/icon-calendar.png" alt="" (click)="dp1.toggle()" [attr.aria-expanded]="dp1.isOpen"></div>
                    </div>
                  </div>

                  <div class="form-group mb_form-group">
                    <div class="selectNG_dropdown">
                      <ng-select class="custom_ngSelect" [items]="isMarried_dropdown1" bindLabel="value"
                        bindValue="key" placeholder="Select item" formControlName="isMarried">
                        <!-- <ng-template ng-label-tmp let-item="item"> {{item.relation}} </ng-template> -->
                      </ng-select>
                      <label class="selectLabel">Marital Status</label>
                      <svg class="arrowIcon" xmlns="http://www.w3.org/2000/svg" width="11.67" height="6.04"
                        viewBox="0 0 11.67 6.04">
                        <polygon points="5.89 6.04 0 0.74 0.67 0 5.88 4.69 11 0 11.67 0.74 5.89 6.04" fill="#fff">
                        </polygon>
                      </svg>
                    </div>
                  </div>

                  <div class="form-group mb_form-group">
                    <div class="selectNG_dropdown">
                      <ng-select class="custom_ngSelect" [items]="relationship_dropdown" bindLabel="value"
                        bindValue="key" placeholder="Select" formControlName="relationship">
                        <!-- <ng-template ng-label-tmp let-item="item"> {{item.relation}} </ng-template> -->
                      </ng-select>
                      <label class="selectLabel">Relationship to Insured</label>
                      <svg class="arrowIcon" xmlns="http://www.w3.org/2000/svg" width="11.67" height="6.04"
                        viewBox="0 0 11.67 6.04">
                        <polygon points="5.89 6.04 0 0.74 0.67 0 5.88 4.69 11 0 11.67 0.74 5.89 6.04" fill="#fff">
                        </polygon>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <ul class="list-inline mb-0 text-center btnsList_form">
              <li class="list-inline-item">
                <!-- <a href="#" class="btn btnstl-1 btnBg-3">Save &amp; Continue</a>  -->
                <button type="button" class="btn btnstl-1 btnBg-3" (click)="onSubmitFormNew(form.value)"
                  data-dismiss="modal">Save & Continue</button>
              </li>
            </ul>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
<!-- Modal Add & Edit Household members -->


<!-- Modal Error something wrong -->
<div class="modal fade modalCst" id="modal-Error_something_wrong">
  <div class="modal-dialog modal-dialog-centered modal-cst-sm">
    <div class="modal-content modalGetQuote">
      <button type="button" class="close btnClose" data-dismiss="modal"><span>×</span></button>
      <div class="modal-body pb-lg">
        <div class="row no-gutters justify-content-center">
          <div class="col-lg-10">
            <div class="infoModalWrap text-center">
              <div class="txt-summary last-p line-H-1_3">
                <p class="text-color-3 txt-Md"><strong>Something went wrong</strong></p>
                <p class="gray-color-2 f-size-18">We apologize but we can not provide you insurance at this time. Please
                  call 1-(888)388-6523 to get further detail</p>
              </div>
              <div class="btnsWrapp mx-width">
                <ul class="list-unstyled  btnListing mb-0">
                  <li>
                    <a class="btn cmnBtn btnBg-2 sm-sz text-uppercase btn-block" data-dismiss="modal"
                      (click)="goToFaq()">Continue</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- Modal Error something wrong -->



<!-- Modal Add Spouse -->
<div class="modal fade modalCst" id="modal-add-spouse">
  <div class="modal-dialog modal-dialog-centered modal-cst-sm">
    <div class="modal-content modalGetQuote">
      <button type="button" class="close btnClose" id="btnClose" data-dismiss="modal"><span>×</span></button>
      <div class="modal-body pb-lg">

        <div class="formModal_wrapp">
          <h4 class="head-ttl">Add {{selectedDriverName | titlecase}} Spouse</h4>

<!-- {{include_count}} =- {{exclude_count}} -->
          <div class="section-page-question" *ngIf="all_count > 0">
            <div class="question-wrap">

              <div class="question-content">

                <div class="form-group mb_form-group">
                  <label class="simple_Label d-block f-W-M gray-color-2 f-size-18">Select YES to manually add spouse, NO to
                    select from existing drivers</label>
      
                  <div class="row gutterField-8">
                    <div class="col-lg-3 col-sm-4 col-5">
                      <div class="form-group mb_form-group mb-0">
                        <label for="spouse_add-Yes" class="check-control_Circle mb-0">
                          <input id="spouse_add-Yes" [(ngModel)]="manuallyAdd" name="spouse_add"
                            [ngModelOptions]="{standalone: true}" value="yes" type="radio" class="inputCheck">
                          <span class="wrapRow d-flex align-items-center"> <span class="checkIndicate"></span> <span
                              class="labelText f-size-18 flex-fill">Yes</span> </span> </label>
                      </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-5">
                      <div class="form-group mb_form-group mb-0">
                        <label for="spouse_add-No" class="check-control_Circle mb-0">
                          <input id="spouse_add-No" type="radio" name="spouse_add" [(ngModel)]="manuallyAdd" name="spouse_add"
                            [ngModelOptions]="{standalone: true}" value="no" class="inputCheck">
                          <span class="wrapRow d-flex align-items-center"> <span class="checkIndicate"></span> <span
                              class="labelText f-size-18 flex-fill">No</span> </span> </label>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>

          <div class="section-page-question" *ngIf="manuallyAdd == 'yes' || all_count < 1">
            <form [formGroup]="form_include">
              <div class="question-wrap">
                <div class="question-content">

                  <div>
                    <div class="form-group mb_form-group">
                      <label class="simple_Label d-block f-W-M gray-color-2 f-size-18">Driver included on policy?</label>

                      <div class="row gutterField-8">
                        <div class="col-lg-3 col-sm-4 col-5">
                          <div class="form-group mb_form-group mb-0">
                            <label for="driver_includer_policy-Yes" class="check-control_Circle mb-0" [ngClass]="{'disabled-control' : isdisabledcontrol}">
                              <input id="driver_includer_policy-Yes" type="radio"
                                class="inputCheck" (change)="handleSelectedContinue($event)"
                                formControlName="driver_include" [value]="true">
                              <span class="wrapRow d-flex align-items-center"> <span class="checkIndicate"></span> <span
                                  class="labelText f-size-18 flex-fill">Yes</span> </span> </label>
                          </div>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-5">
                          <div class="form-group mb_form-group mb-0">
                            <div class="cstBlockwrap">
                              <label for="driver_includer_policy-No" class="check-control_Circle mb-0" [ngClass]="{'disabled-control' : isdisabledcontrol}">
                                <input id="driver_includer_policy-No" type="radio"
                                  class="inputCheck" (change)="handleSelectedContinue($event)"
                                  formControlName="driver_include" [value]="false" >
                                <span class="wrapRow d-flex align-items-center"> <span class="checkIndicate"></span> <span
                                    class="labelText f-size-18 flex-fill">No</span> </span> </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- If select Yes "Driver included on policy" -->
                    <div class="form-group mb_form-group" *ngIf="excludeonpolicy">
                      <div class="field_md">
                        <input class="form-control cmnField"
                        (focusout)="getDriverDetailbyDL($event)"
                        id="inputBoxlicenseNum"
                        [readonly]="isReadOnlydln"
                        formControlName="licenseNum"
                        [ngClass]="{'pointer-none': isReadOnlydln, 'ffl-floated-force' : form_include.get('licenseNum').value}"
                        #inputBoxlicenseNum numbersOnly>
                        <!-- Toggle "has-error has-error-icon" this 2 class for Error -->
                        <label class="primary-label label-Tp">License Number</label>
                        <div class="invalid-fld-feedback">Please enter a valid License Number</div>
                      </div>
                    </div>
                    <!-- End If select Yes -->


                    <div class="form-group mb_form-group">
                      <div class="field_md fld-icon-Date field_labelTP datepickerParent datepop">
                            <input
                              class="form-control cmnField datepicker_fld"
                              formControlName="dob"
                              placeholder="MM/DD/YYYY"
                              (focusout)="getDriverDetailbyDOB($event)"
                              [readonly]="isReadOnlydob" DobValidation
                              type="text" maxlength="10"
                              [ngClass]="{'pointer-none': isReadOnlydob, 'ffl-floated-force' : form_include.get('dob').value}">

                              <input type="text"
                              class="form-control datepickerModel"
                              #dp="bsDatepicker"
                              bsDatepicker
                              [bsConfig]="bsConfig"
                              DobValidation 
                              maxlength="10"
                              [maxDate]="maxDate"
                              [minDate]="minDate"
                              [(ngModel)]="datepickerModel"
                              (bsValueChange)="getdateSpouse($event)"
                              [ngModelOptions]="{standalone: true}"
                              [ngClass]="{'pointer-none': isReadOnlydob}"
                              
                            >

                          <label class="primary-label label-Tp">Date
                              of
                              Birth</label>
                          <div class="invalid-fld-feedback">Please
                              enter a valid
                              birthdate</div>

                          <div class="fldIcon"><img
                                  src="./assets/images/icon-calendar.png"
                                  alt=""  (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen" [ngClass]="{'pointer-none': isReadOnlydob}"/></div>


                          <button class="f-size-18"
                              id="openModalButtonDLDOB"
                              [hidden]="true" data-toggle="modal"
                              data-target="#modal-Error_DL_DOB">Show
                              Error Modal</button>

                      </div>
                    </div>

                    <div class="form-group mb_form-group">
                      <div class="field_md">
                        <input class="form-control cmnField"
                        [ngClass]="{'ffl-floated-force' : form_include.get('firstName').value != ''}"
                        formControlName="firstName"
                        [readonly]="isReadOnlyFname"
                        appOnlyAlphabetical>
                        <!-- Toggle "has-error has-error-icon" this 2 class for Error -->
                        <label class="primary-label">First Name</label>
                        <div class="invalid-fld-feedback">Please enter a valid First Name</div>
                      </div>
                    </div>

                    <div class="form-group mb_form-group">
                      <div class="field_md">
                        <input class="form-control cmnField"
                          [ngClass]="{'ffl-floated-force' : form_include.get('lastName').value != ''}"
                          formControlName="lastName"
                          [readonly]="isReadOnlylname"
                          appOnlyAlphabetical>
                        <!-- Toggle "has-error has-error-icon" this 2 class for Error -->
                        <label class="primary-label">Last Name</label>
                        <div class="invalid-fld-feedback">Please enter a valid Last Name</div>
                      </div>
                    </div>

                    <div class="form-group mb_form-group">
                      <label class="simple_Label d-block f-W-M gray-color-2 f-size-18">Gender</label>

                      <div class="row gutterField-8">
                        <div class="col-lg-3 col-sm-4 col-5">
                          <div class="form-group mb_form-group mb-0">
                            <label for="driver_Gender-Male" class="check-control_Circle mb-0">
                              <input id="driver_Gender-Male" type="radio" class="inputCheck" checked formControlName="isMale"
                              [value]="true">
                              <span class="wrapRow d-flex align-items-center"> <span class="checkIndicate"></span> <span
                                  class="labelText f-size-18 flex-fill">Male</span> </span> </label>
                          </div>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-5">
                          <div class="form-group mb_form-group mb-0">
                            <label for="driver_Gender-Female" class="check-control_Circle mb-0">
                              <input id="driver_Gender-Female" type="radio" class="inputCheck" formControlName="isMale"
                              [value]="false">
                              <span class="wrapRow d-flex align-items-center"> <span class="checkIndicate"></span> <span
                                  class="labelText f-size-18 flex-fill">Female</span> </span> </label>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- If select Yes "Driver included on policy" -->
                    
                      <div class="form-group mb_form-group">
                        <div class="selectNG_dropdown disabled">
                            <ng-select class="custom_ngSelect"
                                [items]="isMarried_dropdown" bindLabel="value"
                                placeholder="Select item" bindValue="key"
                                [searchable]="false"
                                formControlName="isMarried" [readonly]="true">

                            </ng-select>
                            <label class="selectLabel">Marital
                                Status</label>
                            <svg class="arrowIcon"
                                xmlns="http://www.w3.org/2000/svg"
                                width="11.67" height="6.04"
                                viewBox="0 0 11.67 6.04">
                                <polygon
                                    points="5.89 6.04 0 0.74 0.67 0 5.88 4.69 11 0 11.67 0.74 5.89 6.04"
                                    fill="#fff"></polygon>
                            </svg>
                        </div>
                      </div>
                      <div *ngIf="excludeonpolicy">
                      <div class="form-group mb_form-group">
                        <div class="dropdown-select-wrap field_md">

                            <div class="selectNG_dropdown disabled">
                                <ng-select class="custom_ngSelect"
                                    [items]="relationship_dropdown1"
                                    bindLabel="value" bindValue="key"
                                    [multiple]="false" [searchable]="false"
                                    formControlName="relationship" [readonly]="true">
                                  

                                </ng-select>
                                <label class="selectLabel">Relationship with Insured</label>
                                <svg class="arrowIcon"
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="11.67" height="6.04"
                                    viewBox="0 0 11.67 6.04">
                                    <polygon
                                        points="5.89 6.04 0 0.74 0.67 0 5.88 4.69 11 0 11.67 0.74 5.89 6.04"
                                        fill="#fff"></polygon>
                                </svg>
                            </div>
                        </div>
                      </div>

                      <div class="form-group mb_form-group">
                        <label class="simple_Label d-block f-W-M gray-color-2 f-size-18">Does this driver have a Texas
                          Driver's License?</label>
                        <div class="row gutterField-8">
                          <div class="col-lg-3 col-sm-4 col-5">
                            <div class="form-group mb_form-group mb-0">
                              <label for="texas_driver_license-Yes" class="check-control_Circle mb-0">
                                <input id="texas_driver_license-Yes" type="radio"
                                  class="inputCheck" formControlName="stateLicense"
                                  value="TX">
                                <span class="wrapRow d-flex align-items-center"> <span class="checkIndicate"></span> <span
                                    class="labelText f-size-18 flex-fill">Yes</span> </span> </label>
                            </div>
                          </div>
                          <div class="col-lg-3 col-sm-4 col-5">
                            <div class="form-group mb_form-group mb-0">
                              <label for="texas_driver_license-No" class="check-control_Circle mb-0">
                                <input id="texas_driver_license-No" type="radio"
                                  class="inputCheck" formControlName="stateLicense" value="">
                                <span class="wrapRow d-flex align-items-center"> <span class="checkIndicate"></span> <span
                                    class="labelText f-size-18 flex-fill">No</span> </span> </label>
                            </div>
                          </div>
                        </div>


                      </div>
                    </div>
                    <!-- End If select Yes -->
                    
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div *ngIf="manuallyAdd == 'no'">
            <form [formGroup]="form">
              
              <div class="section-page-question" *ngIf="include_count > 1">
                <div class="question-wrap">
                  <div class="question-header pb-0 mb__15">
                    <h3 class="question-text mb-0">Included Drivers</h3>
                  </div>
    
               
                  <div class="question-content" *ngFor="let row of json_driver ; let index=index">
                    <div class="form-group mb_form-group">
                      <div class="cstBlockwrap" *ngIf="row['driver_include'] && !row['isPrimaryDriver'] && row['relationship'] != 'S'">
                        <label for="included_Drivers-{{index}}" class="custom-control custom-block custom-radio iconMng-Plus mb-0">
                          <input id="included_Drivers-{{index}}" type="radio" [value]="index" (change)="setIndexToSave(index,$event)"
                          formControlName="driver_include" class="custom-control-input form-check-input">
                          
                          <span class="custom-control-label-wrap">
                            <span class="custom-control-indicator"></span> 
                            <span class="indicator-label">{{row['firstName'] | uppercase}}
                              {{row['middleName'] | uppercase}}
                              {{row['lastName'] | uppercase}}</span> 
                          </span> 

                        </label>
                      </div>
                    </div>    
                  </div>


                </div>
    
              </div>
    
              <div class="section-page-question"  *ngIf="exclude_count > 0">
                <div class="question-wrap">
                  <div class="question-header pb-0 mb__15">
                    <h3 class="question-text mb-0">Excluded Drivers</h3>
                  </div>
    
                  <div class="question-content"  *ngFor="let row of json_driver ; let index=index">
                
                    <div class="form-group mb_form-group" >
                      <div class="cstBlockwrap" *ngIf="!row['driver_include'] && row['relationship'] != 'S'">
                        <label for="excluded_Drivers-e-{{index}}" class="custom-control custom-block custom-radio iconMng-Plus mb-0">
                          <input id="excluded_Drivers-e-{{index}}" type="radio"
                            class="custom-control-input form-check-input" [value]="index" (change)="setIndexToSave(index,$event)"
                            formControlName="driver_include">
                          <span class="custom-control-label-wrap"><span class="custom-control-indicator"></span> <span
                              class="indicator-label">{{row['firstName'] | uppercase}}
                              {{row['middleName'] | uppercase}}
                              {{row['lastName'] | uppercase}}</span> </span> </label>
                      </div>
                    </div>
                   
                  </div>
                </div>
    
              </div>

            </form>
          </div>

          <ul class="list-inline mb-0 text-right btnsList_form" *ngIf="manuallyAdd == 'yes' || manuallyAdd == 'no' || all_count < 1">
            <li class="list-inline-item"> <a href="#" class="btn btnstl-1 btnBrd" data-dismiss="modal">Cancel</a> </li>
            <li class="list-inline-item" *ngIf="manuallyAdd == 'yes' || all_count < 1"> 
              <!-- <a class="btn btnstl-1 btnBg-3" data-dismiss="modal">Save &amp; Continue</a> -->
              <button type="submit" class="btn btnstl-1 btnBg-3" (click)="onSubmitSpouse(form_include.value)" [disabled]="!form_include.valid || isClicked">Save & Continue</button>
            </li>
            <li class="list-inline-item" *ngIf="manuallyAdd == 'no'"> 
              <!-- <a class="btn btnstl-1 btnBg-3" data-dismiss="modal">Save &amp; Continue</a> -->
              <button type="submit" class="btn btnstl-1 btnBg-3" (click)="addSelected(selectedIndex)">Save & Continue</button>
            </li>
          </ul>

          <button id="openModalDriverExist" [hidden]="true"  data-toggle="modal" data-target="#modal-driver_Exist">Open Modal</button>

          
        </div>

      </div>

    </div>
  </div>
</div>
<!-- End Modal Add Spouse -->

<div class="modal fade modalCst" id="modal-driver_Exist">
  <div class="modal-dialog modal-dialog-centered modal-cst-sm">
      <div class="modal-content modalGetQuote">
          <button type="button" class="close btnClose" data-dismiss="modal"><span>×</span></button>
          <div class="modal-body pb-lg">
              <div class="row no-gutters justify-content-center">
                  <div class="col-lg-10">
                      <div class="infoModalWrap text-center">
                          <div class="txt-summary last-p line-H-1_3">
                              <p class="text-color-3 txt-Md"><strong>Driver already part of your quote</strong></p>
                              <p class="gray-color-2 f-size-18">A driver with that information is already part of your quote.</p>
                          </div>
                          <div class="btnsWrapp mx-width">
                              <ul class="list-unstyled  btnListing mb-0">
                                  <li>
                                      <a href="#"
                                          class="btn cmnBtn btnBg-2 sm-sz text-uppercase btn-block"
                                          data-dismiss="modal">Continue</a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>

 <!-- Modal Error Driver License -->
 <div class="modal fade modalCst" id="modal-Error_driver_state_license">
  <div class="modal-dialog modal-dialog-centered modal-cst-sm">
      <div class="modal-content modalGetQuote">

          <div class="modal-body pb-lg">
              <div class="row no-gutters justify-content-center">
                  <div class="col-lg-10">
                      <div class="infoModalWrap text-center">
                          <div class="txt-summary last-p line-H-1_3">
                              <p class="text-color-3 txt-Md"><strong>Driver License</strong></p>
                              <p class="gray-color-2 f-size-18">We do not provide online insurance for out
                                  of state drivers. Please call <a class="link-color-gray"
                                      href="tel:+1(888)338-6523">+1(888)338-6523</a> to proceed with
                                  getting a quote.</p>
                          </div>
                          <div class="btnsWrapp mx-width">
                              <ul class="list-unstyled  btnListing mb-0">
                                  <li><a href="#"
                                          class="btn cmnBtn btnBg-2 sm-sz text-uppercase btn-block"
                                          data-dismiss="modal" (click)="getIncludeSpousePopup()">Close</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>
<!-- End Modal Error Driver License -->