<app-pre-loader  *ngIf="loading"></app-pre-loader>


<div class="fullPG_Wrap">
    <div class="perspScreen">
        <div class="pgWrapFull spcTpHeader vrLinesWrap">

             <app-header (languageChange)="onlanguageChange($event)"></app-header>

            <div class="dashboard_pg_wrap minScreen-hgt bg-patternGrdnt">
                <app-dashboard-responsive-top-header></app-dashboard-responsive-top-header>
                <div class="dashScreen_wrap">
                  <div class="row no-gutters dashWrap_Row">
                    <div class="col-lg-auto brdRgt">
                      <div class="colWdth_side">
                        <app-dashboard-side-nav></app-dashboard-side-nav>
                      </div>
                    </div>
                    <div class="col-lg brdCol">
                      <div class="dashboard_middle">
                        <div class="dashB_mdl-pd">
                          <div class="dash_tp-btnsRow d-none d-lg-block" data-aos="fade-up" data-aos-duration="900">
                            <div class="row no-gutters">
                              <div class="col"><a href="#" data-toggle="modal" data-target="#modal-Start-claim" class="btn cmnBtn btn-sz-md btnBg-1 text-uppercase">Report CLAIM</a></div>
                              <!-- <div class="col text-right">
                                <div class="d-inline-block">
                                  <div class="viewCard_wrap d-flex align-items-center">
                                    <div class="iconWrap"><img class="w-100" src="assets/images/icon-view-card.png" alt="" /></div>
                                    <div class="btnCol flex-fill"> <a routerLink="/" class="btn cmnBtn btn-sz-md btnBg-4 text-uppercase">VIEW YOUR ID CARDS</a> </div>
                                  </div>
                                </div>
                              </div> -->
                            </div>
                          </div>
                        </div>
                        <div class="dashboard-mdl_Scroll cstScroller cst_mCst_scroll_Desk" data-aos="fade-up" data-aos-delay="300" data-aos-duration="900">
                          <div class="dashB_mdl-pd" *ngIf="notificationlist">
                          <h1 class="dashlg-Head font-F-1 f-W-B">Notifications</h1>
                             
                           <!--  <div class="cardDash_cmn notiftnCardRow cardHighlight"> <span class="nbr_circle"><span class="nbr_in">1</span></span>
                              <div class="row no-gutters align-items-center">
                                <div class="col-sm-auto text-center text-sm-left">
                                  <div class="iconWrap"><img class="w-100" src="assets/images/notification-icon-1.png" alt="" /></div>
                                </div>
                                <div class="col-sm">
                                  <div class="contWrap line-H-1_2 text-center text-sm-left"> Auto Policy No. 78242378 is expiring in 2 days.<br>
                                    Premium payment of $722.80 is due. Last date 12 Aug 2020. </div>
                                </div>
                                <div class="col-sm-auto">
                                  <div class="notificatn-btnCol text-center text-sm-right"> <a routerLink="/" class="btn cmnBtn btn-sz-dashb btnBg-1">Pay now!</a> </div>
                                </div>
                              </div>
                            </div> -->
                           
                            <div class="cardDash_cmn notiftnCardRow" *ngFor="let notification of notificationarray;let i = index"> 
                          
                              <span class="nbr_circle"><span class="nbr_in">{{i+1}}</span></span>
                              <div class="row no-gutters align-items-center">
                         
                                <div class="col-sm">
                                  <div class="contWrap line-H-1_2 text-center text-sm-left" [innerHTML]="notification.text"> </div>
                                </div>
                                <div class="col-sm-auto" *ngIf="notification.url">
                                  <div class="notificatn-btnCol text-center text-sm-right"> <a routerLink="{{notification.url}}" class="btn cmnBtn btn-sz-dashb btnBg-1">CLICK HERE</a> </div>
                                </div>
                              </div>
                            </div>
                            <div class="cardDash_cmn notiftnCardRow" *ngFor="let notification of setting;let d =index"> 
                          
                              <span class="nbr_circle"><span class="nbr_in">{{notificationarray.length+d+1}}</span></span>
                              <div class="row no-gutters align-items-center">
                         
                                <div class="col-sm">
                                  <div class="contWrap line-H-1_2 text-center text-sm-left" [innerHTML]="notification.notification"> </div>
                                </div>
                              
                                <div class="col-sm-auto" *ngIf="notification.notification_button.length == 26">
                                  <div class="notificatn-btnCol text-center text-sm-right" > 
                                    <a routerLink=""  class="btn cmnBtn btn-sz-dashb btnBg-1">Renew Now</a> 
                                  </div>
                                  <br>
                                  <div class="notificatn-btnCol text-center text-sm-right" > 
                                    <a routerLink="" class="btn cmnBtn btn-sz-dashb btnBg-1">Cancel Now</a> 
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- <div class="cardDash_cmn notiftnCardRow" *ngFor="let policy of notificationpolicy;let j = index"> 
                          
                              <span class="nbr_circle"><span class="nbr_in">{{j+1}}</span></span>
                              <div class="row no-gutters align-items-center">
                         
                                <div class="col-sm">
                                  <div class="contWrap line-H-1_2 text-center text-sm-left">Your Policy <strong> {{policy.policyNo}}</strong> is For Renewal.
                                      Start Date : {{policy.fromDate}} AND To Date  : {{policy.toDate}}
                                      Your next payment  on <strong>{{policy.toDate}}</strong>
                                  </div>
                                </div>
                                <div class="col-sm-auto" >
                                  <div class="notificatn-btnCol text-center text-sm-right"> <a routerLink="" class="btn cmnBtn btn-sz-dashb btnBg-1">RENEW NOW</a> </div>
                                </div>
                              </div>
                            </div> -->
                            
                     <!--        <div class="cardDash_cmn notiftnCardRow"> <span class="nbr_circle"><span class="nbr_in">3</span></span>
                              <div class="row no-gutters align-items-center">
                                <div class="col-sm-auto text-center text-sm-left">
                                  <div class="iconWrap"><img class="w-100" src="assets/images/notification-icon-3.png" alt="" /></div>
                                </div>
                                <div class="col-sm">
                                  <div class="contWrap line-H-1_2 text-center text-sm-left"> <strong>COVID-19</strong> - Pronto is committed to servicing our valued customers.
                                    We will continue to serv you via Phone or email. </div>
                                </div>
                                <div class="col-sm-auto">
                                  <div class="notificatn-btnCol text-center text-sm-right"> <a routerLink="/" class="btn cmnBtn btn-sz-dashb btnBg-1">Call now!</a> </div>
                                </div>
                              </div>
                            </div>
                            <div class="cardDash_cmn notiftnCardRow"> <span class="nbr_circle"><span class="nbr_in">4</span></span>
                              <div class="row no-gutters align-items-center">
                                <div class="col-sm-auto text-center text-sm-left">
                                  <div class="iconWrap"><img class="w-100" src="assets/images/notification-icon-4.png" alt="" /></div>
                                </div>
                                <div class="col-sm">
                                  <div class="contWrap line-H-1_2 text-center text-sm-left"> Save up to 30% With Drive Safe Policy offer. </div>
                                </div>
                                <div class="col-sm-auto">
                                  <div class="notificatn-btnCol text-center text-sm-right"> <a routerLink="/" class="btn cmnBtn btn-sz-dashb btnBg-1">Get quote</a> </div>
                                </div>
                              </div>
                            </div>
                            <div class="cardDash_cmn notiftnCardRow">
                              <div class="row no-gutters align-items-center">
                                <div class="col-sm-auto text-center text-sm-left">
                                  <div class="iconWrap"><img class="w-100" src="assets/images/notification-icon-5.png" alt="" /></div>
                                </div>
                                <div class="col-sm">
                                  <div class="contWrap line-H-1_2 text-center text-sm-left"> You are enrolled for auto-payments for Medical Insurance Policy No. 5654778. Your next payment will be processed on Nov 16th 2020. </div>
                                </div>
                              </div>
                            </div> -->

                            <!-- <div class="loadMoreRow text-center"> <a routerLink="/" class="btn btnLoadMore">Load more notifications</a> </div> -->
                            
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-auto brdLft">
                      <div class="colWdth_side">
                        <app-dashboard-side-userinfo></app-dashboard-side-userinfo>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            <footer class="footerWrap overflow-hidden">
                <app-footer></app-footer>
            </footer>
        </div>
    </div> <!-- .perspScreen -->
</div> <!-- .fullPG_Wrap -->

<!-- Modal Start Claim -->
<div class="modal fade modalCst" id="modal-Start-claim">
  <div class="modal-dialog modal-dialog-centered modal-cst-sm">
    <div class="modal-content">
      <button type="button" class="close btnClose" data-dismiss="modal"><span>×</span></button>
      <div class="modal-body pb-lg">
      <div class="row no-gutters justify-content-center">
      <div class="col-lg-11">
      <div class="claim_choose_wrap">
      <div class="cont-Head f-W-B line-H-1_3 text-center">For Auto claims, Please select your state</div>
      <ul class="list-unstyled mb-0 row gutter-8 btnsList">
      <li class="col-sm-4"><a routerLink="/en/claims/claim-texas" data-dismiss="modal" class="btn cmnBtn btnBg-2 sm-sz text-uppercase btn-block">Texas</a></li>
      <li class="col-sm-4"><a routerLink="/en/claims/claim-california" data-dismiss="modal" class="btn cmnBtn btnBg-2 sm-sz text-uppercase btn-block">California</a></li>
      <li class="col-sm-4"><a routerLink="/en/claims/claim-florida" data-dismiss="modal" class="btn cmnBtn btnBg-2 sm-sz text-uppercase btn-block">Florida</a></li>
      </ul>
      </div>
      </div>
       </div>
      </div>
      
    </div>
  </div>
</div>
<!-- End Modal Start Claim -->