
<div class="footerTop" >
    <div class="container-fluid lg-container">
        <div class="row">
            <div class="col-md-3 col-6" *ngFor="let fmenu of footermenu; let i = index">
                <div class="ftr_card_wrp" data-aos="fade-up" data-aos-duration="900" >
                    <h3 class="bxHead">{{fmenu.menu_title}} {{fmenu.submenu_title[0]}}</h3>
                    <div class="contWrap">
                        <ul class="list-unstyled mb-0 ftrListing ftrLinks_List">
                            <li *ngFor="let fsubmenu of fmenu.submenu_title">
                                <a routerLink="/">{{fsubmenu}}</a>
                            </li>
                         <!--    <li><a routerLink="/">Homeowners</a></li>
                            <li><a routerLink="/">Commercial</a></li>
                            <li><a routerLink="/">Mexico Auto</a></li>
                            <li><a routerLink="/">Health</a></li>
                            <li><a class="f-W-B" routerLink="/">More...</a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-3 col-6">
                <div class="ftr_card_wrp" data-aos="fade-up" data-aos-duration="900">
                    <h3 class="bxHead">Company</h3>
                    <div class="contWrap">
                        <ul class="list-unstyled mb-0 ftrListing ftrLinks_List">
                            <li><a routerLink="/">Pronto Blog</a></li>
                            <li><a routerLink="/">Careers</a></li>
                            <li><a class="f-W-B" routerLink="/">Franchise</a></li>
                            <li><a class="f-W-B" routerLink="/">Independent Agent</a></li>
                        </ul>
                    </div>
                </div>
            </div> -->
            <div class="col-md-3 col-6">
                <div class="ftr_card_wrp" data-aos="fade-up" data-aos-duration="900" *ngIf="connect">
                    <h3 class="bxHead">Connect</h3>
                    <div class="contWrap">
                        <ul class="list-unstyled mb-0 ftrListing ftrLinks_List connectListing">
                            <li>
                                <i class="fa fa-phone icon_phn"></i>
                                <strong>{{connect.Texas_title}}</strong>-<a class="nbrLink" href="tel:{{connect.Texas_number}}">{{connect.Texas_number}}</a>
                            </li>
                            <li>
                                <i class="fa fa-phone icon_phn"></i>
                                <strong>{{connect.California_title}}</strong>-<a class="nbrLink"
                                    href="tel:{{connect.California_number}}">{{connect.California_number}}</a></li>

                            <li>
                                <i class="fa fa-phone icon_phn"></i>
                                <p><strong>{{connect.Roadside_title}}</strong></p>
                                <p><a class="nbrLink" href="{{connect.Roadside_number}}">{{connect.Roadside_number}}</a></p>
                                <p><a class="f-W-B" routerLink="{{connect.livechat_url}}">{{connect.livechat_title}}</a></p>
                                <p><a class="f-W-B" routerLink="{{connect.agent_url}}">{{connect.agent_title}}</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6"  *ngIf="connect">
    

                <div class="ftr_card_wrp ftrCompnayImg-col" data-aos="fade-up" data-aos-duration="900">
                    <ul class="list-unstyled mb-0 ftrImgList">
                        <li><img class="w-100" src="assets/images/footer-img-ethical.png" alt="" /></li>
                        <li>  
                        <div> 
                        <div class="trustpilot-widget" data-locale="en-US" data-template-id="539adbd6dec7e10e686debee" data-businessunit-id="5c508b3200f2e9000171c82a" data-style-height="550px" data-style-width="100%" data-theme="light">
  <a href="https://www.trustpilot.com/review/prontoinsurance.com" target="_blank" rel="noopener">Trustpilot</a>
</div>               
                         <!--  <div id="trustbox1" class="trustpilot-widget" data-locale="en-US" data-template-id="53aa8807dec7e10d38f59f32" data-businessunit-id="5c508b3200f2e9000171c82a" data-style-height="300px" data-style-width="100%" >
                          <a href="https://www.trustpilot.com/review/prontoinsurance.com" target="_blank" rel="noopener">Trustpilot</a>
                        </div> -->
                    </div>
                    </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="footerBottom" *ngIf="horizontal_menu">
    <div class="container-fluid lg-container">
        <div class="footerNavWrap overflow-hidden" data-aos="fade-up" data-aos-duration="900">
            <ul class="list-inline mb-0 d-md-flex flex-wrap justify-content-between footerNav" >

                <li class="list-inline-item" *ngFor="let menu of horizontal_menu">
                    <a routerLink="{{menu.menu_url}}">{{menu.menu_title}}</a>
                </li>
               
            </ul>
        </div>

        <div class="social_CopyrightWrap">
            <div class="row">
                <div class="col-md-6 col-sm-auto">
                    <ul class="list-inline mb-0 socialListing" data-aos="fade-up" data-aos-duration="900"
                        data-aos-offset="-50">
                        <li class="list-inline-item" *ngFor="let icon of social">
                            <a class="scl-item" routerLink="{{icon.url_link}}" target="_blank">
                                <div [innerHTML]="icon.image_code"></div>
                                </a>
                        </li>
                    
                    </ul>
                </div>
                <div class="col-md-6 col-sm">
                    <div class="copyrightText text-sm-right" data-aos="fade-up" data-aos-delay="300"
                        data-aos-duration="900" data-aos-offset="-50">
                        © 2020 <span class="f-W-M">Pronto Insurance</span>. All Rights Reserved.
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="chatBtnWrap">
    <!-- <button class="btn btnChat"><img src="assets/images/chat-btn.png" alt="" /></button> -->
</div>
