<div class="fullPG_Wrap">
  <div class="perspScreen">
    <div class="pgWrapFull spcTpHeader vrLinesWrap">

      <app-header></app-header>
      <app-beyontec-breadcrum></app-beyontec-breadcrum>

      <div class="quotePG_wrap overflow-hidden position-relative">
        <div class="floatImg floatShape-1 quote1_imgFloat_1 floating-Animate"> <img class="w-100"
            src="assets/images/floating-img-1.png" alt=""> </div>
        <div class="floatImg floatShape-5 quote1_imgFloat_5 floating-Animate"> <img class="w-100"
            src="assets/images/floating-img-5.png" alt=""> </div>
        <div class="containerPD-L">
          <div class="row no-gutters">
            <div class="col-md">
              <div class="formScreen_Hgt spcMng_mp">
                <div class="queCol_Outer pTB_quote lg-BT-scroll" data-aos="fade-up" data-aos-duration="5000">
                  <div class="section-page-header brdLine-BT">
                    <h1 class="headingStl-1">Tell us about your vehicles.</h1>
                  </div>
                  <form *ngIf="BeyontecFormService.vehicles_array$" [formGroup]="BeyontecFormService.vehicles_array$">

                   
                    <!-- second time show -->
                    <div class="section-page-questions">

                      <div class="section-page-question" *ngIf="include_count > 0">
                        <div class="question-wrap row no-gutters justify-content-between">
                          <div class="col-lg-5 question-header d-flex">
                            <span class="question-counter">
                              <span class="countNbr"></span>
                              <svg class="iconMark" width="15" height="14" viewbox="0 0 15 14" fill="none">
                                <path d="M2 8.36364L6.23077 12L13 2"></path>
                              </svg>
                            </span>
                            <div>
                              <h3 class="question-text">Included Vehicles</h3>
                            </div>
                          </div>
                          <div class="col-lg-6 question-content">
                            <div class="queNbrSpace">
                              <div formArrayName="vehicle"
                                *ngFor="let row of BeyontecFormService.vehicles_array$.get('vehicle').controls ; let index=index"
                                class="queNbrSpace">


                                <!-- <div>{{row.get('include').value}}{{row.get('year').value}}</div> -->

                                <div [formGroupName]="index" class="form-group mb_form-group">
                                  <div class="cstBlockwrap" *ngIf="row.get('include').value">
                                    <label class="custom-control custom-block custom-checkbox mb-0 control_cta">
                                      <input type="checkbox" (change)="add_Vehicle(index,$event)"
                                        formControlName="include" class="custom-control-input form-check-input">
                                      <span class="custom-control-label-wrap align-items-center"><span
                                          class="custom-control-indicator"></span>
                                        <span class="indicator-label d-flex align-items-center">
                                          <span class="flex-fill">{{row.get('year').value }} {{row.get('make').value }}
                                            {{row.get('model').value }}</span>
                                          <span class="fld-Cta">
                                            <button (click)="edit_Vehicle(index)"
                                              class="btn btnCta_add_edit">Edit</button>
                                          </span>
                                        </span>
                                      </span> </label>

                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      <div class="section-page-question" *ngIf="exclude_count != 0">
                        <div class="question-wrap row no-gutters justify-content-between">
                          <div class="col-lg-5 question-header d-flex">
                            <span class="question-counter">
                              <span class="countNbr"></span>
                              <svg class="iconMark" width="15" height="14" viewbox="0 0 15 14" fill="none">
                                <path d="M2 8.36364L6.23077 12L13 2"></path>
                              </svg>
                            </span>
                            <div>
                              <h3 class="question-text">Excluded Vehicles</h3>
                            </div>
                          </div>
                          <div class="col-lg-6 question-content">
                            <div class="queNbrSpace">
                              <div formArrayName="vehicle"
                                *ngFor="let row of BeyontecFormService.vehicles_array$.get('vehicle').controls ; let index=index"
                                class="queNbrSpace">




                                <div [formGroupName]="index" class="form-group mb_form-group">
                                  <div class="cstBlockwrap" *ngIf="!row.get('include').value">
                                    <label class="custom-control custom-block custom-checkbox mb-0 control_cta">
                                      <input type="checkbox" (change)="add_Vehicle1(index,$event)"
                                        formControlName="include" class="custom-control-input form-check-input"
                                        [attr.disabled]="count < 4 ? null : true">

                                      <span class="custom-control-label-wrap align-items-center"><span
                                          class="custom-control-indicator"></span>
                                        <span class="indicator-label d-flex align-items-center">
                                          <span class="flex-fill">{{row.get('year').value }} {{row.get('make').value }}
                                            {{row.get('model').value }}</span>
                                          <span class="fld-Cta">
                                            <button (click)="edit_Vehicle(index)"
                                              class="btn btnCta_add_edit">Edit</button>
                                          </span>
                                        </span>
                                      </span> </label>

                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="section-page-question">
                        <div class="question-wrap row no-gutters justify-content-between">
                          <div class="col-lg-5 question-header d-flex"> <span class="question-counter"> <span
                                class="countNbr"></span> <svg class="iconMark" width="15" height="14"
                                viewbox="0 0 15 14" fill="none">
                                <path d="M2 8.36364L6.23077 12L13 2"></path>
                              </svg> </span>
                            <div>
                              <h3 class="question-text">Vehicles not in the list</h3>
                            </div>
                          </div>
                          <div class="col-lg-6 question-content">
                            <div class="queNbrSpace">
                              <div class="form-group mb_form-group">

                                <!--  -->
                                <button id="openModalmoreVehiclies" [hidden]="true" data-toggle="modal"
                                  data-target="#modal-Error_moreVehiclies">Open Modal</button>

                                  <button id="openModalnoVehiclies" [hidden]="true" data-toggle="modal"
                                  data-target="#modal-Error_noVehiclies">Open Modal</button>

                                <div class="cstBlockwrap" (click)="add_new_Vehicle()">
                                  <!-- <label class="custom-control custom-block custom-checkbox mb-0">
                                   
                                    <span class="custom-control-label-wrap">
                                     
                                      <span class="indicator-label">Add another vehicle</span>
                                    </span>
                                  </label> -->
                                   <!-- <input  type="checkbox" class="custom-control-input form-check-input"> -->

                                  <a (click)="add_new_Vehicle()" class="btn btnstl-1 btnBg-3 btn-block text-left">
                                    <span *ngIf="include_count == 0 && exclude_count == 0" >Add vehicle</span>
                                    <span *ngIf="include_count != 0 || exclude_count != 0" >Add another vehicle</span>
                                  </a>

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                      
                    </div>

                    <div class="navigation-buttons">
                      <ul class="list-inline mb-0 text-right btnsList_form">
                        <li class="list-inline-item"> <button type="submit" class="btn btnstl-1 btnBg-3"
                            (click)="submit()">Save & Continue</button> </li>
                      </ul>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <beyontec-sidebar></beyontec-sidebar>
          </div>
        </div>
      </div>

      
      <!-- Error for more than 4 Vehicles -->
      <div class="modal fade modalCst" id="modal-Error_moreVehiclies">
        <div class="modal-dialog modal-dialog-centered modal-cst-sm">
          <div class="modal-content modalGetQuote">
            <button type="button" class="close btnClose" data-dismiss="modal"><span>×</span></button>
            <div class="modal-body pb-lg">
              <div class="row no-gutters justify-content-center">
                <div class="col-lg-12">
                  <div class="infoModalWrap text-center">
                    <div class="txt-summary last-p line-H-1_3">
                      <p class="text-color-3 txt-Md"><strong>Add Vehicle</strong></p>
                      <p class="gray-color-2 f-size-18">Pronto will not allow to add more than 4 vehicles, remove
                        vehicle(s) and rerate.</p>
                    </div>
                    <div class="btnsWrapp mx-width">
                      <ul class="list-unstyled  btnListing mb-0">
                        <li><a class="btn cmnBtn btnBg-2 sm-sz text-uppercase btn-block"
                            data-dismiss="modal">Ok</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- End Error -->



      <!-- Error for No selected Vehicle-->
      <div class="modal fade modalCst" id="modal-Error_noVehiclies">
        <div class="modal-dialog modal-dialog-centered modal-cst-sm">
          <div class="modal-content modalGetQuote">
            <button type="button" class="close btnClose" data-dismiss="modal"><span>×</span></button>
            <div class="modal-body pb-lg">
              <div class="row no-gutters justify-content-center">
                <div class="col-lg-12">
                  <div class="infoModalWrap text-center">
                    <div class="txt-summary last-p line-H-1_3">
                      <p class="text-color-3 txt-Md"><strong>Your Vehicles</strong></p>
                      <p class="gray-color-2 f-size-18">You must register at least one vehicle to continue</p>
                    </div>
                    <div class="btnsWrapp mx-width">
                      <ul class="list-unstyled  btnListing mb-0">
                        <li><a class="btn cmnBtn btnBg-2 sm-sz text-uppercase btn-block"
                            data-dismiss="modal">Ok</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- End Error for No selected Vehicle-->



      <app-footer-quote></app-footer-quote>

    </div>
  </div> <!-- .perspScreen -->
</div> <!-- .fullPG_Wrap -->