<app-pre-loader *ngIf="loading"></app-pre-loader>
<div class="fullPG_Wrap">
  <div class="perspScreen">
    <div class="pgWrapFull spcTpHeader vrLinesWrap">

      <app-header ></app-header>
      <div class="dashboard_pg_wrap minScreen-hgt bg-patternGrdnt">
        <app-dashboard-responsive-top-header></app-dashboard-responsive-top-header>
        <div class="dashScreen_wrap">
          <div class="row no-gutters dashWrap_Row">
            <div class="col-lg-auto brdRgt">
              <div class="colWdth_side">
                <app-dashboard-side-nav></app-dashboard-side-nav>
              </div>
            </div>
            <div class="col-lg brdCol">
              <div class="dashboard_middle">
                <!-- <div class="dashB_mdl-pd">
                          <div class="dash_tp-btnsRow d-none d-lg-block" data-aos="fade-up" data-aos-duration="900">
                            <div class="row no-gutters">
                              <div class="col"><a routerLink="/claims/claim-texas" class="btn cmnBtn btn-sz-md btnBg-1 text-uppercase">Report CLAIM</a></div>
                              <div class="col text-right">
                                <div class="d-inline-block">
                                  <div class="viewCard_wrap d-flex align-items-center">
                                    <div class="iconWrap"><img class="w-100" src="assets/assets/assets/images//icon-view-card.png" alt="" /></div>
                                    <div class="btnCol flex-fill"> <a routerLink="/" class="btn cmnBtn btn-sz-md btnBg-4 text-uppercase">VIEW YOUR ID CARDS</a> </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div> -->
                        <div class="dashboard-mdl_Scroll cstScroller cst_mCst_scroll_Desk" data-aos="fade-up" data-aos-delay="300" data-aos-duration="900">
                            <div class="dashB_mdl-pd">
                              <h1 class="dashlg-Head font-F-1 f-W-B"><span class="wrapIn">Current Payment Plan</span></h1>
                              <div class="cardDash_cmn bg_trans">
                                <div class="row no-gutters">
                                  <div class="col-lg-11">
                                  <div class="payment_source_select">                  
                                    <div class="form-group mb_form-group">
                                      <label for="payment_current_plan-1" class="check-sm-wrap checkCircle bx_check_card pay_sourceType_check mb-0 d-block">
                                        <input id="payment_current_plan-1" type="radio" class="inputCheck" name="payment_current_plan" checked="">
                                        <span class="wrapRow d-flex align-items-center"> <span class="checkIndicate"></span> <span class="labelText flex-fill f-size-23 line-H-1_2 f-W-B">6 Monthly Payments</span> </span> </label>
                                        </div>
                                    </div>
                                    <div class="row no-gutters">
                                    <div class="col-lg-9">
                                    <div class="wrap_Scheduled_payment">
                               <div class=" head-ttl font-F-1 f-W-B">Scheduled Payments</div>
                               
                               <div class="table-responsive tbl_wrap">
                               <table class="table table-style-3 mb-0 f-size-18 line-H-1_3 table_sched_payment">
                               <thead class="text-nowrap">
                                <tr>
                                <th class="f-W-B"><div class="d-inline-block"><div class="scheduled_tbl_head d-flex"><div class="iconWrap"><img class="w-100" src="assets/images/scheduled-icon-Date.png" alt="" /></div><div class="txt align-self-center">Payment Date</div></div></div></th>
                                <th class="f-W-B"><div class="d-inline-block"><div class="scheduled_tbl_head d-flex"><div class="iconWrap"><img class="w-100" src="assets/images/scheduled-icon-Amount.png" alt="" /></div><div class="txt align-self-center">Amount Due</div></div></div></th>
                                <th class="f-W-B"><div class="d-inline-block"><div class="scheduled_tbl_head d-flex"><div class="iconWrap"><img class="w-100" src="assets/images/scheduled-icon-Status.png" alt="" /></div><div class="txt align-self-center">Status</div></div></div></th>
                                </tr>
                                </thead>
                                <tbody class="cont_spc_icon">
                                        <tr class="paid_tr">
                                        <td class="pay_Date">Dec 22, 2020</td>
                                        <td>$0.00</td>
                                        <td class="pay_Status">Paid</td>
                                        </tr>
                                        <tr>
                                        <td class="pay_Date">Jan 6, 2021</td>
                                        <td>$14.00</td>
                                        <td class="pay_Status">Pending</td>
                                        </tr>
                                        <tr>
                                        <td class="pay_Date">Feb 6, 2021</td>
                                        <td>$14.00</td>
                                        <td class="pay_Status">Pending</td>
                                        </tr>
                                        <tr>
                                        <td class="pay_Date">Mar 6, 2021</td>
                                        <td>$14.00</td>
                                        <td class="pay_Status">Pending</td>
                                        </tr>
                                        <tr>
                                        <td class="pay_Date">Apr 6, 2021</td>
                                        <td>$14.00</td>
                                        <td class="pay_Status">Pending</td>
                                        </tr>
                                        <tr>
                                        <td class="pay_Date">May 6, 2021</td>
                                        <td>$14.00</td>
                                        <td class="pay_Status">Pending</td>
                                        </tr>
                                        </tbody>
                               
                               </table>
                               </div>
                               <div class="btnRow_wrap text-center">
                               <a routerLink="/dashboard/policy-details" class="btn cmnBtn btnBg-2 sm-sz min-W text-uppercase">BACK</a>
                               </div>
                               </div>
                               </div>
                               </div>
                           
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
              </div>
            </div>
            <div class="col-lg-auto brdLft">
              <div class="colWdth_side">
                <app-dashboard-side-userinfo></app-dashboard-side-userinfo>
              </div>
            </div>
          </div>
        </div>
      </div>


      <footer class="footerWrap overflow-hidden">
        <app-footer></app-footer>
      </footer>
    </div>
  </div> <!-- .perspScreen -->
</div> <!-- .fullPG_Wrap -->

