<app-page-loader  *ngIf="loading"></app-page-loader>


<div class="fullPG_Wrap">
    <div class="perspScreen">
      <div class="pgWrapFull spcTpHeader vrLinesWrap">
  
        <app-header></app-header>
  
        <div class="cmsHead_wrap" *ngIf="pageArr">
            <div class="container-fluid lg-container">
              <h1 class="cmsPg-ttl text-center">{{pageArr.page_title}}</h1>
            </div>
          </div>

         
          <div class="section-lg cmsPg_wrap gray-color-2" *ngIf="pageArr"> 
            <div class="container-fluid lg-container">
  
  
              <div class="pgEditorCont editorCont last-p">
                <h4 class="cmsSub_Head" [innerHTML]="pageArr.step_title1"></h4>
                <p [innerHTML]="pageArr.subtitle1"></p>
                <audio  preload playsinline controls controlsList="nodownload" *ngIf="pageArr" #audioOption>

                  <source [src]="project_path+pageArr.step1_audio_wav" type="audio/wav">
                     <source [src]="project_path+pageArr.step1_audio_ogg" type="audio/ogg">
                       <source [src]="project_path+pageArr.step1_audio_mp3" type="audio/mp3">
               <!--    <source src="assets/images/media/SignWebsite_EN_12122013.mp3" type="audio/mp3">
                  <source src="assets/images/media/SignWebsite_EN_12122013.ogg" type="audio/ogg"> -->
                </audio>
  
                <h4 class="cmsSub_Head" [innerHTML]="pageArr.step_title2"> </h4>
                <p [innerHTML]="pageArr.subtitle2"></p>
                <p><a href="{{pageArr.click_here_url}}" [innerHTML]="pageArr.click_here_text"></a></p>
  
  
              </div>
  
            </div>
          </div>
  
          <div class="overflow-hidden" *ngIf="pageArr">
             <div *ngIf="pageArr" class="w-100">
               <app-ads class="row gutter-8"></app-ads>   
               </div> 
        <!--     <div class="row gutter-8">
              <div class="col-md-6">
                <div class="boxImgInfo mr_B bxFull" style="background-image:url(./assets/images/{{pageArr.ad_banner1}})"
                  data-aos="fade-up" data-aos-duration="900">
                  <div class="mngInside d-flex align-items-center">
                    <div class="w-100 z_ind1">
                      <div class="textCont text-color-white text-center">
                        <div class="smTxt text-uppercase" data-aos="fade-up" data-aos-duration="900">{{pageArr.ad_banner_title1}}</div>
                        <div class="bxTitle text-uppercase font-F-2" data-aos="fade-up" data-aos-delay="300"
                          data-aos-duration="900">{{pageArr.ad_banner_subtitle1}}</div>
                        <div class="btnRow" data-aos="fade-up" data-aos-delay="500" data-aos-duration="900"><a href="{{pageArr.ad_banner_butoon_url1}}"
                            class="btn cmnBtn btnBg-1 text-uppercase">{{pageArr.ad_banner_butoon_text1}}</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="boxImgInfo mr_B bxFull" style="background-image:url(./assets/images/{{pageArr.ad_banner2}})"
                  data-aos="fade-up" data-aos-duration="900">
                  <div class="mngInside d-flex align-items-center">
                    <div class="w-100 z_ind1">
                      <div class="textCont text-color-white text-center">
                        <div class="smTxt text-uppercase" data-aos="fade-up" data-aos-duration="900">{{pageArr.ad_banner_title2}}</div>
                        <div class="bxTitle text-uppercase font-F-2" data-aos="fade-up" data-aos-delay="300"
                          data-aos-duration="900">{{pageArr.ad_banner_subtitle2}}</div>
                        <div class="btnRow" data-aos="fade-up" data-aos-delay="500" data-aos-duration="900"><a href="{{pageArr.ad_banner_butoon_url2}}"
                            class="btn cmnBtn btnBg-1 text-uppercase">{{pageArr.ad_banner_butoon_text2}}</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
  
        <footer class="footerWrap overflow-hidden">
          <app-footer></app-footer>
        </footer>
      </div>
    </div> <!-- .perspScreen -->
  </div> <!-- .fullPG_Wrap -->
  