<app-pre-loader *ngIf="loading"></app-pre-loader>
<div class="fullPG_Wrap">
  <div class="perspScreen">
    <div class="pgWrapFull spcTpHeader vrLinesWrap">

      <app-header (languageChange)="onlanguageChange($event)"></app-header>
      <div class="dashboard_pg_wrap minScreen-hgt bg-patternGrdnt">
        <app-dashboard-responsive-top-header></app-dashboard-responsive-top-header>
        <div class="dashScreen_wrap">
          <div class="row no-gutters dashWrap_Row">
            <div class="col-lg-auto brdRgt">
              <div class="colWdth_side">
                <app-dashboard-side-nav></app-dashboard-side-nav>
              </div>
            </div>
            <div class="col-lg brdCol">
              <div class="dashboard_middle">
              
                <div class="dashboard-mdl_Scroll cstScroller cst_mCst_scroll_Desk " data-aos="fade-up"
                  data-aos-delay="300" data-aos-duration="900">

                  <div class="dashB_mdl-pd pb-4" >
                    <h1 class="dashlg-Head font-F-1 f-W-B"><span class="wrapIn">Policy Details</span></h1>
                    <div class="cardDash_cmn dash_cardRow extrPD-lbl f-size-20 line-H-1_3">
                      <div class="statusLabel f-W-M">Active</div>
                      <div class="row no-gutters">
                        <div class="col-md-auto text-center text-sm-left">
                          <div class="h-100 d-flex align-items-center">
                            <div class="w-100">
                              <div class="iconWrap"><img class="w-100" src="assets/images/dash-policy-icon-2.png"
                                  alt="" /></div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md overflow-hidden">
                          <div class="row h-100 rowGutter_spc insRowBrd">
                            <div class="col-sm-auto d-flex align-items-center">
                              <div class="colCont_Wrp w-100">
                                <div class="contCol-1 text-center text-md-left">
                                  <div class="lable-ttl">Policy Number:</div>
                                  <div class="f-W-M text-color-3">{{policy.policyNumber}}</div>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm d-flex align-items-center">
                              <div class="colCont_Wrp w-100">
                                <div class="contCol-3 text-center text-md-left">
                                  <div class="lable-ttl f-W-B">Policy Effective:</div>
                                  <div class="f-W-M"> {{policy.effectiveDate}} - {{policy.expirationDate}} </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                     <div class="row no-gutters">
                        <div class="col-md">
                          <div class="formScreen_Hgt spcMng_mp">
                            <div class="queCol_Outer pTB_quote lg-BT-scroll" data-aos="fade-up" data-aos-duration="700">
                              <div class="section-page-header brdLine-BT">
                                <h1 class="headingStl-1">Discounts</h1>
                              </div>
            
                              <form>
                                <div class="section-page-questions">
                                  <div class="section-page-question">
                                    <div class="question-wrap row no-gutters justify-content-between pb-0">
                                      <div class="col-lg-5 question-header d-flex"> <span class="question-counter"> <span
                                            class="countNbr"></span> <svg class="iconMark" width="15" height="14"
                                            viewbox="0 0 15 14" fill="none">
                                            <path d="M2 8.36364L6.23077 12L13 2"></path>
                                          </svg> </span>
                                        <div>
                                          <h3 class="question-text">Save money with the following</h3>
                                        </div>
                                      </div>
            
                                    </div>
                                    <div class="section-page-questions-response">
                                      <div class="section-page-question">
                                        <div class="question-wrap row no-gutters justify-content-between">
                                          <div class="col-lg-5 question-header d-flex"> <span class="question-counter invisible">
                                              <span class="countNbr"></span> <svg class="iconMark" width="15" height="14"
                                                viewBox="0 0 15 14" fill="none">
                                                <path d="M2 8.36364L6.23077 12L13 2"></path>
                                              </svg> </span>
                                            <div>
                                              <h3 class="question-text">Auto pay</h3>
                                            </div>
                                          </div>
                                          <div class="col-lg-6 question-content">
                                            <div class="queNbrSpace">
                                              <div class="row gutterField-8">
                                                <div class="col-6">
                                                  <div class="form-group mb_form-group">
                                                    <div class="cstBlockwrap">
                                                      <label for="auto_pay-Yes"
                                                        class="custom-control custom-block custom-radio mb-0">
                                                        <input id="auto_pay-Yes" [(ngModel)]="auto_pay" value="yes" name="auto_pay"
                                                          type="radio" class="custom-control-input form-check-input" >
                                                        <span class="custom-control-label-wrap"><span
                                                            class="custom-control-indicator"></span> <span
                                                            class="indicator-label">Yes</span> </span> </label>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="col-6">
                                                  <div class="form-group mb_form-group">
                                                    <div class="cstBlockwrap">
                                                      <label for="auto_pay-No"
                                                        class="custom-control custom-block custom-radio mb-0">
                                                        <input id="auto_pay-No" [(ngModel)]="auto_pay" value="no" name="auto_pay"
                                                          type="radio" class="custom-control-input form-check-input" checked>
                                                        <span class="custom-control-label-wrap"><span
                                                            class="custom-control-indicator"></span> <span
                                                            class="indicator-label">No</span> </span> </label>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="section-page-question">
                                        <div class="question-wrap row no-gutters justify-content-between">
                                          <div class="col-lg-5 question-header d-flex"> <span class="question-counter invisible">
                                              <span class="countNbr"></span> <svg class="iconMark" width="15" height="14"
                                                viewBox="0 0 15 14" fill="none">
                                                <path d="M2 8.36364L6.23077 12L13 2"></path>
                                              </svg> </span>
                                            <div>
                                              <h3 class="question-text">Full pay</h3>
                                            </div>
                                          </div>
                                          <div class="col-lg-6 question-content">
                                            <div class="queNbrSpace">
                                              <div class="row gutterField-8">
                                                <div class="col-6">
                                                  <div class="form-group mb_form-group">
                                                    <div class="cstBlockwrap">
                                                      <label for="full_pay-Yes"
                                                        class="custom-control custom-block custom-radio mb-0 ">
                                                        <input id="full_pay-Yes" [(ngModel)]="full_pay" name="full_pay" value="yes"
                                                          type="radio" class="custom-control-input form-check-input" >
                                                        <span class="custom-control-label-wrap"><span
                                                            class="custom-control-indicator"></span> <span
                                                            class="indicator-label">Yes</span> </span> </label>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="col-6">
                                                  <div class="form-group mb_form-group">
                                                    <div class="cstBlockwrap">
                                                      <label for="full_pay-No"
                                                        class="custom-control custom-block custom-radio mb-0 ">
                                                        <input id="full_pay-No" [(ngModel)]="full_pay" name="full_pay" value="no"
                                                          type="radio" class="custom-control-input form-check-input">
                                                        <span class="custom-control-label-wrap"><span
                                                            class="custom-control-indicator"></span> <span
                                                            class="indicator-label">No</span> </span> </label>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
            
                                    </div>
                                  </div>
                                </div>
                                <div class="navigation-buttons">
                                  <ul class="list-inline mb-0 text-right btnsList_form">
                                    <li class="list-inline-item">
            
                                      <button id="openModalAutoPayMethod" [hidden]="true" data-toggle="modal"
                                              data-target="#modal-autoPay-method">Open Modal</button>
            
                                      <button type="button" class="btn btnstl-1 btnBg-3" [disabled] ="!full_pay ||!auto_pay" (click)="onSubmit()">Save &
                                        Continue</button>
            
                                      <!-- <a class="btn btnstl-1 btnBg-3" data-toggle="modal"
                                        data-target="#modal-autoPay-method">Save & Continue</a>  -->
                                    </li>
                                  </ul>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                        
            
                      </div>




                  </div>

              
                </div>
              </div>
            </div>
            <div class="col-lg-auto brdLft">
              <div class="colWdth_side">
                <app-dashboard-side-userinfo></app-dashboard-side-userinfo>
              </div>
            </div>
          </div>
        </div>
      </div>

 <!-- Modal Auto Payment method -->
 <div class="modal fade modalCst" id="modal-autoPay-method">
    <div class="modal-dialog modal-dialog-centered modal-cst-sm">
      <div class="modal-content modalGetQuote">
        <button type="button" class="close btnClose" data-dismiss="modal"><span>×</span></button>
        <div class="modal-body">

          <div class="formModal_wrapp">
            <h4 class="head-ttl text-center">Auto Pay</h4>

            <div class="section-page-question">
              <div class="question-wrap">
                <div class="question-header">
                  <h3 class="question-text f-size-20 gray-color-2 f-W-M mb-0">For the next auto pay installments,
                    please choose the desired payment method</h3>
                </div>
                <div class="question-content">

                  <div class="form-group mb_form-group">
                    <div class="row gutterField-8">
                      <div class="col-sm-6">
                        <div class="form-group mb_form-group">
                          <div class="cstBlockwrap">
                            <label for="next_auto_pay-Bank-account"
                              class="custom-control custom-block custom-radio mb-0">
                              <input id="next_auto_pay-Bank-account" [(ngModel)]="paymentPlan" name="next_auto_pay" type="radio" value="EFT"
                                class="custom-control-input form-check-input">
                              <span class="custom-control-label-wrap"><span class="custom-control-indicator"></span>
                                <span class="indicator-label">Bank Account</span> </span> </label>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group mb_form-group">
                          <div class="cstBlockwrap">
                            <label for="next_auto_pay-Credit-or-Debit-card"
                              class="custom-control custom-block custom-radio mb-0">
                              <input id="next_auto_pay-Credit-or-Debit-card" [(ngModel)]="paymentPlan" name="next_auto_pay" type="radio" value="CC"
                                class="custom-control-input form-check-input">
                              <span class="custom-control-label-wrap"><span class="custom-control-indicator"></span>
                                <span class="indicator-label">Credit/Debit Card</span> </span> </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <ul class="list-inline mb-0 text-center btnsList_form">
              <li class="list-inline-item"> 
                <button type="button" data-dismiss="modal" class="btn btnstl-1 btnBg-3" [disabled]="!paymentPlan" (click)="onSubmitAuto()">Save & Continue</button>
                <!-- <a class="btn btnstl-1 btnBg-3">Save &amp; Continue</a>  -->
              </li>
            </ul>
          </div>

        </div>

      </div>
    </div>
  </div>
  <!-- End Modal Auto Payment method -->

      <footer class="footerWrap overflow-hidden">
        <app-footer></app-footer>
      </footer>
    </div>
  </div> <!-- .perspScreen -->
</div> <!-- .fullPG_Wrap -->
