

<a style="display: none" data-toggle="modal" data-target="#modal-error-message" #error_dialog></a>






<div class="modal fade modalCst" id="modal-error-message">
    <div class="modal-dialog modal-dialog-centered modal-cst-sm">
      <div class="modal-content modalGetQuote">
        <!--<button type="button" class="close btnClose" data-dismiss="modal"><span>×</span></button>-->
        <div class="modal-body pb-lg">
        <div class="row no-gutters justify-content-center">
        <div class="col-lg-10">
        <div class="infoModalWrap text-center">
        <div class="txt-summary last-p line-H-1_3">
        <p class="text-color-3 txt-Md"><strong>Error Massage</strong></p>
        <p class="gray-color-2 f-size-18">{{error_msg}}</p>
              </div>
        <div class="btnsWrapp mx-width">
        <ul class="list-unstyled  btnListing mb-0">
        <li><a (click)="clean()" class="btn cmnBtn btnBg-2 sm-sz text-uppercase btn-block" data-dismiss="modal">Ok</a></li>
        </ul>
        </div>
        </div>
        </div>
         </div>
        </div>
        
      </div>
    </div>
  </div>








