<app-page-loader  *ngIf="loading"></app-page-loader>


<div class="fullPG_Wrap" id="topsec">
    <div class="perspScreen">
      <div class="pgWrapFull spcTpHeader vrLinesWrap" >
  
        <app-header (languageChange)="onlanguageChange($event)"></app-header>
  
        <div  class="insideHeaderSec overflow-hidden" *ngIf="productArr">
            <div class="row no-gutters">
              <div class="col-md-6" *ngIf="productArr.banner_img">
                <div class="secimgWrap position-relative imgFit fullScreen-LessNav fullAuto-MD" >
                  <img class="w-100 obj-fit placeholder-img-Bg" style="background-image:url(assets/images/{{productArr.banner_img}});" src="{{project_path}}{{image_path}}{{productArr.banner_img}}" alt="{{productArr.banner_img_alt}}" title="{{productArr.banner_img_title}}" />
                </div>
              </div>
              <div class="col-md-6 d-flex align-items-center position-relative headContCol">
                <div class="w-100">
                  <div class="wrapContSec">
                    <div class="topIns_head" >
                      <h1 class="pgTitle-head headPG" data-aos="fade-up" data-aos-duration="900">{{productArr.insurance_type}}</h1>
                      
                      <div class="contInfo" data-aos="fade-up" data-aos-delay="400" data-aos-duration="900" [innerHTML]="subheading">
                       
                      </div>
  
                      <!-- <div class="tp-choose-wrap" data-aos="fade-up" data-aos-delay="700" data-aos-duration="900">
                        <div class="txtLine line-H-1_3 text-gray-70">Please Choose your state below:</div>
                        <ul class="list-unstyled mb-0 choose_btnsList">
                          <li class="list-inline-item"><a href="#" class="btn cmnBtn btnBg-2 text-uppercase"
                              data-toggle="modal" data-target="#modal-get_a_quote">TEXAS</a></li>
                          <li class="list-inline-item"><a href="#" class="btn cmnBtn btnBg-2 text-uppercase"
                              data-toggle="modal" data-target="#modal-get_a_quote">CALIFORNIA</a></li>
                        </ul>
                      </div>
  
                      <div class="call-Or-Chat" data-aos="fade-up" data-aos-delay="900" data-aos-duration="900">
                        <div class="callText line-H-1_2">Or call us for more information <a
                            class="f-W-B text-decoration-none link-color-black"
                            href="tel:1-888-338-6523">1-888-338-6523</a></div>
  
                        <div class="chatBtn mxWidth">
                          <a href="#" class="btn btn-block cmnBtn btnOutline-2 btn text-uppercase">Chat WITH US</a>
                        </div>
                      </div> -->
  
                     <div class="row no-gutters" data-aos="fade-up" data-aos-delay="700"
                      data-aos-duration="900">
                      
                  </div>

                  <div class="tp-choose-wrap" data-aos="fade-up" data-aos-delay="700" data-aos-duration="900" *ngIf="state_url">
                    <div class="txtLine line-H-1_3 text-gray-70">{{productArr.state_select}}</div>

                    <ul class="list-unstyled mb-0 choose_btnsList">
                      <li class="list-inline-item" *ngFor="let l of states; let i = index;">
                        <a (click)="myFunction(states[i])" href="" class="btn cmnBtn btnBg-2 text-uppercase" data-toggle="modal" data-target="#modal-get_a_quote">
                          {{l}}
                        </a>
                      </li>
                      <!-- <li class="list-inline-item"><a href="#" class="btn cmnBtn btnBg-2 text-uppercase"
                          data-toggle="modal" data-target="#modal-get_a_quote">TEXAS</a></li>
                      <li class="list-inline-item"><a href="#" class="btn cmnBtn btnBg-2 text-uppercase"
                          data-toggle="modal" data-target="#modal-get_a_quote">CALIFORNIA</a></li> -->
                    </ul>
                  </div>
  
                  <div class="call-Or-Chat" data-aos="fade-up" data-aos-delay="900" data-aos-duration="900">
                    <div class="callText line-H-1_2" *ngIf="productArr.helpline">{{productArr.helpline_title}} <a
                        class="f-W-B text-decoration-none link-color-black"
                        href="tel:{{productArr.helpline}}">{{productArr.helpline}}</a></div>

                    <div class="chatBtn mxWidth" *ngIf="productArr.chat_with_us_text">
                      <a href="#" class="btn btn-block cmnBtn btnOutline-2 btn text-uppercase">{{productArr.chat_with_us_text}}</a>
                    </div>
                  </div>
  
                    </div>
                  </div>
                  <div class="scrollBT-pos mngMob text-center" *ngIf="productArr.scroll_down_text">
                    <div class="scrollDown" data-aos="fade-up" data-aos-delay="1200" data-aos-duration="900" data-aos-offset="-50">
                      <div class="arrowIcon"></div>
                      <div class="scrollTxt line">{{productArr.scroll_down_text}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="overflow-hidden" *ngIf="productArr">
            <div class="section-xl secFullwrap position-relative">
  
              <div class="row no-gutters align-items-center" *ngIf="productArr.section2_title">
                <div class="col-md-6" >
                  <div class="w-100 contCol-wrap containerPD-L">
                    <div class="bxCont_Info pb-5 pb-md-0">
                      <h2 class="head font-sizeHead" data-aos="fade-up" data-aos-duration="900">
                        {{productArr.section2_title}} </h2>
  
                      <div class="textSummary gray-color-1 line-H-1_8 last-p" data-aos="fade-up" data-aos-delay="300"
                        data-aos-duration="900">
                        <p> {{productArr.section2_description}} </p>
                      </div>
                      <div class="btnRow" data-aos="fade-up" data-aos-delay="700" data-aos-duration="900" >
                        <a (click)="scroll('read')"  class="btn cmnBtn btnBg-1 text-uppercase">{{productArr.section2_button}}</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="imgWrap">
                    <img class="w-100" src="{{project_path}}{{image_path}}{{productArr.section2_img}}" alt="{{productArr.section_img_alt}}" title="{{productArr.section_img_title}}" />
                  </div>
                </div>
              </div>
            </div>
            
            <div class="section-xl ins_policy_Sec position-relative mngSecLink" >
              <div class="secLink" id="read"></div>
              <div class="floatImg floatShape-5 auto_imgFloat_5 floating-Animate">
                <img class="w-100" src="assets/images/floating-img-5.png" alt="">
              </div>
              <div class="floatImg floatShape-2 auto_imgFloat_2 floating-Animate">
                <img class="w-100" src="assets/images/floating-img-2.png" alt="">
              </div>
              <div class="floatImg floatShape-3 auto_imgFloat_3 right-sd floating-Animate">
                <img class="w-100" src="assets/images/floating-img-3.png" alt="">
              </div>
             
              <div class="container-fluid lg-container" *ngIf="productArr.policy_main_title" >
                <div class="headSec font-sizeHead font-F-2 line-H-1_3 text-center mb__60" data-aos="fade-up"
                  data-aos-duration="900">{{productArr.policy_main_title}}</div>
  
                <div class="tabsWrapper">
                  <ul class="nav mbNav cstTabsNav" data-aos="fade-up" data-aos-delay="300" data-aos-duration="900" *ngIf="policy_titles">
                    <li class="nav-item flex-fill">
                      <a class="nav-link active" data-toggle="tab" href="#tab-policy-1">{{policy_titles[0]}}</a>
                    </li>
                    <li class="nav-item flex-fill">
                      <a class="nav-link" data-toggle="tab"  href="#tab-policy-2">{{policy_titles[1]}}</a>
                    </li>
                  </ul>
  
                  <div class="tab-content pd-LR" *ngIf="productArr">
                    <div class="tab-pane active" id="tab-policy-1">
                      <div class="row gutter-15vw">
                        <div class="col-md-6" *ngIf="productArr.what_we_cover_title1" >
                          <div class="card_txt_bx mb-sm" data-aos="fade-up" data-aos-delay="500" data-aos-duration="900">
                            <div class="height-sm-auto" data-eq="eq_cardPackage">
                              <h3 class="bxHead headSize30 text-color-3">{{productArr.what_we_cover_title1}}</h3>
  
                              <div class="txtSummary text-gray-80">
                                <ul class="list-unstyled mb-0 listCst listIcon">
                                  <li *ngFor="let cmp of what_we_cover_subpoints1">{{cmp}}</li>
                                  <!-- <li>Jewelry, Firearms and Furs</li>
                                  <li>Debris Removal</li>
                                  <li>World-wide Coverage</li>
                                  <li>Property Removed</li>
                                  <li>Collapse</li>
                                  <li>Temporary Repairs</li> -->
                                </ul>
                              </div>
                            </div>
                            <div class="btnRow">
                              <a (click)="scroll('rentalinsurancePackage')"  
                                class="btn cmnBtn btnBg-1 text-uppercase scrollClick">{{productArr.what_not_cover1_button}}</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6" *ngIf="productArr.what_we_cover_title2">
                          <div class="card_txt_bx mb-sm" data-aos="fade-up" data-aos-delay="1000" data-aos-duration="900">
                            <div class="height-sm-auto" data-eq="eq_cardPackage">
                              <h3 class="bxHead headSize30 text-color-3">{{productArr.what_we_cover_title2}}</h3>
  
                              <div class="txtSummary text-gray-80">
                                <ul class="list-unstyled mb-0 listCst listIcon">
                                  <li *ngFor="let comp of what_we_cover_subpoints2">{{comp}}</li>
                                 <!--  <li>Burglary</li>
                                  <li>Jewelry, Firearms and Furs (increased limit)</li> -->
                                </ul>
                              </div>
                            </div>
                            <div class="btnRow">
                              <a   (click)="scroll('rentalinsurancePackage')"
                                class="btn cmnBtn btnBg-1 text-uppercase scrollClick">{{productArr.optional_coverage1_button}}</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="card_txt_bx mb-sm mt-md--70" data-aos="fade-up" data-aos-duration="900" *ngIf="productArr.whats_not_covered_title">
                            <div class="height-sm-auto">
                              <h3 class="bxHead headSize30 text-color-3">{{productArr.whats_not_covered_title }}</h3>
  
                              <div class="txtSummary text-gray-80">
                                <ul class="list-unstyled mb-0 listCst listIcon">
                                  <li *ngFor="let sub of whats_not_covered_subtitle">{{sub}}</li>
                                 <!--  <li>Earth movement including earthquake or landslide</li>
                                  <li>Damage caused by settling, deterioration, contamination or nuclear hazard</li>
                                  <li>Damage caused by birds, vermin, insects or domestic animals</li>
                                  <li>Policy does not provide coverage for the building or other structures or for items
                                    attached to any building</li> -->
                                </ul>
                              </div>
                            </div>
                            <div class="btnRow" *ngIf="productArr.whats_not_covered_title">
                              <a    (click)="scroll('whatsnotcovered')" class="btn cmnBtn btnBg-1 text-uppercase scrollClick">{{productArr.whats_not_covered_button}}</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="tab-policy-2">
                      <div id="accordion_faq">

                        
        
                        
                        <div class="cst_accord ng-accordian">
                        <ngb-accordion [closeOthers]="true" class="cst_ng_accordion"  [animation]="true">
                      
                          <ngb-panel class="accord_head" id="id{{i}}"  *ngFor="let faq of faq_question;let i=index;">
                            <ng-template ngbPanelTitle>
                              <a class="accordn_title collapsed" (click)="getScroll(i)">{{faq}}</a>
                            </ng-template>
                            <ng-template  ngbPanelContent>
                              <div class="text-gray-70 editorCont last-p
                              ">{{faq_answer[i]}}</div>
                              <!-- <p class="text-gray-70 m-0">{{faq_answer[i]}}</p> -->
                            </ng-template>
                          </ngb-panel>

                        </ngb-accordion>
</div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div  class="insuranceBanner text-color-white position-relative z_ind1"
              style="background-image:url({{project_path}}{{ads[0].ad_banner1}})" *ngIf="productArr.ad_banner1">
              <div class="container-fluid lg-container">
                <div class="row align-items-center mngInside">
                 <div class="col">
                                <div *ngIf="ads[0].align == 1" class="contWrap w-100 ">
                                    <h2 class="head font-sizeHead" data-aos="fade-up" data-aos-duration="900" [innerHTML]="ads[0].ad_banner1_title"></h2>
                                    <div class="txtCont f-W-M text-gray-80">
                                        <ul class="list-unstyled mb-0">
                                            <li data-aos="fade-up" data-aos-delay="200" data-aos-duration="900" [innerHTML]="ads[0].ad_banner1_subtitle">
                                              </li>
                                          <!--   <li data-aos="fade-up" data-aos-delay="400" data-aos-duration="900">25%
                                                Multi-car Discount</li> -->
                                        </ul>
                                    </div>
                                    <div class="btnRow" data-aos="fade-up" data-aos-delay="700"
                                        data-aos-duration="900" *ngIf="ads[0].ad_banner1_button_text"><a href="{{ads[0].ad_banner1_button_url}}"
                                            class="btn cmnBtn btnBg-1 text-uppercase">{{ads[0].ad_banner1_button_text}}</a></div>
                                </div>
                                  <div *ngIf="ads[0].align == 2" class="contWrap w-100 text-right">
                                    <h2 class="head font-sizeHead" data-aos="fade-up" data-aos-duration="900" [innerHTML]="ads[0].ad_banner1_title"></h2>
                                    <div class="txtCont f-W-M text-gray-80">
                                        <ul class="list-unstyled mb-0">
                                            <li data-aos="fade-up" data-aos-delay="200" data-aos-duration="900" [innerHTML]="ads[0].ad_banner1_subtitle">
                                              </li>
                                          <!--   <li data-aos="fade-up" data-aos-delay="400" data-aos-duration="900">25%
                                                Multi-car Discount</li> -->
                                        </ul>
                                    </div>
                                    <div class="btnRow" data-aos="fade-up" data-aos-delay="700"
                                        data-aos-duration="900" *ngIf="ads[0].ad_banner1_button_text"><a href="{{ads[0].ad_banner1_button_url}}"
                                            class="btn cmnBtn btnBg-1 text-uppercase">{{ads[0].ad_banner1_button_text}}</a></div>
                                </div>
                                   <div  *ngIf="ads[0].align == 3" class="contWrap w-100 text-center">
                                    <h2 class="head font-sizeHead" data-aos="fade-up" data-aos-duration="900" [innerHTML]="ads[0].ad_banner1_title"></h2>
                                    <div class="txtCont f-W-M text-gray-80">
                                        <ul class="list-unstyled mb-0">
                                            <li data-aos="fade-up" data-aos-delay="200" data-aos-duration="900" [innerHTML]="ads[0].ad_banner1_subtitle">
                                              </li>
                                          <!--   <li data-aos="fade-up" data-aos-delay="400" data-aos-duration="900">25%
                                                Multi-car Discount</li> -->
                                        </ul>
                                    </div>
                                    <div class="btnRow" data-aos="fade-up" data-aos-delay="700"
                                        data-aos-duration="900" *ngIf="ads[0].ad_banner1_button_text"><a href="{{ads[0].ad_banner1_button_url}}"
                                            class="btn cmnBtn btnBg-1 text-uppercase">{{ads[0].ad_banner1_button_text}}</a></div>
                                </div>
                            </div>
                </div>
              </div>
            </div>
          </div>
          <div class="packageSecWrap position-relative overflow-hidden" *ngIf="productArr.rental_insurance_package_title"> 
            <div class="floatImg floatShape-1 auto_imgFloat_1 floating-Animate">
              <img class="w-100" src="assets/images/floating-img-1.png" alt="">
            </div>
            <div class="floatImg floatShape-4 auto_imgFloat_4 left-sd floating-Animate">
              <img class="w-100" src="assets/images/floating-img-4.png" alt="">
            </div>
           
            <div class="section-md position-relative mngSecLink" *ngIf="productArr">
              <div class="secLink" id="rentalinsurancePackage"></div>
              <div class="container-fluid lg-container">
                <div class="packageWrap">
                  <h3 class="heading headSize30 text-color-3" data-aos="fade-up" data-aos-duration="900">{{productArr.rental_insurance_package_title}}</h3>
  
                  <div class="row">
                    <div class="col-md-6" *ngIf="productArr.rental_insurance_package_subtitle">
  
                      <div class="row no-gutters">
                        <div class="col-md-10">
                          <div class="card_pckg bx_mb" data-aos="fade-up" data-aos-delay="300" data-aos-duration="900" *ngIf="productArr.includes_title">
                            <div class="bxHead f-W-B line-H-1_3">{{productArr.rental_insurance_package_subtitle}}</div>
                            <div class="contText" [innerHTML]="rental_insurance_package_subtitle1">
                            
                            </div>
                          </div>
                          <div class="card_pckg bx_mb" data-aos="fade-up" data-aos-delay="500" data-aos-duration="900" *ngIf="productArr.includes_title">
                            <div class="bxHead f-W-B line-H-1_3"><span class="text-gray-70">{{productArr.includes_title}}</span></div>
                            <div class="contText">
                              <ul class="list-unstyled mb-0 listCst listIcon gray-color-1">
                                <li *ngFor="let inc of includes"> {{inc}}</li>
                               <!--  <li>Fire</li>
                                <li>Lightning</li>
                                <li>Riot or Civil Commotion</li>
                                <li>Hail</li>
                                <li>Windstorm, Tornado or Hurricane</li>
                                <li>A vehicle hitting the building</li>
                                <li>Smoke</li>
                                <li>Aircraft</li>
                                <li>Explosion</li>
                                <li>Weight of ice, snow or sleet</li> -->
                              </ul>
                            </div>
                            <div class="btnRow">
                              <a (click)="scroll('topsec')" class="btn cmnBtn btnBg-1 text-uppercase">{{productArr.includes_button}}</a>
                            </div>
                          </div>
                        </div>
                      </div>
  
                    </div>
                    <div class="col-md-6" *ngIf="productArr.additional_coverage_title">
                      <div class="row no-gutters">
                        <div class="col-md-10">
                          <div class="card_pckg bx_mb" data-aos="fade-up" data-aos-delay="1000" data-aos-duration="900">
                            <div class="bxHead f-W-B line-H-1_3">{{productArr.additional_coverage_title}}</div>
                            <div class="contText text-gray-80">
                              <ul class="list-unstyled mb-0 listCst listIcon gray-color-1">
                                <li *ngFor="let ads of addtionational_coverages">{{ads}}</li>
                               <!--  <li>Debris Removal</li>
                                <li>World-wide Coverage</li>
                                <li>Property Removed</li>
                                <li>Collapse</li>
                                <li>Temporary Repairs</li> -->
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
  
                </div>
              </div>
            </div>
            <div class="section-md position-relative mngSecLink" *ngIf="productArr.optional_coverage_title">
              <div class="secLink" id="rentaloptionalcoverages"></div>
              <div class="container-fluid lg-container" >
                <div class="packageWrap" *ngIf="productArr.optional_coverage_title">
                  <h3 class="heading headSize30 text-color-3" data-aos="fade-up" data-aos-duration="900">{{productArr.optional_coverage_title}}</h3>
  
  
                  <div class="card_pckg bx_mb" data-aos="fade-up" data-aos-delay="300" data-aos-duration="900">
                    <div class="contText">
                      <ul class="list-unstyled mb-0 listCst listIcon gray-color-1">
                        <li *ngFor="let ops of opational_coverages">{{ops}}</li>
                      <!--   <li>Burglary</li>
                        <li>Jewelry, Firearms and Furs (Increased Limit)</li> -->
                      </ul>
                    </div>
                    <div class="btnRow">
                      <a (click)="scroll('topsec')" class="btn cmnBtn btnBg-1 text-uppercase">{{productArr.includes_button}}</a>
                    </div>
                  </div>
  
  
                </div>
              </div>
            </div>
            <div class="section-md position-relative mngSecLink" *ngIf="productArr.whats_not_covered_title">
              <div class="secLink" id="whatsnotcovered"></div>
              <div class="container-fluid lg-container" *ngIf="productArr.whats_not_covered_title">
                <div class="packageWrap">
                  <h3 class="heading headSize30 text-color-3" data-aos="fade-up" data-aos-duration="900">{{productArr.whats_not_covered_title}}</h3>
  
                  <div class="card_pckg bx_mb" data-aos="fade-up" data-aos-delay="300" data-aos-duration="900"  *ngIf="productArr.whats_not_covered_title">
                    <div class="contText">
                      <ul class="list-unstyled mb-0 listCst listIcon gray-color-1">
                        <li *ngFor="let what of whats_not_covered_subtitle2">{{what}}</li>
                       <!--  <li>Earth movement including earthquake or landslide</li>
                        <li>Damage caused by settling, deterioration, contamination or nuclear hazard</li>
                        <li>Damage caused by birds, vermin, insects or domestic animals</li>
                        <li>Policy does not provide coverage for the building or other structures or for items attached to
                          any building</li> -->
                      </ul>
                    </div>
                    <div class="btnRow" *ngIf="productArr.whats_not_covered_title">
                      <a (click)="scroll('topsec')" class="btn cmnBtn btnBg-1 text-uppercase">{{productArr.whats_not_covered_subtitle2_button}}</a>
                    </div>
                  </div>
  
                </div>
              </div>
            </div>
          </div>
  
          <div class="overflow-hidden" *ngIf="productArr">
            <div class="row gutter-8">
          <div *ngIf="productArr" class="w-100">
               <app-ads class="row gutter-8"></app-ads>   
               </div> 
            </div>
          </div>
  
          <div *ngIf="productArr">
            <app-counter-section ></app-counter-section>            
          </div>
  
        <footer class="footerWrap overflow-hidden" *ngIf="productArr">
          <app-footer></app-footer>
        </footer>
      </div>
    </div> <!-- .perspScreen -->
  </div> <!-- .fullPG_Wrap -->
    <app-modal-get-a-quote product="renters"></app-modal-get-a-quote>