
<body class="mngTp-alert-Spc">
<div class="fullPG_Wrap">
  <div class="perspScreen">
    <div class="pgWrapFull spcTpHeader">
     
        <app-header></app-header>
        <pro-stepper></pro-stepper>
      <div class="quotePG_wrap overflow-hidden position-relative">
      <!--<div class="floatImg floatShape-2 quoteCoverage_imgFloat_2 floating-Animate"><img class="w-100" src="images/floating-img-2.png" alt=""></div>
      <div class="floatImg floatShape-1 quoteCoverage_imgFloat_1 floating-Animate"><img class="w-100" src="images/floating-img-1.png" alt=""></div>
      <div class="floatImg floatShape-4 quoteCoverage_imgFloat_4 floating-Animate"><img class="w-100" src="images/floating-img-4.png" alt=""></div>-->

        <div class="containerPD-L">
        <div class="row no-gutters">
            <div class="col-md">
            <div class="formScreen_Hgt spcMng_mp">
          <div class="queCol_Outer pTB_quote lg-BT-scroll" data-aos="fade-up" data-aos-duration="700">
            <div class="section-page-header">
              <h1 class="headingStl-1 ">Choose your coverages below</h1>
              <div class="ttl-btLine">Pick a coverage bundle or customize your coverage</div>
            </div>
            <form  [formGroup]="coverage_form" (ngSubmit)="submit()">
            <div class="section-page-questions">
              <div class="section-page-question">
                <div class="question-wrap">
                <div class="question-header d-flex"> <span class="question-counter"> <span class="countNbr"></span> <svg class="iconMark" width="15" height="14" viewbox="0 0 15 14" fill="none">
                      <path d="M2 8.36364L6.23077 12L13 2"></path>
                      </svg> </span>
                      <div>
                        <h3 class="question-text que_HeadLg-sm">Coverage Options</h3>
                      </div>
                    </div>
                    <div class="queInside-space">
                  <div class="row no-gutters">
                    <div class="col-lg-11">
                      <div class="row gutterField-15">
                      <div class="col-md-4">
                      <div class="form-group mb_form-group">
                            <div class="dropdown-select-wrap field_md">
                                    <div class="selectNG_dropdown" >
                                            <ng-select class="custom_ngSelect" [items]="form_all_values['availableBundles']" 
                                               bindLabel="text" (change)="updateCoverage()"
                                               bindValue="value"
                                               [multiple]="false"
                                               [searchable]="false"
                                               formControlName="selectedBundle"
                                               >
                                               </ng-select>
                                               <label class="selectLabel">Coverage
                                                    Bundle</label>
         <svg class="arrowIcon" xmlns="http://www.w3.org/2000/svg" width="11.67" height="6.04" viewBox="0 0 11.67 6.04">
           <polygon points="5.89 6.04 0 0.74 0.67 0 5.88 4.69 11 0 11.67 0.74 5.89 6.04" fill="#fff"></polygon>
           </svg>
                                             </div>
                            </div>
                          </div>
                      </div>
                        <div class="col-md-4">
                          <div class="form-group mb_form-group">
                            <div class="dropdown-select-wrap field_md">
                                    <div class="selectNG_dropdown" >
                                            <ng-select class="custom_ngSelect" [items]="policy_term_data" 
                                               bindLabel="text"
                                               bindValue="value"
                                               [multiple]="false"
                                               [searchable]="false"
                                               formControlName="policyTerm"
                                               >
                                               </ng-select>
                                               <label class="selectLabel">Policy Term</label>
         <svg class="arrowIcon" xmlns="http://www.w3.org/2000/svg" width="11.67" height="6.04" viewBox="0 0 11.67 6.04">
           <polygon points="5.89 6.04 0 0.74 0.67 0 5.88 4.69 11 0 11.67 0.74 5.89 6.04" fill="#fff"></polygon>
           </svg>
                                             </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                                <div class="form-group mb_form-group">
                                        <div class="field_md">
                                            <!-- <input type="tel" placeholder="MM/DD/YYYY" class="form-control cmnField cstFld" required="" value="" autocomplete="given-name" formControlName="dateOfBirth3" id="dateOfBirth3" maxlength="10" (keypress)="numberOnly($event)"> -->
                                            <input type="text"  class="form-control cmnField cstFld " [ngClass]="{'ffl-floated-force' : coverage_form.get('effectiveDate').value!=''  }" formControlName="effectiveDate"   autocomplete="given-name"  id="dateOfBirth1" maxlength="10" DobValidation >
                                                  <label class="primary-label">Effective Date</label>
                                            <!-- Toggle "has-error has-error-icon" this 2 class for Error -->
                                            <div class="invalid-fld-feedback">Please enter a valid effective date</div>
                                        </div>
                                    </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>
              </div>

              <div class="section-page-question">
                <div class="question-wrap">
                    <div class="question-header d-flex"> <span class="question-counter"> <span class="countNbr"></span> <svg class="iconMark" width="15" height="14" viewbox="0 0 15 14" fill="none">
                      <path d="M2 8.36364L6.23077 12L13 2"></path>
                      </svg> </span>
                      <div>
                        <h3 class="question-text que_HeadLg-sm">Common Coverages <span class="smlTxt">(Applies to all vehicles)</span></h3>
                      </div>
                    </div>
                  <div class="queInside-space">
                  <div class="row no-gutters"  formArrayName="commonCoverages" *ngFor="let commonCoverage of coverage_form.get('commonCoverages')['controls'] ; let i=index">
                  <div class="col-lg-10">
                  <div class="coverage-formGroup-Row" [formGroupName]="i">
                    <div class="row  gutter-20vw align-items-center">
                      <div class="col-md-5">
                        <div class="que_Heading f-W-B f-size-20 line-H-1_4">{{commonCoverage.get('name').value}}</div>
                      </div>
                      <div class="col-md">
                       <div class="mdlTxt text-color-3 f-W-M line-H-1_4" *ngIf="commonCoverage.get('limits').value.length==1">
                                                                    {{commonCoverage.get('limits').value[0]['description']}}</div>
                                                                    <div class="form-group mb_form-group" *ngIf="commonCoverage.get('limits').value.length>1">
                                                                            <div class="dropdown-select-wrap field_md" >
                                                                             
                                                                                <div class="selectNG_dropdown" >  
                                                                                        <ng-select class="custom_ngSelect" [items]="commonCoverage.get('limits').value" 
                                                                                           bindLabel="description" readonly disabled
                                                                                           bindValue="value"
                                                                                           [multiple]="false"
                                                                                           [searchable]="false"
                                                                                           formControlName="selectedValue"
                                                                                           >
                                                                                           </ng-select>
                                                                                           <label class="selectLabel">{{commonCoverage.get('name').value}}</label>
                                                     <svg class="arrowIcon" xmlns="http://www.w3.org/2000/svg" width="11.67" height="6.04" viewBox="0 0 11.67 6.04">
                                                       <polygon points="5.89 6.04 0 0.74 0.67 0 5.88 4.69 11 0 11.67 0.74 5.89 6.04" fill="#fff"></polygon>
                                                       </svg>
                                                                                         </div>
                                                                            </div>
                                                                        </div>
                      </div>
                    </div>
                  </div>
                  
                  </div>
                  </div>
                  </div>
                </div>
              </div>
              <div class="section-page-question" >
                <div class="question-wrap">
                    <div class="question-header d-flex"> <span class="question-counter"> <span class="countNbr"></span> <svg class="iconMark" width="15" height="14" viewbox="0 0 15 14" fill="none">
                      <path d="M2 8.36364L6.23077 12L13 2"></path>
                      </svg> </span>
                      <div>
                        <h3 class="question-text que_HeadLg-sm">Vehicle Coverages <span class="smlTxt">(Applies per vehicles if more than one)</span></h3>
                      </div>
                    </div>
                  <div class="queInside-space" formArrayName="vehicleCoverages" *ngFor="let vehicleCoverage of coverage_form.get('vehicleCoverages')['controls'] ; let i=index">
                  <div class="row no-gutters" [formGroupName]="i">
                  <div class="col-lg-10">
                  <div class="que_vehicleHeading text-color-3 f-W-B">2014 ACURA ILX</div>
                  <div class="coverage-formGroup-Row" formArrayName="{{vehicle_index}}" *ngFor="let vehicleCoverage1 of vehicleCoverage['controls'] ; let vehicle_index=index">
                    <div class="row  gutter-20vw align-items-center">
                      <div class="col-md-5">
                        <div class="que_Heading f-W-B f-size-20 line-H-1_4"> {{ vehicleCoverage1.get('name').value}}</div>
                      </div>
                      <div class="col-md">
                            <div class="form-group mb_form-group">
                                    <div class="dropdown-select-wrap field_md" >
                                     
                                        <div class="selectNG_dropdown" >
                                                <ng-select class="custom_ngSelect" [items]="vehicleCoverage1.get('limits').value" 
                                                   bindLabel="description" 
                                                   bindValue="value"
                                                   [multiple]="false"
                                                   [searchable]="false"
                                                   formControlName="selectedValue"
                                                   >
                                                   </ng-select>
                                                   <label class="selectLabel">{{vehicleCoverage1.get('name').value}}</label>
             <svg class="arrowIcon" xmlns="http://www.w3.org/2000/svg" width="11.67" height="6.04" viewBox="0 0 11.67 6.04">
               <polygon points="5.89 6.04 0 0.74 0.67 0 5.88 4.69 11 0 11.67 0.74 5.89 6.04" fill="#fff"></polygon>
               </svg>
                                                 </div>
                                    </div>
                                </div>
                      </div>
                    </div>
                  </div>
                 
                
                  </div>
                  </div>
                  </div>
                </div>
              </div>
              
            </div>
            <div class="navigation-buttons">
            <div class="row no-gutters">
                  <div class="col-lg-10">
                  <div class="btnSpc-Rgt-tltp">
              <ul class="list-inline mb-0 text-right btnsList_form">
                    <li class="list-inline-item"> <a routerLink="/" class="btn btnstl-1 btnBg-3">Back</a>
                    </li>
                    <li class="list-inline-item"><button [disabled]="!coverage_form.valid"  type="submit" class="btn btnstl-1 btnBg-3 ">Get Quote</button>
                    </li>
              </ul>
             </div>
             </div>
             </div>
             
            </div>
            </form>
          </div>
          </div>
          </div>
          <pro-sidebar></pro-sidebar>
          </div>
          
          
        </div>
      </div>
      <app-footer-quote></app-footer-quote>
    </div>
  </div>
  <!-- .perspScreen --> 
</div>
<!-- .fullPG_Wrap -->

<?php include('includes/footer-scripts.php'); ?>
</body>
