<app-page-loader  *ngIf="loading"></app-page-loader>

<div class="fullPG_Wrap">
    <div class="perspScreen">
      <div class="pgWrapFull spcTpHeader vrLinesWrap">
  
       <app-header (languageChange)="onlanguageChange($event)"></app-header>
  
        <div class="cmsHead_wrap">
            <div class="container-fluid lg-container">
              <h1 class="cmsPg-ttl text-center" [innerHTML]="pageArr.page_title"></h1>
            </div>
          </div>


          <div class="section-lg cmsPg_wrap gray-color-2">
            <div class="container-fluid lg-container">


              <div class="pgEditorCont editorCont last-p">
                <h4 class="cmsSub_Head" [innerHTML]="pageArr.instruction_title"><!-- Instructions: --></h4>
                <p> {{pageArr.instruction_subtitle}}<br>    </p>
                  <div *ngFor="let ins of instruction_suboints" [innerHTML]=
                  "ins"><br></div>
            

                <p><img src="{{project_path}}{{image_path}}{{pageArr.instruction_image1}}" alt="" /></p>
                <p [innerHTML]="pageArr.instruction_subtitle2"></p>

                <div class="table-responsive">
                  <table>
                    <thead>
                      <tr>
                        <th>Company Name</th>
                        <th>Link</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="company_name">
                      <tr *ngFor="let cmp of company_name;let i = index;">
                        <td [innerHTML]="cmp"></td>
                        <td><a target="_blank" href="{{project_path}}{{company_file_url[i]}}" >Click Here</a></td>
                      </tr>
                      <!-- <tr>
                        <td>Redpoint County Mutual: PIRP PP 0418 <br>(Effective: September 2018)</td>
                        <td><a target="_blank" [routerLink]="company_file_url[i]">Click Here</a></td>
                      </tr> -->
                    <!--   <tr>
                        <td>National Unity Insurance Company: PINUIC PP 0318 <br>(Effective: September 2018)</td>
                        <td><a target="_blank" href="images/pdf/NU_-_PGA_Jacket.pdf">Click Here</a></td>
                      </tr> -->
                    </tbody>
                  </table>
                </div>

                <p [innerHTML]="pageArr.instruction_subtitle3"></p>

                <div class="table-responsive">
                  <table>
                    <thead>
                      <tr>
                        <th>Endorsement #</th>
                        <th>Endorsement Name</th>
                        <th>Link</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="endorsement">
                      <tr *ngFor="let end of endorsement;let i = index;">
                        <td [innerHTML]="end"></td>
                        <td [innerHTML]="endorsement_name[i]"></td>
                        <td><a target="_blank" href="{{project_path}}{{endorsement_url[i]}}">Click Here</a></td>
                      </tr>
                  <!--     <tr>
                        <td>PGA.510B</td>
                        <td>ADDITIONAL INSURED – LESSOR</td>
                        <td><a target="_blank" href="images/pdf/PGA.510B_-_Additional_Insured_-_Lessor.pdf">Click Here</a></td>
                      </tr>
                      <tr>
                        <td>PGA.515B</td>
                        <td>EXCLUSION OF NAMED DRIVER AND REJECTION OF COVERAGES</td>
                        <td><a target="_blank" href="images/pdf/PGA.515B_-_Exclusion_of_Named_Driver_and_Rejection_of_Coverage.pdf">Click Here</a></td>
                      </tr>
                      <tr>
                        <td>PGA.NO.600</td>
                        <td>NON-OWNER POLICY</td>
                        <td><a target="_blank" href="images/pdf/PGA.NO.600_-_Non-Owner_Policy.pdf">Click Here</a></td>
                      </tr>
                      <tr>
                        <td>571A</td>
                        <td>FINANCIAL RESPONSIBILITY CERTIFICATION (SR-22 Filings)</td>
                        <td><a target="_blank" href="images/pdf/571A_-_Financial_Responsibility_Certification__Promulgated_-converted.pdf">Click Here</a></td>
                      </tr>
                      <tr>
                        <td>Rental</td>
                        <td>RENTAL REIMBURSEMENT COVERAGE</td>
                        <td><a target="_blank" href="images/pdf/5c0008ed5f687303b504332d/Rental_-_Rental_Reimbursement_Coverage.pdf">Click Here</a></td>
                      </tr>
                      <tr>
                        <td>Towing</td>
                        <td>TOWING AND LABOR COVERAGE</td>
                        <td><a target="_blank" href="images/pdf/Tow_Lab_-_Towing_and_Labor_Coverage.pdf">Click Here</a></td>
                      </tr> -->
                    </tbody>
                  </table>
                </div>

                <h5 class="cmsSub_Head" [innerHTML]="pageArr.important_title"><!-- Important Notices: --></h5>
                <p [innerHTML]="pageArr.important_subtitle"><!-- Consumer Bill of Rights:  --></p>

                <ul *ngIf="important_subtitles">
                  <li *ngFor="let ind of important_subtitles;let i =index;"><a target="_blank" href="{{project_path}}{{important_subtitles_url[i]}}" title="Consumer Bill of RIghts">{{ind}}</a></li>
               <!--    <li><a target="_blank" href="https://www.tdi.texas.gov/rules/2012/documents/Consumer_Bill_o.pdf" title="Consumer Bill of RIghts">Spanish Version (en Español)</a></li> -->
                </ul>


                <p [innerHTML]="pageArr.important_subtitle1"></p>
                <p [innerHTML]="pageArr.important_subtitle2"><!-- 1.601 Complaint Notices: --></p>
                <ul *ngIf="importnat_subtitles2">
                  <li *ngFor="let imp2 of importnat_subtitles2;let i = index;"><a target="_blank" href="{{project_path}}{{importnat_subtitles2_url[i]}}" title="Redpoint">{{imp2}}</a></li>
                 <!--  <li><a target="_blank" href="images/pdf/2020_-_CEM_Complaint_Notice_-_1.601-converted.pdf" title="CEM">CEM Complaint Notice</a></li>
                  <li><a target="_blank" href="images/pdf/National_Unity_Complaint_Notice_-_1.601-converted.pdf" title="National">National Unity Complaint Notice</a></li> -->
                </ul>

                <h5 class="cmsSub_Head" [innerHTML]="pageArr.historical_title"><!-- Historical Reference Items: --></h5>
                <p ><i [innerHTML]="pageArr.historical_subtitle"><!-- Note that inorder to comply with H.B. 259 (86th R.S.), if your policy was written or renewed on or after January 1st, 2020, PGA.AuthDriver.003b & PGA.IP.013d endorsements are no longer offered. --></i></p>
                <ul *ngIf="historical_subtitles">
                  <li *ngFor="let hist of historical_subtitles" >{{hist}}<a target="_blank" href="{{project_path}}{{historical_subtitles_url[i]}}">Click Here</a></li>
                </ul>

                <h5 class="cmsSub_Head" [innerHTML]="pageArr.historical_endor_title"><!-- Historical Endorsements - Not offered after January 1st, 2020 --></h5>

                <div class="table-responsive">
                  <table>
                    <thead>
                      <tr>
                        <th>Endorsement Number</th>
                        <th>Endorsement Name</th>
                        <th>Link</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="endorsement_number1">
                      <tr *ngFor="let end of endorsement_number1;let i = index;">
                        <td>{{end}}</td>
                        <td>{{endorsement_name1[i]}}</td>
                        <td><a target="_blank" href="{{project_path}}{{endorsement_url1}}">Click Here</a></td>
                      </tr>
                   <!--    <tr>
                        <td>PGA.IP.013d</td>
                        <td>INSURED PERSON ENDORSEMENT</td>
                        <td><a target="_blank" href="images/pdf/PGA.IP.013D_-_Insured_Person_Endorsement.pdf">Click Here</a></td>
                      </tr>
                      <tr>
                        <td>PGA.Punitive.018</td>
                        <td>EXEMPLARY OR PUNITIVE DAMAGES ENDORSEMENT</td>
                        <td><a target="_blank" href="images/pdf/5c0008e05f687303b504332b/PGA.Punitive.018.pdf">Click Here</a></td>
                      </tr> -->
                    </tbody>
                  </table>
                </div>

                <p  [innerHTML]="pageArr.historical_endor_subtitle1"></p>
                <p [innerHTML]="pageArr.historical_endor_subtitle2"></p>
                <p [innerHTML]="pageArr.historical_endor_subtitle3"></p>

              </div>

            </div>
          </div>
      <div class="overflow-hidden" *ngIf="pageArr != ''">
            <div >
               <app-ads class="row gutter-8"></app-ads>   
               </div> 
        <!--     <div class="row gutter-8">
              <div class="col-md-6">
                <div class="boxImgInfo mr_B bxFull" style="background-image:url(./assets/images/{{pageArr.ad_banner1}})"
                  data-aos="fade-up" data-aos-duration="900">
                  <div class="mngInside d-flex align-items-center">
                    <div class="w-100 z_ind1">
                      <div class="textCont text-color-white text-center">
                        <div class="smTxt text-uppercase" data-aos="fade-up" data-aos-duration="900">{{pageArr.ad_banner_title1}}</div>
                        <div class="bxTitle text-uppercase font-F-2" data-aos="fade-up" data-aos-delay="300"
                          data-aos-duration="900">{{pageArr.ad_banner_subtitle1}}</div>
                        <div class="btnRow" data-aos="fade-up" data-aos-delay="500" data-aos-duration="900"><a href="{{pageArr.ad_banner_butoon_url1}}"
                            class="btn cmnBtn btnBg-1 text-uppercase">{{pageArr.ad_banner_butoon_text1}}</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="boxImgInfo mr_B bxFull" style="background-image:url(./assets/images/{{pageArr.ad_banner2}})"
                  data-aos="fade-up" data-aos-duration="900">
                  <div class="mngInside d-flex align-items-center">
                    <div class="w-100 z_ind1">
                      <div class="textCont text-color-white text-center">
                        <div class="smTxt text-uppercase" data-aos="fade-up" data-aos-duration="900">{{pageArr.ad_banner_title2}}</div>
                        <div class="bxTitle text-uppercase font-F-2" data-aos="fade-up" data-aos-delay="300"
                          data-aos-duration="900">{{pageArr.ad_banner_subtitle2}}</div>
                        <div class="btnRow" data-aos="fade-up" data-aos-delay="500" data-aos-duration="900"><a href="{{pageArr.ad_banner_butoon_url2}}"
                            class="btn cmnBtn btnBg-1 text-uppercase">{{pageArr.ad_banner_butoon_text2}}</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
  
  
        <footer class="footerWrap overflow-hidden">
          <app-footer></app-footer>
        </footer>
      </div>
    </div> <!-- .perspScreen -->
  </div> <!-- .fullPG_Wrap -->
  