<app-pre-loader *ngIf="loading"></app-pre-loader>
<div class="fullPG_Wrap">
  <div class="perspScreen">
    <div class="pgWrapFull spcTpHeader vrLinesWrap">

      <app-header (languageChange)="onlanguageChange($event)"></app-header>
      <div class="dashboard_pg_wrap minScreen-hgt bg-patternGrdnt">
        <app-dashboard-responsive-top-header></app-dashboard-responsive-top-header>
        <div class="dashScreen_wrap">
          <div class="row no-gutters dashWrap_Row">
            <div class="col-lg-auto brdRgt">
              <div class="colWdth_side">
                <app-dashboard-side-nav></app-dashboard-side-nav>
              </div>
            </div>
            <div class="col-lg brdCol">
              <div class="dashboard_middle">
              
                <div class="dashboard-mdl_Scroll cstScroller cst_mCst_scroll_Desk " data-aos="fade-up"
                  data-aos-delay="300" data-aos-duration="900">

                  <div class="dashB_mdl-pd pb-4" >
                    <h1 class="dashlg-Head font-F-1 f-W-B"><span class="wrapIn">Policy Details</span></h1>
                    <div class="cardDash_cmn dash_cardRow extrPD-lbl f-size-20 line-H-1_3">
                      <div class="statusLabel f-W-M">Active</div>
                      <div class="row no-gutters">
                        <div class="col-md-auto text-center text-sm-left">
                          <div class="h-100 d-flex align-items-center">
                            <div class="w-100">
                              <div class="iconWrap"><img class="w-100" src="assets/images/dash-policy-icon-2.png"
                                  alt="" /></div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md overflow-hidden">
                          <div class="row h-100 rowGutter_spc insRowBrd">
                            <div class="col-sm-auto d-flex align-items-center">
                              <div class="colCont_Wrp w-100">
                                <div class="contCol-1 text-center text-md-left">
                                  <div class="lable-ttl">Policy Number:</div>
                                  <div class="f-W-M text-color-3">{{policy.policyNumber}}</div>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm d-flex align-items-center">
                              <div class="colCont_Wrp w-100">
                                <div class="contCol-3 text-center text-md-left">
                                  <div class="lable-ttl f-W-B">Policy Effective:</div>
                                  <div class="f-W-M"> {{policy.effectiveDate}} - {{policy.expirationDate}} </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                     



                    <div class="row no-gutters">
                        <div class="col-md">
                          
                            <div class="queCol_Outer pTB_quote lg-BT-scroll" data-aos="fade-up" data-aos-duration="700">
                              <div class="section-page-header brdLine-BT">
                                <h1 class="headingStl-1">Questionnaire</h1>
                              </div>
            
            
            
                             <div class="pg-tltp-spc">
                                <form [formGroup]="form">
                                    
                                    <!-- <ul class="list-inline listQuote-Info extra-mb">
                                    <li class="list-inline-item">
                                        <div class="quoteInfo_item">
                                        <div class="txt-head line-H-1_3 f-W-B">Quote For:</div>
                                        <div class="txtWrap f-size-18 line-H-1_3 gray-color-2">{{quoteFor | titlecase}}</div>
                                        </div>
                                    </li>
                                    <li class="list-inline-item">
                                        <div class="quoteInfo_item">
                                        <div class="txt-head line-H-1_3 f-W-B">Quote Number:</div>
                                        <div class="txtWrap f-size-18 line-H-1_3 gray-color-2">{{productQuoteId}}</div>
                                        </div>
                                    </li>
                                    </ul> -->
            
            
                                    <div class="section-page-questions" formArrayName="queArray">
                                        <div class="section-page-question" *ngFor = "let quest of queFormArray.controls; let i = index" [formGroupName]="i">
                                            <div class="question-wrap row no-gutters justify-content-between">
                                            <div class="col-lg-5 question-header d-flex"> <span class="question-counter"> 
                                               
                                                <span class="countNbr"></span>
                                                    <svg class="iconMark" width="15" height="14"
                                                    viewbox="0 0 15 14" fill="none">
                                                    <path d="M2 8.36364L6.23077 12L13 2"></path>
                                                </svg> 
                                            </span>
                                                <div>
                                                <p class="question-byline text-color-black"> {{formFields[i]}}</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 question-content">
                                                <div class="queNbrSpace">
                                                <div class="tltp-mng_R">
                                                    <div class="row gutterField-8">
                                                    <div class="col-6">
                                                        <div class="form-group mb_form-group">
                                                        <div class="cstBlockwrap">
                                                            <label for="questionnaire_1_{{i}}-Yes"
                                                            class="custom-control custom-block custom-radio mb-0">
                                                            <input id="questionnaire_1_{{i}}-Yes" formControlName="answer"  value="2" type="radio"
                                                                class="custom-control-input form-check-input" required>
                                                            <span class="custom-control-label-wrap"><span
                                                                class="custom-control-indicator"></span> <span
                                                                class="indicator-label">Yes</span> </span> </label>
                                                        </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="form-group mb_form-group">
                                                        <div class="cstBlockwrap">
                                                            <label for="questionnaire_1_{{i}}-No"
                                                            class="custom-control custom-block custom-radio mb-0">
                                                            <input id="questionnaire_1_{{i}}-No"  type="radio"
                                                                class="custom-control-input form-check-input" formControlName="answer"  value="1">
                                                            <span class="custom-control-label-wrap"><span
                                                                class="custom-control-indicator"></span> <span
                                                                class="indicator-label">No</span> </span> </label>
                                                        </div>
                                                        </div>
                                                    </div>
                                                    </div>
            
                                                    <div class="form-group mb_form-group" *ngIf="ansFormating[i] == 3 && form.controls['queArray'].controls[i].controls['answer'].value == 2 ">
                                                        <div class="field_md">
                                                            <input class="form-control cmnField" formControlName="description" [ngClass]="{'ffl-floated-force' :  form.controls['queArray'].controls[i].controls['description'].value != ''}">
                                                            
                                                            <label class="primary-label">Please enter your details here</label>
                                                            <div class="invalid-fld-feedback">Please enter your details</div>
                                                        </div>
                                                    </div>
                
                                                    <span class="tooltipIcon" data-tooltip="tooltip" data-html="true"
                                                    title={{tooltipData[i]}}><img
                                                        class="iconTooltip_img" src="assets/images/icon-info.svg" alt=""></span>
                                                </div>
                                                </div>
                                            </div>
                                            </div>
                
                                        </div>
                                        </div>
            
            
                                    <div class="navigation-buttons">
                                        <ul class="list-inline mb-0 text-right btnsList_form">
                                            <li class="list-inline-item"> 
            
                                                <button id="openModalProviderAnsError" [hidden]="true"
                                                                        data-toggle="modal"
                                                                        data-target="#modal-Error_Provider_Answer">Open
                                                                        Modal</button>
            
                                                <button type="button" class="btn btnstl-1 btnBg-3" [disabled]="!form.valid"  (click)="onSubmit()">Save & Continue</button>
                <!--  -->
                                            </li>
                                        </ul>
                                        </div>
                                </form>
                             </div>
                           
                            </div>
                        
                        </div>
                       
                      </div>





                  </div>

              
                </div>
              </div>
            </div>
            <div class="col-lg-auto brdLft">
              <div class="colWdth_side">
                <app-dashboard-side-userinfo></app-dashboard-side-userinfo>
              </div>
            </div>
          </div>
        </div>
      </div>


      
       <!-- Modal Error Driver License -->
       <div class="modal fade modalCst" id="modal-Error_Provider_Answer">
        <div class="modal-dialog modal-dialog-centered modal-cst-sm">
            <div class="modal-content modalGetQuote">
                <button type="button" class="close btnClose" data-dismiss="modal"><span>×</span></button>
                <div class="modal-body pb-lg">
                    <div class="row no-gutters justify-content-center">
                        <div class="col-lg-10">
                            <div class="infoModalWrap text-center">
                                <div class="txt-summary last-p line-H-1_3">
                                    <p class="text-color-3 txt-Md"><strong>Check provided answers</strong></p>
                                    <p class="gray-color-2 f-size-18">Please check again the answers you have provided to continue with the quote.</p>
                                </div>
                                <div class="btnsWrapp mx-width">
                                    <ul class="list-unstyled  btnListing mb-0">
                                        <li>
                                            <a class="btn cmnBtn btnBg-2 sm-sz text-uppercase btn-block"
                                                data-dismiss="modal">Ok</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- End Modal Error Driver License -->



      <footer class="footerWrap overflow-hidden">
        <app-footer></app-footer>
      </footer>
    </div>
  </div> <!-- .perspScreen -->
</div> <!-- .fullPG_Wrap -->
