<div class="preloaderOuter">
  <!--<div class="preloader">
        <div class="circle-dot circ1"></div>
        <div class="circle-dot circ2"></div>
        <div class="circle-dot circ3"></div>
        <div class="circle-dot circ4"></div>
      </div>-->
     
      <div class="preload_logoOuter preloader_sm">
  <div class="preload_flip">
  <div class="preload_logo logoFront"><img class="w-100" src="assets/images/pronto_preloader.png" alt=""></div>
  <div class="preload_logo logoBack"><img class="w-100" src="assets/images/pronto_preloader.png" alt=""></div>
  </div>
  </div>
     
  </div>