<div class="dashboardResp_Head d-lg-none">
    <div class="container-fluid">
        <div class="dash_Resp_cont_head">
            <div class="row flex-nowrap">
                <div class="col-auto">
                    <div class="sm-col-width">
                        <div class="pro_picWrap_circle">
                            <div class="mngIn">
                                <div class="userProf-pic">
                                    <img *ngIf="user['profile_image']" class="w-100"
                                        src="{{user['profile_image']}}" alt="">

                                    <div *ngIf="!user['profile_image']"
                                        class="user_letter d-flex align-items-center justify-content-center">
                                        <div class="letter_wrp f-W-B text-color-3 ">
                                            {{user['firstName'][0] | titlecase}}
                                            {{user['lastName'][0] | titlecase}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="mngContent text-center" *ngIf="user">
                        <div class="dashReshHead">Welcome <strong>{{user['firstName'] | titlecase}} {{user['lastName'] | titlecase}}</strong></div>
                        <div class="btnWrap"><a routerLink="/" class="btn cmnBtn btn-sz-md btnBg-1 text-uppercase">Report
                                CLAIM</a></div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="sm-col-width text-right">
                        <div class="d-lg-none text-right">
                            <button class="btn btnBg-1 summary-Btn dash_user_iconBtn" type="button" data-toggle="modal"
                                data-target="#drawerModal_DashB_User"><span class="d-flex flex-row"><img class="icon"
                                        src="assets/images/summary-btn-icon.svg" alt=""></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>