





      
<body class="mngTp-alert-Spc">
        <div class="fullPG_Wrap">
          <div class="perspScreen">
            <div class="pgWrapFull spcTpHeader">
             
                <app-header></app-header>
                <pro-stepper></pro-stepper>
              <div class="quotePG_wrap overflow-hidden position-relative">
              <!--<div class="floatImg floatShape-2 quoteCoverage_imgFloat_2 floating-Animate"><img class="w-100" src="images/floating-img-2.png" alt=""></div>
              <div class="floatImg floatShape-1 quoteCoverage_imgFloat_1 floating-Animate"><img class="w-100" src="images/floating-img-1.png" alt=""></div>
              <div class="floatImg floatShape-4 quoteCoverage_imgFloat_4 floating-Animate"><img class="w-100" src="images/floating-img-4.png" alt=""></div>-->
        
                <div class="containerPD-L">
                <div class="row no-gutters">
                        <div class="col-md">
                                <div class="formScreen_Hgt spcMng_mp">
                                  <div class="queCol_Outer pTB_quote lg-BT-scroll" data-aos="fade-up" data-aos-duration="700">
                                    
                                    <div>
                                    <div class="loginChrtr_mng beyontec_Chrtr_screen">
                          <div class="loginCharacter">
                         <img class="w-100" src="images/login-character.png" alt="" />
                         </div>
                         <div class="beyontec_Chrtr_OuterBx">
                         <div class="charact_Hand"><img src="images/login-character-hand.png" alt=""/></div>
                         
                         <div class="row no-gutters">
                         <div class="col-md-11">
                         <div class="beyontec_Chrtr_Bx thnx_bx_wrap">
                         <div class="headSecWrap">
                        <!-- <ul class="list-inline listQuote-Info mb-0">
                                      <li class="list-inline-item">
                                        <div class="quoteInfo_item">
                                          <div class="txt-head line-H-1_3 f-W-B">Quote For:</div>
                                          <div class="txtWrap f-size-18 line-H-1_3 gray-color-2">Nilisha Mane</div>
                                        </div>
                                      </li>
                                      <li class="list-inline-item">
                                        <div class="quoteInfo_item">
                                          <div class="txt-head line-H-1_3 f-W-B">Quote Number:</div>
                                          <div class="txtWrap f-size-18 line-H-1_3 gray-color-2">Q001632570</div>
                                        </div>
                                      </li>
                                    </ul> -->
                        </div>
                        
                        <div class="thankMsg-hgt d-flex align-items-center">
                        <div class="w-100 text-center">
                        <div class="thankMsg_wrap text-center">
                        <div class="heading-bx font-F-3 f-W-SB">Thank you for <br>your business!</div>
                        <div class="btnRow">
                        <a href="#" class="btn cmnBtn btnBg-2 sm-sz btn-min-w text-uppercase">CREATE LOGIN</a>
                        </div>
                        </div>
                        </div>
                        </div>
                                
                                
                                
                                
                                
                                
                         </div>
                         </div>
                         </div>
                         </div>
                         
                         </div>
                         </div>
                                   
                                    
                                    <div class="beyontecQuote_Bx callAgent_Card mt-lg">
                                    <div class="mngIn_wrap d-flex align-items-center">
                                    <div class="w-100">
                                    <div class="row gutter-10vw align-items-center">
                                    <div class="col-md-7">
                                    <div class="callAgent_cont d-md-flex">
                                    <div class="iconWrap"><img src="images/call-agent-icon.png" alt="" /></div>
                                    <div class="infoWrap line-H-1_4 text-center text-md-left flex-fill align-self-end">
                                    <div class="heading text-color-3 f-W-B">Speak with an expert</div>
                                    <div class="txt-summary gray-color-2 f-size-16">Connect with a licensed insurance agent to find more discounts, answer your questions, or purchase a policy.</div>
                                    </div>
                                    </div>
                                    </div>
                                    <div class="col-md-5">
                                    <div class="nbrWrap text-center text-md-right">
                                    <a href="tel:1-(979)-243-6677" class="btn callAgent-nbr text-color-3"><img class="icon" src="images/icon-call-phone.svg" alt="" />1-(979) 243-6677</a>
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                                    
                                  </div>
                                </div>
                              </div>
                        
                        
                  <pro-sidebar></pro-sidebar>
                  </div>
                  
                  
                </div>
              </div>
              <app-footer-quote></app-footer-quote>
            </div>
          </div>
          <!-- .perspScreen --> 
        </div>
        <!-- .fullPG_Wrap -->
        
        </body>
        