.mCustomScrollbar1 {
    overflow-y: auto;
    scroll-behavior: smooth;
}


/* width */
::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #E8E8E8;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#A3A5A6;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #A3A5A6;
  }
