<!-- <app-header (languageChange)="onlanguageChange($event)"></app-header> -->

<app-sidebar></app-sidebar>
<div class="site_preloader" id="main_loader">
  <div class="preload_logoOuter">
  <div class="preload_flip">
  <div class="preload_logo logoFront"><img class="w-100" src="./assets/images/pronto_preloader.png" alt=""></div>
  <div class="preload_logo logoBack"><img class="w-100" src="./assets/images/pronto_preloader.png" alt=""></div>
  </div>
  </div>
</div>

<!-- <div class="site_preloader" *ngIf="loading" id="main_loader">
  <div class="preload_logoOuter">
  <div class="preload_flip">
  <div class="preload_logo logoFront"><img class="w-100" src="./assets/images/pronto_preloader.png" alt=""></div>
  <div class="preload_logo logoBack"><img class="w-100" src="./assets/images/pronto_preloader.png" alt=""></div>
  </div>
  </div>
  </div> -->

<router-outlet></router-outlet>
<!-- <app-footer></app-footer> -->