<div class="fullPG_Wrap">
    <div class="perspScreen">
      <div class="pgWrapFull spcTpHeader vrLinesWrap">
        <app-header></app-header>
        <pro-stepper></pro-stepper>
          <div class="quotePG_wrap overflow-hidden position-relative">
            <div class="floatImg floatShape-1 quote1_imgFloat_1 floating-Animate"> <img class="w-100"
                src="assets/images/floating-img-1.png" alt=""> </div>
            <div class="floatImg floatShape-5 quote1_imgFloat_5 floating-Animate"> <img class="w-100"
                src="assets/images/floating-img-5.png" alt=""> </div>
            <div class="containerPD-L">
              <div class="row no-gutters">
                <div class="col-md">
                  <div class="formScreen_Hgt spcMng_mp">
                    <div class="queCol_Outer pTB_quote lg-BT-scroll" data-aos="fade-up" data-aos-duration="700">
                      <div class="section-page-header brdLine-BT">
                        <h1 class="headingStl-1">Add Violations</h1>
                      </div>
  
                      <div class="f-size-20 mb__40 line-H-1_3">Enter all violations or accidents for each driver within
                        the past five years. If you are unsure of the date a violation occurred, it's ok to estimate.
                      </div>
  
                      <!-- <div class="section-page-questions">
                        <div class="section-page-question">
                          <div class="question-wrap">
                            <div class="table-responsive f-size-16 line-H-1_4">
                              <table class="table table-style-2 table-violations mb-0">
                                <thead>
                                  <tr>
                                    <th>Driver</th>
                                    <th>Vehicle</th>
                                    <th class="td_wdt_incident">Type of Incident</th>
                                    <th class="td_wdt_Violation">Violation</th>
                                    <th class="text-center">Violation Date</th>
                                    <th>Amount</th>
                                    <th></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td data-title="Driver">Mihir</td>
                                    <td data-title="Vehicle">2017 ACURA ILX</td>
                                    <td data-title="Type of Incident">VIOLATION</td>
                                    <td data-title="Violation">ALLOWING PERSON TO RIDE EXTERIOR OF VEHICLE</td>
                                    <td data-title="Violation Date" class="text-md-center">12/12/2016</td>
                                    <td data-title="Amount"></td>
                                    <td data-title=""><span
                                        class="smIconbtns sz-md d-flex align-items-center justify-content-md-end">
                                        <span class="wrpIcon"><button class="btn btnAction" data-toggle="modal"
                                            data-target="#modal-Add_Edit_Voilations"><img class="svgIcon"
                                              src="assets/images/iconbtn-edit.svg" alt=""></button></span>
                                        <span class="wrpIcon"><button class="btn btnAction"><img class="svgIcon"
                                              src="assets/images/iconbtn-delete.svg" alt=""></button></span>
                                      </span></td>
                                  </tr>
                                  <tr>
                                    <td data-title="Driver">Mihir</td>
                                    <td data-title="Vehicle">2017 ACURA ILX</td>
                                    <td data-title="Type of Incident">VIOLATION</td>
                                    <td data-title="Violation">ALLOWING PERSON TO RIDE EXTERIOR OF VEHICLE</td>
                                    <td data-title="Violation Date" class="text-md-center">12/12/2016</td>
                                    <td data-title="Amount"></td>
                                    <td data-title=""><span
                                        class="smIconbtns sz-md d-flex align-items-center justify-content-md-end">
                                        <span class="wrpIcon"><button class="btn btnAction" data-toggle="modal"
                                            data-target="#modal-Add_Edit_Voilations"><img class="svgIcon"
                                              src="assets/images/iconbtn-edit.svg" alt=""></button></span>
                                        <span class="wrpIcon"><button class="btn btnAction"><img class="svgIcon"
                                              src="assets/images/iconbtn-delete.svg" alt=""></button></span>
                                      </span></td>
                                  </tr>
                                  <tr>
                                    <td data-title="Driver">Mihir</td>
                                    <td data-title="Vehicle">2017 ACURA ILX</td>
                                    <td data-title="Type of Incident">VIOLATION</td>
                                    <td data-title="Violation">ALLOWING PERSON TO RIDE EXTERIOR OF VEHICLE</td>
                                    <td data-title="Violation Date" class="text-md-center">12/12/2016</td>
                                    <td data-title="Amount"></td>
                                    <td data-title=""><span
                                        class="smIconbtns sz-md d-flex align-items-center justify-content-md-end">
                                        <span class="wrpIcon"><button class="btn btnAction" data-toggle="modal"
                                            data-target="#modal-Add_Edit_Voilations"><img class="svgIcon"
                                              src="assets/images/iconbtn-edit.svg" alt=""></button></span>
                                        <span class="wrpIcon"><button class="btn btnAction"><img class="svgIcon"
                                              src="assets/images/iconbtn-delete.svg" alt=""></button></span>
                                      </span></td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
  
                          </div>
                        </div>
                      </div> -->
                      <div class="navigation-buttons">
                        <ul class="list-inline mb-0 text-right btnsList_form">
                          <li class="list-inline-item"><a href="#" class="btn btnstl-1 btn-w-auto">Back</a></li>
                          <li class="list-inline-item"><a href="#" class="btn btnstl-1 btnBrd" data-toggle="modal"
                              data-target="#modal-Add_Edit_Voilations">New Violations</a></li>
                          <li class="list-inline-item"><a routerLink="/quote-pro/quotation"  class="btn btnstl-1 btnBg-3">Save & Continue</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <pro-sidebar></pro-sidebar>
              </div>
            </div>
          </div>
        <app-footer-quote></app-footer-quote>
      </div>
    </div> <!-- .perspScreen -->
  </div> <!-- .fullPG_Wrap -->
  
  <div class="modal fade modalCst" id="modal-Add_Edit_Voilations">
    <div class="modal-dialog modal-cst-sm modal-dialog-centered">
      <div class="modal-content">
        <!--<button type="button" class="close btnClose" data-dismiss="modal"><span>×</span></button>-->
        <div class="modal-body pb-lg">
                <form  [formGroup]="Add_violation_form" (ngSubmit)="submit()">
          <div class="row no-gutters justify-content-center">
            <div class="col-lg-11">
              <div class="section-page-questions">
                <div class="section-page-question">
                  <div class="question-wrap pb-0">
                    <div class="question-header d-flex"> <span class="question-counter complete"> <span
                          class="countNbr"></span> <svg class="iconMark" width="15" height="14" viewbox="0 0 15 14"
                          fill="none">
                          <path d="M2 8.36364L6.23077 12L13 2"></path>
                        </svg> </span>
                      <div>
                        <h3 class="question-text">Add Violations</h3>
                      </div>
                    </div>
                    
                    <div class="question-content">
                      <div class="form-group mb_form-group">
                        <div class="dropdown-select-wrap field_md">
                          
                          <div class="selectNG_dropdown">
                                <ng-select class="custom_ngSelect" [items]="form_dropdown_data['driver_Id']" 
                                   bindLabel="text"
                                   bindValue="value"
                                   [multiple]="false"
                                   [searchable]="false"
                                   formControlName="driver_Id"
                                   >
                                   </ng-select>
                                   <label class="selectLabel">Driver ID</label>
<svg class="arrowIcon" xmlns="http://www.w3.org/2000/svg" width="11.67" height="6.04" viewBox="0 0 11.67 6.04">
<polygon points="5.89 6.04 0 0.74 0.67 0 5.88 4.69 11 0 11.67 0.74 5.89 6.04" fill="#fff"></polygon>
</svg>
                                 </div>
                        </div>
                      </div>
                      <div class="form-group mb_form-group">
                        <div class="dropdown-select-wrap field_md">
                     
                          <div class="selectNG_dropdown">
                                <ng-select class="custom_ngSelect" [items]="form_dropdown_data['vehicleList']" 
                                   bindLabel="text"
                                   bindValue="value"
                                   [multiple]="false"
                                   [searchable]="false"
                                   formControlName="vehicleNumber"
                                   >
                                   </ng-select>
                                   <label class="selectLabel">Vehicle Number</label>
<svg class="arrowIcon" xmlns="http://www.w3.org/2000/svg" width="11.67" height="6.04" viewBox="0 0 11.67 6.04">
<polygon points="5.89 6.04 0 0.74 0.67 0 5.88 4.69 11 0 11.67 0.74 5.89 6.04" fill="#fff"></polygon>
</svg>
                                 </div>
                        </div>
                      </div>
                      <div class="form-group mb_form-group">
                        <div class="dropdown-select-wrap field_md">
                        
                          <div class="selectNG_dropdown">
                                <ng-select class="custom_ngSelect" [items]="form_dropdown_data['violationTypes']" 
                                   bindLabel="text"
                                   bindValue="value"
                                   [multiple]="false"
                                   [searchable]="false"
                                   formControlName="violationType"
                                   >
                                   </ng-select>
                                   <label class="selectLabel">Type of Incident</label>
<svg class="arrowIcon" xmlns="http://www.w3.org/2000/svg" width="11.67" height="6.04" viewBox="0 0 11.67 6.04">
<polygon points="5.89 6.04 0 0.74 0.67 0 5.88 4.69 11 0 11.67 0.74 5.89 6.04" fill="#fff"></polygon>
</svg>
                                 </div>
                        </div>
                      </div>
                      <div class="form-group mb_form-group">
                        <div class="field_md fld-icon-Date field_labelTP">
                          <input class="form-control cmnField datepicker_fld" type="text" maxlength="10" formControlName="violationDate"
                            placeholder="MM/DD/YYYY" DobValidation>
                          <!-- Toggle "has-error" this class for Error -->
                          <label class="primary-label label-Tp">Date</label>
                          <div class="fldIcon"><img src="assets/images/icon-calendar.png" alt=""></div>

                        </div>
                      </div>
                      <div class="form-group mb_form-group">
                        <div class="dropdown-select-wrap field_md">
                         
                          <div class="selectNG_dropdown">
                                <ng-select class="custom_ngSelect" [items]="form_dropdown_data['violationList']" 
                                   bindLabel="text"
                                   bindValue="value"
                                   [multiple]="false"
                                   [searchable]="false"
                                   formControlName="violationCode"
                                   >
                                   </ng-select>
                                   <label class="selectLabel">Violation Code</label>
<svg class="arrowIcon" xmlns="http://www.w3.org/2000/svg" width="11.67" height="6.04" viewBox="0 0 11.67 6.04">
<polygon points="5.89 6.04 0 0.74 0.67 0 5.88 4.69 11 0 11.67 0.74 5.89 6.04" fill="#fff"></polygon>
</svg>
                                 </div>
                        </div>
                      </div>
                      <div class="form-group mb_form-group">
                        <div class="field_md">
                          <input class="form-control cmnField" [ngClass]="{'ffl-floated-force' : Add_violation_form.get('location').value!=''}" type="text"  formControlName="location">
                          <!-- Toggle "has-error has-error-icon" this 2 class for Error -->
                          <label class="primary-label">City, State</label>
                        </div>
                      </div>


                    </div>
                  </div>
                </div>
              </div>
              <div class="navigation-buttons">
                <ul class="list-inline mb-0 text-right btnsList_form">
                  <li class="list-inline-item"><a href="#" class="btn btnstl-1 btnBrd" data-dismiss="modal">Cancel</a>
                  </li>
                  <li class="list-inline-item"> <button  type="submit" [disabled]="!Add_violation_form.valid" class="btn btnstl-1 btnBg-3 ">Add</button></li>
                </ul>
              </div>
            </div>
         
          </div>
        </form>
        </div>

      </div>
    </div>
  </div>