<div class="fullPG_Wrap">
    <div class="perspScreen">
        <div class="pgWrapFull spcTpHeader vrLinesWrap">
            <app-header></app-header>
            <pro-stepper></pro-stepper>
            <div class="quotePG_wrap overflow-hidden position-relative">
                <div class="floatImg floatShape-1 quote1_imgFloat_1 floating-Animate"> <img class="w-100"
                        src="assets/images/floating-img-1.png" alt=""> </div>
                <div class="floatImg floatShape-5 quote1_imgFloat_5 floating-Animate"> <img class="w-100"
                        src="assets/images/floating-img-5.png" alt=""> </div>
                <div class="containerPD-L">
                    <div class="row no-gutters">
                        <div class="col-md">
                            <div class="formScreen_Hgt spcMng_mp">
                                <div class="queCol_Outer pTB_quote lg-BT-scroll" data-aos="fade-up"
                                    data-aos-duration="700">
                                    <div class="section-page-header brdLine-BT">
                                        <div class="ttl-tpLine gray-color-2">Additional Drivers</div>
                                        <h1 class="headingStl-1">Add, Edit or Remove additional drivers here.</h1>
                                    </div>

                                    <div class="additionalTp-Sec">
                                        <div class="txtLine line-H-1_4">You may also add members of your household
                                            as excluded drivers if they never drive your vehicles.</div>
                                        <ul class="list-inline mb-0 additionalBtn_list">
                                            <li class="list-inline-item" *ngFor="let driver_data of all_drivers ; let i=index">
                                                <div class="btnIconsWrap">
                                                    <button class="btnEdt_dlt" *ngIf="i==0">Applicant {{driver_data.firstName}} {{driver_data.lastName}}</button>
                                                    <button class="btnEdt_dlt" *ngIf="i>0">Driver{{i}} {{driver_data.firstName}} {{driver_data.lastName}}</button>
                                                    <span class="iconsWrap d-flex align-items-center">
                                                            <span class="wrpIcon"><button (click)="edit_driver(i)" class="btn btnAction"><img 
                                                                        class="svgIcon" src="assets/images/iconbtn-edit.svg"
                                                                        alt="" /></button></span>
                                                            <span class="wrpIcon"><button (click)="remove_driver_popup(i,driver_data.id)" class="btn btnAction"><img
                                                                        class="svgIcon" src="assets/images/iconbtn-delete.svg"
                                                                        alt="" /></button></span>
                                                                        <button style="display: none" id="remove_driver_id" data-toggle="modal" data-target="#modal-delete_Driver"></button>
                                                        </span>
                                                </div>
                                            </li>
                                           
                                        </ul>
                                    </div>
                                    <form *ngIf="form_fields!=''" [formGroup]="Add_driver_form" (ngSubmit)="submit()">
                                    <div class="section-page-questions">
                                        <div class="section-page-question">
                                            <div class="question-wrap row no-gutters justify-content-between">
                                                <div class="col-lg-5 question-header d-flex"> <span
                                                        class="question-counter"> <span class="countNbr"></span>
                                                        <svg class="iconMark" width="15" height="14"
                                                            viewbox="0 0 15 14" fill="none">
                                                            <path d="M2 8.36364L6.23077 12L13 2"></path>
                                                        </svg> </span>
                                                    <div>
                                                        <h3 class="question-text">Enter Information of Driver you
                                                            want to Add</h3>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 question-content">
                                                    <div class="queNbrSpace">
                                                            <div class="form-group mb_form-group">
                                                                    <div class="ffl-wrapper" class="field_md" id="firstNameId">
                                                                      <input [type]="form_fields['firstName']['type']"  [ngClass]="{'ffl-floated-force' : Add_driver_form.get('firstName').value!=''}"  id="firstName" name="firstName" class="form-control cmnField "  formControlName="firstName" ProValidation [error_condition]="form_fields['firstName']">
                                                                      <!-- Toggle "has-error has-error-icon" this 2 class for Error -->
                                                                      <label class="ffl-label" class="primary-label">{{form_fields['firstName']['label']}}</label>
                                                                      
                                                                      <!-- <div class="invalid-fld-feedback " *ngIf="form_fields['firstName']['error']">{{form_fields['firstName']['error']['errors']['0']['errorMessage']}}</div> -->
                                                                    </div>
                                                                  </div>
                                                                  <div class="form-group mb_form-group">
                                                                    <div class="field_md" id="lastNameId">
                                                                      <input [type]="form_fields['lastName']['type']" [ngClass]="{'ffl-floated-force' : Add_driver_form.get('lastName').value!='' }" id="lastName" name="lastName" class="form-control cmnField has-error" formControlName="lastName" ProValidation [error_condition]="form_fields['lastName']">
                                                                      <!-- Toggle "has-error has-error-icon" this 2 class for Error -->
                                                                      <label class="primary-label">{{form_fields['lastName']['label']}}</label>
                                                                    
                                                                    </div>
                                                                  </div>
                                                        <div class="form-group mb_form-group">
                                                            <div class="dropdown-select-wrap field_md" id="relationshipId">
                                                                
                                                                <div class="selectNG_dropdown" >
                                                                        <ng-select class="custom_ngSelect" [items]="form_dropdown_data['relationList']" 
                                                                           bindLabel="text"
                                                                           bindValue="value"
                                                                           [multiple]="false"
                                                                           [searchable]="true"
                                                                           formControlName="relationship"
                                                                           >
                                                                           </ng-select>
                                                                           <label class="selectLabel">{{form_fields['relationship']['label']}}</label>
                                     <svg class="arrowIcon" xmlns="http://www.w3.org/2000/svg" width="11.67" height="6.04" viewBox="0 0 11.67 6.04">
                                       <polygon points="5.89 6.04 0 0.74 0.67 0 5.88 4.69 11 0 11.67 0.74 5.89 6.04" fill="#fff"></polygon>
                                       </svg>
                                                                         </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group mb_form-group">
                                                                <div class="field_md" id="dobId"> 
                                                                    <input type="text" id="dob" name="dob" class="form-control cmnField cstFld " [ngClass]="{'ffl-floated-force' : Add_driver_form.get('dob').value!=''  }" formControlName="dob"   autocomplete="given-name"  id="dateOfBirth1" maxlength="10" DobValidation ProValidation [error_condition]="form_fields['dob']">
                                                                  <label class="primary-label">Date of Birth</label>
                                                                 
                                                                   <!-- <input id="date-input" type="tel" placeholder="MM/DD/YYYY" class="form-control cmnField masked" > -->
                                                                   <!-- Toggle "has-error has-error-icon" this 2 class for Error -->
                                                                                                </div>
                                                                                              </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="section-page-question">
                                            <div class="question-wrap row no-gutters justify-content-between">
                                                <div class="col-lg-5 question-header d-flex"> <span
                                                        class="question-counter"> <span class="countNbr"></span>
                                                        <svg class="iconMark" width="15" height="14"
                                                            viewbox="0 0 15 14" fill="none">
                                                            <path d="M2 8.36364L6.23077 12L13 2"></path>
                                                        </svg> </span>
                                                    <div>
                                                        <h3 class="question-text">Driver's License Status</h3>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 question-content">
                                                    <div class="queNbrSpace">
                                                        <div class="form-group mb_form-group">
                                                            <div class="dropdown-select-wrap field_md">
                                                               <div class="selectNG_dropdown">
                                                                        <ng-select class="custom_ngSelect" [items]="form_dropdown_data['licenseTypes']" 
                                                                           bindLabel="text"
                                                                           bindValue="value"
                                                                           [multiple]="false"
                                                                           [searchable]="true"
                                                                           formControlName="licType"
                                                                           >
                                                                           </ng-select>
                                                                           <label class="selectLabel">{{form_fields['licType']['label']}}</label>
                                     <svg class="arrowIcon" xmlns="http://www.w3.org/2000/svg" width="11.67" height="6.04" viewBox="0 0 11.67 6.04">
                                       <polygon points="5.89 6.04 0 0.74 0.67 0 5.88 4.69 11 0 11.67 0.74 5.89 6.04" fill="#fff"></polygon>
                                       </svg>
                                                                         </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="section-page-question">
                                            <div class="question-wrap row no-gutters justify-content-between">
                                                <div class="col-lg-5 question-header d-flex"> <span
                                                        class="question-counter"> <span class="countNbr"></span>
                                                        <svg class="iconMark" width="15" height="14"
                                                            viewbox="0 0 15 14" fill="none">
                                                            <path d="M2 8.36364L6.23077 12L13 2"></path>
                                                        </svg> </span>
                                                    <div>
                                                        <h3 class="question-text">State Licensed</h3>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 question-content">
                                                    <div class="queNbrSpace">
                                                        <div class="form-group mb_form-group">
                                                            <div class="dropdown-select-wrap field_md" id="stateLicensedId">
                                                                    <div class="selectNG_dropdown" ProValidation [error_condition]="form_fields['stateLicensed']">
                                                                            <ng-select class="custom_ngSelect" [items]="form_dropdown_data['stateList']" 
                                                                               bindLabel="text" 
                                                                               bindValue="value"
                                                                               [multiple]="false"
                                                                               [searchable]="true"
                                                                               formControlName="stateLicensed"
                                                                               >
                                                                               </ng-select>
                                                                               <label class="selectLabel">{{form_fields['stateLicensed']['label']}}</label>
                                         <svg class="arrowIcon" xmlns="http://www.w3.org/2000/svg" width="11.67" height="6.04" viewBox="0 0 11.67 6.04">
                                           <polygon points="5.89 6.04 0 0.74 0.67 0 5.88 4.69 11 0 11.67 0.74 5.89 6.04" fill="#fff"></polygon>
                                           </svg>
                                                                             </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="section-page-question">
                                            <div class="question-wrap row no-gutters justify-content-between">
                                                <div class="col-lg-5 question-header d-flex">
                                                     <span
                                                        class="question-counter"> <span class="countNbr"></span>
                                                        <svg class="iconMark" width="15" height="14"
                                                            viewbox="0 0 15 14" fill="none">
                                                            <path d="M2 8.36364L6.23077 12L13 2"></path>
                                                        </svg> </span>
                                                    <div>
                                                        <h3 class="question-text">Occupation</h3>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 question-content">
                                                    <div class="queNbrSpace">
                                                            <div class="form-group mb_form-group">
                                                                    <div class="field_md">
                                                                      <input [type]="form_fields['occupation']['type']" [ngClass]="{'ffl-floated-force' : Add_driver_form.get('occupation').value!=''}" id="occupation" name="occupation" class="form-control cmnField" formControlName="occupation" >
                                                                      <!-- Toggle "has-error has-error-icon" this 2 class for Error -->
                                                                      <label class="primary-label">{{form_fields['occupation']['label']}}</label>
                                                                      <div class="invalid-fld-feedback"></div>
                                                                    </div>
                                                                  </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="section-page-question">
                                            <div class="question-wrap row no-gutters justify-content-between">
                                                <div class="col-lg-5 question-header d-flex"> <span
                                                        class="question-counter"> <span class="countNbr"></span>
                                                        <svg class="iconMark" width="15" height="14"
                                                            viewbox="0 0 15 14" fill="none">
                                                            <path d="M2 8.36364L6.23077 12L13 2"></path>
                                                        </svg> </span>
                                                    <div>
                                                        <h3 class="question-text">What's your gender?</h3>
                                                        <p class="question-byline">Please select the gender listed
                                                            on your driver's license.</p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 question-content">
                                                    <div class="queNbrSpace">
                                                        <div class="row gutterField-8">
                                                                <div class="col-sm-6" *ngFor="let opt of form_fields['gender']['options']; let i=index">
                                                                       
                                                                        <div class="form-group mb_form-group">
                                                                               <div class="cstBlockwrap">
                                                                                 <label for="{{opt.text}}gender" class="custom-control custom-block custom-radio mb-0">
                                                                                   <input type="radio" [id]="opt.text+'gender'"  formControlName="gender" [value]="opt.value" [checked]="opt.selected"   class="custom-control-input form-check-input" >
                                                                                   <span class="custom-control-label-wrap"><span class="custom-control-indicator"></span> <span class="indicator-label">{{opt.text}}</span> </span> </label>
                                                                               </div>
                                                                             </div>
                                                                             
                                                                           </div>
                                                        </div>
                                                        <!-- <div class="invalid-fld-feedback lessFG-spc show-invalid-feedback">Show Error Msg</div> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="section-page-question">
                                            <div class="question-wrap row no-gutters justify-content-between">
                                                <div class="col-lg-5 question-header d-flex"> <span
                                                        class="question-counter"> <span class="countNbr"></span>
                                                        <svg class="iconMark" width="15" height="14"
                                                            viewbox="0 0 15 14" fill="none">
                                                            <path d="M2 8.36364L6.23077 12L13 2"></path>
                                                        </svg> </span>
                                                    <div>
                                                        <h3 class="question-text">What's your marital status?</h3>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 question-content">
                                                    <div class="queNbrSpace">
                                                        <div class="row gutterField-8">
                                                                <div class="col-sm-6" *ngFor="let opt of form_fields['maritalStatus']['options']; let i=index">
                                                                       
                                                                        <div class="form-group mb_form-group">
                                                                          <div class="cstBlockwrap">
                                                                            <label for="{{opt.text}}married" class="custom-control custom-block custom-radio mb-0">
                                                                              <input type="radio" [id]="opt.text+'married'"  formControlName="maritalStatus" [value]="opt.value" [checked]="opt.selected"   class="custom-control-input form-check-input" >
                                                                              <span class="custom-control-label-wrap"><span class="custom-control-indicator"></span> <span class="indicator-label">{{opt.text}}</span> </span> </label>
                                                                          </div>
                                                                        </div>
                                                                             </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="section-page-question">
                                            <div class="question-wrap row no-gutters justify-content-between">
                                                <div class="col-lg-5 question-header d-flex"> <span
                                                        class="question-counter"> <span class="countNbr"></span>
                                                        <svg class="iconMark" width="15" height="14"
                                                            viewbox="0 0 15 14" fill="none">
                                                            <path d="M2 8.36364L6.23077 12L13 2"></path>
                                                        </svg> </span>
                                                    <div>
                                                        <h3 class="question-text">{{form_fields['excluded']['label']}} <span
                                                                class="infoWrap_icon" data-tooltip="tooltip"
                                                                data-html="true"
                                                                title="If this person will never drive any vehicles on this policy, you may mark them as an excluded driver."><img
                                                                    class="iconInfo_img" src="assets/images/icon-info.svg"
                                                                    alt="" /></span></h3>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 question-content">
                                                    <div class="queNbrSpace">
                                                        <div class="row gutterField-8">
                                                                <div class="col-sm-6" *ngFor="let opt of exclude_option; let i=index">
                                                                       
                                                                        <div class="form-group mb_form-group">
                                                                          <div class="cstBlockwrap">
                                                                            <label for="{{opt.text}}excluded" class="custom-control custom-block custom-radio mb-0">
                                                                              <input type="radio" [id]="opt.text+'excluded'"  formControlName="excluded" [value]="opt.value" [checked]="opt.selected"   class="custom-control-input form-check-input" >
                                                                              <span class="custom-control-label-wrap"><span class="custom-control-indicator"></span> <span class="indicator-label">{{opt.text}}</span> </span> </label>
                                                                          </div>
                                                                        </div>
                                                                             </div>
                                                                             
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="section-page-question">
                                                <div class="question-wrap row no-gutters justify-content-between">
                                                    <div class="col-lg-5 question-header d-flex"> <span
                                                            class="question-counter"> <span class="countNbr"></span>
                                                            <svg class="iconMark" width="15" height="14"
                                                                viewbox="0 0 15 14" fill="none">
                                                                <path d="M2 8.36364L6.23077 12L13 2"></path>
                                                            </svg> </span>
                                                        <div>
                                                            <h3 class="question-text">{{form_fields['licSusRev']['label']}} <span
                                                                    class="infoWrap_icon" data-tooltip="tooltip"
                                                                    data-html="true"
                                                                    title="If this person will never drive any vehicles on this policy, you may mark them as an excluded driver."><img
                                                                        class="iconInfo_img" src="assets/images/icon-info.svg"
                                                                        alt="" /></span></h3>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 question-content">
                                                        <div class="queNbrSpace">
                                                            <div class="row gutterField-8">
                                                                    <div class="col-sm-6" *ngFor="let opt of form_fields['licSusRev']['options']; let i=index">
                                                                           
                                                                            <div class="form-group mb_form-group">
                                                                              <div class="cstBlockwrap">
                                                                                <label for="{{opt.text}}licSusRev" class="custom-control custom-block custom-radio mb-0">
                                                                                  <input type="radio" [id]="opt.text+'licSusRev'"  formControlName="licSusRev" [value]="opt.value" [checked]="opt.selected"   class="custom-control-input form-check-input" >
                                                                                  <span class="custom-control-label-wrap"><span class="custom-control-indicator"></span> <span class="indicator-label">{{opt.text}}</span> </span> </label>
                                                                              </div>
                                                                            </div>
                                                                                 </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <div class="section-page-question">
                                            <div class="question-wrap row no-gutters justify-content-between">
                                                <div class="col-lg-5 question-header d-flex"> <span
                                                        class="question-counter"> <span class="countNbr"></span>
                                                        <svg class="iconMark" width="15" height="14"
                                                            viewbox="0 0 15 14" fill="none">
                                                            <path d="M2 8.36364L6.23077 12L13 2"></path>
                                                        </svg> </span>
                                                    <div>
                                                        <h3 class="question-text">Financial Responsibilty (Sr22)
                                                            <span class="infoWrap_icon" data-tooltip="tooltip"
                                                                data-html="true"
                                                                title="If you have been ordered by the court to show proof of financial responsibility, answer this as 'Yes'. That way, we can be sure to send the appropriate documentation to the Secretary of State proving that you have purchased insurance"><img
                                                                    class="iconInfo_img" src="assets/images/icon-info.svg"
                                                                    alt="" /></span></h3>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 question-content">
                                                    <div class="queNbrSpace">
                                                        <div class="row gutterField-8">
                                                                <div class="col-sm-6" *ngFor="let opt of form_fields['sr22']['options']; ">
                                          
                                                                        <div class="form-group mb_form-group">
                                                                          <div class="cstBlockwrap">
                                                                            <label for="{{opt.text}}sr" class="custom-control custom-block custom-radio mb-0">
                                                                              <input type="radio" [id]="opt.text+'sr'"  formControlName="sr22" [value]="opt.value" [checked]="opt.selected"   class="custom-control-input form-check-input" >
                                                                              <span class="custom-control-label-wrap"><span class="custom-control-indicator"></span> <span class="indicator-label">{{opt.text}}</span> </span> </label>
                                                                          </div>
                                                                        </div>
                                                                             </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="section-page-question">
                                            <div class="question-wrap row no-gutters justify-content-between">
                                                <div class="col-lg-5 question-header d-flex"> <span
                                                        class="question-counter"> <span class="countNbr"></span>
                                                        <svg class="iconMark" width="15" height="14"
                                                            viewbox="0 0 15 14" fill="none">
                                                            <path d="M2 8.36364L6.23077 12L13 2"></path>
                                                        </svg> </span>
                                                    <div>
                                                        <h3 class="question-text">Any tickets or accidents within
                                                            the past 5 years?</h3>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 question-content">
                                                    <div class="queNbrSpace">
                                                        <div class="row gutterField-8">
                                                            <div class="col-sm-6" *ngFor="let opt of form_fields['anyViolations']['options']; ">
                                               
                    <div class="form-group mb_form-group">
                      <div class="cstBlockwrap">
                        <label for="{{opt.text}}" class="custom-control custom-block custom-radio mb-0">
                          <input type="radio" [id]="opt.text" name="anyViolations" formControlName="anyViolations" [value]="opt.value" [checked]="opt.selected"   class="custom-control-input form-check-input" >
                          <span class="custom-control-label-wrap"><span class="custom-control-indicator"></span> <span class="indicator-label">{{opt.text}}</span> </span> </label>
                      </div>
                    </div>
                         </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>









                                    </div>

                                    <div class="navigation-buttons">
                                        <ul class="list-inline mb-0 text-right btnsList_form">
                                                <li class="list-inline-item"> <button routerLink="/quote-pro/01"  class="btn btnstl-1 btnBrd">Back</button> </li>
                                            <li class="list-inline-item"> 
                                                    <button  (click)="add_anather()"  class="btn btnstl-1 btnBrd color-red ">Add Anather </button> </li>
                                            <!-- <li class="list-inline-item"> <a
                                                    class="btn btnstl-1 btnBrd color-red">Remove Drivers</a> </li> -->
                                            <li class="list-inline-item">  <button  type="submit" [disabled]="!Add_driver_form.valid"  class="btn btnstl-1 btnBg-3 ">Save & Continue </button>  </li>
                                        </ul>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <pro-sidebar ></pro-sidebar>
                    </div>
                </div>
            </div>
           <app-footer-quote></app-footer-quote>
        </div>
    </div> <!-- .perspScreen -->
</div> <!-- .fullPG_Wrap -->



<!-- delete popup-->
<div class="modal fade modalCst" id="modal-delete_Driver" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-cst-sm">
          <div class="modal-content">
            <button type="button" class="close btnClose" data-dismiss="modal"><span>×</span></button>
            <div class="modal-body">
              <div class="row no-gutters justify-content-center">
                <div class="col-lg-11">
                  <div class="section-page-questions">
                    <div class="section-page-question">
                      <div class="question-wrap pb-0">
                        <div class="question-header">
                          <div>
                            <h3 class="question-text">Are you sure you want to delete this?</h3>
                          </div>
                        </div>
                        <div class="question-content" *ngIf="removedriver_data!=''">
                          <div class="table-responsive f-size-18 line-H-1_4 mb__20">
                            <table class="table table-borderless mb-0 table-style-cst">
                              <tbody>
                                <tr>
                                  <td class="f-W-M td-Width-head">First Name</td>
                                  <td>{{removedriver_data['firstName']}}</td>
                                </tr>
                                <tr>
                                  <td class="f-W-M">Last Name</td>
                                  <td>{{removedriver_data['lastName']}}</td>
                                </tr>
                                <tr>
                                  <td class="f-W-M">Birth Date</td>
                                  <td>{{removedriver_data['dob'] | date:'shortDate' }}</td>
                                </tr>
                                <tr>
                                  <td class="f-W-M">Gender</td>
                                  <td>{{removedriver_data['gender']}}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="navigation-buttons">
                    <ul class="list-inline mb-0 text-right btnsList_form">
                      <li class="list-inline-item"><a  class="btn btnstl-1 btnBrd" id="close_modal_id" data-dismiss="modal">Cancel</a></li>
                      <li class="list-inline-item"><a (click)="remove_driver()"  class="btn btnstl-1 btnBg-3">Delete</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--delete popup close-->