<app-pre-loader *ngIf="loading"></app-pre-loader>
<div class="fullPG_Wrap">
  <div class="perspScreen">
    <div class="pgWrapFull spcTpHeader vrLinesWrap">

      <app-header ></app-header>
      <div class="dashboard_pg_wrap minScreen-hgt bg-patternGrdnt">
        <app-dashboard-responsive-top-header></app-dashboard-responsive-top-header>
        <div class="dashScreen_wrap"  *ngIf="cardlist">
          <div class="row no-gutters dashWrap_Row">
            <div class="col-lg-auto brdRgt">
              <div class="colWdth_side">
                <app-dashboard-side-nav></app-dashboard-side-nav>
              </div>
            </div>
            <div class="col-lg brdCol">
              <div class="dashboard_middle">
                <!-- <div class="dashB_mdl-pd">
                          <div class="dash_tp-btnsRow d-none d-lg-block" data-aos="fade-up" data-aos-duration="900">
                            <div class="row no-gutters">
                              <div class="col"><a routerLink="/claims/claim-texas" class="btn cmnBtn btn-sz-md btnBg-1 text-uppercase">Report CLAIM</a></div>
                              <div class="col text-right">
                                <div class="d-inline-block">
                                  <div class="viewCard_wrap d-flex align-items-center">
                                    <div class="iconWrap"><img class="w-100" src="assets/assets/images//icon-view-card.png" alt="" /></div>
                                    <div class="btnCol flex-fill"> <a routerLink="/" class="btn cmnBtn btn-sz-md btnBg-4 text-uppercase">VIEW YOUR ID CARDS</a> </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div> -->
                        <div class="dashboard-mdl_Scroll cstScroller cst_mCst_scroll_Desk" data-aos="fade-up" data-aos-delay="300" data-aos-duration="900">
                            <div class="dashB_mdl-pd">
                              <h1 class="dashlg-Head font-F-1 f-W-B"><span class="wrapIn">Payment Source</span></h1>
                              
                              <div class="row gutter-15vw justify-content-center justify-content-lg-start">
                                <div class="col-md-6">
                                 
                                 <div class="payment_card_wrap mt-0">
                                    <div class="cardDash_cmn bg_trans">
                                    <div class="carouselWrap_pay">
                                      
                                  

                                      <ngx-slick-carousel
                                      class="paymentSource_carousel cstSlider dots_BT px-0"
                                      #slickModal="slick-carousel" [config]="slideConfig">
                                      <fieldset  *ngFor="let card of cardlist">
                                      <div ngxSlickItem class="slide-item" *ngIf="card.defaultPayMode == true">
                                        <div class="cr_Card_mx_width">
                                          <div class="card_act_btn text-right mb__5"><div class="d-inline-block"><button (click)="payaccountremove(card.payRefId)" class="btn btnEdit btnTxt btn-transp text-color-3"><i class="icon_Txt fa fa-trash"></i></button></div></div>
                                            <div class="cr_Card_bx">
                                              <div class="ttl">Credit Card</div>
                                              <ul class="list-unstyled d-flex align-items-center justify-content-between card_Number">
                                                <li>
                                                  <div class="number_wrap">{{card.cardNo}}</div>
                                                </li>
                                                <li>
                                                  <div class="number_wrap">{{card.cardNo1}}</div>
                                                </li>
                                                <li>
                                                  <div class="number_wrap">{{card.cardNo2}}</div>
                                                </li>
                                                <li>
                                                  <div class="number_wrap">{{card.cardNo3}}</div>
                                                </li>
                                              </ul>
                                              <div class="infoRow d-flex justify-content-between align-items-center">
                                                <div class="txtBt">{{card.name}}</div>
                                                <div class="cardDate d-flex align-items-center">
                                                  <div class="smTxt">GOOD<br>
                                                    THRU</div>
                                                  <div class="dateTxt">{{card.expiry}}</div>
                                                </div>
                                              </div>
                                            </div>
                                            </div>
                                      </div>

                                      <div ngxSlickItem class="slide-item" *ngIf="card.defaultPayMode == false">
                                        <div class="cr_Card_mx_width">
                                          <div class="card_act_btn text-right mb__5"><div class="d-inline-block"><a (click)="payaccountremove(card.payRefId)" class="btn btnEdit btnTxt btn-transp text-color-3"><i class="icon_Txt fa fa-trash"></i></a></div></div>
                                          <div class="creditCardSelect_instr text-color-3 text-center">Click on the card to select as default payment source.</div>
                                            <div class="cr_Card_bx bg_trans cursor_pointer" (click)="payaccountdefaultpay(card.payRefId)">
                                              <div class="ttl">Credit Card</div>
                                              <ul class="list-unstyled d-flex align-items-center justify-content-between card_Number">
                                                <li>
                                                  <div class="number_wrap">{{card.cardNo}}</div>
                                                </li>
                                                <li>
                                                  <div class="number_wrap">{{card.cardNo1}}</div>
                                                </li>
                                                <li>
                                                  <div class="number_wrap">{{card.cardNo}}</div>
                                                </li>
                                                <li>
                                                  <div class="number_wrap">{{card.cardNo3}}</div>
                                                </li>
                                              </ul>
                                              <div class="infoRow d-flex justify-content-between align-items-center">
                                                <div class="txtBt">{{card.name}}</div>
                                                <div class="cardDate d-flex align-items-center">
                                                  <div class="smTxt">GOOD<br>
                                                    THRU</div>
                                                  <div class="dateTxt">{{card.expiry}}</div>
                                                </div>
                                              </div>
                                            </div>
                                            </div>
                                      </div>
                                    </fieldset>
                                     

                                  </ngx-slick-carousel>


                                      </div>
                                    </div>
                                    <ul class="list-inline mb-0 text-center btnsList_form">
                                <li class="list-inline-item"> <a routerLink="/dashboard/policy-details-payment-add" class="btn cmnBtn sm-sz btnOutline-2 text-uppercase">ADD PAYMENT SOURCE</a> </li>
                              </ul>
                                  </div>
                                 
                                </div>
                              </div>
                              
                            </div>
                          </div>
              </div>
            </div>
            <div class="col-lg-auto brdLft">
              <div class="colWdth_side">
                <app-dashboard-side-userinfo></app-dashboard-side-userinfo>
              </div>
            </div>
          </div>
        </div>
      </div>


      <footer class="footerWrap overflow-hidden">
        <app-footer></app-footer>
      </footer>
    </div>
  </div> <!-- .perspScreen -->
</div> <!-- .fullPG_Wrap -->

