<footer class="footerWrap overflow-hidden">
    <div class="footerBottom">
        <div class="container-fluid lg-container">
            <div class="footerNavWrap overflow-hidden" data-aos="fade-up" data-aos-duration="900">
                <ul class="list-inline mb-0 d-md-flex flex-wrap justify-content-between footerNav">
                    <li class="list-inline-item"><a routerLink="/">Home</a></li>
                    <li class="list-inline-item"><a routerLink="/">Contact</a></li>
                    <li class="list-inline-item"><a routerLink="/">Terms of Use</a></li>
                    <li class="list-inline-item"><a routerLink="/">Privacy Policy</a></li>
                    <li class="list-inline-item"><a routerLink="/">Security Policy</a></li>
                    <li class="list-inline-item"><a routerLink="/">Personal Auto Policy Forms</a></li>
                    <li class="list-inline-item"><a routerLink="/">SB 1567</a></li>
                    <li class="list-inline-item"><a routerLink="/">Site Map</a></li>
                </ul>
            </div>

            <div class="social_CopyrightWrap">
                <div class="row">
                    <div class="col-md-6 col-sm-auto">
                        <ul class="list-inline mb-0 socialListing" data-aos="fade-up" data-aos-duration="900"
                            data-aos-offset="-50">
                            <li class="list-inline-item"><a class="scl-item" routerLink="/" target="_blank"><i
                                        class="icon fa fa-facebook-official"></i></a></li>
                            <li class="list-inline-item"><a class="scl-item" routerLink="/" target="_blank"><i
                                        class="icon fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a class="scl-item" routerLink="/" target="_blank"><i
                                        class="icon fa fa-youtube-play"></i></a></li>
                            <li class="list-inline-item"><a class="scl-item" routerLink="/" target="_blank"><i
                                        class="icon fa fa-instagram"></i></a></li>
                            <li class="list-inline-item"><a class="scl-item" routerLink="/" target="_blank"><i
                                        class="icon fa fa-linkedin-square"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm">
                        <div class="copyrightText text-sm-right" data-aos="fade-up" data-aos-delay="300"
                            data-aos-duration="900" data-aos-offset="-50">
                            © 2020 <span class="f-W-M">Pronto Insurance</span>. All Rights Reserved.
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</footer>

<div class="chatBtnWrap">
    <!-- <button class="btn btnChat"><img src="assets/images/chat-btn.png" alt="" /></button> -->
</div>