<div class="fullPG_Wrap">
  <div class="perspScreen">
    <div class="pgWrapFull spcTpHeader vrLinesWrap">
      <app-header></app-header>
      <app-beyontec-breadcrum></app-beyontec-breadcrum>
      
      <div class="quotePG_wrap overflow-hidden position-relative">
        <div class="containerPD-L">
          <div class="row no-gutters">
            <div class="col-md">
              <div class="formScreen_Hgt spcMng_mp">
                <div class="queCol_Outer pTB_quote lg-BT-scroll" data-aos="fade-up" data-aos-duration="700">
                  <div class="section-page-header">
                    <h1 class="headingStl-1">Validate Vehicle</h1>
                  </div>

                  <form *ngIf="BeyontecFormService.vehicles_array$" [formGroup]="BeyontecFormService.vehicles_array$">
                    <ul class="list-inline listQuote-Info">
                      <li class="list-inline-item">
                        <div class="quoteInfo_item">
                          <div class="txt-head line-H-1_3 f-W-B">Quote For:</div>
                          <div class="txtWrap f-size-18 line-H-1_3 gray-color-2">{{quoteFor | titlecase}}</div>
                        </div>
                      </li>
                      <li class="list-inline-item">
                        <div class="quoteInfo_item">
                          <div class="txt-head line-H-1_3 f-W-B">Quote Number:</div>
                          <div class="txtWrap f-size-18 line-H-1_3 gray-color-2">{{productQuoteId}}</div>
                        </div>
                      </li>
                    </ul>

                    <div class="infoCard_wrap_cmn mb">
                      <div class="bx-head line-H-1_3 f-W-B">Statement of No Commercial Use</div>

                      <div class="cardInfo_Bx_cmn f-size-18 gray-color-2">
                        <div class="editorCont line-H-1_8 last-p">
                          <p>The vehicle(s) insured by this policy shall not be used for commercial or business
                            purposes. I hereby certify that the vehicle(s) insured by the policy applied for are not
                            used for any commercial or business purposes. I will not use my vehicle in the course of my
                            employment or while I am self employed. This statement is made for the purpose of inducing
                            the insurance company to issue the coverage for which I have applied and will form part of
                            the application.</p>
                          <div class="agreeCheckBx mt">
                            <label class="agree_checkbox mb-0">
                              <input type="checkbox" class="check-input" [(ngModel)]="agreement.statementAgree" required (change)="handleChange($event, 'statementAgree')" name="statementAgree" [ngModelOptions]="{standalone: true}">
                              <span class="label_check_wrap d-sm-flex align-items-center"><span
                                  class="checkBtn text-uppercase"><span class="txtWrp">I Agree</span></span> <span
                                  class="labelTxt flex-fill line-H-1_3"> by checking this box, I certify the information
                                  provided is true and accurate</span> </span> </label>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="infoCard_wrap_cmn mb">
                      <div class="bx-head line-H-1_3 f-W-B">Insurable Interest</div>

                      <div class="cardInfo_Bx_cmn f-size-18 gray-color-2">
                        <div class="editorCont line-H-1_8 last-p">
                          <div class="mb__20">The following vehicles will have comprehensive/collision coverage:</div>

                          <!-- <div class="row no-gutters" *ngIf="coverageVehicle"> -->
                        <div class="row no-gutters" formArrayName="vehicle"
                          *ngFor="let row of BeyontecFormService.vehicles_array$.get('vehicle').controls ; let index=index">

                         

                            <div class="col-lg-6 col-md-7" *ngIf="row.get('include').value && row.get('type_of_coverage').value != 0" [formGroupName]="index">
                              <div class="form-group mb_form-group" (click)="checkInsurable(index)">
                                <div class="cstBlockwrap" >
                                  <label class="custom-control custom-block custom-radio mb-0">
                                    <input type="radio" class="custom-control-input form-check-input" checked>
                                    <span class="custom-control-label-wrap"><span
                                        class="custom-control-indicator"></span> <span class="indicator-label">{{row.get('year').value }} {{row.get('make').value }} - {{row.get('model').value }}</span> </span> </label>
                                </div>
                              </div>
                            </div>

                         
                        </div>
                          <!-- </div> -->

                          <p>Comprehensive/Collision coverage requires the vehicle(s) to be owned by one of the drivers
                            on this policy.<br>
                            I hereby certify that the owner(s) of all covered vehicles above are listed in this policy.
                          </p>

                          <div class="agreeCheckBx mt">

                            <label class="agree_checkbox mb-0">
                              <input type="checkbox" class="check-input" [(ngModel)]="agreement.vehicleAgree" required (change)="handleChange($event, 'vehicleAgree')" name="vehicleAgree" [ngModelOptions]="{standalone: true}">
                              <span class="label_check_wrap d-sm-flex align-items-center"><span
                                  class="checkBtn text-uppercase"><span class="txtWrp">I Agree</span></span> <span
                                  class="labelTxt flex-fill line-H-1_3"> by checking this box, I certify the information
                                  provided is true and accurate</span> </span> </label>


                          </div>
                        </div>
                      </div>
                    </div>

                  
                    <div class="section-page-questions">
                      <div class="section-page-question">
                        <div class="question-wrap">
                          <div class="question-header d-flex"> <span class="question-counter complete"> <span
                                class="countNbr"></span> <svg class="iconMark" width="15" height="14"
                                viewBox="0 0 15 14" fill="none">
                                <path d="M2 8.36364L6.23077 12L13 2"></path>
                              </svg> </span>
                            <div>
                              <h3 class="question-text">Lien Holders</h3>
                              <p class="question-byline">Do you have a loan on any of these vehicles?</p>
                            </div>
                          </div>
                          <div class="question-content" formArrayName="vehicle"
                          *ngFor="let row of BeyontecFormService.vehicles_array$.get('vehicle').controls ; let index=index">

                            <div class="vehicle_Bx bx_bg_1"  *ngIf="row.get('include').value" [formGroupName]="index">
                           
                              <div class="wrap-in d-flex align-items-center"  >
                                <div class="w-100">
                                  <div class="row gutter-10vw align-items-center">
                                    <div class="col-md-5">
                                      <div class="contWrap line-H-1_3">
                                        <div class="txtHead f-W-B">{{row.get('year').value }} {{row.get('make').value }} {{row.get('model').value }}</div>
                                      </div>
                                    </div>
                                    <div class="col-md-7">
                                      <div class="row gutterField-8">
                                        <div class="col-6">
                                          <div class="form-group mb_form-group mb-0">
                                            <div class="cstBlockwrap">
                                              <label for="vehicles_loan_{{index}}-Yes"
                                                class="custom-control custom-block custom-radio mb-0">
                                                <input id="vehicles_loan_{{index}}-Yes" type="radio"
                                                  class="custom-control-input form-check-input" (change)="addLienholder(index, $event, 1)" formControlName="ownership" value="true">
                                                <span class="custom-control-label-wrap"><span
                                                    class="custom-control-indicator"></span> <span
                                                    class="indicator-label">Yes</span> </span> </label>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-6">
                                          <div class="form-group mb_form-group mb-0">
                                            <div class="cstBlockwrap">
                                              <label for="vehicles_loan_{{index}}-No"
                                                class="custom-control custom-block custom-radio mb-0">
                                                <input id="vehicles_loan_{{index}}-No" type="radio"
                                                  class="custom-control-input form-check-input" (change)="addLienholder(index,$event, 0)" formControlName="ownership" value="false" checked>
                                                <span class="custom-control-label-wrap"><span
                                                    class="custom-control-indicator"></span> <span
                                                    class="indicator-label">No</span> </span> </label>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            
                            </div>

                            <!-- <div class="vehicle_Bx bx_bg_1">
                              <div class="wrap-in d-flex align-items-center">
                                <div class="w-100">
                                  <div class="row gutter-10vw align-items-center">
                                    <div class="col-md-5">
                                      <div class="contWrap line-H-1_3">
                                        <div class="txtHead f-W-B">2002 CHEVROLET MALIBU LS</div>
                                      </div>
                                    </div>
                                    <div class="col-md-7">
                                      <div class="row gutterField-8">
                                        <div class="col-6">
                                          <div class="form-group mb_form-group mb-0">
                                            <div class="cstBlockwrap">
                                              <label for="vehicles_loan_2-Yes"
                                                class="custom-control custom-block custom-radio mb-0">
                                                <input id="vehicles_loan_2-Yes" name="vehicles_loan_2" type="radio"
                                                  class="custom-control-input form-check-input" checked="">
                                                <span class="custom-control-label-wrap"><span
                                                    class="custom-control-indicator"></span> <span
                                                    class="indicator-label">Yes</span> </span> </label>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-6">
                                          <div class="form-group mb_form-group mb-0">
                                            <div class="cstBlockwrap">
                                              <label for="vehicles_loan_2-No"
                                                class="custom-control custom-block custom-radio mb-0">
                                                <input id="vehicles_loan_2-No" name="vehicles_loan_2" type="radio"
                                                  class="custom-control-input form-check-input">
                                                <span class="custom-control-label-wrap"><span
                                                    class="custom-control-indicator"></span> <span
                                                    class="indicator-label">No</span> </span> </label>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div> -->

                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="navigation-buttons">
                      <ul class="list-inline mb-0 text-right btnsList_form">
                        <li class="list-inline-item"> 
                          <!-- <a class="btn btnstl-1 btnBg-3">Save &amp; Continue</a> -->
                          <button type="button" class="btn btnstl-1 btnBg-3" [disabled]="!agreement.statementAgree || !agreement.vehicleAgree " (click)="onSubmit()">Save & Continue</button>
                        </li>
                      </ul>
                    </div>
                  </form>



                  <div class="beyontecQuote_Bx callAgent_Card mt-lg">
                    <div class="mngIn_wrap d-flex align-items-center">
                      <div class="w-100">
                        <div class="row gutter-10vw align-items-center">
                          <div class="col-md-7">
                            <div class="callAgent_cont d-md-flex">
                              <div class="iconWrap"><img src="assets/images/call-agent-icon.png" alt="" /></div>
                              <div class="infoWrap line-H-1_4 text-center text-md-left flex-fill align-self-end">
                                <div class="heading text-color-3 f-W-B">Speak with an expert</div>
                                <div class="txt-summary gray-color-2 f-size-16">Connect with a licensed insurance
                                  agent to find more discounts, answer your questions, or purchase a policy.</div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-5">
                            <div class="nbrWrap text-center text-md-right">
                              <a href="tel:1-(979)-243-6677" class="btn callAgent-nbr text-color-3"><img class="icon"
                                  src="assets/images/icon-call-phone.svg" alt="" />1-(979) 243-6677</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <beyontec-sidebar></beyontec-sidebar>
          </div>
        </div>
      </div>
      <app-footer-quote></app-footer-quote>
    </div>
  </div>
  <!-- .perspScreen -->
</div>
<!-- .fullPG_Wrap -->
