<app-pre-loader *ngIf="loading"></app-pre-loader>
<div class="fullPG_Wrap">
  <div class="perspScreen">
    <div class="pgWrapFull spcTpHeader vrLinesWrap">
      <app-header></app-header>
      <app-beyontec-breadcrum></app-beyontec-breadcrum>
      <div class="quotePG_wrap overflow-hidden position-relative">
        <div class="floatImg floatShape-1 quote1_imgFloat_1 floating-Animate"> <img class="w-100"
            src="assets/images/floating-img-1.png" alt=""> </div>
        <div class="floatImg floatShape-5 quote1_imgFloat_5 floating-Animate"> <img class="w-100"
            src="assets/images/floating-img-5.png" alt=""> </div>
        <div class="containerPD-L">
          <div class="row no-gutters">
            <div class="col-md">
              <div class="formScreen_Hgt spcMng_mp">
                <div class="queCol_Outer pTB_quote lg-BT-scroll" data-aos="fade-up" data-aos-duration="700">
                  <div class="section-page-header brdLine-BT">
                    <h1 class="headingStl-1">Payment Confirmation</h1>
                  </div>

                  <form [formGroup]="form">
                    <div class="quoteList-btn-mng">
                      <div class="row gutter-20vw">
                        <div class="col-sm-8">
                          <ul class="list-inline listQuote-Info extra-mb">
                            <li class="list-inline-item">
                              <div class="quoteInfo_item">
                                <div class="txt-head line-H-1_3 f-W-B">Quote For:</div>
                                <div class="txtWrap f-size-18 line-H-1_3 gray-color-2">{{quoteFor | titlecase}}</div>
                              </div>
                            </li>
                            <li class="list-inline-item">
                              <div class="quoteInfo_item">
                                <div class="txt-head line-H-1_3 f-W-B">Application Number:</div>
                                <div class="txtWrap f-size-18 line-H-1_3 gray-color-2">{{productQuoteId}}</div>
                              </div>
                            </li>
                          </ul>
                        </div>
                        <div class="col-sm-4">
                          <div class="btnWrap text-sm-right">
                            <a (click)="beyondtecFullquote()" class="btn cmnBtn btnBg-2 sm-sz btn-min-w text-uppercase" data-toggle="modal"
                              data-target="#modal-emailQuote_msg">Email Quote</a>
                          </div>
                        </div>
                      </div>

                    </div>
                    <div class="section-page-questions">


                      <div class="section-page-question">
                        <div class="question-wrap">

                          <div class="infoCard_wrap_cmn">
                            <div class="bx-head line-H-1_3 f-W-B">Selected Payment Option</div>
                            <div class="cardInfo_Bx_cmn paymentOpt_wrap">
                              <div class="question-header d-flex"> <span class="question-counter complete"> <span
                                    class="countNbr"></span> <svg class="iconMark" width="15" height="14"
                                    viewbox="0 0 15 14" fill="none">
                                    <path d="M2 8.36364L6.23077 12L13 2"></path>
                                  </svg> </span>
                                <div>
                                  <h3 class="question-text mb-0">{{minutesQuoteSelected.monthPolicy}} Policy</h3>
                                </div>
                              </div>

                              <div class="queInside-space">
                                <div class="row gutter-15vw payOption_Row">
                                  <div class="col-md-3 col-sm-6">
                                    <div class="policy_Pay_bx line-H-1_3">
                                      <div class="tp_txt f-W-M f-size-18 gray-color-2">Charges</div>
                                      <div class="txtHighlight text-color-3 f-W-B">
                                        ${{(minutesQuoteSelected.downPayment | number:"1.0-0")}}
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-3 col-sm-6">
                                    <div class="policy_Pay_bx line-H-1_3">
                                      <div class="tp_txt f-W-M f-size-18 gray-color-2">Due Date</div>
                                      <div class="txtHighlight text-color-3 f-W-B">08/18/2020</div>
                                    </div>
                                  </div>
                                  <div class="col-md-3 col-sm-6">
                                    <div class="policy_Pay_bx line-H-1_3">
                                      <div class="tp_txt f-W-M f-size-18 gray-color-2">Installment Type</div>
                                      <div class="txtHighlight text-color-3 f-W-B">{{minutesQuoteSelected.pluralMonth}}
                                      </div>

                                      <!-- <div class="txtHighlight text-color-3 f-W-B" *ngIf="minutesQuoteSelected.showMonth">Monthly</div>
                                          <div class="txtHighlight text-color-3 f-W-B" *ngIf="!minutesQuoteSelected.showMonth">One Time</div> -->
                                    </div>
                                  </div>
                                  <div class="col-md-3 col-sm-6">
                                    <div class="policy_Pay_bx line-H-1_3">
                                      <div class="tp_txt f-W-M f-size-18 gray-color-2">Total Policy Premium</div>
                                      <div class="txtHighlight sz-lg text-color-3 f-W-B">
                                        ${{(minutesQuoteSelected.totalPremium | number:"2.2-2")}}</div>
                                    </div>
                                  </div>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>

                      </div>

                      <div class="section-page-question">
                        <div class="question-wrap row no-gutters justify-content-between">
                          <div class="col-lg-5 question-header d-flex"> <span class="question-counter"> <span
                                class="countNbr"></span> <svg class="iconMark" width="15" height="14"
                                viewbox="0 0 15 14" fill="none">
                                <path d="M2 8.36364L6.23077 12L13 2"></path>
                              </svg> </span>
                            <div>
                              <h3 class="question-text">Personal Details of policy holder</h3>
                            </div>
                          </div>
                          <div class="col-lg-6 question-content">
                            <div class="queNbrSpace">
                              <div class="form-group mb_form-group">
                                <div class="field_md">
                                  <input class="form-control cmnField"
                                    [ngClass]="{'ffl-floated-force' : form.get('firstName').value != ''}"
                                    formControlName="firstName" appOnlyAlphabeticalWithSpace>
                                  <!-- Toggle "has-error has-error-icon" this 2 class for Error -->
                                  <label class="primary-label">First Name</label>
                                  <div class="invalid-fld-feedback">Please enter a valid First Name</div>
                                </div>
                              </div>
                              <div class="form-group mb_form-group">
                                <div class="field_md">
                                  <input class="form-control cmnField"
                                    [ngClass]="{'ffl-floated-force' : form.get('middleName').value != ''}"
                                    formControlName="middleName" appOnlyAlphabeticalWithSpace>
                                  <!-- Toggle "has-error has-error-icon" this 2 class for Error -->
                                  <label class="primary-label">Middle Name</label>
                                  <div class="invalid-fld-feedback">Please enter a valid Middle Name</div>
                                </div>
                              </div>
                              <div class="form-group mb_form-group">
                                <div class="field_md">
                                  <input class="form-control cmnField"
                                    [ngClass]="{'ffl-floated-force' : form.get('lastName').value != ''}"
                                    formControlName="lastName" appOnlyAlphabeticalWithSpace>
                                  <!-- Toggle "has-error has-error-icon" this 2 class for Error -->
                                  <label class="primary-label">Last Name</label>
                                  <div class="invalid-fld-feedback">Please enter a valid Last Name</div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                      <div class="section-page-question">
                        <div class="question-wrap row no-gutters justify-content-between">
                          <div class="col-lg-5 question-header d-flex"> <span class="question-counter"> <span
                                class="countNbr"></span> <svg class="iconMark" width="15" height="14"
                                viewbox="0 0 15 14" fill="none">
                                <path d="M2 8.36364L6.23077 12L13 2"></path>
                              </svg> </span>
                            <div>
                              <h3 class="question-text">Is your billing address same as physical address?</h3>
                            </div>
                          </div>
                          <div class="col-lg-6 question-content">
                            <div class="queNbrSpace">
                              <div class="row gutterField-8">
                                <div class="col-6">
                                  <div class="form-group mb_form-group">
                                    <div class="cstBlockwrap">
                                      <label for="same_physical_address-Yes"
                                        class="custom-control custom-block custom-radio mb-0">
                                        <input id="same_physical_address-Yes" type="radio" value="yes"
                                          class="custom-control-input form-check-input"
                                          formControlName="isBillingAddressSame" (change)="getBillingAddress($event)">
                                        <span class="custom-control-label-wrap"><span
                                            class="custom-control-indicator"></span> <span
                                            class="indicator-label">Yes</span> </span> </label>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-6">
                                  <div class="form-group mb_form-group">
                                    <div class="cstBlockwrap">
                                      <label for="same_physical_address-No"
                                        class="custom-control custom-block custom-radio mb-0">
                                        <input id="same_physical_address-No" formControlName="isBillingAddressSame"
                                          type="radio" class="custom-control-input form-check-input" value="no"
                                          (change)="getBillingAddress($event)">
                                        <span class="custom-control-label-wrap"><span
                                            class="custom-control-indicator"></span> <span
                                            class="indicator-label">No</span> </span> </label>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!-- BeyontecFormService.questionnaire_array$.get('isBillingAddressSame').value == 'yes' -->
                              <!-- Toggle Div -->
                              <div>
                                <div class="row gutterField-8"
                                  *ngIf="form.get('isBillingAddressSame').value != '' || form.get('isBillingAddressSame').value == 'no'">
                                  <div class="col-12">
                                    <div class="form-group mb_form-group">
                                      <div class="mng-tltp-fld">
                                        <div class="field_md">
                                          <input class="form-control cmnField"
                                            [ngClass]="{'ffl-floated-force' : form.get('billingAddress').value != ''}"
                                            formControlName="billingAddress">
                                          <!-- Toggle "has-error has-error-icon" this 2 class for Error -->
                                          <label class="primary-label">Billing Address</label>
                                          <div class="invalid-fld-feedback">Incomplete address</div>
                                        </div>
                                        <span class="tooltipIcon" data-tooltip="tooltip" data-html="true"
                                          title="Billing Address - Address where you are receiving the statements for your credit card."><img
                                            class="iconTooltip_img" src="assets/images/icon-info.svg" alt=""></span>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-12">
                                    <div class="form-group mb_form-group">
                                      <div class="field_md">
                                        <input class="form-control cmnField"
                                          [ngClass]="{'ffl-floated-force' : form.get('billingCity').value != ''}"
                                          formControlName="billingCity">
                                        <!-- Toggle "has-error has-error-icon" this 2 class for Error -->
                                        <label class="primary-label">City</label>
                                        <div class="invalid-fld-feedback">Please enter City</div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-sm-6">
                                    <div class="form-group mb_form-group">
                                      <div class="selectNG_dropdown">
                                        <ng-select class="custom_ngSelect" [items]="stateList" bindLabel="value"
                                          bindValue="key" placeholder="Select" formControlName="billingState">
                                          <!-- <ng-template ng-label-tmp let-item="item"> {{item.state}} </ng-template> -->
                                        </ng-select>
                                        <label class="selectLabel">State</label>
                                        <svg class="arrowIcon" xmlns="http://www.w3.org/2000/svg" width="11.67"
                                          height="6.04" viewBox="0 0 11.67 6.04">
                                          <polygon points="5.89 6.04 0 0.74 0.67 0 5.88 4.69 11 0 11.67 0.74 5.89 6.04"
                                            fill="#fff"></polygon>
                                        </svg>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-sm-6">
                                    <div class="form-group mb_form-group">
                                      <div class="field_md">
                                        <input class="form-control cmnField"
                                          [ngClass]="{'ffl-floated-force' : form.get('billingZip').value != ''}"
                                          formControlName="billingZip">
                                        <!-- Toggle "has-error has-error-icon" this 2 class for Error -->
                                        <label class="primary-label">Zip Code</label>
                                        <div class="invalid-fld-feedback">Please enter a valid Zip Code</div>
                                      </div>
                                    </div>
                                  </div>



                                </div>
                              </div>
                              <!-- End Toggle Div -->

                            </div>
                          </div>
                        </div>
                      </div>



                      <div class="section-page-question">
                        <div class="question-wrap row no-gutters justify-content-between">
                          <div class="col-lg-5 question-header d-flex"> <span class="question-counter"> <span
                                class="countNbr"></span> <svg class="iconMark" width="15" height="14"
                                viewbox="0 0 15 14" fill="none">
                                <path d="M2 8.36364L6.23077 12L13 2"></path>
                              </svg> </span>
                            <div>
                              <h3 class="question-text">Mode of Payment</h3>
                            </div>
                          </div>
                          <div class="col-lg-6 question-content">
                            <div class="queNbrSpace">


                              <div class="form-group mb_form-group">
                                <div class="dropdown-select-wrap field_md">

                                  <div class="selectNG_dropdown">
                                    <ng-select class="custom_ngSelect"
                                      [ngClass]="{'ng-select-blanck': form.get('mode_of_payment').value == ''}"
                                      [items]="mode_of_payment"  [multiple]="false" bindValue="key" (change)="getValueChange($event)"
                                      [searchable]="false" formControlName="mode_of_payment" placeholder="Select">
 
                                      <!-- <ng-template ng-label-tmp let-item="item">
                                        <img src="./assets/images/payment/payment-icon-apple-pay.png" />
                                        <span class="abc">{{item.value}}</span>
                                      </ng-template> -->

                                      <ng-template ng-label-tmp let-item="item">
                                        <img src={{item.img}} />
                                        <span class="abc">{{item.value}}</span>
                                      </ng-template>
                                      <ng-template ng-option-tmp let-item="item">
                                        <img src={{item.img}} />
                                        <span class="abc">{{item.value}}</span>
                                      </ng-template>


                                    </ng-select>
                                    <label class="selectLabel">Payment Mode</label>
                                    <svg class="arrowIcon" xmlns="http://www.w3.org/2000/svg" width="11.67"
                                      height="6.04" viewBox="0 0 11.67 6.04">
                                      <polygon points="5.89 6.04 0 0.74 0.67 0 5.88 4.69 11 0 11.67 0.74 5.89 6.04"
                                        fill="#fff"></polygon>
                                    </svg>
                                  </div>
                                </div>
                              </div>

                              <!--  has-success completed -->

                              <!-- <div class="form-group mb_form-group">
                                          <div class="dropdown-select-wrap field_md">
                                        <div class="dropdown-select dropdown"> <span class="dropdown-select-header labelTP" data-toggle="dropdown" data-flip="false"> 
                                          <label class="dropdown-label">Payment Mode</label>
                                          <input type="text" class="form-control" placeholder="Select">
                                          <svg class="" xmlns="http://www.w3.org/2000/svg" width="11.67" height="6.04" viewBox="0 0 11.67 6.04">
                                          <polygon points="5.89 6.04 0 0.74 0.67 0 5.88 4.69 11 0 11.67 0.74 5.89 6.04" fill="#fff"></polygon>
                                          </svg></span>
                                          <div class="dropdown-menu">
                                            <ul class="list-unstyled dopDownMenu-List mb-0">
                                              <li><a class="item" href="#"><div class="imgIcon"><img class="w-100" src="images/payment-icon-credit-card.png" alt=""></div>Credit Card</a></li>
                                              <li><a class="item" href="#"><div class="imgIcon"><img class="w-100" src="images/payment-icon-Gpay.png" alt=""></div>Google pay</a></li>
                                              <li><a class="item" href="#"><div class="imgIcon"><img class="w-100" src="images/payment-icon-apple-pay.png" alt=""></div>Apple pay</a></li>
                                              <li><a class="item" href="#"><div class="imgIcon"><img class="w-100" src="images/payment-icon-paypal.png" alt=""></div>Paypal</a></li>
                                            </ul>
                                          </div>
                                        </div>
                                      </div>
                                        </div> -->



                            </div>
                          </div>
                        </div>
                      </div>

<!--  is_mode_of_payment-->

                      <div class="section-page-question" *ngIf="form.get('mode_of_payment').value == 'cc'">
                        <div class="question-wrap row no-gutters justify-content-between">
                          <div class="col-lg-5 question-header d-flex"> <span class="question-counter"> <span
                                class="countNbr"></span> <svg class="iconMark" width="15" height="14"
                                viewbox="0 0 15 14" fill="none">
                                <path d="M2 8.36364L6.23077 12L13 2"></path>
                              </svg> </span>
                            <div>
                              <h3 class="question-text">Credit/Debit Card Payment</h3>
                            </div>
                          </div>
                          <div class="col-lg-6 question-content">
                            <div class="queNbrSpace">


                              <div class="row gutterField-8">
                                <div class="col-3">
                                  <div class="form-group mb_form-group">
                                    <div>
                                      <input class="form-control cmnField"
                                        [ngClass]="{'ffl-floated-force' : form.get('cno1').value != ''}"
                                        formControlName="cno1" type="tel" placeholder="XXXX" maxlength="4" numbersOnly
                                        (keyup)="keytab($event, 4, 1)" id="cno1" (change)="invalidCC = false">
                                      <!-- Toggle "has-error" this class for Error -->
                                    </div>
                                  </div>
                                </div>
                                <div class="col-3">
                                  <div class="form-group mb_form-group">
                                    <div>
                                      <input class="form-control cmnField"
                                        [ngClass]="{'ffl-floated-force' : form.get('cno2').value != ''}"
                                        formControlName="cno2" type="tel" placeholder="XXXX" maxlength="4" numbersOnly
                                        (keyup)="keytab($event, 4, 2)" id="cno2" (change)="invalidCC = false">
                                      <!-- Toggle "has-error" this class for Error -->
                                    </div>
                                  </div>
                                </div>
                                <div class="col-3">
                                  <div class="form-group mb_form-group">
                                    <div>
                                      <input class="form-control cmnField"
                                        [ngClass]="{'ffl-floated-force' : form.get('cno3').value != ''}"
                                        formControlName="cno3" type="tel" placeholder="XXXX" maxlength="4" numbersOnly
                                        (keyup)="keytab($event, 4, 3)" id="cno3" (change)="invalidCC = false">
                                      <!-- Toggle "has-error" this class for Error -->
                                    </div>
                                  </div>
                                </div>
                                <div class="col-3">
                                  <div class="form-group mb_form-group">
                                    <div>
                                      <input class="form-control cmnField"
                                        [ngClass]="{'ffl-floated-force' : form.get('cno4').value != ''}"
                                        formControlName="cno4" type="tel" placeholder="XXXX" maxlength="4" numbersOnly
                                        id="cno4" (change)="invalidCC = false">
                                      <!-- Toggle "has-error" this class for Error -->
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="row gutterField-8">
                                <div class="col-6">
                                  <div class="form-group mb_form-group">
                                    <div class="selectNG_dropdown">
                                      <ng-select class="custom_ngSelect" [items]="selectMonth" bindLabel="value"
                                        bindValue="value" placeholder="Select" [searchable]="false" formControlName="cardMonth">
                                        <ng-template ng-label-tmp let-item="item"> {{item.value}} </ng-template>
                                      </ng-select>
                                      <label class="selectLabel">Month</label>
                                      <svg class="arrowIcon" xmlns="http://www.w3.org/2000/svg" width="11.67"
                                        height="6.04" viewBox="0 0 11.67 6.04">
                                        <polygon points="5.89 6.04 0 0.74 0.67 0 5.88 4.69 11 0 11.67 0.74 5.89 6.04"
                                          fill="#fff"></polygon>
                                      </svg>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-6">
                                  <div class="form-group mb_form-group">
                                    <div class="selectNG_dropdown">
                                      <ng-select class="custom_ngSelect" [searchable]="false" [items]="selectYear" bindLabel="value"
                                        bindValue="key" placeholder="Select" formControlName="cardYear">
                                        <ng-template ng-label-tmp let-item="item"> {{item.value}} </ng-template>
                                      </ng-select>
                                      <label class="selectLabel">Year</label>
                                      <svg class="arrowIcon" xmlns="http://www.w3.org/2000/svg" width="11.67"
                                        height="6.04" viewBox="0 0 11.67 6.04">
                                        <polygon points="5.89 6.04 0 0.74 0.67 0 5.88 4.69 11 0 11.67 0.74 5.89 6.04"
                                          fill="#fff"></polygon>
                                      </svg>
                                    </div>
                                  </div>

                                </div>
                                <div class="col-12">
                                  <div class="form-group mb_form-group">
                                    <div class="mng-tltp-fld">
                                      <div class="field_md">
                                        <input class="form-control cmnField"
                                          [ngClass]="{'ffl-floated-force' : form.get('cardCvv').value != ''}"
                                          formControlName="cardCvv" type="tel" maxlength="4" numbersOnly>
                                        <!-- Toggle "has-error has-error-icon" this 2 class for Error -->
                                        <label class="primary-label">CVV/CCV Code</label>
                                      </div>
                                      <span class="tooltipIcon" data-tooltip="tooltip" data-html="true"
                                        title="CVV/CCV Code - the 3/4 digit number on the back of your credit card."><img
                                          class="iconTooltip_img" src="assets/images/icon-info.svg" alt=""></span>
                                    </div>
                                  </div>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="infoCard_wrap_cmn mb">
                        <div class="bx-head line-H-1_3 f-W-B">Credit Card Authorization</div>
                        <div class="cardInfo_Bx_cmn f-size-18 gray-color-2">
                          <div class="agreeCheckBx gray-color-2">

                            <label class="agree_checkbox mb-0">


                              <input type="checkbox" class="check-input" [(ngModel)]="authorizeCheck" required
                                name="authorizeCheck" [ngModelOptions]="{standalone: true}">

                              <span class="label_check_wrap d-sm-flex align-items-center"><span
                                  class="checkBtn text-uppercase"><span class="txtWrp">I AUTHORIZE</span></span> <span
                                  class="labelTxt flex-fill line-H-1_3">I authorize Pronto General Agency to charge my
                                  credit card above for agreed upon purchase. I understand that my information \will be
                                  saved to file for future transactions on my account.</span> </span> </label>


                          </div>
                        </div>
                      </div>


                    </div>

                    <div class="navigation-buttons">
                      <ul class="list-inline mb-0 text-right btnsList_form">
                        <li class="list-inline-item">
                          <!-- <a class="btn btnstl-1 btnBg-3" data-toggle="modal"
                                data-target="#modal-purchacePolicy">Purchase Policy</a>  -->

                          <button type="button" class="btn btnstl-1 btnBg-3"
                            [disabled]="!form.valid || !authorizeCheck" (click)="onSubmit()">Purchase
                            Policy</button>

                          <button id="openModalButtonesign" [hidden]="true" data-toggle="modal"
                            data-target="#modal-purchacePolicy">Open Modal</button>

                          <button id="openModalTransactionError" [hidden]="true" data-toggle="modal"
                            data-target="#modal-Error_transaction">Open Modal</button>

                            <button id="openModalAutoPayMethod" [hidden]="true" data-toggle="modal"
                            data-target="#modal-payment-autoPay-method">Open Modal</button>
                            
                        </li>
                      </ul>
                    </div>
                  </form>

                  <div class="beyontecQuote_Bx callAgent_Card mt-lg">
                    <div class="mngIn_wrap d-flex align-items-center">
                      <div class="w-100">
                        <div class="row gutter-10vw align-items-center">
                          <div class="col-md-7">
                            <div class="callAgent_cont d-md-flex">
                              <div class="iconWrap"><img src="assets/images/call-agent-icon.png" alt="" /></div>
                              <div class="infoWrap line-H-1_4 text-center text-md-left flex-fill align-self-end">
                                <div class="heading text-color-3 f-W-B">Speak with an expert</div>
                                <div class="txt-summary gray-color-2 f-size-16">Connect with a licensed insurance
                                  agent to find more discounts, answer your questions, or purchase a policy.</div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-5">
                            <div class="nbrWrap text-center text-md-right">
                              <a href="tel:1-(979)-243-6677" class="btn callAgent-nbr text-color-3"><img class="icon"
                                  src="assets/images/icon-call-phone.svg" alt="" />1-(979) 243-6677</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <beyontec-sidebar></beyontec-sidebar>
          </div>
        </div>
      </div>


      <app-footer-quote></app-footer-quote>
    </div>
  </div>
  <!-- .perspScreen -->
</div>
<!-- .fullPG_Wrap -->

<!-- Modal purchace Policy -->
<div class="modal fade modalCst" id="modal-emailQuote_msg">
  <div class="modal-dialog modal-dialog-centered modal-cst-sm">
    <div class="modal-content modalGetQuote">
      <button type="button" class="close btnClose" data-dismiss="modal"><span>×</span></button>
      <div class="modal-body pb-lg">
        <div class="row no-gutters justify-content-center">
          <div class="col-lg-11">
            <div class="infoModalWrap text-center">
              <div class="txt-summary line-H-1_3">
                <p class="text-color-3 txt-Md"><strong>Email Quote</strong></p>
                <p class="gray-color-2 f-size-18">Please check your email inbox to find the information from this
                  quote</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- End Modal purchace Policy -->

<!-- Modal purchace Policy -->
<div class="modal fade modalCst" id="modal-purchacePolicy">
  <div class="modal-dialog modal-dialog-centered modal-cst-sm">
    <div class="modal-content modalGetQuote">
      <button type="button" class="close btnClose" data-dismiss="modal"><span>×</span></button>
      <button type="button" class="close" data-dismiss="modal" id="closePurchacePolicyModal"
        [hidden]="true">&times;</button>
      <div class="modal-body pb-lg">
        <div class="row no-gutters justify-content-center">
          <div class="col-lg-10">
            <div class="infoModalWrap text-center">
              <div class="heading-ttl f-W-B text-color-3">E-Signature</div>
              <div class="txt-summary line-H-1_3">
                <p class="gray-color-2 f-size-18">You will now be redirected to the Pronto Esign page. Please sign and
                  come back in order to complete your policy purchase. Remember, if you don't sign, the policy will be
                  considered void.</p>
              </div>
              <div class="btnsWrapp mx-width">
                <ul class="list-unstyled  btnListing mb-0">
                  <li>
                    <!-- <a class="btn cmnBtn btnBg-2 sm-sz btn-min-w text-uppercase">Sign</a> -->
                    <button type="button" class="btn cmnBtn btnBg-2 sm-sz btn-min-w text-uppercase"
                      (click)="onSubmitEsign()">Sign</button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- End Modal purchace Policy -->

<!-- Modal Error Driver License -->
<div class="modal fade modalCst" id="modal-Error_transaction">
  <div class="modal-dialog modal-dialog-centered modal-cst-sm">
    <div class="modal-content modalGetQuote">
      <button type="button" class="close btnClose" data-dismiss="modal"><span>×</span></button>
      <div class="modal-body pb-lg">
        <div class="row no-gutters justify-content-center">
          <div class="col-lg-10">
            <div class="infoModalWrap text-center">
              <div class="txt-summary last-p line-H-1_3">
                <p class="text-color-3 txt-Md"><strong>Something Went Wrong</strong></p>
                <p class="gray-color-2 f-size-18">{{transactionError | titlecase}}</p>
              </div>
              <div class="btnsWrapp mx-width">
                <ul class="list-unstyled  btnListing mb-0">
                  <li>
                    <a class="btn cmnBtn btnBg-2 sm-sz text-uppercase btn-block" data-dismiss="modal">Ok</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- End Modal Error Driver License -->



<!-- Modal Bank Details -->
<div class="modal fade modalCst" id="modal-payment-autoPay-method">
  <div class="modal-dialog modal-dialog-centered modal-cst-sm">
    <div class="modal-content modalGetQuote">
      <button type="button" class="close btnClose" data-dismiss="modal"><span>×</span></button>
      <div class="modal-body">
     
     <div class="formModal_wrapp">
     <h4 class="head-ttl text-center">Auto Pay</h4>

     
      
      <div class="section-page-question">
                      <div class="question-wrap">
                        <div class="question-header">
                            <h3 class="question-text f-size-20 gray-color-2 f-W-M mb-0">For the next auto pay installments, please choose the desired payment method</h3>
                        </div>
                        <div class="question-content">
                        
                        <div class="form-group mb_form-group">
                            <div class="row gutterField-8">
                              <div class="col-sm-6">
                                <div class="form-group mb_form-group">
                                  <div class="cstBlockwrap">
                                    <label for="next_auto_pay-Bank-account" class="custom-control custom-block custom-radio mb-0 disabled-control">
                                      <input id="next_auto_pay-Bank-account" [(ngModel)]="paymentPlan" name="next_auto_pay" value="EFT" type="radio" class="custom-control-input form-check-input" disabled>
                                      <span class="custom-control-label-wrap"><span class="custom-control-indicator"></span> <span class="indicator-label">Bank Account</span> </span> </label>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-6">
                                <div class="form-group mb_form-group">
                                  <div class="cstBlockwrap">
                                    <label for="next_auto_pay-Credit-or-Debit-card" class="custom-control custom-block custom-radio mb-0 disabled-control">
                                      <input id="next_auto_pay-Credit-or-Debit-card" [(ngModel)]="paymentPlan" value="CC" name="next_auto_pay" type="radio" class="custom-control-input form-check-input" disabled>
                                      <span class="custom-control-label-wrap"><span class="custom-control-indicator"></span> <span class="indicator-label">Credit/Debit Card</span> </span> </label>
                                  </div>
                                </div>
                              </div>
                            </div>
                            </div>
                            
                            
                            <!-- If Select Bank Account Toggle content -->
                            <div>
                            <div class="form-group mb_form-group">
                              <div class="field_md">
                                <input class="form-control cmnField" [ngClass]="{'ffl-floated-force' : bankName != ''}" appOnlyAlphabeticalWithSpace [(ngModel)]="bankName">
                                <!-- Toggle "has-error has-error-icon" this 2 class for Error -->
                                <label class="primary-label">Bank Name*</label>
                              </div>
                            </div>
                            <div class="form-group mb_form-group">
                              <div class="field_md">
                                <input class="form-control cmnField" [ngClass]="{'ffl-floated-force' : accountNo != ''}" numbersOnly [(ngModel)]="accountNo">
                                <!-- Toggle "has-error has-error-icon" this 2 class for Error -->
                                <label class="primary-label">Account Number*</label>
                              </div>
                            </div>
                            <div class="form-group mb_form-group">
                              <div class="field_md">
                                <input class="form-control cmnField" [ngClass]="{'ffl-floated-force' : routingNo != ''}" numbersOnly [(ngModel)]="routingNo">
                                <!-- Toggle "has-error has-error-icon" this 2 class for Error -->
                                <label class="primary-label">Routing Number*</label>
                              </div>
                            </div>
                            </div>
                            <!-- End Toggle content -->
                            
                        </div>
                      </div>
                      
                    </div>
      
      <ul class="list-inline mb-0 text-center btnsList_form">
                      <li class="list-inline-item">
                        <button type="button" class="btn btnstl-1 btnBg-3"
                         (click)="onSubmitBank()" [disabled]="!bankName || !accountNo || !routingNo" data-dismiss="modal">Save &amp; Continue</button>

                        <!-- <a class="btn btnstl-1 btnBg-3">Save &amp; Continue</a>  -->
                      </li>
                    </ul>
   </div>
      
      </div>
      
    </div>
  </div>
</div>

<!-- Modal Bank Detail End -->