

<div class="col-md-auto">
    <div class="modal drawerModal drawerSummary" id="drawerModal">
      <div class="drawerWrap">
        <button type="button" class="close text-uppercase text-center btnCls" data-dismiss="modal"> <span class="btntext">×</span> </button>
        <div class="mngInside">
          <div class="drawInside">
            <div class="formScreen_Hgt summaryScroll cstScroller mCustomScrollbar _mCS_1 mCS_no_scrollbar" data-mcs-theme="dark"><div id="mCSB_1" class="mCustomScrollBox mCS-dark mCSB_vertical mCSB_inside" style="max-height: none;" tabindex="0"><div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
              <div class="right-summary-rail pTB_quote">
                <div class="summary-rail-section" *ngIf="oneInkDriverForm.drivers_array$!=undefined">
                  <div class="summaryHead text-color-3">Drivers</div>
                 
                  <form  [formGroup]="oneInkDriverForm.drivers_array$" >
          
                  <div  formArrayName="driver"
                  *ngFor="let row of oneInkDriverForm.drivers_array$.get('driver').controls ; let index=index"  class="queNbrSpace">
                     
                 
                  <div [formGroupName]="index"  class="summary-rail-item">
                    <div class="summarysubHead mng-btnEdit">{{row.get('firstName').value }} {{row.get('middleName').value }} {{row.get('lastName').value }}
                     <button (click)="edit_driver(index)" class="btn btnEdit"><img class="icon w-100 mCS_img_loaded" src="./assets/images/icon-edit.svg" alt=""></button>
                    </div>
                    <div class="response-list gray-color-2">
                      <div class="response-item">{{row.get('maritalStatus').value }}</div>
                      <div class="response-item">{{row.get('gender').value }}</div>
                      <!-- <div class="response-item">{{row.get('email').value}}</div> -->
                    </div>
                  </div>
                  </div>
                  </form>
                  <div class="btnRow pl-0">
                      <button type="button" (click)="add_driver()" class="btn btn-text-link link-color-2">+ Add another Driver</button>
                  </div>
                </div>


                <div class="summary-rail-section" *ngIf="OneinkVehicleForm.vehicle_array$!=undefined">
                  <div class="summaryHead text-color-3">Vehicles</div>
                 
                  <form  [formGroup]="OneinkVehicleForm.vehicle_array$" >
          
                  <div  formArrayName="vehicle"
                  *ngFor="let row of OneinkVehicleForm.vehicle_array$.get('vehicle').controls ; let index=index"  class="queNbrSpace">
                     
                 
                  <div [formGroupName]="index"  class="summary-rail-item">
                    <div class="summarysubHead mng-btnEdit">{{row.get('year').value }} {{row.get('make').value }} {{row.get('model').value }}
                     <button (click)="edit_vehicle(index)" class="btn btnEdit"><img class="icon w-100 mCS_img_loaded" src="./assets/images/icon-edit.svg" alt=""></button>
                    </div>

                  </div>
                  </div>
                  </form>
                  <div class="btnRow pl-0">
                      <button type="button" (click)="add_vehicle()" class="btn btn-text-link link-color-2">+ Add another Vehicle</button>
                  </div>
                </div>
            
              </div>
            </div><div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-dark mCSB_scrollTools_vertical" style="display: none;"><div class="mCSB_draggerContainer"><div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 30px; display: block; height: 0px; max-height: 490px; top: 0px;"><div class="mCSB_dragger_bar" style="line-height: 30px;"></div></div><div class="mCSB_draggerRail"></div></div></div></div></div>
          </div>
        </div>
      </div>
    </div>
  </div>