<!-- <div class="col-md-auto">
  <div class="modal drawerModal drawerSummary" id="drawerModal">
    <div class="drawerWrap">
      <button type="button" class="close text-uppercase text-center btnCls" data-dismiss="modal"> <span class="btntext">×</span> </button>
      <div class="mngInside">
        <div class="drawInside">
          <div class="formScreen_Hgt summaryScroll cstScroller mCustomScrollbar _mCS_1 mCS_no_scrollbar" data-mcs-theme="dark"><div id="mCSB_1" class="mCustomScrollBox mCS-dark mCSB_vertical mCSB_inside" style="max-height: none;" tabindex="0"><div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
            <div class="right-summary-rail pTB_quote">
                <form *ngIf="BeyontecFormService.drivers_array$" [formGroup]="BeyontecFormService.drivers_array$" >
          
              <div class="summary-rail-section">
                <div  class="summaryHead text-color-3" >Drivers</div>
                <div  formArrayName="driver"
                *ngFor="let row of BeyontecFormService.drivers_array$.get('driver').controls ; let index=index"  class="queNbrSpace">
                   
               
                <div [formGroupName]="index" *ngIf="row.get('driver_include').value" class="summary-rail-item">
                  <div class="summarysubHead mng-btnEdit">{{row.get('firstName').value }} {{row.get('middleName').value }} {{row.get('lastName').value }}
                   <button (click)="edit_driver(index)" class="btn btnEdit"><img class="icon w-100 mCS_img_loaded" src="./assets/images/icon-edit.svg" alt=""></button>
                  </div>
                  <div class="response-list gray-color-2">
                    <div class="response-item">{{row.get('isMale').value }}</div>
                    <div class="response-item">{{row.get('isMarried').value }}</div>
                    <div class="response-item">{{row.get('email').value}}</div>
                  </div>
                </div>
                </div>
                <div class="btnRow pl-0">
                <button type="button" (click)="add_driver(index)" class="btn btn-text-link link-color-2">+ Add another Driver</button>
                </div>
              </div>
              </form>
              <form *ngIf="BeyontecFormService.vehicles_array$" [formGroup]="BeyontecFormService.vehicles_array$" >
                  <div class="summaryHead text-color-3">Vehicles</div> 
                <div formArrayName="vehicle"
                  *ngFor="let row of BeyontecFormService.vehicles_array$.get('vehicle').controls ; let index=index"  class="queNbrSpace">
                  
              <div [formGroupName]="index" *ngIf="row.get('include').value" class="summary-rail-section">
               
                <div class="summary-rail-item">
                  <div class="summarysubHead mng-btnEdit">{{row.get('year').value }} {{row.get('make').value }} {{row.get('model').value }}
                    <button class="btn btnEdit"><img class="icon w-100 mCS_img_loaded" src="./assets/images/icon-edit.svg" alt=""></button>
                  </div>
                  <div class="response-list gray-color-2">
                    <div class="response-item">Commute (to work or school)</div>
                    <div class="response-item">Liability Only</div>
                  </div>
                </div>
                
             
              </div>
            
            </div>
            <div class="btnRow pl-0">
                <button type="button" class="btn btn-text-link link-color-2">+ Add another Vehicle</button>
                </div>
              </form>
            </div>
          </div><div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-dark mCSB_scrollTools_vertical" style="display: none;"><div class="mCSB_draggerContainer"><div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 30px; display: block; height: 0px; max-height: 490px; top: 0px;"><div class="mCSB_dragger_bar" style="line-height: 30px;"></div></div><div class="mCSB_draggerRail"></div></div></div></div></div>
        </div>
      </div>
    </div>
  </div>
</div> -->


<div class="col-md-auto">
  <div class="modal drawerModal drawerSummary" id="drawerModal" malihu-scrollbar >
    <div class="drawerWrap">
      <button type="button" class="close text-uppercase text-center btnCls" data-dismiss="modal"> <span
          class="btntext">×</span> </button>
      <div class="mngInside">
        <div class="drawInside" >
          <div class="formScreen_Hgt summaryScroll cstScroller mCustomScrollbar _mCS_1 mCS_no_scrollbar"
            data-mcs-theme="dark">
            <div id="mCSB_1" class="mCustomScrollBox mCS-dark mCSB_vertical mCSB_inside" style="max-height: none;"
              tabindex="0"> 
              <div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y"
                style="position:relative; top:0; left:0;" dir="ltr">
                <div class="right-summary-rail pTB_quote">
                  <div class="summary-rail-section" *ngIf="BeyontecFormService.drivers_array$!=undefined">
                    <div class="summaryHead text-color-3"><a (click)="driver_list()">Drivers</a></div>

                    <form [formGroup]="BeyontecFormService.drivers_array$" >

                      <div formArrayName="driver"
                        *ngFor="let row of BeyontecFormService.drivers_array$.get('driver').controls ; let index=index"
                        class="">


                        <div [formGroupName]="index" *ngIf="row.get('driver_include').value" class="summary-rail-item">
                          <div class="summarysubHead mng-btnEdit">{{row.get('firstName').value | uppercase}}
                            {{row.get('middleName').value | uppercase}} {{row.get('lastName').value | uppercase}}
                            <button (click)="edit_driver(index)" class="btn btnEdit" *ngIf="isMinQuote==0">
                              <img class="icon w-100 mCS_img_loaded" src="./assets/images/icon-edit.svg" alt="">
                            </button>
                          </div>
                          <div class="response-list gray-color-2">
                            <div class="response-item">{{row.get('isMale').value == 'true' ? 'Male' : 'Female' }} / {{row.get('isMarried').value == 'S' ? 'Single' : 'Married' }}</div>
                            <!-- <div class="response-item"></div> -->
                            <div class="response-item">{{row.get('email').value}}</div>
                            <div class="response-item">{{row.get('dob').value}}</div>
                          </div>
                        </div>
                      </div>
                    </form>
                    <div class="btnRow pl-0" *ngIf="isMinQuote==0 &&  vehicleLength > 0">
                      <button type="button" (click)="add_driver()" class="btn btn-text-link link-color-2">+ Include another Driver</button>
                    </div>
                  </div>
                  <div class="summary-rail-section" *ngIf="BeyontecFormService.vehicles_array$!=undefined &&  vehicleLength > 0">
                    <div class="summaryHead text-color-3"><a (click)="vehicle_list()">Vehicles</a></div>
                    <form [formGroup]="BeyontecFormService.vehicles_array$">


                      <div formArrayName="vehicle"
                        *ngFor="let row of BeyontecFormService.vehicles_array$.get('vehicle').controls ; let index=index"
                        class="summary-rail-item">

                        <div *ngIf="row.get('include').value">
                          <div class="summarysubHead mng-btnEdit">{{row.get('year').value }} {{row.get('make').value }}
                            {{row.get('model').value }}
                            <button (click)="edit_vehicle(index)" class="btn btnEdit" *ngIf="isMinQuote==0">
                              <img class="icon w-100 mCS_img_loaded" src="./assets/images/icon-edit.svg" alt="">
                            </button>
                          </div>
                          <div class="response-list gray-color-2">
                            <div class="response-item">{{row.get('type_of_coverage').value == 0 ? 'Liability Only' : 'Liability/Comprehensive/Collision ($'+row.get('type_of_coverage').value+' deductible)'}} </div>
                            <!-- <div class="response-item">Liability Only</div> -->
                          </div>
                          <div class="response-list gray-color-2">
                            <div class="response-item">Roadside Assistance - {{row.get('road_side_assistance').value}} </div>
                            <!-- <div class="response-item">Liability Only</div> -->
                          </div>
                        </div>
                      </div>
                    </form>
                    <div class="btnRow pl-0" *ngIf="isMinQuote==0">
                      <button type="button" (click)="add_vehicle()" class="btn btn-text-link link-color-2">+ Include another Vehicle</button>
                    </div>
                  </div>
                  <div class="summary-rail-section" *ngIf="BeyontecFormService.coverage_array$!=undefined && BeyontecFormService.coverage_array$.value.rqEffDt && BeyontecFormService.coverage_array$.value.umbi && BeyontecFormService.coverage_array$.value.umpd && BeyontecFormService.coverage_array$.value.pip">
                    <div class="summaryHead text-color-3 mng-btnEdit">Coverage Limit
                      <button class="btn btnEdit" (click)="edit_coverage()" *ngIf="isMinQuote==0">
                        <img class="icon w-100 mCS_img_loaded" src="./assets/images/icon-edit.svg" alt="">
                      </button>
                    </div>
                    <div class="summary-rail-item">
                      <div class="response-list listSZ-md">
                        <div class="response-item">Effective: {{BeyontecFormService.coverage_array$.value.rqEffDt}}<br>
                          <!-- Expires: 11/9/2020</div> -->
                        </div>
                       

                        <div class="response-item">Uninsured/Underinsured Motorist<br>
                          Bodily Injury: 

                          <span *ngIf="BeyontecFormService.coverage_array$.value.umbi != 0">${{BeyontecFormService.coverage_array$.value.umbi || 'Reject'}}</span> 
                        
                          <span *ngIf="BeyontecFormService.coverage_array$.value.umbi == 0">Reject</span>

                        </div>

                        <div class="response-item">Uninsured/Underinsured Motorist <br> Property Damage: 
                          <span *ngIf="BeyontecFormService.coverage_array$.value.umpd != 0">$ {{BeyontecFormService.coverage_array$.value.umpd}} </span>

                          <span *ngIf="BeyontecFormService.coverage_array$.value.umpd == 0">Reject</span>

                        </div>


                        <div class="response-item">Personal Injury Protection:

                          <span *ngIf="BeyontecFormService.coverage_array$.value.pip != 0">$ {{BeyontecFormService.coverage_array$.value.pip}} </span> 

                          <span *ngIf="BeyontecFormService.coverage_array$.value.pip == 0">Reject</span> </div>

                        <!-- <div class="response-item">Medical Payments: 0</div> -->

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="mCSB_1_scrollbar_vertical"
                class="mCSB_scrollTools mCSB_1_scrollbar mCS-dark mCSB_scrollTools_vertical" style="display: none;">
                <div class="mCSB_draggerContainer">
                  <div id="mCSB_1_dragger_vertical" class="mCSB_dragger"
                    style="position: absolute; min-height: 30px; display: block; height: 0px; max-height: 490px; top: 0px;">
                    <div class="mCSB_dragger_bar" style="line-height: 30px;"></div>
                  </div>
                  <div class="mCSB_draggerRail">

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>