
<div class="fullPG_Wrap">
    <div class="perspScreen">
        <div class="pgWrapFull spcTpHeader vrLinesWrap">
            <app-header></app-header>
            <div class="bg-patternGrdnt">
                <div class="container-fluid lg-container Pg_404_wrap">
                    <div class="wrap404_section">
                        <div class="character404">
                            <img class="w-100" src="assets/images/character-404.png" alt="" />
                        </div>
                        <div class="contWrap404 text-center">
                            <h1 class="title404 font-F-2">oops!</h1>
                            <div class="txt-lg line-H-1_3 f-W-B">404 - PAGE NOT FOUND</div>
                            <div class="txtDesc line-H-1_4">The page you are looking for might have been removed
                                Or had its name changed or is temporarily unavailable.</div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footerWrap overflow-hidden">
                <app-footer></app-footer>
            </footer>
        </div>
    </div> <!-- .perspScreen -->
</div> <!-- .fullPG_Wrap -->