<div class="fullPG_Wrap">
    <div class="perspScreen">
      <div class="pgWrapFull spcTpHeader vrLinesWrap">
        <app-header></app-header>
        <oneink-stepper></oneink-stepper>
       
        <div class="quotePG_wrap overflow-hidden position-relative">
            <div class="floatImg floatShape-1 quote1_imgFloat_1 floating-Animate"> <img class="w-100"
                src="assets/images/floating-img-1.png" alt=""> </div>
            <div class="floatImg floatShape-5 quote1_imgFloat_5 floating-Animate"> <img class="w-100"
                src="assets/images/floating-img-5.png" alt=""> </div>
            <div class="container-fluid lg-container">
              <div class="row no-gutters">
                <div class="col-lg-10">
                  <div class="queCol_Outer pTB_quote lg-BT-scroll" data-aos="fade-up" data-aos-duration="700">
                    <div class="secPg_head_row">
                      <div class="row gutter-10vw align-items-end">
                        <div class="col-md">
                          <div class="section-page-header brdLine-BT mb-0">
                            <div class="ttl-tpLine gray-color-2" *ngIf="oneInkDriverForm.drivers_array$!=undefined">{{oneInkDriverForm.drivers_array$['controls']['driver']['controls'][0].get('firstName').value}} {{oneInkDriverForm.drivers_array$['controls']['driver']['controls'][0].get('lastName').value}}</div>
                            <h1 class="headingStl-1">Underwriting Questions</h1>
                          </div>
                        </div>
                        <div class="col-md-auto">
                          <div class="cont-Rgt">
                            <div class="quoteNbr f-size-18 f-W-M"><span class="text-color-3">Quote Number: </span>{{qouteId}}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="cardInfo_Bx_cmn f-size-18 mb__60">
                      <div class="line-H-1_6 last-p f-W-M exlamtr_mark_wrap">
                      <div class="exlamation_icon">!</div>
                      
                      <p>Please email all necessary documents like Pictures of the Vehicles (all four sides), Proof of Prior insurance (if applicable),
    Marriage certificate (if applicable), Vehicle registration, etc. to <a href="mailto:pg.info@prontoinsurance.com">pg.info@prontoinsurance.com</a></p>
                      </div>
                      
                      
                      </div>
                      <form *ngIf="oneInkUnderWritting.underwritting_array$" [formGroup]="oneInkUnderWritting.underwritting_array$" (ngSubmit)="submit()">
                        <div  class="section-page-questions" >
                      
                    
                      <ng-temmplete formArrayName="question"
                      *ngFor="let row of oneInkUnderWritting.underwritting_array$.get('question').controls ; let i=index">
                      <ng-temmplete [formGroupName]="i">
                      <div class="section-page-question">
                        <div class="question-wrap">
                          <div class="row no-gutters justify-content-between">
                            <div class="col-lg-5 question-header d-flex">
                               <span class="question-counter"> <span class="countNbr"></span> <svg class="iconMark" width="15" height="14" viewbox="0 0 15 14" fill="none">
                              <path d="M2 8.36364L6.23077 12L13 2"></path>
                              </svg> </span>
                              <div>
                                <p class="question-byline f-W-M text-color-black">{{row.get('questionContent').value}}</p>
                              </div>
                            </div>
                            <div class="col-lg-6 question-content">
                              <div class="queNbrSpace">
                                <div class="row gutterField-8">
                                  <div class="col-6">
                                    <div class="form-group mb_form-group">
                                      <div class="cstBlockwrap">
                                        <label for="oneInc_Underwriting_que1-Yes{{i}}" class="custom-control custom-block custom-radio mb-0">
                                          <input id="oneInc_Underwriting_que1-Yes{{i}}" (change)="get_underwriting_value(i)" formControlName="value" [value]="true" type="radio" class="custom-control-input form-check-input" >
                                          <span class="custom-control-label-wrap"><span class="custom-control-indicator"></span> <span class="indicator-label">Yes</span> </span> </label>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-6">
                                    <div class="form-group mb_form-group">
                                      <div class="cstBlockwrap">
                                        <label for="oneInc_Underwriting_que1-No{{i}}" class="custom-control custom-block custom-radio mb-0">
                                          <input id="oneInc_Underwriting_que1-No{{i}}" (change)="get_underwriting_value(i)" formControlName="value"  [value]="false" type="radio" class="custom-control-input form-check-input">
                                          <span class="custom-control-label-wrap"><span class="custom-control-indicator"></span> <span class="indicator-label">No</span> </span> </label>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- If Select Yes toggle below Div -->
                          <div>
                            <div class="queInside-space"
                            *ngIf="(row.get('noteIsRequiredIfYes').value &&  row.get('value').value=== true)
                            || ( row.get('noteIsRequiredIfNo').value && row.get('value').value === false)">
                              <div class="form-group mb_form-group mb-0">
                                <div class="field_md">
                                  <input class="form-control cmnField" formControlName="extraInformation"  emptyvalueValidationcheck [currentControl]="row.get('extraInformation')">
                                  <!-- Toggle "has-error has-error-icon" this 2 class for Error -->
                                  <label class="primary-label">Comment</label>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- End toggle Div --> 
                          
                        </div>
                      </div>
                    </ng-temmplete>
                  </ng-temmplete>
                        </div>
                    <div class="navigation-buttons">
                      <ul class="list-inline mb-0 text-right btnsList_form">
                        <li class="list-inline-item"><a href="#" class="btn btnstl-1 btnBrd">Go Back</a></li>
                        <li class="list-inline-item"><button [disabled]="!oneInkUnderWritting.underwritting_array$['controls']['question'].valid" type="submit"  class="btn btnstl-1 btnBg-3 ">
                            Save & Continue</button></li>
                          
                      </ul>
                    </div>
                  </form>
                  </div>
                </div>
                <oneink-sidebar style="display: none"></oneink-sidebar>
              </div>
            </div>
          </div>
         
        <app-footer-quote></app-footer-quote>
       
      </div>
    </div> <!-- .perspScreen -->
  </div>
 <!-- .fullPG_Wrap -->
<!---pronto dialog -->
<a style="display: none" data-toggle="modal" data-target="#modal-undisclosed-drivers" #Undisclosed_dialog></a>
<div class="modal fade modalCst"  id="modal-undisclosed-drivers" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-cst-sm">
    <div class="modal-content">
     <!-- <button type="button" class="close btnClose" data-dismiss="modal"><span>×</span></button> -->
      <div class="modal-body pb-lg">
      <div class="row no-gutters justify-content-center">
      <div class="col-lg-11">
      <div class="section-page-questions">
      <div class="section-page-question">
                      <div class="question-wrap pb-0">
                        <div class="question-header">
                          <div>
                            <h3 class="question-text">Undisclosed Drivers</h3>
                            <p class="question-byline">Please include or exclude these drivers</p>
                          </div>
                        </div>
                        <div class="question-content" >
                                 <div class="form-group mb_form-group" *ngFor="let driver of oneink_undisclosedDrivers">
                                  <div class="cstText_Blockwrap d-flex align-items-center">
                                   <div class="mngIns w-100">{{driver['person']['fullName']}}</div>
                                  </div>
                                </div>
                        </div>
                      </div>
                    </div>
      </div>
      <div class="navigation-buttons">
                    <ul class="list-inline mb-0 text-right btnsList_form">
                    <li class="list-inline-item"><a data-dismiss="modal" class="btn btnstl-1 btnBrd">Stay Here</a></li>
                    <li class="list-inline-item"><a data-dismiss="modal" routerLink="/one-ink/undisclosed-list" class="btn btnstl-1 btnBg-3">Review</a></li>
                  </ul>
                  </div>
      </div>
      </div>
      </div>
      
    </div>
  </div>
</div>



<!--fcra dialog-->
<a style="display: none" data-toggle="modal" data-target="#modal-FCRA-message" #FCRA_dialog></a>

<div class="modal fade modalCst" id="modal-FCRA-message" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-cst-sm">
    <div class="modal-content">
     <!-- <button type="button" class="close btnClose" data-dismiss="modal"><span>×</span></button> -->
      <div class="modal-body pb-lg">
      <div class="row no-gutters justify-content-center">
      <div class="col-lg-11">
      <div class="section-page-questions">
      <div class="section-page-question">
                      <div class="question-wrap pb-0">
                        <div class="question-header">
                          <div>
                            <h3 class="question-text">FCRA message</h3>
                            <p class="question-byline">The system will now order third party reports such as MVR</p>
                          </div>
                        </div>
                        <div class="question-content">
                            <div class="form-group mb_group_lg">
                              <label class="check-control_Circle mb-0">
                              <input type="checkbox" [checked]="true" class="inputCheck" readonly>
                              <span class="wrapRow d-flex"> <span class="checkIndicate"></span> <span class="labelText gray-color-1 f-size-18 f-W-N line-H-1_3 flex-fill align-self-center">The Federal Fair Credit Reporting Act, Driver’s Privacy Protection Act, analogous state laws, and other state and federal laws govern the user of reports delivered via the PolicyOne system. It is your responsibility to ensure that your request are lawful. When ordering reports for underwriting purposes, you must have a completed application and/or the verbal request of subject consumer.</span> </span> </label>
                            </div>
                            <div class="form-group mb_group_lg">
                              <label class="check-control_Circle mb-0">
                              <input type="checkbox" [checked]="true" class="inputCheck" readonly>
                              <span class="wrapRow d-flex"> <span class="checkIndicate"></span> <span class="labelText gray-color-1 f-size-18 f-W-N line-H-1_3 flex-fill align-self-center">The Federal Fair Credit Reporting Act imposes criminal penalties - including a fine, up to two years in prison, or both - against anyone who knowingly and willfully obtains information on a consumer from a consumer reporting agency under false pretenses, and other penalties for anyone who obtains such consumer information without a permissible purpose.</span> </span> </label>
                            </div>

                        </div>
                      </div>
                    </div>
      </div>
      <div class="navigation-buttons">
                    <ul class="list-inline mb-0 text-right btnsList_form">
                    <li class="list-inline-item"><a data-dismiss="modal"  class="btn btnstl-1 btnBrd" data-dismiss="modal">Disagree</a></li>
                    <li class="list-inline-item"><a data-dismiss="modal" routerLink="/one-ink/payment" class="btn btnstl-1 btnBg-3">Agree</a></li>
                    </ul>
                  </div>
      </div>
      </div>
      </div>
      
    </div>
  </div>
</div>



<error-dialog [error_msg]="oneInkService.error_msg" #error_component></error-dialog >