<!-- Modal Get a Quote Start -->
<div class="modal modalZ-up fade modalCst" id="modal-get_a_quote">
    <div class="modal-dialog modal-cst-lg">
      <div class="modal-content modalGetQuote">
        <button type="button" class="close btnClose" data-dismiss="modal"><span>&times;</span></button>
        <div class="modal-body">
          <div class="modalHead_wrap text-center">
            <h4 class="modal-Head">{{product | titlecase }} Insurance</h4>
            <div class="subHeading gray-color-1">Get a FREE Quote Today</div>
          </div>
        <form [formGroup]="motorcycle" (ngSubmit)="onSubmit()">
          <div class="modalSecBg_wrap">
            <div class="row no-gutters justify-content-center">
              <div class="col-lg-7">
                <div class="formWrap_getQuote">
                  <div class="row gutterField-8">
                    <div class="col-12">
                      <div class="form-group mb_form-group">
                        <div class="field_md">
                          <input class="form-control cmnField" type="text" name="first_name"  [ngClass]="{'ffl-floated-force' : motorcycle.get('first_name').value != ''}" formControlName="first_name" appOnlyAlphabetical>
                          <!-- Toggle "has-error has-error-icon" this 2 class for Error -->
                          <label class="primary-label label-Tp">First Name</label>
                          <div class="invalid-fld-feedback-invalid">Please enter a  first name</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group mb_form-group">
                        <div class="field_md">
                          <input class="form-control cmnField"  type="text" name="last_name"  [ngClass]="{'ffl-floated-force' : motorcycle.get('last_name').value != ''}" formControlName="last_name" appOnlyAlphabetical>
                          <!-- Toggle "has-error has-error-icon" this 2 class for Error -->
                          <label class="primary-label label-Tp">Last Name</label>
                          <div class="invalid-fld-feedback-invalid">Please enter a  last name</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group mb_form-group">
                        <div class="field_md">
                          <input class="form-control cmnField" type="text" name="phone"  [ngClass]="{'ffl-floated-force' : motorcycle.get('phone').value != ''}" formControlName="phone" maxlength="10" appOnlyNumerical>
                          <!-- Toggle "has-error has-error-icon" this 2 class for Error -->
                          <label class="primary-label label-Tp">Phone</label>
                          <div class="invalid-fld-feedback-invalid">Please enter a  phone number</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group mb_form-group">
                        <div class="field_md">
                          <input class="form-control cmnField"  type="text" name="email"  formControlName="email" [ngClass]="{'ffl-floated-force' : motorcycle.get('email').value != ''}"  >
                          <!-- Toggle "has-error has-error-icon" this 2 class for Error -->
                          <label class="primary-label label-Tp">Email</label>
                          <div class="invalid-fld-feedback-invalid">Please enter a  email</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-8">
                      <div class="form-group mb_form-group">
                        <div class="field_md field_labelTP">
                          <input class="form-control cmnField" type="text" name="addresss"  [ngClass]="{'ffl-floated-force' : motorcycle.get('addresss').value != ''}" formControlName="addresss" #search autocorrect="off" autocapitalize="off" spellcheck="off"
                            placeholder="address">
                          <!-- Toggle "has-error has-error-icon" this 2 class for Error -->
                          <label class="primary-label label-Tp">Address</label>
                          <div class="invalid-fld-feedback-invalid">Incomplete address</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group mb_form-group">
                        <div class="field_md">
                          <input class="form-control cmnField" type="text" name="unit" formControlName="unit" appOnlyNumerical>
                          <!-- Toggle "has-error has-error-icon" this 2 class for Error -->
                          <label class="primary-label label-Tp">Unit</label>
                         
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group mb_form-group">
                        <div class="field_md">
                          <input class="form-control cmnField" type="text" name="city"  [ngClass]="{'ffl-floated-force' : motorcycle.get('city').value != ''}" formControlName="city" appOnlyAlphabeticalWithSpace>
                          <!-- Toggle "has-error has-error-icon" this 2 class for Error -->
                          <label class="primary-label label-Tp">City</label>
                          <div class="invalid-fld-feedback-invalid">Please Enter  City</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group mb_form-group">
                        <div class="field_md">
                          <input class="form-control cmnField"  type="text" name="state"  [ngClass]="{'ffl-floated-force' : motorcycle.get('state').value != ''}" formControlName="state" appOnlyAlphabetical>
                          <!-- Toggle "has-error has-error-icon" this 2 class for Error -->
                          <label class="primary-label label-Tp">State</label>
                           <div class="invalid-fld-feedback-invalid">Please Enter  State</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group mb_form-group">
                        <div class="field_md">
                          <input class="form-control cmnField" type="text" name="zipcode"  [ngClass]="{'ffl-floated-force' : motorcycle.get('zipcode').value != ''}" formControlName="zipcode" maxlength ="5"appOnlyNumerical>
                          <!-- Toggle "has-error has-error-icon" this 2 class for Error -->
                          <label class="primary-label label-Tp">Zipcode</label>
                           <div class="invalid-fld-feedback-invalid">Please Enter  Zipcode</div>
                        </div>
                      </div>
                    </div>
  
                  </div>
  
                  <div class="btnRow text-center">
                    <button type="submit" [disabled]="!motorcycle.valid" charset=" " class="btn btnstl-1 btnBg-3" (click)="onClick()">Get My Quote</button>
                  </div>
                  <div class="callAssist line-H-1_2 text-center">Or call for immediate assistance <a
                      class="f-W-B text-decoration-none link-color-black" href="tel:(855)-200-4567">(855) 200-4567</a>
                  </div>
                </div>
              </div>
  
            </div>
          </div>
    </form>
        </div>
  
      </div>
    </div>
     <div toastContainer></div>
</div>
<!-- Modal Get a Quote End -->