<app-pre-loader *ngIf="loading"></app-pre-loader>
<div class="fullPG_Wrap">
    <div class="perspScreen">
      <div class="pgWrapFull spcTpHeader">
        <app-header ></app-header>
        <div class="bg-patternGrdnt">
         <div class="container-fluid lg-container loginPg_wrap">
         
         <div class="text-center">
           <form [formGroup]="getaquote" >
         <div class="loginChrtr_mng">
          <div class="loginCharacter">
         <img class="w-100" src="assets/images/login-character.png" alt="" />
         </div>
         <div class="loginOuterBx">
         <div class="charact_Hand"><img src="assets/images/login-character-hand.png" alt=""/></div>
         <div class="login_Bx text-left d-flex align-items-center">
         
         <div class="w-100">
        <h1 class="heading_bx font-F-2 text-center">Continue a Quote</h1>
        
        <div class="selectBy_quote">
        <label class="label_txt f-size-18 gray-color-2">Search for my quote by*</label>
        
        <ul class="list-unstyled listMulti_radio mb-0 d-flex">
        <li class="list-inline-item">
        <div class="form-group mb_form-group">
                                    <label for="search_quote_by-Florida" class="check-control_Circle mb-0">
                                <input id="search_quote_by-Florida" type="radio" formControlName="state" name="state"  class="inputCheck" value="FL"> 
                          
                                <span class="wrapRow d-flex align-items-center"> <span class="checkIndicate"></span> <span class="labelText f-size-18 flex-fill">Florida</span> </span> </label>
                                  </div>
        </li>
        <li class="list-inline-item">
        <div class="form-group mb_form-group">
                                    <label for="search_quote_by-Texas" class="check-control_Circle mb-0">
                                <input id="search_quote_by-Texas" type="radio"formControlName="state" name="state" class="inputCheck" value="TX">
                               
                                <span class="wrapRow d-flex align-items-center"> <span class="checkIndicate"></span> <span class="labelText f-size-18 flex-fill">Texas</span> </span> </label>
                                  </div>
        </li>
        </ul>
        </div>
        
        <div class="mb__20">
        <div class="row gutter-10vw">
        <div class="col-sm-6">
          <div class="form-group mb_form-group">
            <div class="tltp-mng_R">
                <div class="dropdown-select-wrap field_md">


                    <div class="selectNG_dropdown">
                        <ng-select class="custom_ngSelect"
                            [ngClass]="{'ffl-floated-force': getaquote.get('applicationNoType').value == ''}"
                            [items]="application_dropdown"
                            bindLabel="value" bindValue="key"
                            [multiple]="false"
                            [searchable]="false"
                            formControlName="applicationNoType"
                            id="custom_ngSelect"
                            placeholder="Select">
                        </ng-select>


                        <label class="selectLabel">Primary use
                            of vehicle</label>
                        <svg class="arrowIcon"
                            xmlns="http://www.w3.org/2000/svg"
                            width="11.67" height="6.04"
                            viewBox="0 0 11.67 6.04">
                            <polygon
                                points="5.89 6.04 0 0.74 0.67 0 5.88 4.69 11 0 11.67 0.74 5.89 6.04"
                                fill="#fff"></polygon>
                        </svg>
                    </div>
                </div>
               
            </div>
        </div>

        <!-- <div class="form-group mb_form-group">
                                <div class="dropdown-select-wrap field_md">
                                  <div class="dropdown-select dropdown"> <span class="dropdown-select-header labelTP" data-toggle="dropdown" data-flip="false"> 
                                    <label class="dropdown-label">Select*</label>
                                    <input type="text" class="form-control" placeholder="Select">
                                    <svg class="" xmlns="http://www.w3.org/2000/svg" width="11.67" height="6.04" viewBox="0 0 11.67 6.04">
                                    <polygon points="5.89 6.04 0 0.74 0.67 0 5.88 4.69 11 0 11.67 0.74 5.89 6.04" fill="#fff"></polygon>
                                    </svg></span>
                                    <div class="dropdown-menu">
                                      <ul class="list-unstyled dopDownMenu-List mb-0">
                                        <li selected=""><a class="item" href="#">Quote Number</a></li>
                                        <li><a class="item" href="#">Application Number</a></li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div> -->
                              </div>
                              
        <div class="col-sm-6">
        <div class="form-group mb_form-group">
                                <div class="field_md ffl_md"> <!-- "field-has-value" Add class if field have value -->
                                  <input class="form-control cmnField" formControlName="quoteId" name="quoteId " [ngClass]="{'ffl-floated-force' : getaquote.get('quoteId').value != ''}">
                                  <!-- Toggle "has-error has-error-icon" this 2 class for Error -->
                                  <label class="primary-label">Quote Number*</label>
                                  <div class="invalid-fld-feedback">This field is required</div>
                                </div>
                              </div>
                              </div>
                              <div class="col-sm-12">
        <div class="form-group mb_form-group">
                                <div class="field_md ffl_md"> <!-- "field-has-value" Add class if field have value -->
                                  <input class="form-control cmnField" formControlName="email" name="email" [ngClass]="{'ffl-floated-force' : getaquote.get('email').value != ''}">
                                  <!-- Toggle "has-error has-error-icon" this 2 class for Error -->
                                  <label class="primary-label">Email*</label>
                                  <div class="invalid-fld-feedback">This field is required</div>
                                </div>
                              </div>
                              </div>
        
                </div>
                </div>
                <div class="btnsRow text-center">
                       <button type="submit" (click)="submit()" class="btn btnstl-1 btnBg-3">Search</button>
                    </div>
                
                </div>
                
                
         </div>
         
         </div>
         
         </div>
        </form>
         </div>
         
         
         
          </div>
        </div>
        
        <footer class="footerWrap overflow-hidden" >
            <app-footer></app-footer>
        </footer>
      </div>
      <!-- .pgWrapFull --> 
    </div>
    <!-- .perspScreen --> 
  </div>
  <!-- .fullPG_Wrap -->