<app-page-loader  *ngIf="loading"></app-page-loader>


<div class="fullPG_Wrap">
  <div class="perspScreen">
    <div class="pgWrapFull spcTpHeader vrLinesWrap" *ngIf="page">
        <app-header (languageChange)="onlanguageChange($event)"></app-header>
      
      <div class="cmsHead_wrap">
      <div class="container-fluid lg-container">
      <h1 class="cmsPg-ttl text-center">{{page['main_title']}}</h1>
      </div>
      </div>
      <div class="section-lg cmsPg_wrap">
      <div class="container-fluid lg-container">
      
      <div class="row no-gutters justify-content-center">
      <div class="col-md-8 col-sm-10">
      <div class="sitemap_row">
      <div class="row gutter-15vw">
      <div class="col-sm-6">
      <div class="sitemap_heading line-H-1_3 f-W-B text-color-3" [innerHTML]="page['vehicle_insu_title']"></div>
      </div>
      <div class="col-sm-6">
      <ul class="list-unstyled mb-0 line-H-1_3 sitemap_List" *ngIf="vehicle_insu">
      <li *ngFor="let vh of vehicle_insu;let i = index;"><a href="{{vehicle_insu_url[i]}}">{{ vh}}</a></li>
      <!-- <li><a href="product-motorcycle-insurance.php">Motorcycle Insurance</a></li>
      <li><a href="product-rv-insurance.php">RV Insurance</a></li>
      <li><a href="product-boat-insurance.php">Boat Insurance</a></li>
      <li><a href="product-watercraft-insurance.php">Watercraft Insurance</a></li>
      <li><a href="product-roadside-assistance-insurance.php">Roadside Assistance</a></li> -->
      </ul>
      </div>
      </div>
      </div>
      <div class="sitemap_row">
      <div class="row gutter-15vw">
      <div class="col-sm-6">
      <div class="sitemap_heading line-H-1_3 f-W-B text-color-3" [innerHTML]="page['property_insu_title']"></div>
      </div>
      <div class="col-sm-6">
      <ul class="list-unstyled mb-0 line-H-1_3 sitemap_List" *ngIf="property_insu">
        <li *ngFor="let pl of property_insu;let i = index;"><a href="{{property_insu_url[i]}}">{{ pl}}</a></li>
      <!-- <li><a href="product-home-insurance.php">Homeowners Insurance</a></li>
      <li><a href="product-renters-insurance.php">Renters Insurance</a></li>
      <li><a href="product-condo-insurance.php">Condo Insurance</a></li>
      <li><a href="product-mobile-home-insurance.php">Mobile Home Insurance</a></li> -->
      </ul>
      </div>
      </div>
      </div>
      <div class="sitemap_row">
      <div class="row gutter-15vw">
      <div class="col-sm-6">
      <div class="sitemap_heading line-H-1_3 f-W-B text-color-3" [innerHTML]="page['health_insu_title']"></div>
      </div>
      <div class="col-sm-6">
      <ul class="list-unstyled mb-0 line-H-1_3 sitemap_List" *ngIf="health_insu_url"> 
      <li *ngFor="let hlt of health_insu_url;let j = index;"><a href="{{health_insu_url[j]}}" > {{health_insu[j]}}</a></li>
      <!-- <li><a href="product-supplemental-health-insurance.php">Supplemental Health Insurance</a></li> -->
      </ul>
      </div>
      </div>
      </div>
      <div class="sitemap_row">
      <div class="row gutter-15vw">
      <div class="col-sm-6">
      <div class="sitemap_heading line-H-1_3 f-W-B text-color-3" [innerHTML]="page['mexico_auto_insu_title']"></div>
      </div>
      <div class="col-sm-6">
      <ul class="list-unstyled mb-0 line-H-1_3 sitemap_List" *ngIf="mexico_auto_insu">
      <li *ngFor="let mx of mexico_auto_insu;let k = index;"><a href="{{mexico_auto_insu_url[k]}}" [innerHTML]="mx"></a></li>
      </ul>
      </div>
      </div>
      </div>
      
      <div class="sitemap_row">
      <div class="row gutter-15vw">
      <div class="col-sm-6">
      <div class="sitemap_heading line-H-1_3 f-W-B text-color-3" [innerHTML]="page['comm_insu_title']"></div>
      </div>
      <div class="col-sm-6">
      <ul class="list-unstyled mb-0 line-H-1_3 sitemap_List" *ngIf="comm_insu">
      <li *ngFor="let coms of comm_insu;let d = index;"><a href="{{comm_insu_url[d]}}" [innerHTML]="coms"></a></li>
      </ul>
      </div>
      </div>
      </div>
      <div class="sitemap_row">
      <h2 class="sitemap_lg_heading font-F-1 f-W-B" >{{page['claims_title']}}</h2>
      <div class="row gutter-15vw">
      <div class="col-sm-6">
      <div class="sitemap_heading line-H-1_3 f-W-B text-color-3">{{page['claims_center_title']}}</div>
      </div>
      <div class="col-sm-6">
      <ul class="list-unstyled mb-0 line-H-1_3 sitemap_List" *ngIf="claims_center">
      <li *ngFor="let cm of claims_center;let g = index;"><a href="{{claims_center_url[g]}}" >{{claims_center[g]}}</a></li>
      <!-- <li><a href="claim-center-california.php">California claims form</a></li>
      <li><a href="claim-florida.php">Florida claims form</a></li>
      <li><a href="claims.php">All other claims information</a></li> -->
      </ul>
      </div>
      </div>
      </div>
      <div class="sitemap_row">
      <h2 class="sitemap_lg_heading font-F-1 f-W-B">{{page['my_acc_title']}}</h2>
      <div class="subSec_Wrap">
      <div class="row gutter-15vw">
      <div class="col-sm-6">
      <div class="sitemap_heading line-H-1_3 f-W-B text-color-3">{{page['texas_title']}}</div>
      </div>
      <div class="col-sm-6">
      <ul class="list-unstyled mb-0 line-H-1_3 sitemap_List" *ngIf="texas">
      <li *ngFor="let tx of texas;let d = index;"><a href="{{texas_url[d]}}" [innerHTML]="tx"></a></li>
      <!-- <li><a href="create-login.php">Sign up</a></li>
      <li><a href="#">Forgot Password</a></li> -->
      </ul>
      </div>
      </div>
      </div>
      <div class="subSec_Wrap">
      <div class="row gutter-15vw">
      <div class="col-sm-6">
      <div class="sitemap_heading line-H-1_3 f-W-B text-color-3">{{page['california_title']}}</div>
      </div>
      <div class="col-sm-6">
      <ul class="list-unstyled mb-0 line-H-1_3 sitemap_List" *ngIf="california">
      <li *ngFor="let cl of california;let c=index;"><a href="{{california_url[c]}}" [innerHTML]="cl">Login</a></li>
      <!-- <li><a href="https://manage.ca.prontoinsurance.com/register/registerMaint.cfm">Sign up</a></li>
      <li><a href="https://manage.ca.prontoinsurance.com/register/forgotPassword.cfm">Forgot Password</a></li> -->
      </ul>
      </div>
      </div>
      </div>
      <div class="subSec_Wrap">
      <div class="row gutter-15vw">
      <div class="col-sm-6">
      <div class="sitemap_heading line-H-1_3 f-W-B text-color-3">{{page['florida_title']}}</div>
      </div>
      <div class="col-sm-6">
      <ul class="list-unstyled mb-0 line-H-1_3 sitemap_List" *ngIf="florida">
      <li *ngFor="let fl of florida;let f= index;"><a href="{{florida_url[f]}}" [innerHTML]="fl"></a></li>
      <!-- <li><a href="https://progeneralcustomer.com/InsuredPortal/Register">Sign up</a></li>
      <li><a href="https://progeneralcustomer.com/InsuredPortal/ForgotCredentials">Forgot Password</a></li>
      <li><a href="https://progeneralcustomer.com/InsuredPortal/Login">Quick Pay</a></li> -->
      </ul>
      </div>
      </div>
      </div>
      </div>
      <div class="sitemap_row">
      <div class="row gutter-15vw">
      <div class="col-sm-6">
      <div class="sitemap_heading line-H-1_3 f-W-B text-color-3">{{page['independent_agent_title']}}</div>
      </div>
      <div class="col-sm-6">
      <ul class="list-unstyled mb-0 line-H-1_3 sitemap_List" *ngIf="independent_agent">
      <li *ngFor="let in of independent_agent;let i = index;"><a href="{{independent_agent_url[i]}}" [innerHTML]="in">Texas</a></li>
      <!-- <li><a href="http://hhagency.com/">California</a></li>
      <li><a href="https://floridaagents.prontoinsurance.com/">Florida</a></li> -->
      </ul>
      </div>
      </div>
      </div>
      <div class="sitemap_row">
      <div class="row gutter-15vw">
      <div class="col-sm-6">
      <div class="sitemap_heading line-H-1_3 f-W-B text-color-3">{{page['pronto_ser_title']}}</div>
      </div>
      <div class="col-sm-6">
      <ul class="list-unstyled mb-0 line-H-1_3 sitemap_List" *ngIf="pronto_ser">
      
      <li *ngFor="let pt of pronto_ser;let p = index;">
   
        <a href="{{pronto_ser_url[p]}}" > {{pt}}</a>
      </li>
      <!-- <li><a href="help-center.php">Help Center</a></li>
      <li><a href="find-an-agent.php">Find an Agent</a></li>
      <li><a href="contact.php">Contact</a></li>
      <li><a href="#">Pronto Blog</a></li>
      <li><a href="https://jobs.ajg.com/prontoinsurance">Careers</a></li> -->
      </ul>
      </div>
      </div>
      </div>
      <div class="sitemap_row">
      <div class="row gutter-15vw">
      <div class="col-sm-6">
      <div class="sitemap_heading line-H-1_3 f-W-B text-color-3 ">{{page['legal_title']}}</div>
      </div>
      <div class="col-sm-6">
      <ul class="list-unstyled mb-0 line-H-1_3 sitemap_List"  *ngIf="legal">
      <li *ngFor="let lt of legal;let l = index"><a href="{{legal_url[l]}}" [innerHTML]="lt"></a></li>
      <!-- <li><a href="privacy-policy.php">Privacy Policy</a></li>
      <li><a href="security-policy.php">Security Policy</a></li>
      <li><a href="personal-auto-policy-form.php">Texas Personal Auto Policy</a></li>
      <li><a href="sb1567.php">SB 1567</a></li> -->
      </ul>
      </div>
      </div>
      </div>
      <div class="sitemap_row">
      <div class="row gutter-15vw">
      <div class="col-sm-6">
      <div class="sitemap_heading line-H-1_3 f-W-B text-color-3">{{page['social_title']}}</div>
      </div>
      <div class="col-sm-6">
      <ul class="list-unstyled mb-0 line-H-1_3 sitemap_List" *ngIf="social">
      <li *ngFor="let d of social;let in = index;"><a href="{{social_url[in]}}" [innerHTML]="d"></a></li>
      <!-- <li><a href="https://twitter.com/PROINSU">Twitter</a></li>
      <li><a href="https://www.youtube.com/c/prontoinsuranceofficial">Youtube</a></li> -->
      </ul>
      </div>
      </div>
      </div>
      </div>
      </div>
      
      
      </div>
      </div>
      
      <div class="overflow-hidden">
          <div> 
          <app-ads class="row gutter-8"></app-ads>   
            </div> 
        <!-- <div class="row gutter-8">
          <div class="col-md-6">
            <div class="boxImgInfo mr_B bxFull" style="background-image:url(images/auto-ins-box-2.jpg)" data-aos="fade-up" data-aos-duration="900">
              <div class="mngInside d-flex align-items-center">
                <div class="w-100 z_ind1">
                  <div class="textCont text-color-white text-center">
                    <div class="smTxt text-uppercase" data-aos="fade-up" data-aos-duration="900">LEARN ABOUT</div>
                    <div class="bxTitle text-uppercase font-F-2" data-aos="fade-up" data-aos-delay="300" data-aos-duration="900">INDEPENDENT AGENT</div>
                    <div class="btnRow" data-aos="fade-up" data-aos-delay="500" data-aos-duration="900"><a href="independent-agent.php" class="btn cmnBtn btnBg-1 text-uppercase">Know More</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="boxImgInfo mr_B bxFull" style="background-image:url(images/auto-ins-box-3.jpg)" data-aos="fade-up" data-aos-duration="900">
              <div class="mngInside d-flex align-items-center">
                <div class="w-100 z_ind1">
                  <div class="textCont text-color-white text-center">
                    <div class="smTxt text-uppercase" data-aos="fade-up" data-aos-duration="900">OPEN YOUR</div>
                    <div class="bxTitle text-uppercase font-F-2" data-aos="fade-up" data-aos-delay="300" data-aos-duration="900">PRONTO FRANCHISE AGENCY</div>
                    <div class="btnRow" data-aos="fade-up" data-aos-delay="500" data-aos-duration="900"><a href="https://www.prontofranchise.com" target="_blank" class="btn cmnBtn btnBg-1 text-uppercase">Know More</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
      
      
        <footer class="footerWrap overflow-hidden">
            <app-footer></app-footer>
          </footer>
  

    </div>
  </div>
  <!-- .perspScreen --> 
</div>
