<app-page-loader *ngIf="loading"></app-page-loader>


<div class="fullPG_Wrap">
  <div class="perspScreen">
    <div class="pgWrapFull spcTpHeader">
      <app-header (languageChange)="onlanguageChange($event)"></app-header>
      <div class="bg-patternGrdnt">
        <div class="container-fluid lg-container loginPg_wrap">

          <div class="text-center">
            <div class="loginChrtr_mng">
              <div class="loginCharacter">
                <img class="w-100" src="assets/images/login-character.png" alt="" />
              </div>
              <div class="loginOuterBx">
                <div class="charact_Hand"><img src="assets/images/login-character-hand.png" alt="" /></div>
                <div class="login_Bx text-left">

                  <div class="row no-gutters justify-content-center">
                    <div class="col-lg-9 col-sm-10">
                      <div class="enterZip_box">

                        <div class="circle_icon_wrap d-flex justify-content-center align-items-center">
                          <div class="icon_in w-100 text-center"><img class="iconImg"
                              src="assets/images/prod_quote_Auto.png" alt=""></div>
                        </div>

                        <h1 class="head_title font-F-1 f-W-B text-center">{{pagearr.title}}</h1>

                        <div class="searchZip_code_form">
                          <div class="form-group position-relative">
                            <!-- Toggle has-error class For show Error Message -->
                            <div class="field_md ffl_md fieldZip_code">

                              <input  required="" class="form-control cmnField"   [ngClass]="{'ffl-floated-force' : zipcode != ''}" [(ngModel)]="zipcode"
                              maxlength="5"
                              type="text" #zipdata
                              numbersOnly
                              (focusout)="getErrorZip()"
                              (keypress)="getZipEnter()" >

                              <label class="primary-label">Zip code</label>
                              <div class="fldIcon"><svg class="icon w-100" viewBox="0 0 15 20"
                                  xmlns="http://www.w3.org/2000/svg">
                                  <title>Location pin icon</title>
                                  <path
                                    d="M7.14,0c3.75,0,7.15,2.84,7.15,6.34S11.19,14,7.14,20C3.1,14,0,9.83,0,6.34S3.39,0,7.14,0Zm0,9.15A2.56,2.56,0,1,0,4.58,6.59h0A2.56,2.56,0,0,0,7.14,9.15Z"
                                    fill="#c51f2b"></path>
                                </svg></div>

                            </div>
                            <div class="form-control-feedback bottom">
                              <p><span class="icon">!</span> <span class="zip-error-text">This zip code is
                                  invalid.</span></p>
                            </div>
                          </div>
                          <div class="form-group " *ngIf="counties">
                            <div
                            class="selectNG_dropdown ng_no_label">
                            <ng-select
                            class="custom_ngSelect"
                            [items]="counties['counties']"
                            bindLabel="item.name"
                            (change)="select_count($event)"
                            placeholder="Select item"
                            bindValue="item.name"
                            [(ngModel)]="selected_county"
                            [searchable]="true"
                            placeholder="Counties">
                          </ng-select>
                          
                          <ng-template
                          ng-label-tmp
                          let-item="item">
                          {{item.name}}
                          </ng-template>
                          <!-- <label class="selectLabel">Counties</label> -->
                          <svg class="arrowIcon"
                          xmlns="http://www.w3.org/2000/svg"
                          width="11.67"
                          height="6.04"
                          viewBox="0 0 11.67 6.04">
                          <polygon
                          points="5.89 6.04 0 0.74 0.67 0 5.88 4.69 11 0 11.67 0.74 5.89 6.04"
                          fill="#fff">
                          </polygon>
                          </svg>
                          </div>
                          </div>

                          <div class="btnRow">

                            <button class="btn btnBg-1 btn-block text-uppercase btn_stl_Sqr"
type="submit" type="submit" *ngIf="!counties"   (click)="submitZipCode()"
[disabled]="zipdata.value.length<5">GET A QUOTE</button>
<button class="btn btnBg-1 btn-block text-uppercase btn_stl_Sqr"
type="submit" type="submit" type="submit" *ngIf="counties"   (click)="submitCounty()"
[disabled]="zipdata.value.length<5 && selected_county==''">GET A QUOTE</button>
                            <!-- <button class="btn btnBg-1 btn-block text-uppercase btn_stl_Sqr" type="submit">GET A
                              QUOTE</button> -->
                          </div>

                        </div>

                        <div class="infoSummary_wrap"  *ngIf="pagearr">
                          <ul class="mb-0 list_stl_default line-H-1_3" *ngIf="advantages">
                            <li *ngFor="let adv of advantages">{{adv}}</li>
                            <!-- <li>Best insurance to shop for all protection</li>
                            <li>Great Customer Service and Quality Support</li> -->
                          </ul>
                        </div>


                      </div>
                    </div>
                  </div>




                </div>
                <div class="callUs-row line-H-1_3 text-center">Or call us for more information <a
                    href="tel:1-888-338-6523" class="text-color-black f-W-M">1-888-338-6523</a></div>
              </div>

            </div>
          </div>



        </div>
      </div>

      <footer class="footerWrap overflow-hidden">
        <app-footer></app-footer>
      </footer>
    </div>
    <!-- .pgWrapFull -->
  </div>
  <!-- .perspScreen -->
</div>
<!-- .fullPG_Wrap -->