<app-page-loader  *ngIf="loading"></app-page-loader>

<div class="fullPG_Wrap">
  <div class="perspScreen">
    <div class="pgWrapFull spcTpHeader vrLinesWrap">

              <app-header (languageChange)="onlanguageChange($event)"></app-header>


      <div class="overflow-hidden">
        <div class="agentCover_sec">
          <div class="coverPic" style="background-image:url(assets/images/agent-cover-photo.jpg)"></div>
          <div class="btSahpeCut"><img class="w-100" src="assets/images/v-shape-cut.png" alt=""></div>
        </div>
        <div class="position-relative agentSingle_pg">
          <div class="floatImg floatShape-1 agent_imgFloat_1 floating-Animate"><img class="w-100"
              src="assets/images/floating-img-1.png" alt=""></div>
          <div class="floatImg floatShape-2 agent_imgFloat_2 floating-Animate"><img class="w-100"
              src="assets/images/floating-img-2.png" alt=""></div>
          <div class="floatImg floatShape-4 agent_imgFloat_3 floating-Animate"><img class="w-100"
              src="assets/images/floating-img-4.png" alt=""></div>
          <div class="container-fluid lg-container" >
            <div class="agentProfile_sec" *ngIf="agentdetails">
              <div class="agentProfile_pic" data-aos="fade-up" data-aos-duration="900"><img class="w-100" style="object-fit: cover;height: 100%;width: 100%;" 
                  src="{{agentdetails.project_path}}{{agentdetails.path}}{{agentdetails.agents['person_photo']}}" alt="" /></div>
              <div class="mngTxtCont text-center" data-aos="fade-up" data-aos-delay="300" data-aos-duration="900">
                <div class="agentName font-F-2">{{agentdetails.agents['person_name']}}</div>
                <div class="agentInfo_cont"> <a class="break-word"
                    href="mailto:{{agentdetails.agents['person_email']}}">{{agentdetails.agents['person_email']}}</a> </div>
              </div>
            </div>
            <div class="row gutter-10vw">
              <div class="col-lg-4 order-lg-1" *ngIf="pagearr">
                <div class="bxMngBtn_agency">
                  <div class="btnWrap text-center" data-aos="fade-up" data-aos-delay="500" data-aos-duration="900">
                    <a routerLink="/get-a-quote/{{agentdetails.agents['slug']}}" class="btn cmnBtn btnBg-1 text-uppercase">{{pagearr.get_a_quote_button}}</a>
                  </div>

                  <div class="cardBrd cardAgency_contact" data-aos="fade-up" data-aos-delay="700"
                    data-aos-duration="900" *ngIf="agentdetails">
                    <div class="agencyContact text-center">
                      <div class="iconWrap"><img src="assets/images/start-save-call.png" alt="" /></div>
                      <h4 class="ttl-wrp">{{pagearr.contact}}</h4>
                      <div class="txt-Call f-W-B">{{pagearr.phone}} : <a href="tel:{{agentdetails.agents['phone']}}">{{agentdetails.agents['phone']}}</a></div>
                      <div class="contact_address">
                        <h4 class="ttl-wrp">{{pagearr.address}}</h4>
                        <div class="">{{agentdetails.agents['Address']}},{{agentdetails.agents['City']}},{{agentdetails.agents['State']}},{{agentdetails.agents['Zip_code']}}</div>
                      </div>
                      <div class="map_iframeWrap overflow-hidden">
                                     

                                <agm-map [fitBounds]="fitbound" class="agm-map-custom" [latitude]="lat"  [zoom]="zoom" [longitude]="lng"  >
                                   <agm-marker [iconUrl]="iconUrl"
                                        [latitude]="agentdetails.agents['Latitude']"
                                        [longitude]="agentdetails.agents['Longitude']"
                                        [agmFitBounds]="true">
                                        <agm-info-window [disableAutoPan]="false" #infoWindow>

                                                <div class="agentAddress_map_Bx">
                                            <a routerLink="/agentdetail/{{agentdetails.agents['slug']}}" data-dismiss="modal" target="_blank" class="wrap_headSec">
                                            <span class="wrapImg d-flex align-items-center" style="background-image:url(images/agent-cover-photo.jpg)">
                                            <div class="txtCopy w-100">
                                            <span class="titleAgent">{{agentdetails.agents['name']}}</span>
                                            </div>
                                            </span>
                                            </a>
                                            <div class="bx_contWrap">
                                            <div class="row gutter-15vw rowSeprate">
                                            <div class="col-6">
                                            <div class="infoSummary">{{agentdetails.agents['Address']}} , {{agentdetails.agents['State']}}  {{agentdetails.agents['Zip_code']}} </div>
                                            </div>
                                            <div class="col-6">
                                            <div class="infoSummary">
                                            <ul class="list-unstyled mb-0">
                                            <li>{{pagearr.phone}} : <a href="tel:{{agentdetails.agents['phone']}}">{{agentdetails.agents['phone']}}</a></li>
                                            <!-- <li>Fax: (281) 578-2244</li> -->
                                            </ul>
                                            </div>
                                            </div>
                                            </div>
                                            </div>
                                            </div>
                                    
                                        <div>
                                            <a  class="btn btn-attention pull-right"> <i class="fa fa-angle-double-right"></i></a>
                                        </div>

                                    </agm-info-window>

                                    </agm-marker>
                                </agm-map>

                       <!--  <iframe
                          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3350.720624258093!2d-96.65209798450101!3d32.87911048607914!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864ea7388f87e897%3A0x52d8d516469095f4!2s1443%20W%20Kingsley%20Rd%20%23103%2C%20Garland%2C%20TX%2075041%2C%20USA!5e0!3m2!1sen!2sin!4v1595931786877!5m2!1sen!2sin"
                          width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""
                          aria-hidden="false" tabindex="0"></iframe> -->
                      </div>

                      <!-- Social Connect -->
                  <div class="agent_bx_widget mt" >
                    <h4 class="ttl-wrp">Connect</h4>
                    <ul class="list-inline agent_Social_list mb-0">
                    <li class="list-inline-item"><a class="scl-item" href="#" target="_blank"><i class="icon fa fa-facebook-official"></i></a></li>
                    <li class="list-inline-item"><a class="scl-item" href="#" target="_blank"><i class="icon fa fa-twitter"></i></a></li>
                     <li class="list-inline-item"><a class="scl-item" href="#" target="_blank"><i class="icon fa fa-youtube-play"></i></a></li>
                    </ul>
                    </div>
                    <!-- End Social Connect -->
                     <!-- Store Hours -->
                  <div class="agent_bx_widget mt"  *ngIf="store_hours != '' && store_hours">
                    <h4 class="ttl-wrp">Store Hours</h4>
                 
                    <ul class="list-unstyled gray-color-1 mb-0 line-H-1_4 list_Store_Hour">
                    <li>
                    <span class="headSpc">Mon - Fri</span> {{store_hours.MonFri}}
                    </li>
                    <li>
                    <span class="headSpc">Saturday</span>{{store_hours.saturday}}
                    
                    </li>
                    </ul>
                   
                    </div>
                    <!-- End Store Hours -->
                    
                    <!-- Holiday Hours -->
                    <div class="agent_bx_widget mt" *ngIf="store_hours != ' ' && store_hours">
                    <h4 class="ttl-wrp">Holiday Hours</h4>
                    <ul class="list-unstyled gray-color-1 mb-0 line-H-1_4 list_Store_Hour">
                    <li>
                    <span class="headSpc">{{store_hours.HolidayHours}}</span> Closed
                    <!--<div class="row gutter-10vw">
                    <div class="col-auto text-left">Christmas</div>
                    <div class="col text-right">Closed</div>
                    </div>-->
                    </li>
                    </ul>
                 
                    </div>
                    <!-- End Holiday Hours -->
                    
                    <!-- Store Hours -->
                    <!-- <div class="agent_bx_widget mt" *ngIf="store_hours != ''">
                    <h4 class="ttl-wrp">Store Hours</h4>
                    <ul class="list-unstyled gray-color-1 mb-0 line-H-1_4 list_Store_Hour">
                    <li>
                    <div class="row gutter-10vw">
                    <div class="col-auto text-left">Mon - Fri</div>
                    <div class="col text-right">{{store_hours.MonFri}}</div>
                    </div>
                    </li>
                    <li>
                    <div class="row gutter-10vw">
                    <div class="col-auto text-left">Saturday</div>
                    <div class="col text-right">{{store_hours.saturday}}</div>
                    </div>
                    </li>
                    </ul>
                    </div> -->
                    <!-- End Store Hours -->
                    
                    <!-- Holiday Hours -->
                    <!-- <div class="agent_bx_widget mt" *ngIf="store_hours != ''">
                    <h4 class="ttl-wrp">Holiday Hours</h4>
                    <ul class="list-unstyled gray-color-1 mb-0 line-H-1_4 list_Store_Hour">
                    <li>
                    <div class="row gutter-10vw">
                    <div class="col-auto text-left">{{store_hours.HolidayHours}}</div>
                    <div class="col text-right">Closed</div>
                    </div>
                    </li>
                    </ul>
                    </div> -->
                    <!-- End Holiday Hours -->
                    </div>
                  </div>
                </div>
                <div class="cardBrd cardAgency_ins_coverage d-none d-lg-block" data-aos="fade-up" data-aos-duration="900" *ngIf="pagearr">
                  <h5 class="heading text-center">{{pagearr.insurance_coverages_title}}</h5>
                  <ul class="list-unstyled mb-0 gray-color-1 insuranceList" *ngIf="coverages">
                     <!-- {{agentdetails.agents['insurance_coverage']}} -->
                    <li *ngFor="let cov of coverages" [innerHTML]="cov"></li>
                
                  </ul>
                </div>
              </div>
              <div class="col-lg-8 order-lg-0">
                 <div ></div>
             
                <div class="cardBrd cardAgency_summary" data-aos="fade-up" data-aos-delay="700" data-aos-duration="900" *ngIf="pagearr">
                  <h3 class="headingCont text-color-3 font-F-2" [innerHTML]="pagearr.agency_titles"></h3>
                  <div class="editorCont last-p gray-color-1 line-H-1_9" [innerHTML]="description">
                   
                  </div>
                </div>
                <div class="cardBrd cardAgency_rating" data-aos="fade-up" data-aos-duration="900">
                  <!-- TrustBox widget - Grid -->
                 <div class="trustpilot-widget" data-locale="en-US" data-template-id="539adbd6dec7e10e686debee" data-businessunit-id="5c508b3200f2e9000171c82a" data-style-height="550px" data-style-width="100%" data-theme="light" data-stars="4,5">
  <a href="https://www.trustpilot.com/review/prontoinsurance.com" target="_blank" rel="noopener">Trustpilot</a>
</div>
                  <!-- End TrustBox widget -->
                </div>
              </div>

           
           
            </div>
            <div class="cardBrd cardAgency_ins_coverage d-lg-none" data-aos="fade-up" data-aos-duration="900" *ngIf="pagearr">
              <h5 class="heading text-center">{{pagearr.insurance_coverages_title}}</h5>
              <ul class="list-unstyled mb-0 gray-color-1 insuranceList" *ngIf="coverages">
                 <!-- {{agentdetails.agents['insurance_coverage']}} -->
                <li *ngFor="let cov of coverages" [innerHTML]="cov"></li>
            
              </ul>
            </div>
          </div>

        </div>
      </div>
      <!-- <div class="overflow-hidden">
        <div class="row gutter-8">
          <div class="col-12">
            <div class="boxImgInfo mr_B bxFull" style="background-image:url(assets/images/auto-ins-box-1.jpg)"
              data-aos="fade-up" data-aos-duration="900">
              <div class="mngInside d-flex align-items-center">
                <div class="w-100 z_ind1">
                  <div class="textCont text-color-white text-center">
                    <div class="bxTitle text-uppercase font-F-2" data-aos="fade-up" data-aos-delay="300"
                      data-aos-duration="900">{{agentdetails.agents['ad_banner_title']}}</div>
                    <div class="btnRow" data-aos="fade-up" data-aos-delay="500" data-aos-duration="900"><a href="{{agentdetails.agents['ad_banner_button_url']}}"
                        class="btn cmnBtn btnBg-1 text-uppercase">{{agentdetails.agents['ad_banner_button']}}</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="boxImgInfo mr_B bxFull" style="background-image:url(assets/images/auto-ins-box-2.jpg)"
              data-aos="fade-up" data-aos-duration="900">
              <div class="mngInside d-flex align-items-center">
                <div class="w-100 z_ind1">
                  <div class="textCont text-color-white text-center">
                    <div class="smTxt text-uppercase" data-aos="fade-up" data-aos-duration="900">{{agentdetails.agents['ad_banner_title2']}}</div>
                    <div class="bxTitle text-uppercase font-F-2" data-aos="fade-up" data-aos-delay="300"
                      data-aos-duration="900">{{agentdetails.agents['ad_banner_subtitle2']}}</div>
                    <div class="btnRow" data-aos="fade-up" data-aos-delay="500" data-aos-duration="900"><a href="{{agentdetails.agents['ad_banner_button_url2']}}"
                        class="btn cmnBtn btnBg-1 text-uppercase">{{agentdetails.agents['ad_banner_button_text2']}}</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="boxImgInfo mr_B bxFull" style="background-image:url(assets/images/auto-ins-box-3.jpg)"
              data-aos="fade-up" data-aos-duration="900">
              <div class="mngInside d-flex align-items-center">
                <div class="w-100 z_ind1">
                  <div class="textCont text-color-white text-center">
                    <div class="smTxt text-uppercase" data-aos="fade-up" data-aos-duration="900">{{agentdetails.agents['ad_banner_title3']}}</div>
                    <div class="bxTitle text-uppercase font-F-2" data-aos="fade-up" data-aos-delay="300"
                      data-aos-duration="900">{{agentdetails.agents['ad_banner_title3']}}</div>
                    <div class="btnRow" data-aos="fade-up" data-aos-delay="500" data-aos-duration="900"><a href="{{agentdetails.agents['ad_banner_button_url3']}}"
                        class="btn cmnBtn btnBg-1 text-uppercase">{{agentdetails.agents['ad_banner_button_text3']}}</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
 -->
  <div class="overflow-hidden">
        <div class="row gutter-8">
          <div class="col-12" *ngIf="ads">
            <div class="boxImgInfo mr_B bxFull" style="background-image:url({{project_path}}{{ads.ad_banner1}})"
              data-aos="fade-up" data-aos-duration="900">

              <div class="mngInside d-flex align-items-center">
                <div class="w-100 z_ind1">
                  <div class="textCont text-color-white text-center">
                    <div class="bxTitle text-uppercase font-F-2" data-aos="fade-up" data-aos-delay="300"
                      data-aos-duration="900" [innerHTML]="ads.ad_banner1_title"></div>
                    <div class="btnRow" data-aos="fade-up" data-aos-delay="500" data-aos-duration="900"><a  href="{{ads.ad_banner1_button_url}}"
                        class="btn cmnBtn btnBg-1 text-uppercase" [innerHTML]="ads.ad_banner1_button_text"></a></div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <!-- <div class="col-md-6">
            <div class="boxImgInfo mr_B bxFull" style="background-image:url(assets/images/auto-ins-box-2.jpg)"
              data-aos="fade-up" data-aos-duration="900">
              <div class="mngInside d-flex align-items-center">
                <div class="w-100 z_ind1">
                  <div class="textCont text-color-white text-center">
                    <div class="smTxt text-uppercase" data-aos="fade-up" data-aos-duration="900">LEARN ABOUT</div>
                    <div class="bxTitle text-uppercase font-F-2" data-aos="fade-up" data-aos-delay="300"
                      data-aos-duration="900">INDEPENDENT AGENT</div>
                    <div class="btnRow" data-aos="fade-up" data-aos-delay="500" data-aos-duration="900"><a href="#"
                        class="btn cmnBtn btnBg-1 text-uppercase">Know More</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="boxImgInfo mr_B bxFull" style="background-image:url(assets/images/auto-ins-box-3.jpg)"
              data-aos="fade-up" data-aos-duration="900">
              <div class="mngInside d-flex align-items-center">
                <div class="w-100 z_ind1">
                  <div class="textCont text-color-white text-center">
                    <div class="smTxt text-uppercase" data-aos="fade-up" data-aos-duration="900">OPEN YOUR</div>
                    <div class="bxTitle text-uppercase font-F-2" data-aos="fade-up" data-aos-delay="300"
                      data-aos-duration="900">PRONTO FRANCHISE AGENCY</div>
                    <div class="btnRow" data-aos="fade-up" data-aos-delay="500" data-aos-duration="900"><a href="#"
                        class="btn cmnBtn btnBg-1 text-uppercase">Know More</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <div class="w-100">
            <app-ads class="row gutter-8"></app-ads>
        </div>
        </div>
      </div>
      <app-counter-section></app-counter-section>

      <footer class="footerWrap overflow-hidden">
        <app-footer></app-footer>
      </footer>
      
    </div>
  </div> <!-- .perspScreen -->
</div> <!-- .fullPG_Wrap -->
