@import "~@ng-select/ng-select/themes/default.theme.css";

html {
    scroll-behavior: smooth;
}
/*----------Global css------------*/
a{cursor: pointer;}
.perspScreen .slideMenu_drawer {
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
}
body.menuShow {
    overflow: hidden;
}
.perspScreen .slideMenu_drawer {
    left: -17.188vw;
    z-index: -1;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
}
.menuShow .slideMenu_drawer{
    left: 0;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
}
.modal-backdropMenu.closemenuModal{
    background: none;
}
.menuShow .modal-backdropMenu {
    z-index: 9999;
    background: #000000;
}
.cstNavbar .nav-item .nav-link{
    cursor: pointer;
}
/* .modal-backdropMenu {
    z-index: 1 !important;
} */
/* #closemenu{
    display: none;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
} */


.product-slider{
    padding: 0 24px;
}
.product-slider i, .dashboard-links-slider i{
    font-size: 1.667vw;
    position: absolute;
    top: 50%;
    cursor: pointer;
    transform: translate(0, -50%);
}
.product-slider .fa-angle-left, .dashboard-links-slider .fa-angle-left{
    left: 0;
}
.product-slider .fa-angle-right, .dashboard-links-slider .fa-angle-right{
    right: 0;
}
.min-ht-policy{
    min-height: 313px;
}
.color-red{
    color: #b81137 !important;
}
.form-control:focus{
    box-shadow:none !important;
}
.active .textnav.flex-fill{
    color: #b81137;
}
.policyDetail_Card.mb_bx {
    min-height: 7.734vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.policyDetail_Card .mng_in {
    width: 100%;
}


.dashboard-links-slider .slick-list .slick-track{
    display: flex;
    flex-direction: column;

}
.dashboard-links-slider .slick-list .slick-track .slick-slide{
    margin-bottom: 1.302vw;
}
.dashboard-links-slider .slick-list{
    overflow: visible !important;
}
.navDashboard .dashboard-links-slider .navItem .nbr_circle {
    top: -.321vw;
}
.navDashboard .dashboard-links-slider .navItem .iconWrapp{
    text-align: right;
}
.navDashboard .dashboard-links-slider .navItem .textnav {
    white-space: nowrap;
}

ul.list_index li .scrollClick{
    color: #c51f2b;
}

.secondaryNav .nav-link:hover{
    color: #c5c5c3;
}
.btnListing .btnBg-2, .btnListing .btnBg-2:hover, .btnListing .btnOutline-2:hover, .thankMsg_wrap .btnBg-2, .thankMsg_wrap .btnBg-2:hover{
   color: #fff;
}
.btnListing .btnOutline-2{
    color: #c51f2b;
}


/* Ng Select */
.selectNG_dropdown {
    position: relative;
}
.selectNG_dropdown .selectLabel {
    line-height: 1;
    position: absolute;
    left: 1.198vw;
    font-size: .781vw;
    color: #8d9194;
    pointer-events: none;
    top: 1.146vw;
    transform:translateY(-.750vw);
}
.selectNG_dropdown .custom_ngSelect.ng-select.ng-select-opened~.selectLabel {
    color: #b81137;
}
.selectNG_dropdown .custom_ngSelect.ng-select .ng-select-container, .selectNG_dropdown .custom_ngSelect.ng-select .ng-select-container .ng-value-container .ng-input>input {
    font-weight: 500;
    font-size: .938vw;
    line-height: 1.3;
} 
.selectNG_dropdown .custom_ngSelect.ng-select {
    transition: all .25s ease;
    position: relative;
}
.selectNG_dropdown .custom_ngSelect.ng-select.ng-select-opened .ng-select-container {
    z-index: 0;
}
.selectNG_dropdown .custom_ngSelect.ng-select .ng-select-container {
    background-color: #fff !important;
    height: 3.125vw;
    transition: all .25s ease;
    border: 1px solid #d2d3d4;
    border-radius: .208vw;
    box-shadow: none !important;
}
.selectNG_dropdown .custom_ngSelect.ng-select:hover {
    box-shadow: 0 .313vw 2.083vw rgba(96,101,105,.1) !important;
}
.selectNG_dropdown .custom_ngSelect.ng-select .ng-select-container .ng-value-container .ng-input {
    height: 100%;
    top: 0;
}
.selectNG_dropdown .custom_ngSelect.ng-select .ng-select-container,
.selectNG_dropdown .custom_ngSelect.ng-select .ng-select-container .ng-value-container .ng-input {
    padding:  1.302vw 2.292vw .521vw 1.198vw;
}
.selectNG_dropdown.ng_no_label .custom_ngSelect.ng-select .ng-select-container,
.selectNG_dropdown.ng_no_label .custom_ngSelect.ng-select .ng-select-container .ng-value-container .ng-input {
    padding-top: .521vw;
}
.selectNG_dropdown .custom_ngSelect.ng-select .ng-select-container .ng-value-container .ng-input>input {
    height: 100%;
}
.selectNG_dropdown .custom_ngSelect.ng-select .ng-select-container .ng-value-container {
    padding-left: 0;
}
.selectNG_dropdown .custom_ngSelect.ng-select.ng-select-opened .ng-select-container {
    border-color: #b81137;
}
.selectNG_dropdown .custom_ngSelect.ng-select .ng-dropdown-panel {
    border: 1px solid #b81137;
    border-radius: .208vw;
    overflow: hidden;
    background-color: #fff;
}
.selectNG_dropdown .custom_ngSelect.ng-select .ng-dropdown-panel.ng-select-bottom,
.selectNG_dropdown .custom_ngSelect.ng-select.ng-select-top .ng-select-container {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.selectNG_dropdown .custom_ngSelect.ng-select .ng-dropdown-panel.ng-select-top,
.selectNG_dropdown .custom_ngSelect.ng-select.ng-select-bottom .ng-select-container {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.selectNG_dropdown .custom_ngSelect.ng-select .ng-select-container .ng-value-container .ng-value {
    display: flex;
    align-items: center;
}
.selectNG_dropdown .custom_ngSelect.ng-select .ng-clear-wrapper, .selectNG_dropdown .custom_ngSelect.ng-select .ng-select-container .ng-arrow-wrapper {
    display: none;
}
.selectNG_dropdown .arrowIcon {
    height: 1.042vw;
    width: 1.042vw;
    position: absolute;
    top: calc(50% - .521vw);
    right: .781vw;
    pointer-events: none;
    transition: all .25s ease;
}
.selectNG_dropdown .arrowIcon polygon {
    fill: #767b7b;
}
.selectNG_dropdown .custom_ngSelect.ng-select.ng-select-opened~.arrowIcon {
    transform:rotate(180deg);
}
.selectNG_dropdown .custom_ngSelect.ng-select.ng-select-opened~.arrowIcon polygon, .selectNG_dropdown.completed .arrowIcon polygon {
    fill:#b81137;
}
.custom_ngSelect.ng-select .ng-dropdown-panel .ng-dropdown-panel-items {
    max-height: 11.979vw;
}
.custom_ngSelect.ng-select .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    align-items: center;
    color: #0a0c0e;
    display: flex;
    font-size: .938vw;
    padding: .521vw .781vw;
    position: relative;
    transition: all .25s ease;
    line-height: 1;
    cursor: pointer;
    text-decoration: none;
    white-space: normal;
}
.custom_ngSelect.ng-select .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked, 
.custom_ngSelect.ng-select .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
    background-color: #f6f6f6;
}
.selectNG_dropdown .custom_ngSelect.ng-select .ng-select-container .ng-value-container .ng-value img, 
.custom_ngSelect.ng-select .ng-dropdown-panel .ng-dropdown-panel-items .ng-option img {
    width: .990vw;
    height: .990vw;
    margin-right: .365vw;
}
.common-selectNG_dropdown .selectNG_dropdown .custom_ngSelect.ng-select .ng-select-container, .common-selectNG_dropdown .selectNG_dropdown .custom_ngSelect.ng-select .ng-select-container .ng-value-container .ng-input{
    padding-top: 0;
    padding-bottom: 0;
}
.common-selectNG_dropdown .ng-select .ng-select-container .ng-value-container .ng-placeholder {
    color: #212529;
}
.common-selectNG_dropdown .selectNG_dropdown .arrowIcon polygon{
    fill:#b81137;
}
/* End Ng Select */


/* .input-group-append .calendar{
    padding: 0 14px; */
    /* width: 60px;
    border-left: 0;
    border-color: #d2d3d4;
    border-radius: .208vw;
}

.input-group-append .calendar img {
    width: 30px;
} */


.datePicker input{
background-image: url('./assets/images/icon-calendar.png');
    background-repeat: no-repeat;
    background-position: 97% center;
    background-size: 31px;
}

.datePicker .input-group-append .btn.calendar:active, .datePicker .input-group-append .btn.calendar:focus, .datePicker .input-group-append .btn.calendar:hover{
    background-color: transparent;
    border-color: #d2d3d4;
}
.ngb-dp-arrow {
    justify-content: center;
}
.ngb-dp-arrow .ngb-dp-arrow-btn {
    padding: 0;
}
.ngb-dp-arrow .btn-link, .ngb-dp-arrow .btn-link:hover{
    color: #b81137;
    font-size: 10px;
    font-weight: normal;   
}
ngb-datepicker-month .ngb-dp-weekday {
    color: #212529;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
}
ngb-datepicker-navigation-select>.custom-select{
    font-weight: 600;
}
.ngb-dp-day .btn-light.bg-primary, .ngb-dp-day .btn-light.bg-primary:active, .ngb-dp-day .btn-light.bg-primary:focus{
    color: #fff !important;
    background-color: #b81137 !important;
    border-color: #b81137 !important;
    border-radius: 4px;
}
.ngb-dp-day.ngb-dp-today .btn-light:not(:disabled):not(.disabled):active, .ngb-dp-day.ngb-dp-today .btn-light:focus{
    background-color: #b81137;
    border-color: #b81137;
}
.queNbrSpace .datePicker.field_md .primary-label{
    z-index: 3;
}

/*ng accordian*/
.ng-accordian .card{
    border: 1px solid #bfbfbf;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}
.ng-accordian .card:first-child {
    border-top: 0;
}
.ng-accordian .card-body {
    padding: 1.042vw 0 1.042vw 0;
    border-top: 1px solid #bfbfbf;
}
.ng-accordian .btn{
    padding: 0;
    width: 100%;
    text-align: left;
    /* border-bottom: 1px solid #bfbfbf; */
    border-radius: 0;
}
.ng-accordian .card-header{
    padding: .75rem 0 0;
    background-color: transparent;
    border: 0;
}
.ng-accordian .card-header .accordn_title{
    font-size: 1.146vw;
}
.ng-accordian .btn-link:hover, .ng-accordian .btn-link.focus, .ng-accordian .btn-link:focus{
    text-decoration: none;
}
.ng-accordian .btn.collapsed .accordn_title:after {
    transform: rotate(180deg);
}

.notifySlider{
    width: 360px;
    position: fixed;
    bottom: 0;
    padding-bottom: .521vw;
    left: 0;
    z-index: 9;
}
.notifySlider ngx-slick-carousel{
    max-width: 100%;
    width: 100%;
}
/* .notifySlider .notificationSlider .slick-dots {
    bottom: 1.458vw;
    left: 0;
} */
.notifySlider .close {
    font-weight: 300;
    text-shadow: none;
    opacity: 1 !important;
    color: #c6303d;
    font-size: 1.979vw;
    line-height: .5;
    padding: .521vw .781vw .104vw 0px;
    outline: none !important;

}

.slideCovid{
     background-image: url(./assets/images/pencil-banner-2-Desk.jpg);
                                 
      background-repeat: no-repeat; background-position: center; background-size: 100%;
   }

.pointer-none{
    pointer-events: none;
}

.question-counter .countNbr-cust {
    display: inline-block;
    width: 100%;
    font-size: .729vw;
    line-height: 2;
    vertical-align: top;
    color: #828282;
}

.question-counter .countNbr-cust:after {
    font-size: .729vw;
    line-height: 2;
    color: #828282;
}

.btnCollapse {
    visibility: hidden;
    opacity: 0;
	display:none;
}

/* Ng Input Value */
.field_md:not(.field_labelTP) .form-control.ng-untouched:not(.ffl-floated-force1)~.primary-label,
.field_md:not(.field_labelTP) .form-control.ng-dirty:not(.ffl-floated-force1)~.primary-label,
.field_md:not(.field_labelTP) .form-control.ng-touched:not(focus)~.primary-label {
	font-size: .938vw;
	color:#8d9194;
	transform: translateY(0);
}
.field_md .form-control.ffl-floated-force1~.primary-label,
.field_md .form-control:focus~.primary-label {
	font-size: .781vw !important;
	color:#b81138d3 !important;
	transform: translateY(-.750vw) !important;
}
/* End Ng Input Value */

@media (max-width: 992px){
    .signBxWrap_sb iframe {
        min-height: calc(100vh - 9.115vw) !important;
     }


     /* Ng Input Value */
.field_md:not(.field_labelTP) .form-control.ng-untouched:not(.ffl-floated-force1)~.primary-label,
.field_md:not(.field_labelTP) .form-control.ng-dirty:not(.ffl-floated-force1)~.primary-label,
.field_md:not(.field_labelTP) .form-control.ng-touched:not(focus)~.primary-label {font-size: 12px;transform: translateY(0);}
.field_md .form-control.ffl-floated-force1~.primary-label,
.field_md .form-control:focus~.primary-label {font-size: 10px !important;transform: translateY(-10px) !important;}
/* End Ng Input Value */

}

@media (max-width: 991px){
    .perspScreen .slideMenu_drawer {
        left: -220px;
    }
    .menuShow .slideMenu_drawer {
        left: 0;
    }
    .product-slider i, .dashboard-links-slider i {
        font-size: 20px;
    }
    .dashboard-links-slider {
        padding:0 12px;
    }
    .dashboard-links-slider .slick-list .slick-track{
        flex-direction: row;
        /* width: inherit !important; */
    }
    .dashboard-links-slider .slick-list{
        overflow: hidden !important;
    }
    /* .navDashboard .dashboard-links-slider .slide-item{
        padding-left: 0;
        padding-right: 1px;
    } */
    .dashboard-links-slider .cstNavbar .nbrCrcl:after, .nbr_circle:after{
        height: 53%;
    }
    .navDashboard .dashboard-links-slider .navItem .nbr_circle{
        top: auto;
    }
}