<app-page-loader  *ngIf="loading"></app-page-loader>


<div class="fullPG_Wrap" id="topsec">
    <div class="perspScreen">
      <div class="pgWrapFull spcTpHeader vrLinesWrap" >
  <app-header (languageChange)="onlanguageChange($event)"></app-header>
  
        <div class="insideHeaderSec overflow-hidden" >
            <div class="row no-gutters"  *ngIf="productArr">
              <div class="col-md-6">
                <div class="secimgWrap position-relative imgFit fullScreen-LessNav fullAuto-MD">
                  <img class="w-100 obj-fit" src="{{project_path}}{{image_path}}{{productArr.banner_img}}" alt="{{productArr.banner_img_alt}}"   title="{{productArr.banner_img_title}}"/>
                </div>
              </div>
              <div class="col-md-6 d-flex align-items-center position-relative headContCol">
                <div class="w-100">
                  <div class="wrapContSec">
                    <div class="topIns_head">
                      <h1 class="pgTitle-head headPG" data-aos="fade-up" data-aos-duration="900" [innerHTML]="productArr.insurance_type"></h1>
                      <div class="contInfo" data-aos="fade-up" data-aos-delay="400" data-aos-duration="900">
                        <div class="tpHead-mxWidth f-size-23 gray-color-1 line-H-1_4" [innerHTML]="subheading"> </div>
                      </div>
  
                      <div class="tp-choose-wrap" data-aos="fade-up" data-aos-delay="700" data-aos-duration="900">
                        <div class="tpHead-mxWidth">
                          <ul class="list-unstyled mb-0 choose_btnsList" *ngIf="state_url">
                            <li><a routerLink="{{state_url[0]}}"
                                class="btn cmnBtn btnBg-2 btn-block text-uppercase">{{states[0]}}</a></li>
                          </ul>
                        </div>
                      </div>
  
                      <div class="call-Or-Chat" data-aos="fade-up" data-aos-delay="900" data-aos-duration="900">
                        <div class="callText line-H-1_2">{{productArr.helpline_title}} <a
                            class="f-W-B text-decoration-none link-color-black"
                            href="tel:1-888-338-6523">{{productArr.helpline_number}}</a></div>
  
                        <div class="chatBtn mxWidth">
                          <a class="btn btn-block cmnBtn btnOutline-2 text-uppercase">{{productArr.chat_with_us_text}}</a>
                        </div>
                      </div>
  
  
  
                    </div>
                  </div>
                  <div class="scrollBT-pos mngMob text-center">
                    <div class="scrollDown" data-aos="fade-up" data-aos-delay="1200" data-aos-duration="900">
                      <div class="arrowIcon"></div>
                      <div class="scrollTxt line">{{productArr.scroll_down_text}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="overflow-hidden">
            <div class="section-xl secFullwrap position-relative">
  
              <div class="row no-gutters align-items-center" *ngIf="productArr">
                <div class="col-md-6">
                  <div class="w-100 contCol-wrap containerPD-L">
                    <div class="bxCont_Info pb-5 pb-md-0">
                      <h2 class="head font-sizeHead" data-aos="fade-up" data-aos-duration="900" [innerHTML]="productArr.seciont2_title"></h2>
  
                      <div class="textSummary gray-color-1 line-H-1_8 last-p" data-aos="fade-up" data-aos-delay="300"
                        data-aos-duration="900" [innerHTML]="productArr.seciont2_description">
                        
                      </div>
                      <div class="btnRow" data-aos="fade-up" data-aos-delay="700" data-aos-duration="900">
                         <a (click)="scroll('policy')" class="btn cmnBtn btnBg-1 text-uppercase">{{productArr.seciont2_button}}</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="imgWrap">
                    <img class="w-100" src="{{project_path}}{{image_path}}{{productArr.seciont2_img}}" alt="{{productArr.seciont2_img_alt}}" title="{{productArr.seciont2_img_title}}" />
                  </div>
                </div>
              </div>
            </div>
  
            <div class="section-xl ins_policy_Sec position-relative " id="policy">
   
              
              <div class="floatImg floatShape-5 auto_imgFloat_5 floating-Animate">
                <img class="w-100" src="assets/images/floating-img-5.png" alt="">
              </div>
              <div class="floatImg floatShape-2 auto_imgFloat_2 floating-Animate">
                <img class="w-100" src="assets/images/floating-img-2.png" alt="">
              </div>
              <div class="floatImg floatShape-3 auto_imgFloat_3 right-sd floating-Animate">
                <img class="w-100" src="assets/images/floating-img-3.png" alt="">
              </div>
              <div class="container-fluid lg-container"  *ngIf="productArr">
                <div class="headSec font-sizeHead font-F-2 line-H-1_3 text-center mb__60" data-aos="fade-up"
                  data-aos-duration="900">{{productArr.know_your_policy_title}}</div>
  
                <div class="tabsWrapper" >
                  <ul class="nav mbNav cstTabsNav" data-aos="fade-up" data-aos-delay="300" data-aos-duration="900" *ngIf="policy_titles">
                    <li class="nav-item flex-fill">
                      <a class="nav-link active" data-toggle="tab" href="#tab-policy-1">{{policy_titles[0]}}</a>
                    </li>
                    <li class="nav-item flex-fill">
                      <a class="nav-link" data-toggle="tab" href="#tab-policy-2">{{policy_titles[1]}}</a>
                    </li>
                  </ul>
  
                  <div class="tab-content pd-LR">
                    <div class="tab-pane active" id="tab-policy-1">
  
                      <div class="section-md pt-0 packageWrap">
                        <h3 class="heading headSize30 text-color-3" data-aos="fade-up" data-aos-delay="300"
                          data-aos-duration="900" [innerHTML]="productArr.essential_coverage_title"> </h3>
  
                        <div class="row">
                          <div class="col-md-6">
  
                            <div class="row no-gutters">
                              <div class="col-md-10">
                                <div class="card_pckg bx_mb" data-aos="fade-up" data-aos-delay="300"
                                  data-aos-duration="900">
                                  <div class="bxHead f-W-B line-H-1_3" [innerHTML]="productArr.essential_coverage_subtitle"></div>
                                  <div class="contText" [innerHTML]="productArr.essential_coverage_subtitle1">
                                  
                                  </div>
                                </div>
                                <div class="card_pckg bx_mb" data-aos="fade-up" data-aos-delay="500"
                                  data-aos-duration="900">
                                  <div class="bxHead f-W-B line-H-1_3"[innerHTML]="productArr.essential_coverage_includes_title"></div>
                                  <div class="contText">
                                    <ul class="list-unstyled mb-0 listCst listIcon gray-color-1">
                                      <li *ngFor="let qns of essential_coverage_includes" [innerHTML]="qns"></li>
                                     <!--  <li><strong class="text-color-3">$60k</strong> protection on bodily injury for all
                                        persons per accident</li>
                                      <li><strong class="text-color-3">$25k</strong> protection of property damage per
                                        accident</li> -->
                                    </ul>
                                  </div>
                                  <div class="btnRow">
                                    <a (click)="scroll('topsec')" class="btn cmnBtn btnBg-1 text-uppercase" [innerHTML]="productArr.essential_coverage_includes_button"></a>
                                  </div>
                                </div>
                              </div>
                            </div>
  
                          </div>
                          <div class="col-md-6">
                            <div class="row no-gutters">
                              <div class="col-md-10">
                                <div class="card_pckg bx_mb" data-aos="fade-up" data-aos-delay="1000"
                                  data-aos-duration="900">
                                  <div class="bxHead f-W-B line-H-1_3" [innerHTML]="productArr.additional_available_coverages_title"></div>
                                  <div class="contText text-gray-80">
                                    <div class="mb__15"  [innerHTML]="productArr.optional_title"></div>
                                    <ul class="list-unstyled mb-0 listCst listIcon gray-color-1">
                                      <li *ngFor="let subt of optional_subtitles" [innerHTML]="subt"></li>
                                     <!--  <li>Or opt for a total limit of 100k, 200k or 500k</li> -->
                                    </ul>
                                  </div>
                                </div>
                                <div class="card_pckg bx_mb" data-aos="fade-up" data-aos-delay="1000"
                                  data-aos-duration="900">
                                  <div class="contText text-gray-80">
                                    <div class="mb__15" [innerHTML]="productArr.optional_limit_title"></div>
                                    <ul class="list-unstyled mb-0 listCst listIcon gray-color-1">
                                      <li *ngFor="let cov of optional_limit_subtitle" [innerHTML]="cov"></li>
                                     <!--  <li>Vehicles must be registered outside of the U.S.</li>
                                      <li>The insurance only covers cars, trucks, vans and motorcycles for personal use.
                                      </li>
                                      <li>Vehicles must be 20 years or newer.</li> -->
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
  
                      </div>
  
                    </div>
                    <div class="tab-pane fade" id="tab-policy-2">
                        <div class="cst_accord ng-accordian">
                            <ngb-accordion [closeOthers]="true" [animation]="true" class="cst_accord">
                              <ngb-panel   id="id{{i}}" *ngFor="let qsn of faq_qsns;let i = index;" class="accord_head" >
                                <ng-template ngbPanelTitle>
                                  <a class="accordn_title" (click)="getScroll(i)" [innerHTML]=
                                  "qsn"></a>
                                </ng-template>
                                <ng-template class="accord_body" ngbPanelContent>
                                    <p class="text-gray-70 m-0" [innerHTML]=
                                  "faq_answers[i]"></p>
                                </ng-template>
                              </ngb-panel>
                            <!--   <ngb-panel class="accord_head" id="faq_accord_2" title="">
                                <ng-template ngbPanelTitle>
                                  <a class="accordn_title">Can I Insure My Commercial Vehicle?</a>
                                </ng-template>
                                <ng-template class="accord_body" ngbPanelContent>
                                   <p class="text-gray-70 m-0">Unfortunately not. This northbound insurance is only for personal vehicles, such as cars,
                                    trucks and motorcycles.</p>
                                </ng-template>
                              </ngb-panel>
                              <ngb-panel class="accord_head" id="faq_accord_3" title="">
                                <ng-template ngbPanelTitle>
                                  <a class="accordn_title">Do I Need A Valid Driver's License?</a>
                                </ng-template>
                                <ng-template class="accord_body" ngbPanelContent>
                                   <p class="text-gray-70 m-0">Yes, each driver is required to have a valid License outside of the U.S.</p>
                                </ng-template>
                              </ngb-panel>
                              <ngb-panel class="accord_head" id="faq_accord_4" title="">
                                <ng-template ngbPanelTitle>
                                  <a class="accordn_title">I'm A U.S. Resident With A Mexican Driver's License. Can I Be
                                    Covered?</a>
                                </ng-template>
                                <ng-template class="accord_body" ngbPanelContent>
                                   <p class="text-gray-70 m-0">This insurance is for temporary visitors and tailored for tourists, students, temporary
                                    work in the country.</p>
                                </ng-template>
                              </ngb-panel>
                              <ngb-panel class="accord_head" id="faq_accord_5" title="">
                                <ng-template ngbPanelTitle>
                                  <a class="accordn_title">What If My Travel Plans Change?</a>
                                </ng-template>
                                <ng-template class="accord_body" ngbPanelContent>
                                   <p class="text-gray-70 m-0">You can cancel two hours prior to the time coverage starts for a full refund.</p>
                                </ng-template>
                              </ngb-panel> -->
                            </ngb-accordion>
                        </div>  
                      <!-- <div id="accordion_faq">
                        <div class="cst_accord">
                          <div class="accord_head">
                            <a class="accordn_title collapsed" data-toggle="collapse"
                              data-target="#faq_accord_1">Does This Include Physical Damage To My Vehicle?</a>
                          </div>
  
                          <div id="faq_accord_1" class="collapse" data-parent="#accordion_faq">
                            <div class="accord_body text-gray-70 editorCont last-p">
                              <p>The northbound policy only includes liability coverage for the vehicle of the other party
                                and occupants of your vehicle. It does not include physical damage to your vehicle.</p>
                            </div>
                          </div>
                        </div>
                        <div class="cst_accord">
                          <div class="accord_head">
                            <a class="accordn_title collapsed" data-toggle="collapse"
                              data-target="#faq_accord_2">Can I Insure My Commercial Vehicle?</a>
                          </div>
                          <div id="faq_accord_2" class="collapse" data-parent="#accordion_faq">
                            <div class="accord_body text-gray-70 editorCont last-p">
                              <p>Unfortunately not. This northbound insurance is only for personal vehicles, such as cars,
                                trucks and motorcycles.
  
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="cst_accord">
                          <div class="accord_head">
                            <a class="accordn_title collapsed" data-toggle="collapse"
                              data-target="#faq_accord_3">Do I Need A Valid Driver's License?</a>
                          </div>
                          <div id="faq_accord_3" class="collapse" data-parent="#accordion_faq">
                            <div class="accord_body text-gray-70 editorCont last-p">
                              <p>Yes, each driver is required to have a valid License outside of the U.S.</p>
                            </div>
                          </div>
                        </div>
                        <div class="cst_accord">
                          <div class="accord_head">
                            <a class="accordn_title collapsed" data-toggle="collapse"
                              data-target="#faq_accord_4">I'm A U.S. Resident With A Mexican Driver's License. Can I Be
                              Covered?</a>
                          </div>
                          <div id="faq_accord_4" class="collapse" data-parent="#accordion_faq">
                            <div class="accord_body text-gray-70 editorCont last-p">
                              <p>This insurance is for temporary visitors and tailored for tourists, students, temporary
                                work in the country.</p>
                            </div>
                          </div>
                        </div>
                        <div class="cst_accord">
                          <div class="accord_head">
                            <a class="accordn_title collapsed" data-toggle="collapse"
                              data-target="#faq_accord_5">What If My Travel Plans Change?</a>
                          </div>
                          <div id="faq_accord_5" class="collapse" data-parent="#accordion_faq">
                            <div class="accord_body text-gray-70 editorCont last-p">
                              <p>You can cancel two hours prior to the time coverage starts for a full refund.</p>
                            </div>
                          </div>
                        </div>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="insuranceBanner mr_B text-color-white position-relative z_ind1"
              style="background-image:url({{project_path}}{{ads[0].ad_banner1}})">
              <div class="container-fluid lg-container">
                <div class="row align-items-center mngInside">
                  <div class="col">
                    <div  *ngIf="ads[0].align == 1" class="contWrap w-100">
                      <h2 class="head font-sizeHead" data-aos="fade-up" data-aos-duration="900" [innerHTML]="ads[0].ad_banner1_title"></h2>
                      <div class="txtCont f-W-M">
                        <ul class="list-unstyled mb-0" [innerHTML]="ads[0].ad_banner1_subtitle">
                      <!--     <li data-aos="fade-up" data-aos-delay="200" data-aos-duration="900">SOUTH BOUND COVERAGE</li>
                          <li data-aos="fade-up" data-aos-delay="200" data-aos-duration="900">NORTH BOUNG COVERAGE</li> -->
                        </ul>
                      </div>
                      <div class="btnRow" data-aos="fade-up" data-aos-delay="700" data-aos-duration="900"><a href="{{ads[0].ad_banner1_button_url}}"
                          class="btn cmnBtn btnBg-1 text-uppercase" [innerHTML]="ads[0].ad_banner1_button_text"></a></div>
                    </div>
                     <div  *ngIf="ads[0].align == 2" class="contWrap w-100 text-right">
                      <h2 class="head font-sizeHead" data-aos="fade-up" data-aos-duration="900" [innerHTML]="ads[0].ad_banner1_title"></h2>
                      <div class="txtCont f-W-M">
                        <ul class="list-unstyled mb-0" [innerHTML]="ads[0].ad_banner1_subtitle">
                      <!--     <li data-aos="fade-up" data-aos-delay="200" data-aos-duration="900">SOUTH BOUND COVERAGE</li>
                          <li data-aos="fade-up" data-aos-delay="200" data-aos-duration="900">NORTH BOUNG COVERAGE</li> -->
                        </ul>
                      </div>
                      <div class="btnRow" data-aos="fade-up" data-aos-delay="700" data-aos-duration="900"><a href="{{ads[0].ad_banner1_button_url}}"
                          class="btn cmnBtn btnBg-1 text-uppercase" [innerHTML]="ads[0].ad_banner1_button_text"></a></div>
                    </div>
                       <div  *ngIf="ads[0].align == 3" class="contWrap w-100 text-left">
                      <h2 class="head font-sizeHead" data-aos="fade-up" data-aos-duration="900" [innerHTML]="ads[0].ad_banner1_title"></h2>
                      <div class="txtCont f-W-M">
                        <ul class="list-unstyled mb-0" [innerHTML]="ads[0].ad_banner1_subtitle">
                      <!--     <li data-aos="fade-up" data-aos-delay="200" data-aos-duration="900">SOUTH BOUND COVERAGE</li>
                          <li data-aos="fade-up" data-aos-delay="200" data-aos-duration="900">NORTH BOUNG COVERAGE</li> -->
                        </ul>
                      </div>
                      <div class="btnRow" data-aos="fade-up" data-aos-delay="700" data-aos-duration="900"><a href="{{ads[0].ad_banner1_button_url}}"
                          class="btn cmnBtn btnBg-1 text-uppercase" [innerHTML]="ads[0].ad_banner1_button_text"></a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="overflow-hidden" >
             <div> 
             <app-ads class="row gutter-8"></app-ads>   
               </div> 
       <!--      <div class="row gutter-8">
              <div class="col-md-6">
                <div class="boxImgInfo mr_B bxFull" style="background-image:url(assets/images/auto-ins-box-2.jpg)"
                  data-aos="fade-up" data-aos-duration="900">
                  <div class="mngInside d-flex align-items-center">
                    <div class="w-100 z_ind1">
                      <div class="textCont text-color-white text-center">
                        <div class="smTxt text-uppercase" data-aos="fade-up" data-aos-duration="900">LEARN ABOUT</div>
                        <div class="bxTitle text-uppercase font-F-2" data-aos="fade-up" data-aos-delay="300"
                          data-aos-duration="900">INDEPENDENT AGENT</div>
                        <div class="btnRow" data-aos="fade-up" data-aos-delay="500" data-aos-duration="900"><a
                            rotuerLink="/independent-agent" class="btn cmnBtn btnBg-1 text-uppercase">Know More</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="boxImgInfo mr_B bxFull" style="background-image:url(assets/images/auto-ins-box-3.jpg)"
                  data-aos="fade-up" data-aos-duration="900">
                  <div class="mngInside d-flex align-items-center">
                    <div class="w-100 z_ind1">
                      <div class="textCont text-color-white text-center">
                        <div class="smTxt text-uppercase" data-aos="fade-up" data-aos-duration="900">OPEN YOUR</div>
                        <div class="bxTitle text-uppercase font-F-2" data-aos="fade-up" data-aos-delay="300"
                          data-aos-duration="900">PRONTO FRANCHISE AGENCY</div>
                        <div class="btnRow" data-aos="fade-up" data-aos-delay="500" data-aos-duration="900"><a
                            href="https://www.prontofranchise.com" target="_blank"
                            class="btn cmnBtn btnBg-1 text-uppercase">Know More</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
          </div>

         <div *ngIf="productArr ">
            <app-counter-section ></app-counter-section>            
          </div>
  
         <footer class="footerWrap overflow-hidden">
          <app-footer></app-footer>
        </footer>
      </div>
    </div> <!-- .perspScreen -->
  </div> <!-- .fullPG_Wrap -->