<div class="fullPG_Wrap" *ngIf="form_dropdown_data.length!=''">
    <div class="perspScreen">
        <div class="pgWrapFull spcTpHeader vrLinesWrap">
            <app-header></app-header>
            <pro-stepper></pro-stepper>
            <div class="quotePG_wrap overflow-hidden position-relative">
                <div class="floatImg floatShape-5 quote2_imgFloat_5 floating-Animate"> <img class="w-100"
                        src="assets/images/floating-img-5.png" alt=""></div>
                <div class="floatImg floatShape-2 quote2_imgFloat_2 floating-Animate"><img class="w-100"
                        src="assets/images/floating-img-2.png" alt=""></div>

                <div class="containerPD-L">
                    <div class="row no-gutters">
                        <div class="col-md">
                            <div class="formScreen_Hgt spcMng_mp">
                                <div class="queCol_Outer pTB_quote lg-BT-scroll" data-aos="fade-up"
                                    data-aos-duration="700">
                                    <div class="section-page-header">
                                        <div class="ttl-tpLine gray-color-2">Additional Vehicles</div>
                                        <h1 class="headingStl-1">Add, Edit or Remove additional vehicles here.</h1>
                                    </div>

                                    <div class="additionalTp-Sec">
                                        <ul class="list-inline mb-0 additionalBtn_list">
                                            <li class="list-inline-item" *ngFor="let vehicle_data of all_vehicles ; let i=index">
                                                <div class="btnIconsWrap">
                                                    <button class="btnEdt_dlt">{{vehicle_data.year}} {{vehicle_data.make}} {{vehicle_data.modelDescription}}</button>
                                                    <span class="iconsWrap d-flex align-items-center">
                                                        <span class="wrpIcon"><button (click)="edit_vehicle(i)" class="btn btnAction"><img 
                                                                    class="svgIcon" src="assets/images/iconbtn-edit.svg"
                                                                    alt="" /></button></span>
                                                        <span class="wrpIcon"><button (click)="remove_vehicle_popup(i,vehicle_data.id)" class="btn btnAction"><img
                                                                    class="svgIcon" src="assets/images/iconbtn-delete.svg"
                                                                    alt="" /></button></span>
                                                                    <button style="display: none" id="remove_vehicle_id" data-toggle="modal" data-target="#modal-delete_Vehicle"></button>
                                                    </span>
                                                </div>
                                            </li>
                                           
                                        </ul>
                                    </div>

                                    <div class="section-page-questions">
                                        <div class="que-Response-header">
                                            <div class="row no-gutters justify-content-between align-items-center">
                                                <div class="col-lg-6 order-lg-1">
                                                    <!-- <div
                                                        class="head-subText f-size-20 line-H-1_3 f-W-M text-gray-80">
                                                        Vehicle 2/2</div> -->
                                                </div>
                                                <div class="col-lg-5 order-lg-0">

                                                    <div class="responseHead f-W-M">{{Add_vehicle_form.get('year').value}} {{Add_vehicle_form.get('make').value}} {{Add_vehicle_form.get('modelDescription').value}} <div
                                                            class="actBtnWrap">
                                                            <!-- <span class="smIconbtns d-flex align-items-center">
                                                                <span class="wrpIcon"><button
                                                                        class="btn btnAction"><img class="svgIcon"
                                                                            src="assets/images/iconbtn-edit.svg"
                                                                            alt=""></button></span>
                                                                <span class="wrpIcon"><button
                                                                        class="btn btnAction"><img class="svgIcon"
                                                                            src="assets/images/iconbtn-delete.svg"
                                                                            alt=""></button></span>
                                                            </span> -->
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                        <form   [formGroup]="Add_vehicle_form" (ngSubmit)="submit()">
                                        <div class="section-page-question">
                                            <div class="question-wrap row no-gutters justify-content-between">
                                                <div class="col-lg-5 question-header d-flex"> <span
                                                        class="question-counter"> <span class="countNbr"></span>
                                                        <svg class="iconMark" width="15" height="14"
                                                            viewbox="0 0 15 14" fill="none">
                                                            <path d="M2 8.36364L6.23077 12L13 2"></path>
                                                        </svg> </span>
                                                    <div>
                                                        <h3 class="question-text">Vehicle Information</h3>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 question-content">
                                                        <div class="queNbrSpace">
                                                          <div class="form-group mb_form-group">
                                                            <div class="dropdown-select-wrap field_md">
                                                                <div class="selectNG_dropdown">
                                                                    <ng-select class="custom_ngSelect" [items]="form_dropdown_data['years']"
                                                                       bindLabel="text" (change)="getDropdown('year')"
                                                                       bindValue="text"
                                                                       [multiple]="false"
                                                                       [searchable]="true" 
                                                                       formControlName="year"
                                                                       >
                                                                       </ng-select>
                                                                       <label class="selectLabel">{{form_fields['year']['label']}}</label>
                                                  <svg class="arrowIcon" xmlns="http://www.w3.org/2000/svg" width="11.67" height="6.04" viewBox="0 0 11.67 6.04">
                                                  <polygon points="5.89 6.04 0 0.74 0.67 0 5.88 4.69 11 0 11.67 0.74 5.89 6.04" fill="#fff"></polygon>
                                                  </svg>
                                                                     </div>
                                                            </div>
                                                          </div>
                                                          <div class="form-group mb_form-group">
                                                            <div class="dropdown-select-wrap field_md">
                                                                <div class="selectNG_dropdown">
                                                                    <ng-select class="custom_ngSelect" [items]="form_dropdown_data['makes']"
                                                                       bindLabel="text"   (change)="getDropdown('make')"
                                                                       bindValue="text"
                                                                       [multiple]="false"
                                                                       [searchable]="true"
                                                                       formControlName="make"
                                                                       >
                                                                       </ng-select>
                                                                       <label class="selectLabel">{{form_fields['make']['label']}}</label>
                                                  <svg class="arrowIcon" xmlns="http://www.w3.org/2000/svg" width="11.67" height="6.04" viewBox="0 0 11.67 6.04">
                                                  <polygon points="5.89 6.04 0 0.74 0.67 0 5.88 4.69 11 0 11.67 0.74 5.89 6.04" fill="#fff"></polygon>
                                                  </svg>
                                                                     </div>
                                                            </div>
                                                          </div>
                                                          <div class="form-group mb_form-group">
                                                            <div class="dropdown-select-wrap field_md">
                                                                <div class="selectNG_dropdown">
                                                                    <ng-select class="custom_ngSelect"  [items]="form_dropdown_data['modelDescriptions']"
                                                                       bindLabel="text"  (change)="getDropdown('modelDescription')"
                                                                       bindValue="text"
                                                                       [multiple]="false"
                                                                       [searchable]="true"
                                                                       formControlName="modelDescription"
                                                                       >
                                                                       </ng-select>
                                                                       <label class="selectLabel">{{form_fields['modelDescription']['label']}}</label>
                                                  <svg class="arrowIcon" xmlns="http://www.w3.org/2000/svg" width="11.67" height="6.04" viewBox="0 0 11.67 6.04">
                                                  <polygon points="5.89 6.04 0 0.74 0.67 0 5.88 4.69 11 0 11.67 0.74 5.89 6.04" fill="#fff"></polygon>
                                                  </svg>
                                                                     </div>
                                                            </div>
                                                          </div>
                                                          <div class="form-group mb_form-group">
                                                            <div class="dropdown-select-wrap field_md">
                                                                <div class="selectNG_dropdown">
                                                                    <ng-select class="custom_ngSelect" [items]="form_dropdown_data['trimCodes']"
                                                                       bindLabel="text"   bindValue="text"
                                                                       [multiple]="false" (change)="getDropdown('trimCode')"
                                                                       [searchable]="true"
                                                                       formControlName="trimCode"
                                                                       >
                                                                       </ng-select>
                                                                       <label class="selectLabel">{{form_fields['trimCode']['label']}}</label>
                                                  <svg class="arrowIcon" xmlns="http://www.w3.org/2000/svg" width="11.67" height="6.04" viewBox="0 0 11.67 6.04">
                                                  <polygon points="5.89 6.04 0 0.74 0.67 0 5.88 4.69 11 0 11.67 0.74 5.89 6.04" fill="#fff"></polygon>
                                                  </svg>
                                                                     </div>
                                                            </div>
                                                          </div>
                                                          <div class="form-group mb_form-group">
                                                            <div class="dropdown-select-wrap field_md">
                                                                <div class="selectNG_dropdown">
                                                                    <ng-select class="custom_ngSelect" [items]="form_dropdown_data['styleCodes']"
                                                                       bindLabel="text"   bindValue="text"
                                                                       [multiple]="false" (change)="getDropdown('styleCode')"
                                                                       [searchable]="true"
                                                                       formControlName="styleCode"
                                                                       >
                                                                       </ng-select>
                                                                       <label class="selectLabel">{{form_fields['styleCode']['label']}}</label>
                                                  <svg class="arrowIcon" xmlns="http://www.w3.org/2000/svg" width="11.67" height="6.04" viewBox="0 0 11.67 6.04">
                                                  <polygon points="5.89 6.04 0 0.74 0.67 0 5.88 4.69 11 0 11.67 0.74 5.89 6.04" fill="#fff"></polygon>
                                                  </svg>
                                                                     </div>
                                                            </div>
                                                          </div>
                                                          <div class="form-group mb_form-group">
                                                            <div class="dropdown-select-wrap field_md">
                                                                <div class="selectNG_dropdown">
                                                                    <ng-select class="custom_ngSelect" [items]="form_dropdown_data['engines']"
                                                                       bindLabel="text"  bindValue="text"
                                                                       [multiple]="false" (change)="getDropdown('engine')"
                                                                       [searchable]="true"
                                                                       formControlName="engine"
                                                                       >
                                                                       </ng-select>
                                                                       <label class="selectLabel">{{form_fields['engine']['label']}}</label>
                                                  <svg class="arrowIcon" xmlns="http://www.w3.org/2000/svg" width="11.67" height="6.04" viewBox="0 0 11.67 6.04">
                                                  <polygon points="5.89 6.04 0 0.74 0.67 0 5.88 4.69 11 0 11.67 0.74 5.89 6.04" fill="#fff"></polygon>
                                                  </svg>
                                                                     </div>
                                                            </div>
                                                          </div>
                                                          <div class="form-group mb_form-group">
                                                            <div class="dropdown-select-wrap field_md">
                                                                <div class="selectNG_dropdown">
                                                                    <ng-select class="custom_ngSelect" [items]="form_dropdown_data['usecodes']"
                                                                       bindLabel="text"  bindValue="value"
                                                                       [multiple]="false" (change)="getDropdown()"
                                                                       [searchable]="true"
                                                                       formControlName="usecode"
                                                                       >
                                                                       </ng-select>
                                                                       <label class="selectLabel">{{form_fields['usecode']['label']}}</label>
                                                  <svg class="arrowIcon" xmlns="http://www.w3.org/2000/svg" width="11.67" height="6.04" viewBox="0 0 11.67 6.04">
                                                  <polygon points="5.89 6.04 0 0.74 0.67 0 5.88 4.69 11 0 11.67 0.74 5.89 6.04" fill="#fff"></polygon>
                                                  </svg>
                                                                     </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                            </div>
                                        </div>
                                        <div class="section-page-question">
                                                <div class="question-wrap row no-gutters justify-content-between ">
                                                  <div class="col-lg-5 question-header d-flex"> <span class="question-counter"> <span class="countNbr"></span> <svg class="iconMark" width="15" height="14" viewbox="0 0 15 14" fill="none">
                                                    <path d="M2 8.36364L6.23077 12L13 2"></path>
                                                    </svg> </span>
                                                    <div>
                                                      <h3 class="question-text">{{form_fields['rideSharing']['label']}}</h3>
                                                    </div>
                                                  </div>
                                                  <div class="col-lg-6 question-content">
                                                    <div class="queNbrSpace">
                                                      <div class="row gutterField-8">
                                                          <div class="col-sm-6" *ngFor="let opt of form_fields['rideSharing']['options']; ">
                                                                                  
                                                              <div class="form-group mb_form-group">
                                                                <div class="cstBlockwrap">
                                                                  <label for="{{opt.text}}ride" class="custom-control custom-block custom-radio mb-0">
                                                                    <input type="radio" [id]="opt.text+'ride'" name="rideSharing" formControlName="rideSharing" [value]="opt.value" [checked]="opt.value"   class="custom-control-input form-check-input" >
                                                                    <span class="custom-control-label-wrap"><span class="custom-control-indicator"></span> <span class="indicator-label">{{opt.text}}</span> </span> </label>
                                                                </div>
                                                              </div>
                                                                   </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                             

                                              <div class="section-page-question">
                                                    <div class="question-wrap row no-gutters justify-content-between ">
                                                      <div class="col-lg-5 question-header d-flex"> <span class="question-counter"> <span class="countNbr"></span> <svg class="iconMark" width="15" height="14" viewbox="0 0 15 14" fill="none">
                                                        <path d="M2 8.36364L6.23077 12L13 2"></path>
                                                        </svg> </span>
                                                        <div>
                                                          <h3 class="question-text">Ownership Status of this car?</h3>
                                                        </div>
                                                      </div>
                                                      <div class="col-lg-6 question-content">
                                                        <div class="queNbrSpace">
                                                          <div class="form-group mb_form-group">
                                                            <div class="dropdown-select-wrap field_md">
                                                                <div class="selectNG_dropdown">
                                                                    <ng-select class="custom_ngSelect" [items]="form_dropdown_data['ownerships']"
                                                                       bindLabel="text"  
                                                                       bindValue="value"
                                                                       [multiple]="false"
                                                                       [searchable]="true"
                                                                       formControlName="ownership"
                                                                       >
                                                                       </ng-select>
                                                                       <label class="selectLabel">{{form_fields['ownership']['label']}}</label>
                                                  <svg class="arrowIcon" xmlns="http://www.w3.org/2000/svg" width="11.67" height="6.04" viewBox="0 0 11.67 6.04">
                                                  <polygon points="5.89 6.04 0 0.74 0.67 0 5.88 4.69 11 0 11.67 0.74 5.89 6.04" fill="#fff"></polygon>
                                                  </svg>
                                                                     </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="section-page-question">
                                                        <div class="question-wrap row no-gutters justify-content-between ">
                                                          <div class="col-lg-5 question-header d-flex"> <span class="question-counter"> <span class="countNbr"></span> <svg class="iconMark" width="15" height="14" viewbox="0 0 15 14" fill="none">
                                                            <path d="M2 8.36364L6.23077 12L13 2"></path>
                                                            </svg> </span>
                                                            <div>
                                                              <h3 class="question-text">{{form_fields['lienHolder']['label']}}</h3>
                                                              <p class="question-byline">The organization, or person, with a financial interest in property up to the amount still owed or borrowed on the vehicle. This is typically a finance or lease
                                                      company.</p>
                                                            </div>
                                                          </div>
                                                          <div class="col-lg-6 question-content">
                                                            <div class="queNbrSpace">
                                                              <div class="row gutterField-8">
                                                                  <div class="col-sm-6" *ngFor="let opt of form_fields['lienHolder']['options']; ">
                                                                                          
                                                                      <div class="form-group mb_form-group">
                                                                        <div class="cstBlockwrap">
                                                                          <label for="{{opt.text}}lienHolder" class="custom-control custom-block custom-radio mb-0">
                                                                            <input type="radio" [id]="opt.text+'lienHolder'"  name="lienHolder" formControlName="lienHolder" [value]="opt.value" [checked]="opt.value"   class="custom-control-input form-check-input" required>
                                                                            <span class="custom-control-label-wrap"><span class="custom-control-indicator"></span> <span class="indicator-label">{{opt.text}}</span> </span> </label>
                                                                        </div>
                                                                      </div>
                                                                           </div>
                                                              </div>
                                                              <div class="toggleCont_Box" *ngIf="Add_vehicle_form.get('lienHolder').value">
                                                              <div class="queInside_pt">
                                                                <div class="form-group mb_form-group">
                                                                  <div class="field_md" id="lhnameid">
                                                                      <input [type]="form_fields['lhname']['type']" [ngClass]="{'ffl-floated-force' : Add_vehicle_form.get('lhname').value!='' }" formControlName="lhname" class="form-control cmnField" ProValidation [error_condition]="form_fields['lhname']">
                                                                                                  
                                                                    <!-- Toggle "has-error has-error-icon" this 2 class for Error -->
                                                                    <label class="primary-label">{{form_fields['lhname']['label']}}</label>
                                                                   
                                                                  </div>
                                                                </div>
                                                                <div class="form-group mb_form-group">
                                                                  <div class="field_md" id="lhaddress1Id">
                                                                      <input [type]="form_fields['lhaddress1']['type']" [ngClass]="{'ffl-floated-force' : Add_vehicle_form.get('lhaddress1').value!=''}" formControlName="lhaddress1" class="form-control cmnField" ProValidation [error_condition]="form_fields['lhaddress1']">
                                                                                                  
                                                                      <!-- Toggle "has-error has-error-icon" this 2 class for Error -->
                                                                      <label class="primary-label">{{form_fields['lhaddress1']['label']}}</label>
                                                                  
                                                                  </div>
                                                                </div>
                                                                <div class="form-group mb_form-group">
                                                                  <div class="field_md" id="lhzipcodeId">
                                                                      <input [type]="form_fields['lhzipcode']['type']" [ngClass]="{'ffl-floated-force' : Add_vehicle_form.get('lhzipcode').value!=''}" formControlName="lhzipcode" class="form-control cmnField" ProValidation [error_condition]="form_fields['lhzipcode']">
                                                                                                  
                                                                      <!-- Toggle "has-error has-error-icon" this 2 class for Error -->
                                                                      <label class="primary-label">{{form_fields['lhzipcode']['label']}}</label>
                                                                  
                                                                  </div>
                                                                </div>
                                                                <div class="form-group mb_form-group">
                                                                  <div class="field_md">
                                                                      <input type="text" id="" formControlName="lhcity" [ngClass]="{'ffl-floated-force' : Add_vehicle_form.get('lhcity').value!=''}" class="form-control cmnField" >
                                                                                                  
                                                                      <!-- Toggle "has-error has-error-icon" this 2 class for Error -->
                                                                      <label class="primary-label">Lien Holder City</label>
                                                                    
                                                                  </div>
                                                                </div>
                                                                <div class="form-group mb_form-group">
                                                                  <div class="field_md" id="lhstateId">
                                                                      <input [type]="form_fields['lhstate']['type']" [ngClass]="{'ffl-floated-force' : Add_vehicle_form.get('lhstate').value!=''}" formControlName="lhstate" class="form-control cmnField" ProValidation [error_condition]="form_fields['lhstate']">
                                                                                                  
                                                                      <!-- Toggle "has-error has-error-icon" this 2 class for Error -->
                                                                      <label class="primary-label">{{form_fields['lhstate']['label']}}</label>
                                                                  </div>
                                                                </div>
                                                               </div>
                                                               </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
<!-- 
                                        <div class="section-page-question">
                                            <div class="question-wrap row no-gutters justify-content-between">
                                                <div class="col-lg-5 question-header d-flex"> <span
                                                        class="question-counter"> <span class="countNbr"></span>
                                                        <svg class="iconMark" width="15" height="14"
                                                            viewbox="0 0 15 14" fill="none">
                                                            <path d="M2 8.36364L6.23077 12L13 2"></path>
                                                        </svg> </span>
                                                    <div>
                                                        <h3 class="question-text">Need to add another vehicle?</h3>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 question-content">
                                                    <div class="queNbrSpace">
                                                        <div class="row gutterField-8">
                                                            <div class="col-sm-6">
                                                                <div class="form-group mb_form-group">
                                                                    <div class="cstBlockwrap">
                                                                        <label
                                                                            for="vehicle01_add_another_vehicle-Yes"
                                                                            class="custom-control custom-block custom-radio mb-0">
                                                                            <input
                                                                                id="vehicle01_add_another_vehicle-Yes"
                                                                                name="vehicle01_add_another_vehicle"
                                                                                type="radio"
                                                                                class="custom-control-input form-check-input"
                                                                                checked>
                                                                            <span
                                                                                class="custom-control-label-wrap"><span
                                                                                    class="custom-control-indicator"></span>
                                                                                <span
                                                                                    class="indicator-label">Yes</span>
                                                                            </span> </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="form-group mb_form-group">
                                                                    <div class="cstBlockwrap">
                                                                        <label
                                                                            for="vehicle01_add_another_vehicle-No"
                                                                            class="custom-control custom-block custom-radio mb-0">
                                                                            <input
                                                                                id="vehicle01_add_another_vehicle-No"
                                                                                name="vehicle01_add_another_vehicle"
                                                                                type="radio"
                                                                                class="custom-control-input form-check-input">
                                                                            <span
                                                                                class="custom-control-label-wrap"><span
                                                                                    class="custom-control-indicator"></span>
                                                                                <span
                                                                                    class="indicator-label">No</span>
                                                                            </span> </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                        <div class="navigation-buttons">
                                                <ul class="list-inline mb-0 text-right btnsList_form">
                                                    <li class="list-inline-item"> <a routerLink="/quote-pro/01"  class="btn btnstl-1 btnBrd">Back</a> </li>
                                                    <li class="list-inline-item"><a (click)="add_anather_vehicle()"  class="btn btnstl-1 btnBrd">Add Vehicle</a></li>
                                                    <!-- <li class="list-inline-item"> <a
                                                            class="btn btnstl-1 btnBrd color-red">Remove Vehicle</a> </li> -->
                                                    <li class="list-inline-item"> <button  type="submit" [disabled]="!Add_vehicle_form.valid"  class="btn btnstl-1 btnBg-3 ">Save & Continue </button> </li>
                                                </ul>
                                            </div>
                                            </form>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <pro-sidebar></pro-sidebar>
                    </div>
                </div>
            </div>
           <app-footer-quote></app-footer-quote>
        </div>
    </div> <!-- .perspScreen -->
</div> <!-- .fullPG_Wrap -->



<!--remove vehicle popup-->
<div class="modal fade modalCst" id="modal-delete_Vehicle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-cst-sm">
      <div class="modal-content">
        <button type="button" class="close btnClose" data-dismiss="modal"><span>×</span></button>
        <div class="modal-body">
          <div class="row no-gutters justify-content-center">
            <div class="col-lg-11">
              <div class="section-page-questions" *ngIf="removevehicle_data!=''">
                <div class="section-page-question">
                  <div class="question-wrap pb-0">
                    <div class="question-header">
                      <div>
                        <h3 class="question-text">Are you sure you want to delete this?</h3>
                      </div>
                    </div>
                    <div class="question-content">
                      <div class="table-responsive f-size-18 line-H-1_4 mb__20">
                        <table class="table table-borderless mb-0 table-style-cst">
                          <tbody>
                            <tr>
                              <td class="f-W-M td-Width-head">Year</td>
                              <td>{{removevehicle_data.year}}</td>
                            </tr>
                            <tr>
                              <td class="f-W-M">Make</td>
                              <td>{{removevehicle_data.make}}</td>
                            </tr>
                            <tr>
                              <td class="f-W-M">Model</td>
                              <td>{{removevehicle_data.modelDescription}}</td>
                            </tr>
                            <tr>
                              <td class="f-W-M">Trim Package</td>
                              <td>{{removevehicle_data.trimCode}}</td>
                            </tr>
                            <tr>
                              <td class="f-W-M">Body Style</td>
                              <td>{{removevehicle_data.styleCode}}</td>
                            </tr>
                            <tr>
                              <td class="f-W-M">VIN Number</td>
                              <td>{{removevehicle_data.vinNumber}}</td>
                            </tr>
                            <tr>
                              <td class="f-W-M">Actual Value</td>
                              <td>{{removevehicle_data.actualValue}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="navigation-buttons">
                <ul class="list-inline mb-0 text-right btnsList_form">
                  <li class="list-inline-item"><a  class="btn btnstl-1 btnBrd" id="close_modal_id" data-dismiss="modal">Cancel</a></li>
                  <li class="list-inline-item"><a (click)="remove_vehicle()" class="btn btnstl-1 btnBg-3">Delete</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
<!--remove vehicle popup end-->