<div class="modal drawerModal drawer_DashB_User" id="drawerModal_DashB_User" data-aos="fade-up" data-aos-delay="600"
    data-aos-duration="900">
    <div class="drawerWrap">
        <button type="button" class="close text-uppercase text-center btnCls" data-dismiss="modal"> <span
                class="btntext">×</span> </button>
        <div class="mngInside">
            <div class="drawInside">
                <div class="dash_userSidebar">
                    <div class="btnLogout_row line-H-1_3 text-right"><a (click)="logout()"
                            class="btn btnLogout link-color-2">Log
                            out</a></div>
                    <div class="sidebarScreenHgt-rgt cstScroller cst_mCst_scroll_Desk">
                        <div class="sidebar_rgt_inside">
                            <div class="sidebarItem_row d-none d-lg-block">

                                <div class="user_welcome d-flex align-items-center">
                                    <div class="picCol">
                                        <div class="pro_picWrap_circle">
                                            <div class="mngIn">
                                                <div class="userProf-pic">
                                                    <img *ngIf="user['profile_image']" class="w-100"
                                                        src="{{user['profile_image']}}" alt="">

                                                    <div *ngIf="!user['profile_image']"
                                                        class="user_letter d-flex align-items-center justify-content-center">
                                                        <div class="letter_wrp f-W-B text-color-3 ">
                                                            {{user['firstName'][0] | titlecase}}{{user['lastName'][0] | titlecase}}</div>
                                                    </div>
                                                </div>
                                                <!-- <label for="pic_img_2"
                                                    class="btn editPic_btn d-flex justify-content-center align-items-center flex-column"><img
                                                        class="icon" src="assets/images/pic-change-icon.png" alt="">
                                                    <input id="pic_img_2" class="fldBrowse d-none" type="file">
                                                </label> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="textCont line-H-1_3 flex-fill" *ngIf="user">
                                        Welcome<br>
                                        <strong>{{user['firstName'] | titlecase}}
                                            {{user['lastName'] | titlecase}}</strong>
                                    </div>
                                </div>



                            </div>
                            <div class="sidebarItem_row">
                                <div class="userDetails_info" *ngIf="user">
                                    <div class="address_wrap" *ngIf="user['address']">
                                        <div class="ttl-head f-W-B mng-btnEdit">Address
                                            <!-- 
                                            <button class="btn btnEdit" (click)="editaddress('address')"><img class="icon w-100"
                                                    src="assets/images/icon-edit.svg" alt=""></button> -->
                                        </div>
                                        <div class="txtCont btnspc_pr f-size-18 line-H-1_4" *ngIf="!addressedit">
                                            {{address}}
                                        </div>
                                        <div class="dash_quick_Edit" *ngIf="addressedit">
                                            <div class="form-group quickEdit_group">
                                                <textarea class="form-control cmnField quickEdit_fld"
                                                    [(ngModel)]="address"> {{address}}</textarea>
                                            </div>
                                            <div class="brnRow">
                                                <ul class="list-inline mb-0 text-right quickEdit_btnsList">
                                                    <li class="list-inline-item"><button
                                                            class="btn btnstl-1 btnSm_sz btn-w-auto btnBrd"
                                                            (click)="editaddress('address')"
                                                            type="submit">Cancel</button></li>
                                                    <li class="list-inline-item"><button
                                                            class="btn btnstl-1 btnSm_sz btn-w-auto btnBg-3"
                                                            type="submit"
                                                            (click)="setsrecivenotification('address',address)">Submit</button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="otherDetail_wrap" *ngIf="user">
                                        <div class="ttl-head f-W-B mng-btnEdit">Other Details</div>
                                        <div class="itemWrap txt-sz-lg mng-btnEdit line-H-1_3" *ngIf="user['mobile']">

                                            <a class="link-color-black line-H-1_3" href="tel:{{mobile}}"
                                                *ngIf="!mobedit">
                                                {{mobile}}</a>
                                            <!-- End Edit Form -->
                                            <div class="dash_quick_Edit" *ngIf="mobedit">
                                                <div class="form-group quickEdit_group">
                                                    <input class="form-control cmnField quickEdit_fld"
                                                        value="{{mobile}}" [(ngModel)]="mobile">
                                                </div>
                                                <div class="brnRow">
                                                    <ul class="list-inline mb-0 text-right quickEdit_btnsList">
                                                        <li class="list-inline-item"><button
                                                                class="btn btnstl-1 btnSm_sz btn-w-auto btnBrd"
                                                                type="submit"
                                                                (click)="editaddress('mob')">Cancel</button></li>
                                                        <li class="list-inline-item"><button
                                                                class="btn btnstl-1 btnSm_sz btn-w-auto btnBg-3"
                                                                type="submit"
                                                                (click)="setsrecivenotification('mob',mobile)">Submit</button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- End Edit Form -->
                                            <!-- <button class="btn btnEdit" (click)="editaddress('mob')"><img class="icon w-100"
                                                    src="assets/images/icon-edit.svg" alt=""></button> -->

                                        </div>

                                        <div class="itemWrap f-size-18 mng-btnEdit" *ngIf="user['email']">

                                            <a class="link-color-black line-H-1_3 break-word"
                                                href="mailto:{{email}}">{{email}}</a>
                                            <!-- End Edit Form -->
                                            <!-- <div class="dash_quick_Edit"  >
                        <div class="form-group quickEdit_group">
                          <input class="form-control cmnField quickEdit_fld" [(ngModel)]="email" value="{{email}}">
                        </div>
                        <div class="brnRow">
                      <ul class="list-inline mb-0 text-right quickEdit_btnsList">
                      <li class="list-inline-item"><button class="btn btnstl-1 btnSm_sz btn-w-auto btnBrd" type="submit " (click)="editaddress('email')">Cancel</button></li>
                      <li class="list-inline-item"><button class="btn btnstl-1 btnSm_sz btn-w-auto btnBg-3" type="submit" (click)="setsrecivenotification('email',email)">Submit</button></li>
                      </ul>
                      </div>
                      </div> -->
                                            <!-- End Edit Form -->
                                            <!-- <button class="btn btnEdit" (click)="editaddress('email')"><img class="icon w-100"
                                                    src="assets/images/icon-edit.svg" alt=""></button> -->
                                        </div>

                                    </div>
                                    <div class="changePass_wrap" *ngIf="!emailedit">
                                        <div class="ttl-head f-W-B mng-btnEdit">Change Password
                                            <button class="btn btnEdit"><img class="icon w-100"
                                                    src="assets/images/icon-edit.svg" alt=""
                                                    (click)="editaddress('email')"></button>
                                        </div>
                                    </div>
                                    <!-- End Edit Form -->

                                    <div class="dash_quick_Edit" *ngIf="emailedit">
                                        <form [formGroup]="passwordchange" (ngSubmit)="changepassword()">
                                            <div class="form-group quickEdit_group">
                                                <div class="quickEdit_passEye">
                                                <input class="form-control cmnField quickEdit_fld" [type]="showpass1 ? 'text' : 'password'" id="change_pass-Old"
                                                    [ngClass]="{'ffl-floated-force' : passwordchange.get('password').value != ''}"
                                                    name="password" formControlName="password"
                                                    placeholder="Enter Old Password">
                                                    <div class="eye_btnWrap">
                                                        
                                                        <button class="btn btnEye toggle-password fa fa-eye" (click)="passchange1()" *ngIf="!showpass1">
																
                                                        </button>
                                                        <button class="btn btnEye toggle-password fa fa-eye-slash"  (click)="passchange1()" *ngIf="showpass1">

                                                    </button>
                                                    
                                                    </div>
                                                <div class="invalid-fld-feedback-invalid text-left">please enter valid
                                                    password</div>
                                                </div>

                                            </div>
                                            <div class="form-group quickEdit_group">
                                                <div class="quickEdit_passEye">
                                                <input class="form-control cmnField quickEdit_fld" [type]="showpass ? 'text' : 'password'" type="password1" id="change_pass-New"
                                                    [ngClass]="{'ffl-floated-force' : passwordchange.get('password1').value != ''}"
                                                    name="password1" formControlName="password1"
                                                    placeholder="New Password">
                                                    <div class="eye_btnWrap">
                                                        <button class="btn btnEye toggle-password fa fa-eye" (click)="passchange()" *ngIf="!showpass">
																
                                                        </button>
                                                        <button class="btn btnEye toggle-password fa fa-eye-slash"  (click)="passchange()" *ngIf="showpass">

                                                    </button>
                                                        </div>
                                                <div class="invalid-fld-feedback-invalid text-left">please enter valid
                                                    password</div>
                                                </div>
                                            </div>
                                            <div class="form-group quickEdit_group">
                                                <div class="quickEdit_passEye">
                                                <input class="form-control cmnField quickEdit_fld"  [type]="showpass2 ? 'text' : 'password'" id="change_pass-Confirm"
                                                    [ngClass]="{'ffl-floated-force' : passwordchange.get('password2').value != ''}"
                                                    name="password2" (focusout)="passwordmatch()"
                                                    formControlName="password2" placeholder="Confirm Password">
                                                    <div class="eye_btnWrap">
                                                        <button class="btn btnEye toggle-password fa fa-eye" (click)="passchange2()" *ngIf="!showpass2">
																
                                                        </button>
                                                        <button class="btn btnEye toggle-password fa fa-eye-slash"  (click)="passchange2()" *ngIf="showpass2">
                                                    </button>
                                                    </div>
                                                <div class="invalid-fld-feedback-invalid text-left">please enter valid
                                                    password</div>
                                                </div>
                                            </div>
                                            <div class="brnRow">
                                                <ul class="list-inline mb-0 text-right quickEdit_btnsList">
                                                    <li class="list-inline-item"><button
                                                            class="btn btnstl-1 btnSm_sz btn-w-auto btnBrd"
                                                            type="submit" (click)="editaddress('email')">Cancel</button>
                                                    </li>
                                                    <li class="list-inline-item"><button
                                                            class="btn btnstl-1 btnSm_sz btn-w-auto btnBg-3"
                                                            [disabled]="!passwordchange.valid"
                                                            type="submit">Submit</button></li>
                                                </ul>
                                            </div>
                                        </form>
                                    </div>

                                    <!-- End Edit Form -->
                                </div>
                            </div>
                            <div class="sidebarItem_row">
                                <div class="notiftn_wrap btnspc_pr">
                                    <div class="ttl-head f-W-B line-H-1_2">Receive notifications and updates:</div>
                                    <ul class="list-unstyled notftn_check_list mb-0" *ngIf="notifications">
                                        <li>
                                            <label class="check-sm-wrap mb-0">
                                                <input type="checkbox" class="inputCheck"
                                                    (click)="setsrecivenotificationnew('email')"
                                                    *ngIf="notifications.is_email == 0">
                                                <input type="checkbox" class="inputCheck"
                                                    (click)="setsrecivenotificationnew('email')" checked="checked"
                                                    *ngIf="notifications.is_email == 1">
                                                <span class="wrapRow d-flex"> <span class="checkIndicate"></span> <span
                                                        class="labelText flex-fill f-size-18 line-H-1_4">Email</span>
                                                </span> </label>
                                        </li>
                                        <li>
                                            <label class="check-sm-wrap mb-0">
                                                <input type="checkbox" class="inputCheck"
                                                    (click)="setsrecivenotificationnew('sms')" checked="checked"
                                                    *ngIf="notifications.is_sms == 1">
                                                <input type="checkbox" class="inputCheck"
                                                    (click)="setsrecivenotificationnew('sms')"
                                                    *ngIf="notifications.is_sms == 0">
                                                <span class="wrapRow d-flex"> <span class="checkIndicate"></span> <span
                                                        class="labelText flex-fill f-size-18 line-H-1_4">SMS</span>
                                                </span> </label>
                                        </li>
                                        <li>
                                            <label class="check-sm-wrap mb-0">
                                                <input type="checkbox" class="inputCheck"
                                                    (click)="setsrecivenotificationnew('whatsapp')" checked="checked"
                                                    *ngIf="notifications.is_whatsapp == 1">
                                                <input type="checkbox" class="inputCheck"
                                                    (click)="setsrecivenotificationnew('whatsapp')"
                                                    *ngIf="notifications.is_whatsapp == 0">
                                                <span class="wrapRow d-flex"> <span class="checkIndicate"></span> <span
                                                        class="labelText flex-fill f-size-18 line-H-1_4">Whatsapp</span>
                                                </span> </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="sidebarItem_row">
                                <div class="wrapPreferchat d-inline-block">
                                    <div class="preferChat d-flex align-items-center">
                                        <div class="iconWrap"><img class="w-100" src="assets/images/chat-btn.png"
                                                alt="" />
                                        </div>
                                        <div class="flex-fill textCont line-H-1_2 f-W-M">
                                            Prefer to chat?<br> We’re here to help
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Dashboard Password Changed -->
<div class="modal fade modalCst respModal_BG_mng_Drawer"  style="display: block;" *ngIf="showdone" id="modal-changedPassword">
  <div class="modal-dialog modal-dialog-centered modal-cst-sm">
    <div class="modal-content modalGetQuote">
      <!--<button type="button" class="close btnClose" data-dismiss="modal"><span>×</span></button>-->
      <div class="modal-body pb-lg">
      <div class="row no-gutters justify-content-center">
      <div class="col-lg-10">
      <div class="infoModalWrap text-center">
      <div class="txt-summary last-p line-H-1_3">
      <p class="text-color-3 txt-Md"><strong>Password Changed</strong></p>
      <p class="gray-color-2 f-size-18">Your password has been changed successfully.</p>
            </div>
      <div class="btnsWrapp mx-width">
      <ul class="list-unstyled  btnListing mb-0">
      <li><a href="#" class="btn cmnBtn btnBg-2 sm-sz text-uppercase btn-block" (click)="hidemodal()"  data-dismiss="modal">Close</a></li>
      </ul>
      </div>
      </div>
      </div>
       </div>
      </div>
      
    </div>
  </div>
</div>
<!-- End Dashboard Password Changed -->