<div class="fullPG_Wrap">
    <div class="perspScreen">
        <div class="pgWrapFull spcTpHeader vrLinesWrap">
            <app-header></app-header>
          
            <pro-stepper></pro-stepper>
            <div class="quotePG_wrap overflow-hidden position-relative">
                <div class="container-fluid lg-container">
                    <div class="pTB_quote pb-0" data-aos="fade-up" data-aos-duration="700">
                        <div class="section-page-header">
                            <h1 class="headingStl-1">Purchase Policy</h1>
                        </div>

                        <div class="purchacePolicy_Outer">
                            <div class="row no-gutters">
                                <div class="col-lg-10 position-relative">
                                    <div class="floatImg floatShape-2 quotePurchase_imgFloat_2 floating-Animate">
                                        <img class="w-100" src="assets/images/floating-img-2.png" alt=""></div>
                                    <div class="floatImg floatShape-4 quotePurchase_imgFloat_4 floating-Animate">
                                        <img class="w-100" src="assets/images/floating-img-4.png" alt=""></div>
                                    <div class="floatImg floatShape-5 quotePurchase_imgFloat_5 floating-Animate">
                                        <img class="w-100" src="assets/images/floating-img-5.png" alt=""> </div>


                                    <div class="tpLine-ttl f-W-B" >Select your desired payment options</div>
                                    <form *ngIf="form_fields!=''" [formGroup]="purchase_form" (ngSubmit)="submit()">
                                    <div class="card_purchaseBX">
                                        <div class="row gutter-20vw">
                                            <div class="col-md-5">
                                                <div class="purchase_cards_wrap">
                                                    <div class="purchase_PlanCard mb_card f-size-16 gray-color-2" *ngFor="let purchase of purchase_data">
                                                        <div class="mngIn text-center">
                                                            <div class="planLogo"><img class="logo_Quote"
                                                                    src="assets/images/quote_logo_1.jpg" alt="" />
                                                                    <div>{{purchase.carrierName}}</div></div>
                                                            <div class="contWrapper">
                                                                Pay downpayment
                                                                <div class="lgTxt text-color-black">$ {{purchase.downPayment}}</div>
                                                                with {{purchase.numberOfPayments}} additional<br>
                                                                payments of $ {{purchase.paymentAmount}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="purchase_PlanCard pb-lg f-size-16 gray-color-2">
                                                        <div class="mngIn text-center">
                                                            <div class="bx-ttl text-color-black">Medicare Advantage
                                                                Plan that fits your needs!</div>
                                                            <div class="contWrapper">
                                                                With only
                                                                <div class="lgTxt text-color-3">$ 150.00</div>
                                                                make the health care coverage choice that is right
                                                                for you.
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btnRow text-center"><a routerLink="/"
                                                            class="btn btnstl-1 btnBg-3 lessTP">Add to payment</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="cardDetail_form">
                                                    <div class="bx-ttl line-H-1_2 f-W-B">Enter card details</div>
                                                    <div class="form-group mb_form-group">
                                                        <div class="field_md">
                                                            <input [type]="form_fields['cardHolder']['type']"  [ngClass]="{'ffl-floated-force' : purchase_form.get('cardHolder').value!=''}"   class="form-control cmnField "  formControlName="cardHolder" >
                                                            <!-- Toggle "has-error has-error-icon" this 2 class for Error -->
                                                            <label class="primary-label">{{form_fields['cardHolder']['label']}}</label>
                                                            <div class="invalid-fld-feedback">Please enter a valid
                                                                name</div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb_form-group">
                                                        <div class="field_md">
                                                            <input [type]="form_fields['billingAddress']['type']"  [ngClass]="{'ffl-floated-force' : purchase_form.get('billingAddress').value!=''}"   class="form-control cmnField "  formControlName="billingAddress" >
                                                            <!-- Toggle "has-error has-error-icon" this 2 class for Error -->
                                                            <label class="primary-label">{{form_fields['billingAddress']['label']}}</label>
                                                            <div class="invalid-fld-feedback">Please enter a valid
                                                                address</div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb_form-group">
                                                        <div class="field_md">
                                                            <input [type]="form_fields['billingCity']['type']"  [ngClass]="{'ffl-floated-force' : purchase_form.get('billingCity').value!=''}"   class="form-control cmnField "  formControlName="billingCity" >
                                                            <!-- Toggle "has-error has-error-icon" this 2 class for Error -->
                                                            <label class="primary-label">{{form_fields['billingCity']['label']}}</label>
                                                            <div class="invalid-fld-feedback">Please enter a valid
                                                                city</div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb_form-group">
                                                        <div class="field_md">
                                                            <input [type]="form_fields['cardHolderZip']['type']"  [ngClass]="{'ffl-floated-force' : purchase_form.get('cardHolderZip').value!=''}"   class="form-control cmnField "  formControlName="cardHolderZip" >
                                                            <!-- Toggle "has-error has-error-icon" this 2 class for Error -->
                                                            <label class="primary-label">{{form_fields['cardHolderZip']['label']}}</label>
                                                            <div class="invalid-fld-feedback">Please enter a valid
                                                                zip code</div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb_form-group">
                                                        <div class="field_md">
                                                            <input [type]="form_fields['cardNumber']['type']"  [ngClass]="{'ffl-floated-force' : purchase_form.get('cardNumber').value!=''}"   class="form-control cmnField "  formControlName="cardNumber" >
                                                            <!-- Toggle "has-error has-error-icon" this 2 class for Error -->
                                                            <label class="primary-label">{{form_fields['cardNumber']['label']}}</label>
                                                            <div class="invalid-fld-feedback">Please enter a valid
                                                                card number</div>
                                                        </div>
                                                    </div>
                                                    <div class="row gutter-8 m-0">
                                                        <div class="col-md-4 p-0">
                                                            <div class="form-group mb_form-group">
                                                                <div class="dropdown-select-wrap field_md" >
                                                                
                                                                    <div class="selectNG_dropdown" >
                                                                            <ng-select class="custom_ngSelect" [items]="form_view_data['months']" 
                                                                               bindLabel="text"
                                                                               bindValue="text"
                                                                               [multiple]="false"
                                                                               [searchable]="false"
                                                                               formControlName="cardMonth"
                                                                               >
                                                                               </ng-select>
                                                                               <label class="selectLabel">Expiration Date</label>
                                         <svg class="arrowIcon" xmlns="http://www.w3.org/2000/svg" width="11.67" height="6.04" viewBox="0 0 11.67 6.04">
                                           <polygon points="5.89 6.04 0 0.74 0.67 0 5.88 4.69 11 0 11.67 0.74 5.89 6.04" fill="#fff"></polygon>
                                           </svg>
                                                                             </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 mob-p-0">
                                                            <div class="form-group mb_form-group">
                                                                <div class="dropdown-select-wrap field_md" >
                                                                
                                                                    <div class="selectNG_dropdown" >
                                                                            <ng-select class="custom_ngSelect" [items]="form_view_data['years']" 
                                                                               bindLabel="text"
                                                                               bindValue="text"
                                                                               [multiple]="false"
                                                                               [searchable]="false"
                                                                               formControlName="cardYear"
                                                                               >
                                                                               </ng-select>
                                                                               <label class="selectLabel">Year</label>
                                         <svg class="arrowIcon" xmlns="http://www.w3.org/2000/svg" width="11.67" height="6.04" viewBox="0 0 11.67 6.04">
                                           <polygon points="5.89 6.04 0 0.74 0.67 0 5.88 4.69 11 0 11.67 0.74 5.89 6.04" fill="#fff"></polygon>
                                           </svg>
                                                                             </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 p-0">
                                                            <div class="form-group mb_form-group">
                                                                <div class="field_md">
                                                                    <input [type]="form_fields['cvc']['type']"  [ngClass]="{'ffl-floated-force' : purchase_form.get('cvc').value!=''}"   class="form-control cmnField "  formControlName="cvc" >
                                                            <!-- Toggle "has-error has-error-icon" this 2 class for Error -->
                                                            <label class="primary-label">{{form_fields['cvc']['label']}}</label>
                                                                    <!--<div class="invalid-fld-feedback">Please enter a valid </div>-->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="paymentOpt_Row">
                                            <div class="cont-ttl f-W-B">Select your desired payment options</div>

                                            <ul class="list-unstyled mb-0 payment_TermsList">
                                                <li>
                                                    <div class="smCheckWrap">
                                                        <label class="check-sm-wrap checkCircle mb-0">
                                                            <input type="checkbox"   formControlName="accuracyAgreement" class="inputCheck" >
                                                            <span class="wrapRow d-flex">
                                                                <span class="checkIndicate"></span>
                                                                <span
                                                                    class="labelText flex-fill gray-color-2 f-size-20 line-H-1_4">
                                                                    {{form_fields['accuracyAgreement']['label']}}</span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="smCheckWrap">
                                                        <label class="check-sm-wrap checkCircle mb-0">
                                                            <input type="checkbox"   formControlName="privacyTermsAgreement"  class="inputCheck" >
                                                            <span class="wrapRow d-flex">
                                                                <span class="checkIndicate"></span>
                                                                <span
                                                                    class="labelText flex-fill gray-color-2 f-size-20 line-H-1_4">
                                                                    {{form_fields['privacyTermsAgreement']['label']}}</span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="smCheckWrap">
                                                        <label class="check-sm-wrap checkCircle mb-0">
                                                            <input type="checkbox"   formControlName="electronicSignatureAgreement" class="inputCheck" >
                                                            <span class="wrapRow d-flex">
                                                                <span class="checkIndicate"></span>
                                                                <span
                                                                    class="labelText flex-fill gray-color-2 f-size-20 line-H-1_4">
                                                                    {{form_fields['electronicSignatureAgreement']['label']}}</span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>

                                    <div class="navigation-buttons">
                                        <ul class="list-inline mb-0 text-center btnsList_form">
                                            <li class="list-inline-item"> <a routerLink="/quote-pro/underwritting" class="btn btnstl-1 btnBg-3">Back</a>
                                            </li>
                                            <li class="list-inline-item"><button   type="submit"  class="btn btnstl-1 btnBg-3 ">Continue</button>
                                            </li>
                                        </ul>
                                    </div>
                                    </form>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
            <app-footer-quote></app-footer-quote>
        </div>
    </div> <!-- .perspScreen -->
</div> <!-- .fullPG_Wrap -->