  <div class="col-md-6" *ngIf="datarrr">
                        <div class="boxImgInfo mr_B bxFull" style="background-image:url({{project_path}}{{image_path}}{{datarrr.ad_banner2}})"
                            data-aos="fade-up" data-aos-duration="900">
                            <div class="mngInside d-flex align-items-center">
                                <div class="w-100 z_ind1">
                                    <div class="textCont text-color-white text-center">
                                        <div class="smTxt text-uppercase" data-aos="fade-up"
                                            data-aos-duration="900">{{datarrr.ad_banner2_title}}</div>
                                        <div class="bxTitle text-uppercase font-F-2" data-aos="fade-up"
                                            data-aos-delay="300" data-aos-duration="900">{{datarrr.ad_banner2_subtitle}}</div>
                                        <div class="btnRow" data-aos="fade-up" data-aos-delay="500"
                                            data-aos-duration="900"><a href="{{datarrr.ad_banner2_button_url}}"
                                                class="btn cmnBtn btnBg-1 text-uppercase">{{datarrr.ad_banner2_button_text}}</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" *ngIf="datarrr">
                        <div class="boxImgInfo mr_B bxFull" style="background-image:url({{project_path}}{{image_path}}{{datarrr.ad_banner3}})"
                            data-aos="fade-up" data-aos-duration="900">
                            <div class="mngInside d-flex align-items-center">
                                <div class="w-100 z_ind1">
                                    <div class="textCont text-color-white text-center">
                                        <div class="smTxt text-uppercase" data-aos="fade-up"
                                            data-aos-duration="900">{{datarrr.ad_banner3_title}}</div>
                                        <div class="bxTitle text-uppercase font-F-2" data-aos="fade-up"
                                            data-aos-delay="300" data-aos-duration="900">{{datarrr.ad_banner3_subtitle}}
                                        </div>
                                        <div class="btnRow" data-aos="fade-up" data-aos-delay="500"
                                            data-aos-duration="900"><a href="{{datarrr.ad_banner3_button_url}}"
                                                class="btn cmnBtn btnBg-1 text-uppercase">{{datarrr.ad_banner3_button_text}}</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>